<div class="sidebar">
  <div class="side1">
    <div class="logo">
      <a href="">
        <img src="./assets/images/hrr_3.svg" alt="img">
        HRmaven
      </a>
    </div>
    <p>Menu</p>
    <ul class="navigation">
      <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [class.active]="activeLink === ''"><a><i class="fa-solid fa-house"></i>Dashboard</a></li>
      <li routerLink="/employee" routerLinkActive="active"  [class.active]="activeLink === 'employee'"><a><i class="fa-solid fa-user-group"></i>Employee</a></li>
      <li routerLink="/attendance" routerLinkActive="active" [class.active]="activeLink === 'attendance'"><a><i class="fa-solid fa-calendar-days"></i>Attendance</a>
      </li>
      <li routerLink="/payroll" routerLinkActive="active" [class.active]="activeLink === 'payroll'"><a><i class="fa-solid fa-wallet"></i>Payroll</a></li>
      <li routerLink="/leaves" routerLinkActive="active" [class.active]="activeLink === 'leaves'"><a><i class="fa-solid fa-list-check"></i>Leaves</a>
      </li>
      <li routerLink="/recruitment" routerLinkActive="active" [class.active]="activeLink === 'recruitment'"><a><i class="fa-solid fa-briefcase"></i>Recruitment</a>
      </li>
      <li routerLink="/report" routerLinkActive="active" [class.active]="activeLink === 'report'"><a><i class="fa-solid fa-square-poll-vertical"></i>Report</a>
      </li>
    </ul>

  </div>
  <div class="side2">
    <p>Settings</p>
    <ul class="navigation2">
      <li><a href="#"><img src="./assets/images/help.svg">Help</a></li>
      <li><a (click)="logout()"><i class="fa-solid fa-arrow-right-from-bracket"></i>Sign Out</a></li>
    </ul>
  </div>
</div>
