
.sidebar{
  background-color: #2F2C9F;
  width:223px;
  height: 100vh;
  top:0;
  left:0;
  position: fixed;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  /* padding: 16px 20px; */
}
.sidebar img{
  width: 30px;
}
.sidebar a{
  color: white;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;

}
.side1{
  display: flex;
  flex-direction: column;
}
.logo{
  padding-top: 23px;
  padding-left: 18px;

}
 p{
  color: rgba(255, 255, 255, 0.6) ;
  padding-left: 18px;
  padding-top:43px;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}
ul.navigation li, ul.navigation2 li{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  /* text-align: center; */
}
li.ulDropdown {
  position: relative;
  width: calc(100% - 46px);
  margin-left: auto;
}
li.ulDropdown:before {
  content: '';
  position: absolute;
  top: -10px;
  /* width: 1px; */
  height: calc(100% + 15px);
  left: -24px;
  /* background: rgba(255, 255, 255, 0.5); */
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

li.ulDropdown:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 22px;
  /* height: 1px; */
  left: -24px;
  /* background: rgba(255, 255, 255, 0.5); */
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
li.ulDropdown.lastDropdown::before{
  height: calc(100% - 11px);
}

li.ulDropdown a {
  width: 100% !important;
}
ul.navigation li a{
  display: flex;
  gap: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  min-height: 100%;
  width: 180px;
  height: 44px;
  padding: 15px 18px;
  color: #ECECEC;
}
ul.navigation li a img{
  width: 18px;
  height: 18px;
  margin-top:-2px;
}
ul.navigation2 li a img {
  width: 18px;
  height: 18px;
  /* margin-top: -2px; */
}
ul.navigation li.active{
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}
ul.navigation li.active .home_img1{
  display: block;
}
ul.navigation li.active .calendar_img1 {
  display: block;
}
ul.navigation li.active .home_img{
  display: none;
}
ul.navigation li.active .calendar_img {
  display: none;
}
ul.navigation li.active .timesheet_img1 {
  display: block;
}
ul.navigation li.active .timesheet_img {
  display: none;
}
ul.navigation li.active .employee_img1 {
  display: block;
}
ul.navigation li.active .employee_img {
  display: none;
}
ul.navigation li.active .recruitment_img1 {
  display: block;
}
ul.navigation li.active .recruitment_img {
  display: none;
}

ul.navigation li:hover{
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;

}
.select-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-btn i{
  position: absolute;
  right: 30px;
  margin-top: 3px;
  color: #fff;
  transition: 0.3s;
  font-size: 20px;
  cursor: pointer;
}
li.active .select-btn i {
  transform: rotate(-180deg);
}
.home_img1{
  display: none;
}

.employee_img1{
  display: none;
}
.attendance_img1{
  display: none;
}
.payroll_img1{
  display: none;
}
.leaves_img1{
  display: none;
}
.recruitment_img1{
  display: none;
}
.report_img1{
  display: none;
}
.signout1{
  display: none;
}
.help1{
  display: none;
}
ul.navigation2 li:hover .help{
  display: none;
}
ul.navigation2 li:hover .help1{
  display: block;
}
ul.navigation2 li:hover .signout{
  display: none;
}
ul.navigation2 li:hover .signout1{
  display: block;
}
ul.navigation li:hover .home_img{
  display: none;
}
ul.navigation li:hover .employee_img{
  display: none;
}
ul.navigation li:hover .attendance_img{
  display: none;
}
ul.navigation li:hover .payroll_img{
  display: none;
}
ul.navigation li:hover .leaves_img{
  display: none;
}
ul.navigation li:hover .recruitment_img{
  display: none;
}
ul.navigation li:hover .report_img {
  display: none;
}
ul.navigation li:hover .home_img1{
  display: block;
}
ul.navigation li:hover .employee_img1{
  display: block;
}
ul.navigation li:hover .attendance_img1{
  display: block;
}
ul.navigation li:hover .payroll_img1{
  display: block;
}
ul.navigation li:hover .leaves_img1{
  display: block;
}
ul.navigation li:hover .recruitment_img1{
  display: block;
}
ul.navigation li:hover .report_img1 {
  display: block;
}
.calendar_img1{
  display: none;
}
ul.navigation li:hover .calendar_img{
  display: none;
}
ul.navigation li:hover .calendar_img1 {
  display: block;
}
.timesheet_img1 {
  display: none;
}

ul.navigation li:hover .timesheet_img {
  display: none;
}

ul.navigation li:hover .timesheet_img1 {
  display: block;
}
.side2 {
  display: flex;
  flex-direction: column;
  min-height: 25vh;
}
.side2 p{
  /* margin-left: 22px; */
}
ul.navigation2 {
  display: flex;
  flex-direction: column;

}

ul.navigation2 li a{
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  font-style: normal;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  width: 180px;
  height: 44px;
  padding: 15px 18px;
}
ul.navigation2 li:hover{
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}
