<div class="sidebar">
  <div class="side1">
    <div class="logo">
      <a href="">
        <img src="./assets/images/hrr_3.svg" alt="img">
        HRmaven
      </a>
    </div>
    <p>Menu</p>
    <ul class="navigation">
      <li routerLink="/dashboard" routerLinkActive="active" [class.active]="activeLink === 'dashboard'"><a><img
            class="home_img" src="./assets/images/Frame-5.svg" alt="">
          <img class="home_img1" src="./assets/images/mingcute_home-4-fill.svg" alt=""  [class.active]="activeLink === 'dashboard'">Dashboard</a></li>
      <li routerLink="/employee" routerLinkActive="active" [class.active]="activeLink === 'employee'"><a><img
            class="employee_img" src="./assets/images/Frame-7.svg" alt="">
          <img class="employee_img1" src="./assets/images/Frame-6.svg" alt="" [class.active]="activeLink === 'employee'">Employee</a></li>
      <li routerLink="/calendar" routerLinkActive="active" [class.active]="activeLink === 'calendar'"><a><img
            class="calendar_img" src="./assets/images/Frame-13.svg" alt="">
          <img class="calendar_img1" src="./assets/images/timesheet_filled.svg" alt="" [class.active]="activeLink === 'calendar'">Meetings</a></li>
      <li class="Timesheet" (click)="isAttendanceAndLeaveVisible=!isAttendanceAndLeaveVisible" routerLinkActive="active"
        [class.active]="activeLink === 'Timesheet'">
        <div class="select-btn">
          <a><img class="timesheet_img" src="./assets/images/timesheet.png" alt="">
          <img class="timesheet_img1" src="./assets/images/calendar_filled.svg" alt="" [class.active]="activeLink === 'Timesheet'"> Timesheet</a>
          <i class="bx bx-chevron-down"></i>
        </div>
      </li>
      <ng-container *ngIf="isAttendanceAndLeaveVisible">
        <li routerLink="/attendance" routerLinkActive="active" [class.active]="activeLink === 'attendance'" class="ulDropdown"><a>
          <!-- <img
              class="attendance_img" src="./assets/images/Frame-13.svg" alt=""> -->
            <!-- <img class="attendance_img1" src="./assets/images/Frame-14.svg" alt=""> -->
            Attendance</a>
        </li>
        <!-- <li routerLink="/payroll" routerLinkActive="active" [class.active]="activeLink === 'payroll'"><a><img class="payroll_img" src="./assets/images/Frame-1.svg" alt="">
          <img class="payroll_img1" src="./assets/images/Frame-9.svg" alt="">Payroll</a></li> -->
        <li routerLink="/leaves" routerLinkActive="active" [class.active]="activeLink === 'leaves'" class="ulDropdown lastDropdown"><a>
          <!-- <img
              class="leaves_img" src="./assets/images/leaves.svg" alt=""> -->
            <!-- <img class="leaves_img1" src="./assets/images/leaves_filled.svg" alt=""> -->
            Leave</a>
        </li>
      </ng-container>
      <li routerLink="/recruitment" routerLinkActive="active" [class.active]="activeLink === 'recruitment'"><a><img
            class="recruitment_img" src="./assets/images/Frame.svg" alt="">
          <img class="recruitment_img1" src="./assets/images/Frame-10.svg" alt="" [class.active]="activeLink === 'recruitment'">Recruitment</a>
      </li>
      <!-- <li routerLink="/report" routerLinkActive="active" [class.active]="activeLink === 'report'"><a><img class="report_img" src="./assets/images/Frame-11.svg" alt="">
        <img class="report_img1" src="./assets/images/Frame-12.svg" alt="">Report</a>
      </li> -->
    </ul>

  </div>
  <div class="side2">
    <p>Settings</p>
    <ul class="navigation2">
      <li routerLink="/help"><a><img class="help" src="./assets/images/icon-park-outline_help.svg">
        <img class="help1" src="./assets/images/material-symbols_help.svg" alt="">Help</a></li>
      <li><a (click)="logout()"><img class="signout" src="./assets/images/uil_signout.svg">
       <img class="signout1" src="./assets/images/uis_signout.svg" alt="">Sign Out</a></li>
    </ul>
  </div>
</div>



<!-- -----------------------------Responsive navbar-------------------------------- -->
<!-- <nav class="navbar">
  <div class="navbar-container container">
    <input type="checkbox" name="" id="">
    <div class="hamburger-lines">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>
    <ul class="menu-items">
      <li routerLink="/dashboard" routerLinkActive="active" [class.active]="activeLink === 'dashboard'"><a><img
            class="home_img" src="./assets/images/Frame-5.svg" alt="">
          <img class="home_img1" src="./assets/images/mingcute_home-4-fill.svg" alt=""
            [class.active]="activeLink === 'dashboard'">Dashboard</a></li>
      <li routerLink="/employee" routerLinkActive="active" [class.active]="activeLink === 'employee'"><a><img
            class="employee_img" src="./assets/images/Frame-7.svg" alt="">
          <img class="employee_img1" src="./assets/images/Frame-6.svg" alt=""
            [class.active]="activeLink === 'employee'">Employee</a></li>
      <li routerLink="/calendar" routerLinkActive="active" [class.active]="activeLink === 'calendar'"><a><img
            class="calendar_img" src="./assets/images/Frame-13.svg" alt="">
          <img class="calendar_img1" src="./assets/images/timesheet_filled.svg" alt=""
            [class.active]="activeLink === 'calendar'">Calendar</a></li>
      <li class="Timesheet" (click)="isAttendanceAndLeaveVisible=!isAttendanceAndLeaveVisible" routerLinkActive="active"
        [class.active]="activeLink === 'Timesheet'">
        <div class="select-btn">
          <a><img class="timesheet_img" src="./assets/images/timesheet.png" alt="">
            <img class="timesheet_img1" src="./assets/images/calendar_filled.svg" alt=""
              [class.active]="activeLink === 'Timesheet'"> Timesheet</a>
          <i class="bx bx-chevron-down"></i>
        </div>
      </li>
      <ng-container *ngIf="isAttendanceAndLeaveVisible">
        <li routerLink="/attendance" routerLinkActive="active" [class.active]="activeLink === 'attendance'"
          class="ulDropdown"><a>Attendance</a>
        <li>
        <li routerLink="/leaves" routerLinkActive="active" [class.active]="activeLink === 'leaves'"
          class="ulDropdown lastDropdown"><a>Leave</a></li>
      </ng-container>
      <li routerLink="/recruitment" routerLinkActive="active" [class.active]="activeLink === 'recruitment'"><a><img
            class="recruitment_img" src="./assets/images/Frame.svg" alt="">
          <img class="recruitment_img1" src="./assets/images/Frame-10.svg" alt=""
            [class.active]="activeLink === 'recruitment'">Recruitment</a>
      </li>
      <ul class="navigation3">
        <li><a href="#"><img class="help" src="./assets/images/icon-park-outline_help.svg">
            <img class="help1" src="./assets/images/material-symbols_help.svg" alt="">Help</a></li>
        <li><a (click)="logout()"><img class="signout" src="./assets/images/uil_signout.svg">
            <img class="signout1" src="./assets/images/uis_signout.svg" alt="">Sign Out</a></li>
      </ul>
    </ul>
  </div>
</nav> -->
