.sidebar{
  background-color: #2F2C9F;
  width:223px;
  height: 100vh;
  top:0;
  left:0;
  position: fixed;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  /* padding: 16px 20px; */
}
.sidebar img{
  width: 30px;
}
.sidebar a{
  color: white;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;

}
.side1{
  display: flex;
  flex-direction: column;
}
.logo{
  padding-top: 23px;
  padding-left: 18px;

}
 p{
  color: rgba(255, 255, 255, 0.6) ;
  padding-left: 18px;
  padding-top:43px;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}
ul.navigation li, ul.navigation2 li{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  /* text-align: center; */
}
li.ulDropdown {
  position: relative;
  width: calc(100% - 46px);
  margin-left: auto;
}
li.ulDropdown:before {
  content: '';
  position: absolute;
  top: -10px;
  /* width: 1px; */
  height: calc(100% + 15px);
  left: -24px;
  /* background: rgba(255, 255, 255, 0.5); */
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

li.ulDropdown:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 22px;
  /* height: 1px; */
  left: -24px;
  /* background: rgba(255, 255, 255, 0.5); */
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
li.ulDropdown.lastDropdown::before{
  height: calc(100% - 11px);
}

li.ulDropdown a {
  width: 100% !important;
}
ul.navigation li a{
  display: flex;
  gap: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  min-height: 100%;
  width: 180px;
  height: 44px;
  padding: 15px 18px;
  color: #ECECEC;
}
ul.navigation li a img{
  width: 18px;
  height: 18px;
  margin-top:-2px;
}
ul.navigation2 li a img {
  width: 18px;
  height: 18px;
  /* margin-top: -2px; */
}
ul.navigation li.active{
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}
ul.navigation li.active .home_img1{
  display: block;
}
ul.navigation li.active .calendar_img1 {
  display: block;
}
ul.navigation li.active .home_img{
  display: none;
}
ul.navigation li.active .calendar_img {
  display: none;
}
ul.navigation li.active .timesheet_img1 {
  display: block;
}
ul.navigation li.active .timesheet_img {
  display: none;
}
ul.navigation li.active .employee_img1 {
  display: block;
}
ul.navigation li.active .employee_img {
  display: none;
}
ul.navigation li.active .recruitment_img1 {
  display: block;
}
ul.navigation li.active .recruitment_img {
  display: none;
}

ul.navigation li:hover{
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;

}
.select-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-btn i{
  position: absolute;
  right: 30px;
  margin-top: 3px;
  color: #fff;
  transition: 0.3s;
  font-size: 20px;
  cursor: pointer;
}
li.active .select-btn i {
  transform: rotate(-180deg);
}
.home_img1{
  display: none;
}

.employee_img1{
  display: none;
}
.attendance_img1{
  display: none;
}
.payroll_img1{
  display: none;
}
.leaves_img1{
  display: none;
}
.recruitment_img1{
  display: none;
}
.report_img1{
  display: none;
}
.signout1{
  display: none;
}
.help1{
  display: none;
}
ul.navigation2 li:hover .help{
  display: none;
}
ul.navigation2 li:hover .help1{
  display: block;
}
ul.navigation2 li:hover .signout{
  display: none;
}
ul.navigation2 li:hover .signout1{
  display: block;
}
ul.navigation li:hover .home_img{
  display: none;
}
ul.navigation li:hover .employee_img{
  display: none;
}
ul.navigation li:hover .attendance_img{
  display: none;
}
ul.navigation li:hover .payroll_img{
  display: none;
}
ul.navigation li:hover .leaves_img{
  display: none;
}
ul.navigation li:hover .recruitment_img{
  display: none;
}
ul.navigation li:hover .report_img {
  display: none;
}
ul.navigation li:hover .home_img1{
  display: block;
}
ul.navigation li:hover .employee_img1{
  display: block;
}
ul.navigation li:hover .attendance_img1{
  display: block;
}
ul.navigation li:hover .payroll_img1{
  display: block;
}
ul.navigation li:hover .leaves_img1{
  display: block;
}
ul.navigation li:hover .recruitment_img1{
  display: block;
}
ul.navigation li:hover .report_img1 {
  display: block;
}
.calendar_img1{
  display: none;
}
ul.navigation li:hover .calendar_img{
  display: none;
}
ul.navigation li:hover .calendar_img1 {
  display: block;
}
.timesheet_img1 {
  display: none;
}

ul.navigation li:hover .timesheet_img {
  display: none;
}

ul.navigation li:hover .timesheet_img1 {
  display: block;
}
.side2 {
  display: flex;
  flex-direction: column;
  min-height: 25vh;
}
.side2 p{
  /* margin-left: 22px; */
}
ul.navigation2 {
  display: flex;
  flex-direction: column;

}

ul.navigation2 li a{
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  font-style: normal;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  width: 180px;
  height: 44px;
  padding: 15px 18px;
}
ul.navigation2 li:hover{
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}







/* ----------------------- nav-toggler css start ------------------------------------------------ */
.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}

.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: .3s;
}

.nav-toggler span:before {
  content: '';
  transform: translateY(-9px);
}

.nav-toggler span:after {
  content: '';
  transform: translateY(6px);
}

.nav-toggler.toggler-open span {
  background-color: transparent;
}

.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}

/* --------------Responsive------------------ */
@media (min-width:851px) {
  .menu-items {
    display: none;
  }
}

/* --------------Responsive For Tablet------------------ */

@media only screen and (min-width: 481px) and (max-width: 850px) {
  .sidebar {
    display: none;
  }

  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;

  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background-color: #2F2C9F;
    color: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    align-items: left;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    overflow: scroll;
  }

  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;

  }

  .navbar .menu-items li a {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .navbar-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
    background-color: #fff;
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
    background: #fff;
  }

  .select-btn {
    margin-left: -140px;
  }

  .select-btn i {
    position: absolute;
    left: 200px;
  }

  li.ulDropdown::before {
    content: '';
    position: absolute;
    top: -27px;
    height: calc(100% + 14px);
    left: -33px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }

  li.ulDropdown::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 31px;
    left: -33px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }

  li.ulDropdown.lastDropdown::before {
    height: calc(100% - -17px);
  }

  .ulDropdown.lastDropdown {
    margin-top: -40px;
  }

  .navigation3 {
    margin-top: 80px;
  }
}


/* --------------For Mobile------------------ */
@media only screen and (max-width: 480px) {
  .sidebar {
    display: none;
  }

  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background-color: #2F2C9F;
    color: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    align-items: left;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    overflow: scroll;
  }

  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;

  }

  .navbar .menu-items li a {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .navbar-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
    background-color: #fff;
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
    background: #fff;
  }

  .select-btn {
    margin-left: -140px;
  }

  .select-btn i {
    position: absolute;
    left: 200px;
  }

  li.ulDropdown::before {
    content: '';
    position: absolute;
    top: -27px;
    height: calc(100% + 14px);
    left: -33px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }

  li.ulDropdown::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 31px;
    left: -33px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }

  li.ulDropdown.lastDropdown::before {
    height: calc(100% - -17px);
  }

  .ulDropdown.lastDropdown {
    margin-top: -40px;
  }

  .navigation3 {
    margin-top: 80px;
  }
}