<div class="sidebar">
  <div class="side1">
    <div class="logo">
      <a href="">
        <img src="./assets/images/hrr_3.svg" alt="img">
        HRmaven
      </a>
    </div>
    <p>Menu</p>
    <ul class="navigation">
      <li routerLink="/dashboard" routerLinkActive="active"  [class.active]="activeLink === 'dashboard'"><a><img class="home_img" src="./assets/images/Frame-5.svg" alt="" >
        <img class="home_img1" src="./assets/images/mingcute_home-4-fill.svg" alt="">Dashboard</a></li>
      <li routerLink="/employee" routerLinkActive="active"  [class.active]="activeLink === 'employee'"><a><img class="employee_img" src="./assets/images/Frame-7.svg" alt="">
        <img class="employee_img1" src="./assets/images/Frame-6.svg" alt="">Employee</a></li>
      <li routerLink="/attendance" routerLinkActive="active" [class.active]="activeLink === 'attendance'"><a><img class="attendance_img" src="./assets/images/Frame-13.svg" alt="">
        <img class="attendance_img1" src="./assets/images/Frame-14.svg" alt="">Attendance</a>
      </li>
      <li routerLink="/payroll" routerLinkActive="active" [class.active]="activeLink === 'payroll'"><a><img class="payroll_img" src="./assets/images/Frame-1.svg" alt="">
        <img class="payroll_img1" src="./assets/images/Frame-9.svg" alt="">Payroll</a></li>
      <li routerLink="/leaves" routerLinkActive="active" [class.active]="activeLink === 'leaves'"><a><img class="leaves_img" src="./assets/images/leaves.svg" alt="">
        <img class="leaves_img1" src="./assets/images/leaves_filled.svg" alt="">Leaves</a>
      </li>
      <li routerLink="/recruitment" routerLinkActive="active" [class.active]="activeLink === 'recruitment'"><a><img class="recruitment_img" src="./assets/images/Frame.svg" alt="">
        <img class="recruitment_img1" src="./assets/images/Frame-10.svg" alt="">Recruitment</a>
      </li>
      <li routerLink="/report" routerLinkActive="active" [class.active]="activeLink === 'report'"><a><img class="report_img" src="./assets/images/Frame-11.svg" alt="">
        <img class="report_img1" src="./assets/images/Frame-12.svg" alt="">Report</a>
      </li>
    </ul>

  </div>
  <div class="side2">
    <p>Settings</p>
    <ul class="navigation2">
      <li><a href="#"><img src="./assets/images/icon-park-outline_help.svg">Help</a></li>
      <li><a (click)="logout()"><img src="./assets/images/uil_signout.svg">Sign Out</a></li>
    </ul>
  </div>
</div>
