.main {
  width: calc(100% - 223px);
  background: #f9f9f9;
  margin-left: 223px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  min-height: 100%;

}

.card {
  margin-top: 70px;
  padding-top: 20px;
  padding-left: 33px;
  border: 1px solid transparent;
  background-color: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.1);
  padding-right: 33px;
}

.card1 {
  display: flex;
  gap: 12px;
  border-bottom: 1px solid #F0F0F0;
}

.card1 img {
  border-radius: 50%;
  background-color: #F7F7FB;
  width: 24px;
  height: 24px;
  padding: 5px;
  cursor: pointer;
}

.card1 h2 {
  font-weight: 500;
  font-size: 21px;
  line-height: 100%;
  color: #000000;
  margin-bottom: 15px;
}

.fa-pen {
  color: #b4b4b4;
  font-size: 11px;
}

.card2 {
  display: flex;
  gap: 20px;
  flex-direction: row;
  margin-top: 20px;
  border: 1px solid #F0F0F0;
  padding: 20px 30px;
  border-radius: 8px;
  margin-bottom: 30px;
  align-items: center;
}

.card2 .profile_pic {
  position: relative;
  cursor: pointer;
  width: 105px;
  height: 105px;
  border-radius: 50%;
}

.card2 .profile_pic img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.profile-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10px;
  color: #666666;
  font-weight: 600;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* .profile-content img{
  color: #666666;
  height: 10px;
  width: 10px;
} */
.profile-content1 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10px;
  color: #ffffff;
  font-weight: 600;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
}


.profile-content input[type='file'] {
  opacity: 0;
  /* z-index: -1; */
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.profile-content1 input[type='file'] {
  opacity: 0;
  /* z-index: -1; */
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1
}

.fa-camera {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-content h2 {
  padding-left: 5px;
}

.card2 .profile_pic:hover {
  opacity: 0.4;
  cursor: pointer;
}

.card2 .profile_pic:hover .profile-content {
  display: flex;
}

.profile-content1 h2 {
  padding-left: 5px;
}

.fa-arrow-up {
  font-size: 12px;
  font-weight: bold;
}

.card2 .profile_pic:hover .profile-content1 {
  display: flex;
  background-color: black;
  opacity: 0.5;
}

.cnt-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.view {
  padding: 5px;
  background-color: transparent;
  border: 1px solid transparent;
  color: #2F2C9F;
  cursor: pointer;
  outline: none;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.hide {
  padding: 5px;
  background-color: transparent;
  border: 1px solid transparent;
  color: #2F2C9F;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.edit1 {
  position: absolute;
  right: 8%;
  display: none;
  /* padding: 5px 5px; */
  font-weight: 400;
  font-size: 12px;
  width: 30px;
    height: 30px;
 border-radius: 50%;
  background: #F0F0F0;
  border: 1px solid #E0E0E0;
  cursor: pointer;
  color: #333333;
  margin-bottom: 15px;
  margin-right: -20px;
}
.edit2 {
  position: absolute;
  right: 10.3%;
  display: none;
  /* padding: 5px 5px; */
  font-weight: 400;
  font-size: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #2F2C9F;
  border: 1px solid #E0E0E0;
  cursor: pointer;
  color: #333333;
  margin-bottom: 15px;
  margin-right: -20px;
}
.edit2 .fa-circle-plus{
  color: white;
  background: #2F2C9F;
}
.btns{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.fa-pencil {
  /* padding-left: 6px; */
  color: #666666;
}

.card3:hover .edit1 {
  display: block;
}

.card4:hover .edit1 {
  display: block;
}

.card5:hover .edit1 {
  display: block;
}

.card6:hover .edit1 {
  display: block;
}
.card6:hover .edit2{
  display: block;
}
.card7:hover .edit2 {
  display: block;
}
.card7:hover .edit1 {
  display: block;
}

.card8:hover .edit1 {
  display: block;
}

.edit1:hover {
  background: #F7F7FB;
  border: 1px solid #E0E0E0;
}

.card2 .content {
  display: flex;
  flex-direction: column;
}

.card2 .content h3 {
  font-weight: 400;
  font-size: 20px;
  color: #444444;
}

.card2 .content p {
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}

.card2 .content span {
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}

.fa-location-dot {
  color: #b4b4b4;
  padding-right: 3px;
}

.content1 {
  display: flex;
  gap: 75px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 20px;
  cursor: pointer;
}

.content1 li a {
  font-weight: 400;
  font-size: 14px;
  color: #999999;
  cursor: pointer;
  padding-left: 25px;
}

.content1 li {
  cursor: pointer;
  padding-bottom: 10px;
  width: 13%;
}

.content1 li.active {
  border-bottom: 2px solid #2F2C9F;
}

#job{
  padding-left: 15px;
}

.content1 li.active a {
  font-weight: 500;
  color: #2F2C9F;

}

.card3 {
  padding: 25px 50px;
  border: 1px solid rgba(47, 44, 159, 0.15);
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card3 h3 {
  font-weight: 500;
  font-size: 16px;
  color: #444444;
  margin-bottom: 17px;
}

.row1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.column1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 33.3%;
  max-width: 362px;
}

.column2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 33.3%;
  max-width: 362px;

}

.column3 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 33.3%;
  max-width: 362px;
}

.row1 span {
  font-weight: 400;
  font-size: 13px;
  color: #444444;
  margin-bottom: 5px;
}

.row1 .column1 p {
  font-weight: 400;
  font-size: 15px;
  color: #777777;
  margin-bottom: 20px;
}

.row1 .column2 p {
  font-weight: 400;
  font-size: 15px;
  color: #777777;
  margin-bottom: 20px;
}

.row1 .column3 p {
  font-weight: 400;
  font-size: 15px;
  color: #777777;
  margin-bottom: 20px;
}


.card4 {
  padding: 23px 50px;
  border: 1px solid rgba(47, 44, 159, 0.15);
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 20px;

}

.card4 h3 {
  font-weight: 500;
  font-size: 16px;
  color: #444444;
  margin-bottom: 17px;
}

.card5 {
  padding: 23px 50px;
  border: 1px solid rgba(47, 44, 159, 0.15);
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card5 h3 {
  font-weight: 500;
  font-size: 16px;
  color: #444444;
  margin-bottom: 17px;
}

.card6 {
  padding: 23px 50px;
  border: 1px solid rgba(47, 44, 159, 0.15);
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card6 h3 {
  font-weight: 500;
  font-size: 16px;
  color: #444444;
  margin-bottom: 17px;
}

.card7 {
  padding: 23px 50px;
  border: 1px solid rgba(47, 44, 159, 0.15);
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card7 h3 {
  font-weight: 500;
  font-size: 16px;
  color: #444444;
  margin-bottom: 17px;
}

.card7 hr {
  margin-bottom: 25px;
}

.card8 {
  padding: 23px 50px;
  border: 1px solid rgba(47, 44, 159, 0.15);
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card8 h3 {
  font-weight: 500;
  font-size: 16px;
  color: #444444;
  margin-bottom: 17px;
}
.profemail{
  background-color: #f1f1f1 !important;
  cursor: not-allowed;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.7);
  display: flex;
  justify-content: center;
  z-index: 9999;
  backdrop-filter: blur(5px);
  align-items: center;
}

/* .modal-content input:hover,
.modal-content input:focus {
  border: 1px solid #2F2C9F !important;
  border-radius: 8px;
} */

.modal-content {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  max-width: 986px;
  border-radius: 8px;
  /* overflow-y: auto;
  overflow-x: hidden; */
}

.modal-content4 {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  max-width: 986px;
  border-radius: 8px;
}

.modal-content5 {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  max-width: 986px;
  border-radius: 8px;
}

.modal-body4::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

.modal-body4r::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.modal-body4::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

.modal-body5::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

.modal-body5r::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.modal-body5::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

.modal-header {
  background-color: #F7F7FB;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px 8px 0px 0px;
  align-items: center;
  padding: 22px 0;
  width: 100%;
  max-width: 986px;
  height: 69px;
}

.modal-header4 {
  position: fixed;
  background-color: #F7F7FB;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px 8px 0px 0px;
  align-items: center;
  padding: 22px 0;
  width: 100%;
  max-width: 986px;
  height: 69px;
}

.modal-header5 {
  position: fixed;
  background-color: #F7F7FB;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px 8px 0px 0px;
  align-items: center;
  padding: 22px 0;
  width: 100%;
  max-width: 986px;
  height: 69px;
}

.modal-title {
  font-weight: 400;
  font-size: 18px;
  color: #444444;
}

.fa-xmark {
  position: absolute;
  top: -3%;
  right: -3%;
  cursor: pointer;
  color: #ECECEC;
  font-size: 20px;
}

.modal-body {
  /* padding: 30px; */
  padding: 15px 30px;
}

.modal-body4 {
  padding: 15px 30px;
  margin-top: 90px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 420px;
}

.modal-body5 {
  padding: 15px 30px;
  margin-top: 90px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 300px;
}

#form1 {
  margin-top: 30px;
  margin-bottom: 25px;
  padding-left: 8px;
}

#form2 {
  margin-top: 30px;
  margin-bottom: 25px;
  padding-left: 8px;
}

#form3 {
  margin-top: 30px;
  margin-bottom: 25px;
  padding-left: 8px;
}

#form4 {
  /* margin-top: 30px; */
  margin-bottom: 25px;
  padding-left: 8px;
  /* height: 300px; */
}

#form4 h3 {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #444444;
  margin-bottom: 5px;
}

.add-more1 {
  display: flex;
  gap: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: #2F2C9F;
  border: 1px solid transparent;
  margin-bottom: 15px;
  cursor: pointer;
}

.card10 {
  background: #F7F7FB;
  border-radius: 8px;
  padding-top: 20px;
  padding-left: 15px;
  width: 100%;
  max-width: 900px;
  margin-bottom: 20px;
}

#form5 {
  padding-left: 8px;
  /* height: 260px; */
  margin-bottom: 20px;
}

#form6 {
  margin-top: 30px;
  margin-bottom: 25px;
  padding-left: 8px;
}

hr {
  margin-bottom: 15px;
  color: #E0E0E0;
  opacity: 0.2;
}

input::placeholder{
  color: #888888;
  opacity:0.6;
}
.modal-body4 hr{
  margin-top: 20px;
  margin-bottom: 25px;
  border: 1px solid #cbcbcb;
  opacity: 0.5;
}
.form-row {
  display: flex;
  gap: 30px;

}

.input {
  display: flex;
  flex-direction: column;
}

.form-row .input input:hover {
  border-radius: 8px;
  border: 1px solid #2F2C9F;
}

.form-row .input .text{
  border: 1px solid #cbcbcb ;
}

label {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333333;
}


input[type='text'] {
  width: 270px;
  font-family: 'Outfit', sans-serif;
  height: 40px;
  padding-left: 17px;
  background-color: #FFFFFF;
  border: 1px solid #CBCBCB;
  border-radius: 8px;
  outline: none;
  margin-bottom: 40px;
}

#text9{
  margin-top: -10px;
  margin-left: -15px;
  border: 1px solid transparent;
  height: 30px;
  padding-top: 8px;
  cursor: pointer;
}
#text10 {
  margin-top: -10px;
  margin-left: -15px;
  border: 1px solid transparent;
  height: 30px;
  padding-top: 8px;
  cursor: pointer;
}
#text11 {
  margin-top: -10px;
  margin-left: -15px;
  border: 1px solid transparent;
  height: 30px;
  padding-top: 8px;
  cursor: pointer;
}
#text8 {
  margin-top: -10px;
  margin-left: -15px;
  border: 1px solid transparent;
  height: 30px;
  padding-top: 8px;
  cursor: pointer;
}
#text7 {
  margin-top: -10px;
  margin-left: -10px;
  border: 1px solid transparent;
  height: 30px;
  padding-top: 8px;
  cursor: pointer;
}
#text5 {
  margin-top: -10px;
  margin-left: -10px;
  border: 1px solid transparent;
  height: 30px;
  padding-top: 8px;
  cursor: pointer;
}
#text6 {
  margin-top: -10px;
  margin-left: -10px;
  border: 1px solid transparent;
  height: 30px;
  padding-top: 8px;
  cursor: pointer;
}
#text14 {
  margin-top: -10px;
  margin-left: -10px;
  border: 1px solid transparent;
  height: 30px;
  padding-top: 8px;
  cursor: pointer;
}



input[type='email'] {
  width: 270px;
  font-family: 'Outfit', sans-serif;
  height: 40px;
  padding-left: 17px;
  background-color: #FFFFFF;
  border: 1px solid #CBCBCB;
  border-radius: 8px;
  outline: none;
  /* margin-bottom: 20px; */
}

input[type='number'] {
  width: 270px;
  font-family: 'Outfit', sans-serif;
  height: 40px;
  padding-left: 17px;
  background-color: #FFFFFF;
  border: 1px solid #CBCBCB;
  border-radius: 8px;
  outline: none;
  margin-bottom: 40px;
}

input[type='date'] {
  width: 270px;
  font-family: 'Outfit', sans-serif;
  height: 40px;
  padding-left: 17px;
  padding-right: 15px;
  background-color: #FFFFFF;
  border: 1px solid #CBCBCB;
  border-radius: 8px;
  outline: none;
  margin-bottom: 40px;
  cursor: pointer;
}

.employe-id {
  cursor: not-allowed;
  background-color: #f1f1f1 !important;
  border: 1px solid #F1f1f1;
}

#select {
  width: 270px;
  font-family: 'Outfit', sans-serif;
  height: 40px;
  padding-left: 17px;
  background-color: #FFFFFF;
  border: 1px solid #CBCBCB;
  border-radius: 8px;
  outline: none;
  margin-bottom: 40px;
}

.select {
  width: 270px;
  height: 40px;
  padding: 10px 42px 10px 17px;
  background-color: #FFFFFF;
  border: 1px solid #CBCBCB;
  border-radius: 8px;
  outline: none;
  margin-bottom: 30px;
}

/* #form5{
  padding-bottom: 30px;
} */
.modal-footer {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F7F7FB;
  border-radius: 0px 0px 8px 8px;
  gap: 10px;
  /* position: fixed; */
}

.modal-footer4 {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F7F7FB;
  border-radius: 0px 0px 8px 8px;
  gap: 10px;
  margin-top: -8px;
  position: fixed;
  width: 100%;
  max-width: 986px;
  height: 69px;
}

.modal-footer5 {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F7F7FB;
  border-radius: 0px 0px 8px 8px;
  gap: 10px;
  margin-top: -8px;
  position: fixed;
  width: 100%;
  max-width: 986px;
  height: 69px;
}

.add-more {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  text-align: center;
  padding: 6px 12px;
  align-items: center;
  justify-content: center;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  border-radius: 6px;
  font-size: 14px;
  color: #2F2C9F;
  background-color: transparent;
  border: 1px solid #2F2C9F;
  margin-bottom: 15px;
  cursor: pointer;
}
.save {
  padding: 10px 25px;
  background-color: #2F2C9F;
  border: 1px solid #2F2C9F;
  background: #2F2C9F;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}

.save:hover {
  background-color: #2F2C9F;
  opacity: 0.7;
}

.cancel:hover {
  background: #efeff8;
}

.modal-content2 {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  height: 433px;
  margin-top: 30px;
  max-width: 986px;
  border-radius: 8px;
}

.modal-body2 {
  padding: 15px 45px;
}

.modal-content3 {
  margin-top: 150px;
  width: 430px;
  height: 336px;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 20px 20px;
}

.modal-header2 {
  width: 390px;
  height: 150px;
  background: rgba(123, 211, 109, 0.3);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.modal-body3 h3 {
  padding-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #444444;
  font-family: 'Outfit', sans-serif;
}

.modal-body3 p {
  margin-top: 16px;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-right: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: #666666;
  font-family: 'Outfit', sans-serif;
}

.done-btn2 {
  width: 82px;
  height: 38px;
  background: #3D9130;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  border: 1px solid #3D9130;
  cursor: pointer;
  font-family: 'Outfit', sans-serif;
}

.done-btn2:hover {
  background-color: #3D9130;
  opacity: 0.7;
}

.btn3 {
  display: flex;
  width: 162px;
  height: 44px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 8px;
  border: 1px solid transparent;
  color: #2F2C9F;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  outline: none;
  cursor: pointer;
  font-family: 'Outfit', sans-serif;
  margin-left: -20px;
}

#slt1 {
  width: 270px;
  height: 40px;
  box-shadow: none;
  background: #FFFFFF;
  border: 1px solid rgba(180, 180, 180, 0.8);
  border-radius: 8px;
  color: black;
  padding-left: 15px;
}

#slt2 {
  width: 270px;
  height: 40px;
  box-shadow: none;
  background: #FFFFFF;
  border: 1px solid rgba(180, 180, 180, 0.8);
  border-radius: 8px;
  color: black;
  padding-left: 15px;
  margin-bottom: 40px;
}

input[type='number']:hover {
  border: 1px solid #2F2C9F;
}


.name1 img {
  border-radius: 50%;
}

.select_content1::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

.select_content1::-webkit-scrollbar-track {
  background: #f1f1f1;
}


.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Handle */
.select_content1::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 8px;
}

.select_content1 {
  background-color: #fff;
  cursor: pointer;
  width: 260px;
  max-height: 250px;
  overflow-y: auto;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  color: #444444;
  box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.4);
}

.bank {
  margin-top: -38px;
}

.marriage {
  margin-top: -38px;
}

.select_content1 ul {
  padding: 0;
  margin: 0;
}

.select_content1 ul li {
  list-style: none;
  padding: 10px 10px;
  margin-top: 5px;
  font-size: 14px;
}

.select_content1 ul li:hover {
  background-color: #ECECEC;
  border-radius: 8px;
}

.select_active {
  background-color: #ECECEC;
  border-radius: 8px;

}

.option .option-text {
  font-size: 14px;
  color: #333;
  padding-left: 10px;
}

.dropdwon_select {
  background-color: #fff;
  width: 270px;
  height: 40px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid rgba(180, 180, 180, 0.8);
  color: #444444;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.dropdwon_select p {
  font-size: 14px;
  font-weight: 400;
}

.dropdwon_select i {
  font-size: 14px;
  color: #444444;
  padding: 3px 7px;
}

.select_content {
  background-color: #fff;
  cursor: pointer;
  width: 260px;
  box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  padding: 10px;
  position: absolute;
  color: #444444;
}

.select_content ul {
  padding: 0;
  margin: 0;
}

.select_content ul li {
  list-style: none;
  padding: 10px 10px;
  margin-top: 5px;
  font-size: 14px;
}

.select_content ul li:hover {
  background-color: #ECECEC;
  border-radius: 8px;
}

.select_active {
  background-color: #ECECEC;
  border-radius: 8px;
}

.fa-angle-down {
  color: #2F2C9F;
  padding-left: 3px;
  padding-top: 25px;
  font-size: 12px;
}

.fa-angle-up {
  color: #2F2C9F;
  padding-left: 3px;
  padding-top: 25px;
  font-size: 12px;
}
.text.invalid {
  border: 1px solid red  ;
}

.text.invalid:hover {
  border: 1px solid red;
}

.text.valid {
  border: 1px solid green;
}

.text.valid:hover {
  border: 1px solid green ;
}

.dropdwon_select:hover{
  border: 1px solid #2F2C9F !important;
}
.text.ng_invalid {
  border: 1px solid red !important ;
}

.text.ng_invalid:hover {
  border: 1px solid red !important;
}

.text.ng_valid {
  border: 1px solid green !important;
}
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #2f2c9f;
  border-radius: 50%;
  position: absolute;
  margin-top: 34px;
  margin-left: 34px;
  width: 35px;
  height: 35px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.parent .content3 {
  background-color: #fff;
  cursor: pointer;
  width: 180px;
  max-height: 250px;
  overflow-y: auto;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  bottom: -65px;
  z-index: 9999;
  color: #444444;
  box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.4);
}

.delete-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
  margin-top: -50px;
}
.fa-trash{
  margin-top: 2px;
  font-size: 14px;
}
.delete{
  display: flex;
  gap: 6px;
  border: 1px solid transparent;
  background-color: transparent;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #F74C4A;
  margin-top: -5px;
  cursor: pointer;
}

.items{
  margin-bottom: 20px;
}
