<app-sidebar></app-sidebar>
<app-header></app-header>
<div class="main" *ngIf="user">
  <div class="card">
    <div class="card1">
      <h2>Employee Profile</h2>
    </div>
    <div class="card2">
      <span class="profile_pic"><img src="./assets/images/image_employee.png">
        <div class="profile-content">
          <i class="fa-solid fa-camera"></i>
          <h2>Change</h2>
          <p>Profile Picture</p>
        </div>
      </span>
      <div class="content">

        <h3>{{user.name}}</h3>
        <p>Front End Developer</p>
        <span><i class="fa-solid fa-location-dot"></i> Leeds, United Kingdom</span>
      </div>
    </div>
    <ul class="content1">
      <li [ngClass]="{'active': isPersonalDetailsActive}"><a (click)="personaldetails()">Personal Details</a></li>
      <li [ngClass]="{'active': isJobDetailsActive}"><a (click)="jobdetails()">Job Details</a></li>
      <span></span>
    </ul>
    <div class="card3" *ngIf="personaldetail">
      <div class="details">
        <h3>Basic Details</h3>
        <button class="edit1" (click)="openmodal1(user)">Edit <i class="fa-solid fa-pencil"></i></button>
      </div>
      <div class="row1">
        <div class="column1">
          <span class="name">Name</span>
          <p class="name">{{user.name}}</p>
          <span class="fname">Father's Name</span>
          <p class="fname">{{user.fatherName}}</p>
          <span class="bgroup">Blood Group</span>
          <p class="bgroup">{{user.bloodGroup}}</p>
        </div>
        <div class="column2">
          <span class="uid">Employee ID</span>
          <p class="uid">{{user.uid}}</p>
          <span class="mname">Mother's Name</span>
          <p class="mname">{{user.motherName}}</p>
          <span class="gender">Gender</span>
          <p class="gender">{{user.gender}}</p>
        </div>
        <div class="column3">
          <span class="dob">Date of birth</span>
          <p class="dob">{{user.dateOfBirth | date:"short"}}</p>
          <span class="marstatus">Marital Status</span>
          <p class="marstatus">{{user.maritalStatus}}</p>
          <span class="nation">Nationality</span>
          <p class="nation">{{user.nationality}}</p>
        </div>
      </div>
    </div>
    <div class="card4" *ngIf="personaldetail">
      <div class="details">
        <h3>Contact Details</h3>
        <button class="edit1" (click)="openmodal2(user)">Edit <i class="fa-solid fa-pencil"></i></button>
      </div>
      <div class="row1">
        <div class="column1">
          <span class="cno">Contact No.</span>
          <p class="cno">{{user.mobile}}</p>
          <span class="city">City</span>
          <p class="city">{{user.city}}</p>
        </div>
        <div class="column2">
          <span class="address">Address</span>
          <p class="address">{{user.address}}</p>
          <span class="pcode">Postal Code</span>
          <p class="pcode">{{user.postalCode}}</p>
        </div>
        <div class="column3">
          <span class="email">Email</span>
          <p class="email">{{user.email}}</p>
          <span class="state">State</span>
          <p class="state">{{user.state}}</p>
        </div>
      </div>
    </div>
    <div class="card5" *ngIf="personaldetail">
      <div class="details">
        <h3>Personal Particulars</h3>
        <button class="edit1" (click)="openModal3()">Edit <i class="fa-solid fa-pencil"></i></button>
      </div>
      <div class="row1">
        <div class="column1">
          <span class="bname">Bank Name</span>
          <p class="bname">{{user.bankname}}</p>
          <span class="adhaarno">Aadhaar Card Number</span>
          <p class="adhaarno">{{user.adhaarno}}</p>
        </div>
        <div class="column2">
          <span class="bno">Bank Account No.</span>
          <p class="bno">{{user.accountno}}</p>
          <span class="panno">Pan Number</span>
          <p class="panno">{{user.panno}}</p>
        </div>
        <div class="column3">
          <span class="ifsc">IFSC Code</span>
          <p class="ifsc">{{user.ifsc}}</p>
          <span class="pno">Passport Number</span>
          <p class="pno">M5425189</p>
        </div>
      </div>
    </div>
    <div class="card6" *ngIf="personaldetail">
      <div class="details">
        <h3>Education</h3>
        <button class="edit1" (click)="openModal4()">Edit <i class="fa-solid fa-pencil"></i></button>
      </div>
      <div class="row1">
        <div class="column1">
          <span class="inst1">10th Grade Institute</span>
          <p class="inst1">Sacred Heart Senior Secondary School</p>
          <span class="dper">12th Diploma Percentage</span>
          <p class="dper">92%</p>
          <span class="sgpa">Graduation SGPA</span>
          <p class="sgpa">8.7</p>
          <span class="pgsgpa">Post Graduation SGPA</span>
          <p class="pgsgpa">8.8</p>
        </div>
        <div class="column2">
          <span class="mper">Matriculation Percentage</span>
          <p class="mper">88%</p>
          <span class="gcol">Graduation College/University</span>
          <p class="gcol">Lovely Professional University</p>
          <span class="pgcol">Post Graduation College/University</span>
          <p class="pgcol">Lovely Professional University</p>
        </div>
        <div class="column3">
          <span class="inst2">12th Grade/Diploma Institute</span>
          <p class="inst2">Guru Nanak Public School</p>
          <span class="stream">Stream</span>
          <p class="stream">B.Tech CSE</p>
          <span class="pgstream">Post Graduation Stream</span>
          <p class="stream">M.Tech CSE</p>
        </div>
      </div>
    </div>
    <div class="card7" *ngIf="personaldetail">
      <div class="details">
        <h3>Experience</h3>
        <button class="edit1" (click)="openModal5()">Edit <i class="fa-solid fa-pencil"></i></button>
      </div>
      <div class="row1">
        <div class="column1">
          <span class="orgname">Company/Organisation Name</span>
          <p class="orgname">Infosys</p>
          <span class="location2">Location</span>
          <p class="location2">Pune, India</p>
        </div>
        <div class="column2">
          <span class="duration2">Duration</span>
          <p class="duration2">May 2020 - April 2023</p>
        </div>
        <div class="column3">
          <span class="designation">Designation</span>
          <p class="designation">Lead- Front end developer</p>
        </div>
      </div>
      <hr>
      <div class="row1">
        <div class="column1">
          <span class="orgname">Company/Organisation Name</span>
          <p class="orgname">Accenture</p>
          <span class="location2">Location</span>
          <p class="location2">Pune, India</p>
        </div>
        <div class="column2">
          <span class="duration2">Duration</span>
          <p class="duration2">April 2019 - May 2020</p>
        </div>
        <div class="column3">
          <span class="designation2">Designation</span>
          <p class="designation2">Lead- Front End developer</p>
        </div>
      </div>
    </div>
    <div class="card8" *ngIf="jobdetail">
      <div class="details">
        <h3>Work Details</h3>
        <button class="edit1" (click)="openmodal1(user)">Edit <i class="fa-solid fa-pencil"></i></button>
      </div>
      <div class="row1">
        <div class="column1">
          <span class="designation2">Designation</span>
          <p class="designation2">{{user.designation}}</p>
          <span class="location3">Location</span>
          <p class="location3">Leeds, United Kingdom</p>
        </div>
        <div class="column2">
          <span class="estatus">Employment Status</span>
          <p class="estatus">Full-Time Permanent</p>
          <span class="timings">Timings</span>
          <p class="timings">9:00 am to 5:00 pm</p>
        </div>
        <div class="column3">
          <span class="jdate">Joining Date</span>
          <p class="jdate">1 April 2023</p>
          <span class="ctc">CTC</span>
          <p class="ctc">8 LPA</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" *ngIf="showModal">
    <div class="modal-content" *ngIf="modalContent1">
      <div class="modal-header">
        <h4 class="modal-title">Edit Personal Details</h4>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
      </div>
      <div class="modal-body">
        <form class="form-container" id="form1" [formGroup]="form">
          <div class="form-row">
            <div class="input">
              <label>Name</label>
              <input type="text" placeholder="Ashish" formControlName="name">
            </div>
            <div class="input">
              <label>Employee ID</label>
              <input type="number" placeholder="28563" class="employe-id" formControlName="uid"
                [disabled]="true" readonly>
            </div>
            <div class="input">
              <label>Date of birth</label>
              <input type="date" placeholder="06/04/1997" formControlName="dateOfBirth">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>Father's Name</label>
              <input type="text" placeholder="Rahul Sharma" formControlName="fatherName">
            </div>
            <div class="input">
              <label>Mother's Name</label>
              <input type="text" placeholder="Vinita Sharma" formControlName="motherName">
            </div>
            <div class="input">
              <label>Marital Status</label>
              <div class="dropdown_container">
                <div class="dropdwon_select" (click)="dropdownOpen3()" id="slt2">
                  <p>{{Selectvariable3}}</p>
                  <span><i class="fa-sharp fa-solid fa-caret-down"></i></span>
                </div>
                <div class="select_content1" *ngIf="contentdropdown3">
                  <ul>
                    <li *ngFor="let arr3 of array3; index as i" [class.select_active]="i === colorvariable3"
                      (click)="Changeselect3(arr3)">
                      {{arr3.name}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>Blood Group</label>
              <div class="dropdown_container">
                <div class="dropdwon_select" (click)="dropdownOpen4()" id="slt1">
                  <p>{{Selectvariable4}}</p>
                  <span><i class="fa-sharp fa-solid fa-caret-down"></i></span>
                </div>
                <div class="select_content1" *ngIf="contentdropdown4">
                  <ul>
                    <li *ngFor="let arr4 of array4; index as i" [class.select_active]="i === colorvariable4"
                      (click)="Changeselect4(arr4)">
                      {{arr4.name}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="input">
              <label>Gender</label>
              <div class="dropdown_container">
                <div class="dropdwon_select" (click)="dropdownOpen1()" id="slt1">
                  <p>{{Selectvariable1}}</p>
                  <span><i class="fa-sharp fa-solid fa-caret-down"></i></span>
                </div>
                <div class="select_content1" *ngIf="contentdropdown1">
                  <ul>
                    <li *ngFor="let arr1 of array1; index as i" [class.select_active]="i === colorvariable1"
                      (click)="Changeselect1(arr1)">
                      {{arr1.name}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="input">
              <label>Nationality</label>
              <input type="text" placeholder="Indian" formControlName="nationality">
            </div>
          </div>
          <!-- <div class="modal-footer">
            <button class="save">Update</button>
          </div> -->
        </form>
      </div>
      <div class="modal-footer">
        <button class="save" (click)="basicUpdate(form.value)">Update</button>
      </div>
    </div>
    <div class="modal-content" *ngIf="modalContent4">
      <div class="modal-header">
        <h4 class="modal-title">Edit Contact Details</h4>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
      </div>
      <div class="modal-body">
        <form class="form-container" id="form2" [formGroup]="form">
          <div class="form-row">
            <div class="input">
              <label>Contact No.</label>
              <input type="number" placeholder="9836327872" formControlName="cno">
            </div>
            <div class="input">
              <label>Address</label>
              <input type="text" placeholder="129-B, Model Town" formControlName="address">
            </div>
            <div class="input">
              <label>Email</label>
              <input type="text" placeholder="harshit123@gmail.com" formControlName="email">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>City</label>
              <input type="text" placeholder="Ludhiana" formControlName="city">
            </div>
            <div class="input">
              <label>Postal Code</label>
              <input type="number" placeholder="141002" formControlName="postalCode">
            </div>
            <div class="input">
              <label>State</label>
              <input type="text" placeholder="Punjab" formControlName="state">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="save" (click)="basicUpdate(form.value)">Update</button>
      </div>
    </div>
    <div class="modal-content" *ngIf="modalContent5">
      <div class="modal-header">
        <h4 class="modal-title">Edit Personal Particulars</h4>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
      </div>
      <div class="modal-body">
        <form class="form-container" id="form3" [formGroup]="form">
          <div class="form-row">
            <div class="input">
              <label>Bank Name</label>
              <div class="dropdown_container">
                <div class="dropdwon_select" (click)="dropdownOpen2()" id="slt2">
                  <p>{{Selectvariable2}}</p>
                  <span><i class="fa-sharp fa-solid fa-caret-down"></i></span>
                </div>
                <div class="select_content1" *ngIf="contentdropdown2">
                  <ul>
                    <li *ngFor="let arr2 of array2; index as i" [class.select_active]="i === colorvariable2"
                      (click)="Changeselect2(arr2)">
                      {{arr2.name}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="input">
              <label>Bank Account No.</label>
              <input type="number" placeholder="6412365874125425" formControlName="bno">
            </div>
            <div class="input">
              <label>IFSC Code</label>
              <input type="text" placeholder="PUNB0125412" formControlName="ifsc">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>Adhaar Card Number</label>
              <input type="text" placeholder="4512 3200 7456" formControlName="adhaarno">
            </div>
            <div class="input">
              <label>PAN Number</label>
              <input type="text" placeholder="4512 3200 7456" formControlName="panno">
            </div>
            <div class="input">
              <label>Passport Number</label>
              <input type="text" placeholder="M5425189" formControlName="pno">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="save" (click)="closeModal4()">Update</button>
      </div>
    </div>
    <div class="modal-content" *ngIf="modalContent6">
      <div class="modal-header">
        <h4 class="modal-title">Edit Education Details</h4>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
      </div>
      <div class="modal-body">
        <form class="form-container" id="form4" [formGroup]="form">
          <div class="form-row">
            <div class="input">
              <label>10th Grade Institute</label>
              <input type="text" placeholder="Sacred Heart Senior Secondary School" formControlName="inst1">
            </div>
            <div class="input">
              <label>Matriculation Percentage</label>
              <input type="number" placeholder="88%" formControlName="mper">
            </div>
            <div class="input">
              <label>12th Grade/Diploma Institute</label>
              <input type="text" placeholder="Guru Nanak Public School" formControlName="inst2">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>12th/Diploma Percentage</label>
              <input type="number" placeholder="92%" formControlName="dper">
            </div>
            <div class="input">
              <label>Graduation College/University</label>
              <input type="text" placeholder="Lovely Professional University" formControlName="gcol">
            </div>
            <div class="input">
              <label>Stream</label>
              <input type="text" placeholder="B.Tech CSE" formControlName="stream">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>Graduation SGPA</label>
              <input type="number" placeholder="8.7" formControlName="sgpa">
            </div>
            <div class="input">
              <label>Post Graduation College/University</label>
              <input type="text" placeholder="Lovely Professional University" formControlName="pgcol">
            </div>
            <div class="input">
              <label>Post Graduation Stream</label>
              <input type="text" placeholder="M.Tech CSE" formControlName="pgstream">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>Post Graduation SGPA</label>
              <input type="number" placeholder="8.8" formControlName="pgsgpa">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="save" (click)="closeModal5()">Update</button>
      </div>
    </div>
    <div class="modal-content" *ngIf="modalContent7">
      <div class="modal-header">
        <h4 class="modal-title">Edit Experience Details</h4>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
      </div>
      <div class="modal-body">
        <form class="form-container" id="form5" [formGroup]="form">
          <div class="form-row">
            <div class="input">
              <label>Company/Organisation Name</label>
              <input type="text" placeholder="Infosys" formControlName="orgname">
            </div>
            <div class="input">
              <label>Duration</label>
              <input type="text" placeholder="May 2020 - April 2023" formControlName="duration2">
            </div>
            <div class="input">
              <label>Designation</label>
              <input type="text" placeholder="Lead- front end developer" formControlName="designation">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>Location</label>
              <input type="text" placeholder="Pune, India" formControlName="location2">
            </div>
          </div>
          <hr>
          <div class="form-row">
            <div class="input">
              <label>Company/Organisation Name</label>
              <input type="text" placeholder="Accenture" formControlName="orgname">
            </div>
            <div class="input">
              <label>Duration</label>
              <input type="text" placeholder="April 2019 - May 2020" formControlName="duration2">
            </div>
            <div class="input">
              <label>Designation</label>
              <input type="text" placeholder="Front End developer" formControlName="designation">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>Location</label>
              <input type="text" placeholder="Bangalore, India" formControlName="location2">
            </div>
          </div>
          <button class="btn3"><i class="fa-solid fa-circle-plus"></i>Add Employee</button>
        </form>
      </div>
      <div class="modal-footer">
        <button class="save" (click)="closeModal6()">Update</button>
      </div>
    </div>
    <!-- <div class="modal-footer">
    <button class="save" (click)="closeModal2()" >Save Changes</button>
  </div> -->

    <div class="modal-content2" *ngIf="modalContent2">
      <div class="modal-header">
        <h4 class="modal-title">Edit Job Details</h4>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
      </div>
      <div class="modal-body2">
        <form class="form-container" id="form6" [formGroup]="form">

          <div class="form-row">
            <div class="input">
              <label>Designation</label>
              <div class="dropdown_container">
                <div class="dropdwon_select" (click)="dropdownOpen()">
                  <p>{{Selectvariable}}</p>
                  <i class="fa-sharp fa-solid fa-caret-down"></i>
                </div>
                <div class="select_content" *ngIf="contentdropdown">
                  <ul>
                    <li *ngFor="let arr of array; index as i" [class.select_active]="i === colorvariable"
                      (click)="Changeselect(arr)">
                      {{arr.name}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="input">
              <label>Employment Status</label>
              <input type="text" placeholder="Full- Time Permanent" formControlName="estatus">
            </div>
            <div class="input">
              <label>Joining Date</label>
              <input type="date" placeholder="1 April,2023" formControlName="jdate">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>Location</label>
              <input type="text" placeholder="Pune, India" formControlName="location3">
            </div>
            <div class="input">
              <label>Timings</label>
              <div class="dropdown_container">
                <div class="dropdwon_select" (click)="dropdownOpen5()">
                  <p>{{Selectvariable5}}</p>
                  <i class="fa-sharp fa-solid fa-caret-down"></i>
                </div>
                <div class="select_content" *ngIf="contentdropdown5">
                  <ul>
                    <li *ngFor="let arr5 of array5; index as i" [class.select_active]="i === colorvariable5"
                      (click)="Changeselect5(arr5)">
                      {{arr5.name}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="input">
              <label>CTC</label>
              <input type="text" placeholder="8LPA" formControlName="ctc">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="save" (click)="closeModal2(form.value)">Update</button>
      </div>
    </div>
    <div class="modal-content3" *ngIf="fourthStep">
      <div class="modal-header2">
        <i class="fa-solid fa-circle-check" style="color: #3D9030; font-size: 60px;"></i>
      </div>
      <div class="modal-body3">
        <h3>Successful</h3>
        <p>Employee details updated successfully</p>
        <button class="done-btn2" (click)="closeModal()">Done</button>
      </div>
    </div>
  </div>
</div>
