<app-sidebar></app-sidebar>
<app-header></app-header>
<div class="main" *ngIf="user">
  <div class="card">
    <div class="card1">
      <img src="./assets/images/left_arrow.svg" routerLink="/employee" alt="">
      <h2>Employee Profile</h2>
    </div>

    <div class="card2">
      <span class="profile_pic">
        <!-- <img src="{{user.url}}"> -->
        <!-- <div role="progressbar" aria-valuenow="65" aria-valuemin="0" (change)="onFileSelected($event)" aria-valuemax="100" style="--value:100"></div> -->
        <div class="loader" *ngIf="progress"></div>
        <img *ngIf="!user.url && !upload" src="./assets/images/Ellipse 98.svg">
        <img *ngIf="user.url  && !upload" src="{{user.url}}" alt="">
        <img *ngIf="upload" src="{{imageurl}}" alt="">

        <div class="profile-content" *ngIf="!user.url">
          <input type="file" (change)="onFileSelected($event)" accept="image/*" id="file-input">

          <i class="fa-solid fa-arrow-up"></i>
          <h2>Upload</h2>
        </div>
        <div class="profile-content1" *ngIf="user.url">
          <input type="file" (change)="onFileSelected($event)" accept="image/*" id="file-input">
          <i class="fa-solid fa-camera"></i>

          <h2>Change</h2>
          <p>Profile Picture</p>
        </div>
      </span>
      <div class="content">

        <h3>{{user.name}}</h3>
        <p>{{user.designation}}</p>
        <span><i class="fa-solid fa-location-dot"></i>{{user.location}}</span>
      </div>
    </div>
    <ul class="content1">
      <li [ngClass]="{'active': isPersonalDetailsActive}"><a (click)="personaldetails()">Personal Details</a></li>
      <li id="job" [ngClass]="{'active': isJobDetailsActive}"><a (click)="jobdetails()">Job Details</a></li>
    </ul>

    <!------------------------------------------------- BASIC DETAILS ----------------------------------------------------->

    <div class="card3" *ngIf="personaldetail">
      <div class="details">
        <h3>Basic Details</h3>
        <button class="edit1" (click)="openmodal1(user)"><i class="fa-solid fa-pencil"></i></button>
      </div>
      <div class="row1">
        <div class="column1">
          <span class="name">Name</span>
          <p class="name">{{user.name}}</p>
          <span class="fname">Father's Name</span>
          <p *ngIf="!user.fatherName">----------</p>
          <p class="fname" *ngIf="user.fatherName">{{user.fatherName}}</p>
          <span class="bgroup">Blood Group</span>
          <p *ngIf="!user.bloodGroup">----------</p>
          <p class="bgroup">{{user.bloodGroup}}</p>
        </div>
        <div class="column2">
          <span class="uid">Employee ID</span>
          <p class="uid">{{user.uid}}</p>
          <span class="mname">Mother's Name</span>
          <p *ngIf="!user.motherName">----------</p>
          <p class="mname" *ngIf="user.motherName">{{user.motherName}}</p>
          <span class="gender">Gender</span>
          <p *ngIf="!user.gender">----------</p>
          <p class="gender">{{user.gender}}</p>
        </div>
        <div class="column3">
          <span class="dob">Date of birth</span>
          <p *ngIf="!user.dateOfBirth">----------</p>
          <p class="dob">{{user.dateOfBirth | date:"shortDate"}}</p>
          <span class="marstatus">Marital Status</span>
          <p *ngIf="!user.maritalStatus">----------</p>
          <p class="marstatus" *ngIf="user.maritalStatus">{{user.maritalStatus}}</p>
          <span class="nation">Nationality</span>
          <p *ngIf="!user.nationality">----------</p>
          <p class="nation" *ngIf="user.nationality">{{user.nationality}}</p>
        </div>
      </div>
    </div>
    <!------------------------------------------------- ************** ----------------------------------------------------->

    <!------------------------------------------------- PERSONAL DETAILS ----------------------------------------------------->

    <div class="card4" *ngIf="personaldetail">
      <div class="details">
        <h3>Contact Details</h3>
        <button class="edit1" (click)="openmodal2(user)"><i class="fa-solid fa-pencil"></i></button>
      </div>
      <div class="row1">
        <div class="column1">
          <span class="cno">Contact No.</span>
          <p class="cno">{{user.mobile}}</p>
          <span class="city">City</span>
          <p *ngIf="!user.city">----------</p>
          <p class="city" *ngIf="user.city">{{user.city}}</p>
        </div>
        <div class="column2">
          <span class="address">Address</span>
          <p *ngIf="!user.address">----------</p>
          <p class="address">{{user.address}}</p>
          <span class="pcode">Postal Code</span>
          <p *ngIf="!user.postalCode">----------</p>
          <p class="pcode" *ngIf="user.postalCode">{{user.postalCode}}</p>
        </div>
        <div class="column3">
          <span class="email">Email</span>
          <p class="email">{{user.email}}</p>
          <span class="state">State</span>
          <p *ngIf="!user.state">----------</p>
          <p class="state" *ngIf="user.state">{{user.state}}</p>
        </div>
      </div>
    </div>
    <!------------------------------------------------- ************** ----------------------------------------------------->

    <!------------------------------------------------- PERSONAL DETAILS ----------------------------------------------------->
    <div class="card5" *ngIf="personaldetail">
      <div class="details">
        <h3>Personal Particulars</h3>
        <button class="edit1" (click)="openModal3(user)"><i class="fa-solid fa-pencil"></i></button>
      </div>
      <div class="row1">
        <div class="column1">
          <span class="bname">Bank Name</span>
          <p *ngIf="!user.bankname">----------</p>
          <p *ngIf="user.bankname" class="bname">{{user.bankname}}</p>
          <!-- <span class="bname">Bank Name</span>
          <p *ngIf="!user.bankname && !user.otherbankname">----------</p>
          <p *ngIf="user.bankname" class="bname">{{user.bankname}}</p>
          <p *ngIf="user.otherbankname" class="bname">{{user.otherbankname}}</p> -->
          <span class="adhaarno">Aadhaar Card Number</span>
          <p *ngIf="!user.adhaarno">----------</p>
          <p class="adhaarno">{{user.adhaarno}}</p>
        </div>
        <div class="column2">
          <span class="bno">Bank Account No.</span>
          <p *ngIf="!user.accountno">----------</p>
          <p class="bno">{{user.accountno}}</p>
          <span class="panno">Pan Number</span>
          <p *ngIf="!user.panno">----------</p>
          <p class="panno">{{user.panno}}</p>
        </div>
        <div class="column3">
          <span class="ifsc">IFSC Code</span>
          <p *ngIf="!user.ifsc">----------</p>
          <p class="ifsc">{{user.ifsc}}</p>
          <span class="pno">Passport Number</span>
          <p *ngIf="!user.passport">----------</p>
          <p class="pno" *ngIf="user.passport">{{user.passport}}</p>
        </div>
      </div>
    </div>
    <!------------------------------------------------- ************** ----------------------------------------------------->

    <!------------------------------------------------- EDUCATION FORM ----------------------------------------------------->

    <div class="card6" *ngIf="personaldetail">
      <div class="details">
        <h3>Education</h3>
        <div class="btns">
          <!-- <button class="edit2"><i class="fa-solid fa-circle-plus"></i></button> -->
          <button class="edit1" (click)="openModal4(user)"><i class="fa-solid fa-pencil"></i></button>
        </div>
      </div>
      <div class="row1" *ngIf="!showAllData1">
        <div class="column1">
          <span class="orgname">School/College</span>
          <p class="orgname">{{user.educationItems[0]?.college || '--------'}}</p>
          <span class="designation">Passing Year</span>
          <p class="designation">{{user.educationItems[0]?.passing || '--------'}}</p>
        </div>
        <div class="column2">
          <span class="location2">Percentage/Cgpa</span>
          <p class="location2">{{user.educationItems[0]?.cgpa || '--------'}}</p>
        </div>
        <div class="column3">
          <span class="duration2">Stream</span>
          <p class="duration2">{{user.educationItems[0]?.stream || '--------'}}</p>
        </div>
      </div>
      <div *ngFor="let item of user.educationItems; let i=index">
        <div class="row1" *ngIf="showAllData1">
          <div class="column1">
            <span class="orgname">School/College</span>
            <p class="orgname">{{item.college || '--------'}}</p>
            <span class="designation">Passing Year</span>
            <p class="designation">{{item.passing || '--------'}}</p>
          </div>
          <div class="column2">
            <span class="location2">Percentage/Cgpa</span>
            <p class="location2">{{item.cgpa || '--------'}}</p>
          </div>
          <div class="column3">
            <span class="duration2">Stream</span>
            <p class="duration2">{{item.stream || '--------'}}</p>
          </div>
        </div>
      </div>
      <div class="cnt-btn">
        <button class="view" (click)="showMoredata1()" *ngIf="showbutton1">View More<i
            class="fa-solid fa-angle-down"></i></button>
        <button class="hide" (click)="hidedata1()" *ngIf="!showbutton1 && showAllData1">View less<i
            class="fa-solid fa-angle-up"></i></button>
      </div>
    </div>
    <!------------------------------------------------- ************* ----------------------------------------------------->


    <!------------------------------------------------- EXPERIENCE FORM ----------------------------------------------------->

    <div class="card7" *ngIf="personaldetail">
      <div class="details">
        <h3>Experience</h3>
        <!-- <button class="edit2"><i class="fa-solid fa-circle-plus"></i></button> -->
        <button class="edit1" (click)="openModal5(user)"><i class="fa-solid fa-pencil"></i></button>
      </div>
      <div>
        <div class="row1" *ngIf="!showAllData">
          <div class="column1">
            <span class="orgname">Company/Organisation Name</span>
            <p class="orgname">{{user.experienceItems[0]?.expcompany || '--------'}}</p>
            <span class="location2">Location</span>
            <p class="location2">{{user.experienceItems[0]?.explocation || '--------'}}</p>
          </div>
          <div class="column2">
            <span class="duration2">Duration</span>
            <p class="duration2">{{user.experienceItems[0]?.expduration || '--------'}}</p>
          </div>
          <div class="column3">
            <span class="designation">Designation</span>
            <p class="designation">{{user.experienceItems[0]?.expdesignation || '--------'}}</p>
          </div>
        </div>
        <div *ngFor="let item of user.experienceItems; let i=index">
          <div class="row1" *ngIf="showAllData">
            <div class="column1">
              <span class="orgname">Company/Organisation Name</span>
              <p class="orgname">{{item.expcompany || '--------'}}</p>
              <span class="location2">Location</span>
              <p class="location2">{{item.explocation || '--------'}}</p>
            </div>
            <div class="column2">
              <span class="duration2">Duration</span>
              <p class="duration2">{{item.expduration || '--------'}}</p>
            </div>
            <div class="column3">
              <span class="designation">Designation</span>
              <p class="designation">{{item.expdesignation || '--------'}}</p>
            </div>
          </div>
        </div>
        <div class="cnt-btn">
          <button class="view" (click)="showMoredata()" *ngIf="showbutton">View More<i
              class="fa-solid fa-angle-down"></i></button>
          <button class="hide" (click)="hidedata()" *ngIf="!showbutton && showAllData">View less<i
              class="fa-solid fa-angle-up"></i></button>
        </div>
      </div>
    </div>
    <!------------------------------------------------- ************** ----------------------------------------------------->

    <!------------------------------------------------- JOB DETAILS ----------------------------------------------------->

    <div class="card8" *ngIf="jobdetail">
      <div class="details">
        <h3>Work Details</h3>
        <button class="edit1" (click)="openmodal1(user)"><i class="fa-solid fa-pencil"></i></button>
      </div>
      <div class="row1">
        <div class="column1">
          <span class="designation2">Designation</span>
          <p *ngIf="!user.designation">----------</p>
          <p class="designation2" *ngIf="user.designation">{{user.designation}}</p>
          <span class="location3">Location</span>
          <p *ngIf="!user.location">----------</p>
          <p class="location3" *ngIf="user.location">{{user.location}}</p>
          <span class="pemail">Professional Email</span>
          <p *ngIf="!user.professionalemail">----------</p>
          <p class="pemail" *ngIf="user.professionalemail">{{user.professionalemail}}</p>
        </div>
        <div class="column2">
          <span class="estatus">Job Type</span>
          <p *ngIf="!user.job_type">----------</p>
          <p class="estatus" *ngIf="user.job_type">{{user.job_type}}</p>
          <span class="timings">Timings</span>
          <p *ngIf="!user.timing">----------</p>
          <p class="timings" *ngIf="user.timing">{{user.timing}}</p>
        </div>
        <div class="column3">
          <span class="jdate">Joining Date</span>
          <p *ngIf="!user.dateOfJoining">----------</p>
          <p class="jdate" *ngIf="user.dateOfJoining">{{user.dateOfJoining | date:"shortDate"}}</p>
          <span class="ctc">CTC</span>
          <p *ngIf="!user.ctc">----------</p>
          <p class="ctc" *ngIf="user.ctc">{{user.ctc}}</p>
        </div>
      </div>
    </div>
  </div>

  <!------------------------------------------------- ************** ----------------------------------------------------->

  <!------------------------------------------------- BASIC DETAILS ----------------------------------------------------->

  <div class="modal" *ngIf="showModal">
    <div class="modal-content" *ngIf="modalContent1">
      <div class="modal-header">
        <h4 class="modal-title">Edit Personal Details</h4>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
      </div>
      <div class="modal-body">
        <form class="form-container" id="form1" [formGroup]="form">
          <div class="form-row">
            <div class="input">
              <label>Name</label>
              <input type="text" placeholder="Ashish" formControlName="name" class="text"
                [ngClass]="{'ng_invalid': registrationFormControl.name.invalid && registrationFormControl.name.dirty,'ng_valid': registrationFormControl.name.valid}">
            </div>
            <div class="input">
              <label>Employee ID</label>
              <input type="number" placeholder="28563" class="employe-id no-spin" formControlName="uid"
                [disabled]="true" readonly>
            </div>
            <div class="input">
              <label>Date of birth</label>
              <input type="date" placeholder="06/04/1997" formControlName="dateOfBirth">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>Father's Name</label>
              <input type="text" placeholder="Rahul Sharma" formControlName="fatherName" class="text"
                [ngClass]="{'ng_invalid': registrationFormControl.fatherName.invalid && registrationFormControl.fatherName.dirty,'ng_valid': registrationFormControl.fatherName.valid}">
            </div>
            <div class="input">
              <label>Mother's Name</label>
              <input type="text" placeholder="Vinita Sharma" formControlName="motherName" class="text"
                [ngClass]="{'ng_invalid': registrationFormControl.motherName.invalid && registrationFormControl.motherName.dirty,'ng_valid': registrationFormControl.motherName.valid}">
            </div>
            <div class="input">
              <label>Marital Status</label>
              <div class="dropdown_container" (mouseleave)="contentdropdown3 = false">
                <div class="dropdwon_select" (click)="dropdownOpen3()" id="slt2">
                  <!-- <p>{{Selectvariable3}}</p> -->
                  <input type="text" [(ngModel)]="Selectvariable3" formControlName="maritalStatus" id="text11"
                    placeholder="Select" readonly>
                  <span><i class="fa-sharp fa-solid fa-caret-down"></i></span>
                </div>
                <div class="select_content1 marriage" *ngIf="contentdropdown3" (mouseleave)="dropdownClose3()">
                  <ul>
                    <li *ngFor="let arr3 of array3; index as i" [class.select_active]="i === colorvariable3"
                      (click)="Changeselect3(arr3)">
                      {{arr3.name}}</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
          <div class="form-row">
            <div class="input">
              <label>Blood Group</label>
              <div class="dropdown_container">
                <div class="dropdwon_select" (click)="dropdownOpen4()" id="slt1">
                  <!-- <p>{{Selectvariable4}}</p> -->
                  <input type="text" [(ngModel)]="Selectvariable4" formControlName="bloodGroup" id="text9"
                    placeholder="Select" readonly>
                  <!-- <input type="text"  formControlName="designation" id="text9" readonly> -->
                  <span><i class="fa-sharp fa-solid fa-caret-down"></i></span>
                </div>
                <div class="select_content1" *ngIf="contentdropdown4" (mouseleave)="dropdownClose4()">
                  <ul>
                    <li *ngFor="let arr4 of array4; index as i" [class.select_active]="i === colorvariable4"
                      (click)="Changeselect4(arr4)">
                      {{arr4.name}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="input">
              <label>Gender</label>
              <div class="dropdown_container" (mouseleave)="contentdropdown1 = false">
                <div class="dropdwon_select" (click)="dropdownOpen1()" id="slt1">
                  <!-- <p>{{Selectvariable1}}</p> -->
                  <!-- <input type="text"  formControlName="gender" id="text10" readonly> -->
                  <input type="text" [(ngModel)]="Selectvariable1" formControlName="gender" id="text10"
                    placeholder="Select" readonly>
                  <span><i class="fa-sharp fa-solid fa-caret-down"></i></span>
                </div>
                <div class="select_content1" *ngIf="contentdropdown1" (mouseleave)="dropdownClose1()">
                  <ul>
                    <li *ngFor="let arr1 of array1; index as i" [class.select_active]="i === colorvariable1"
                      (click)="Changeselect1(arr1)">
                      {{arr1.name}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="input">
              <label>Nationality</label>
              <input type="text" placeholder="Indian" formControlName="nationality"
              class="text"
                [ngClass]="{'ng_invalid': registrationFormControl.nationality.invalid && registrationFormControl.nationality.dirty,'ng_valid': registrationFormControl.nationality.valid}">
            </div>
          </div>
          <!-- <div class="modal-footer">
            <button class="save">Update</button>
          </div> -->
        </form>
      </div>
      <div class="modal-footer">
        <button class="save" (click)="basicUpdate(form.value)"
          [disabled]="registrationFormControl.fatherName.invalid || registrationFormControl.motherName.invalid || registrationFormControl.nationality.invalid || registrationFormControl.name.invalid">{{loader?'Updating...':'Update'}}</button>
      </div>
    </div>

    <!------------------------------------------------- ************** ----------------------------------------------------->

    <!------------------------------------------------- CONTACT DETAILS ----------------------------------------------------->

    <div class="modal-content" *ngIf="modalContent4">
      <div class="modal-header">
        <h4 class="modal-title">Edit Contact Details</h4>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
      </div>
      <div class="modal-body">
        <form class="form-container" id="form2" [formGroup]="form">
          <div class="form-row">
            <div class="input">
              <label>Contact No.</label>
              <input type="number" placeholder="9836327872" formControlName="mobile" class="text no-spin"
                [ngClass]="{'ng_invalid': registrationFormControl.mobile.invalid && registrationFormControl.mobile.dirty,'ng_valid': registrationFormControl.mobile.valid}">
            </div>
            <div class="input">
              <label>Address</label>
              <input type="text" placeholder="129-B, Model Town" formControlName="address">
            </div>
            <div class="input">
              <label>Email</label>
              <input type="text" placeholder="harshit123@gmail.com" formControlName="email" class="text"
                [ngClass]="{'ng_invalid': registrationFormControl.email.invalid && registrationFormControl.email.dirty,'ng_valid': registrationFormControl.email.valid}">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>City</label>
              <input type="text" placeholder="Ludhiana" formControlName="city" class="text"
                [ngClass]="{'ng_invalid': registrationFormControl.city.invalid && registrationFormControl.city.dirty,'ng_valid': registrationFormControl.city.valid}">
            </div>
            <div class="input">
              <label>Postal Code</label>
              <input type="number" placeholder="141002" formControlName="postalCode" class="text"
                (keydown)="validatePincode($event)" class="text no-spin"
                [ngClass]="{'ng_invalid': registrationFormControl.postalCode.invalid && registrationFormControl.postalCode.dirty,'ng_valid': registrationFormControl.postalCode.valid}">
            </div>
            <div class="input">
              <label>State</label>
              <input type="text" placeholder="Punjab" formControlName="state" class="text"
                [ngClass]="{'ng_invalid': registrationFormControl.state.invalid && registrationFormControl.state.dirty,'ng_valid': registrationFormControl.state.valid}">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="save" (click)="closeModal3(form.value)"
          [disabled]="registrationFormControl.email.invalid || registrationFormControl.mobile.invalid || registrationFormControl.state.invalid || registrationFormControl.postalCode.invalid || registrationFormControl.city.invalid">{{loader?'Updating...':'Update'}}</button>
      </div>
    </div>

    <!------------------------------------------------- ************** ----------------------------------------------------->

    <!------------------------------------------------- PERSONAL PARTICULAR ----------------------------------------------------->

    <div class="modal-content" *ngIf="modalContent5">
      <div class="modal-header">
        <h4 class="modal-title">Edit Personal Particulars</h4>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
      </div>
      <div class="modal-body">
        <form class="form-container" id="form3" [formGroup]="form">
          <div class="form-row">
            <div class="input">
              <label>Bank Name</label>
              <div class="dropdown_container" (mouseleave)="contentdropdown2 = false">
                <div class="dropdwon_select" (click)="dropdownOpen2()" id="slt2">
                  <!-- <p>{{Selectvariable2}}</p> -->
                  <input type="text" [(ngModel)]="Selectvariable2" formControlName="bankname" id="text8"
                    placeholder="Select" readonly>
                  <span><i class="fa-sharp fa-solid fa-caret-down"></i></span>
                </div>
                <div class="select_content1 bank" *ngIf="contentdropdown2" (mouseleave)="dropdownClose2()">
                  <ul>
                    <li *ngFor="let arr2 of array2; index as i" [class.select_active]="i === colorvariable2"
                      (click)="Changeselect2(arr2)">
                      {{arr2.name}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="input" *ngIf="Selectvariable2=== 'Others'">
              <label>Other Bank Name</label>
              <input type="text" placeholder="Specify Bank Name" formControlName="otherbankname">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>Bank Account No.</label>
              <input type="number" placeholder="6412365874125425" class="no-spin" formControlName="accountno">
            </div>
            <div class="input">
              <label>IFSC Code</label>
              <input type="text" placeholder="PUNB0125412" formControlName="ifsc" class="text"
                [ngClass]="{'ng_invalid': registrationFormControl.ifsc.invalid && registrationFormControl.ifsc.dirty,'ng_valid': registrationFormControl.ifsc.valid}">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>Adhaar Card Number</label>
              <input type="text" placeholder="4512 3200 7456" formControlName="adhaarno"
                (keydown)="validateAddhar($event)" class="text"
                [ngClass]="{'ng_invalid': registrationFormControl.adhaarno.invalid && registrationFormControl.adhaarno.dirty,'ng_valid': registrationFormControl.adhaarno.valid}">
            </div>
            <div class="input">
              <label>PAN Number</label>
              <input type="text" placeholder="ABCTY1234D" formControlName="panno" class="text"
                [ngClass]="{'ng_invalid': registrationFormControl.panno.invalid && registrationFormControl.panno.dirty,'ng_valid': registrationFormControl.panno.valid}">
            </div>
            <div class="input">
              <label>Passport Number</label>
              <input type="text" placeholder="M5425189" formControlName="passport" class="text"
                [ngClass]="{'ng_invalid': registrationFormControl.passport.invalid && registrationFormControl.passport.dirty,'ng_valid': registrationFormControl.passport.valid}">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="save" (click)="closeModal4(form.value)"
          [disabled]="registrationFormControl.panno.invalid || registrationFormControl.ifsc.invalid || registrationFormControl.adhaarno.invalid || registrationFormControl.passport.invalid ">{{loader?'Updating...':'Update'}}</button>
      </div>
    </div>
    <!------------------------------------------------- ************** ----------------------------------------------------->


    <!------------------------------------------------- EDUCATION FORM ----------------------------------------------------->

    <div class="modal-content4" *ngIf="modalContent6">
      <div class="modal-header4">
        <h4 class="modal-title">Edit Education Details</h4>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
      </div>
      <div class="modal-body4">
        <form [formGroup]="educationForm" id="form5" (ngSubmit)="onSubmit()">
          <div formArrayName="educationItems">
            <div *ngFor="let item of educationItems.controls; let i = index;" [formGroupName]="i">
              <div class="form-row">
                <div class="input">
                  <label>School/College</label>
                  <input type="text" formControlName="college" placeholder="Guru Nanak Public School">
                </div>
                <div class="input">
                  <label>Cgpa/Percentage</label>
                  <input type="number" formControlName="cgpa" placeholder="9.0" class="text no-spin">
                </div>
                <div class="input">
                  <label>Stream</label>
                  <input type="text" formControlName="stream" placeholder="General">
                </div>
              </div>
              <div class="form-row">
                <div class="input">
                  <label>Year of Passing</label>
                  <input type="number" formControlName="passing" placeholder="2016" class="text no-spin">
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="add-more" (click)="addeducation()"><i class="fa-solid fa-circle-plus"></i>Add
            More</button>
        </form>
      </div>
      <div class="modal-footer4">
        <button class="save" (click)="closeModal5(educationForm.value)">{{loader?'Updating...':'Update'}}</button>
      </div>
    </div>

    <!------------------------------------------------- EXPERIENCE FORM ----------------------------------------------------->


    <div class="modal-content4" *ngIf="modalContent7">
      <div class="modal-header4">
        <h4 class="modal-title">Edit Experience Details</h4>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
      </div>
      <div class="modal-body4">
        <form [formGroup]="experienceForm" id="form5" (ngSubmit)="onSubmit()">
          <div formArrayName="experienceItems">
            <div *ngFor="let item of experienceItems.controls; let i = index;" [formGroupName]="i">
              <div class="form-row">
                <div class="input">
                  <label>Company/Organisation Name</label>
                  <input type="text" formControlName="expcompany" placeholder="Company Name">
                </div>
                <div class="input">
                  <label>Duration</label>
                  <input type="text" formControlName="expduration" placeholder="Duration">
                </div>
                <div class="input">
                  <label>Designation</label>
                  <input type="text" formControlName="expdesignation" placeholder="Designation">
                </div>
              </div>
              <div class="form-row">
                <div class="input">
                  <label>Location</label>
                  <input type="text" formControlName="explocation" placeholder="Location">
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="add-more" (click)="addItem()"><i class="fa-solid fa-circle-plus"></i>Add
            More</button>
        </form>
      </div>
      <div class="modal-footer4">
        <button class="save" (click)="closeModal6(experienceForm.value)">{{loader?'Updating...':'Update'}}</button>
      </div>
    </div>
    <!-- <div class="modal-footer">
    <button class="save" (click)="closeModal2()" >Save Changes</button>
  </div> -->
    <!------------------------------------------------- ************** ----------------------------------------------------->

    <!------------------------------------------------- JOB DETAILS----------------------------------------------------->
    <div class="modal-content2" *ngIf="modalContent2">
      <div class="modal-header">
        <h4 class="modal-title">Edit Job Details</h4>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
      </div>
      <div class="modal-body2">
        <form class="form-container" id="form6" [formGroup]="form">

          <div class="form-row">
            <div class="input">
              <label>Designation</label>
              <div class="dropdown_container" (mouseleave)="contentdropdown = false">
                <div class="dropdwon_select" (click)="dropdownOpen()">
                  <!-- <p>{{Selectvariable}}</p> -->
                  <input type="text" [(ngModel)]="Selectvariable" formControlName="designation" id="text7"
                    placeholder="Select" readonly>
                  <i class="fa-sharp fa-solid fa-caret-down"></i>
                </div>
                <div class="select_content" *ngIf="contentdropdown" (mouseleave)="dropdownClose()">
                  <ul>
                    <li *ngFor="let arr of array; index as i" [class.select_active]="i === colorvariable"
                      (click)="Changeselect(arr)">
                      {{arr.name}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="input">
              <label>Job Type</label>
              <!-- <input type="text" placeholder="Full- Time Permanent" formControlName="jobempstatus"> -->
              <!-- <input type="text" placeholder="Full- Time Permanent" formControlName="estatus"> -->
              <div class="dropdown_container" (mouseleave)="contentdropdown8 = false">
                <div class="dropdwon_select" (click)="dropdownOpen8()">
                  <!-- <p>{{Selectvariable8}}</p> -->
                  <input type="text" [(ngModel)]="Selectvariable8" formControlName="job_type" id="text6"
                    placeholder="Select" readonly>
                  <i class="fa-sharp fa-solid fa-caret-down"></i>
                </div>
                <div class="select_content" *ngIf="contentdropdown8" (mouseleave)="dropdownClose8()">
                  <ul>
                    <li *ngFor="let arr8 of array8; index as i" [class.select_active]="i === colorvariable8"
                      (click)="Changeselect8(arr8)">
                      {{arr8.name}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="input">
              <label>Joining Date</label>
              <input type="date" placeholder="1 April,2023" formControlName="dateOfJoining">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>Location</label>
              <!-- <input type="text" placeholder="Pune, India" formControlName="location"> -->
              <div class="dropdown_container" (mouseleave)="contentdropdown2 = false">
                <div class="dropdwon_select" (click)="dropdownOpen2()" id="slt1">

                  <input type="text" [(ngModel)]="Selectvariable10" formControlName="location" id="text14" placeholder="Select" readonly>
                  <span><i class="fa-sharp fa-solid fa-caret-down"></i></span>
                </div>
                <div class="select_content1" *ngIf="contentdropdown2" (mouseleave)="dropdownClose2()">
                  <ul>
                    <li *ngFor="let arr10 of array10; index as i" [class.select_active]="i === colorvariable10"
                      (click)="Changeselect10(arr10)">
                      {{arr10.name}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="input">
              <label>Timings</label>
              <div class="dropdown_container" (mouseleave)="contentdropdown5 = false">
                <div class="dropdwon_select" (click)="dropdownOpen5()">
                  <!-- <p>{{Selectvariable5}}</p> -->
                  <input type="text" [(ngModel)]="Selectvariable5" formControlName="timing" id="text5"
                    placeholder="Select" readonly>
                  <i class="fa-sharp fa-solid fa-caret-down"></i>
                </div>
                <div class="select_content" *ngIf="contentdropdown5" (mouseleave)="dropdownClose5()">
                  <ul>
                    <li *ngFor="let arr5 of array5; index as i" [class.select_active]="i === colorvariable5"
                      (click)="Changeselect5(arr5)">
                      {{arr5.name}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="input">
              <label>CTC</label>
              <input type="text" placeholder="8LPA" formControlName="ctc">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>Professional Email</label>
              <input type="email" placeholder="zonah123@gmail.com" formControlName="professionalemail" class="profemail"
                readonly>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="save" (click)="closeModal2(form.value)">{{loader?'Updating...':'Update'}}</button>
      </div>
    </div>
    <div class="modal-content3" *ngIf="fourthStep">
      <div class="modal-header2">
        <i class="fa-solid fa-circle-check" style="color: #3D9030; font-size: 60px;"></i>
      </div>
      <div class="modal-body3">
        <h3>Successful</h3>
        <p>Employee details updated successfully</p>
        <button class="done-btn2" (click)="closeModal()">Done</button>
      </div>
    </div>
  </div>
</div>
