<app-header></app-header>
<app-sidebar></app-sidebar>
<!-- <div *ngIf="isFromSignupPage" style="margin-left: 50%;margin-top: 50%;">
    This div will only be shown if the user is coming from the signup page.
  </div> -->

<div class="main">
    <div class="row">
        <div class="col-3">
            <div class="iconCenter file">
                <i class="fa-sharp fa-solid fa-file-pen"></i>
            </div>
            <div class="text-image">
                <p>Total Applications</p>
                <h1>00</h1>
            </div>
        </div>
        <div class="col-3">
            <div class="iconCenter list">
                <i class="fa-solid fa-rectangle-list"></i>
            </div>
            <div class="text-image">
                <p>Shortlisted Candidates</p>
                <h1>00</h1>
            </div>
        </div>
        <div class="col-3">
            <div class="iconCenter reject">
                <i class="fa-solid fa-user-xmark"></i>
            </div>
            <div class="text-image">
                <p>Rejected Candidates</p>
                <h1>00</h1>
            </div>
        </div>
        <div class="col-3">
            <div class="iconCenter clock">
                <i class="fa-sharp fa-regular fa-clock"></i>
            </div>
            <div class="text-image">
                <p>Hired Candidates</p>
                <h1>00</h1>
            </div>
        </div>
    </div>
    <!--Section Bar Graph-->
    <div class="row">
        <div class="col-8">
            <div class="attendance-area">
                <div class="attendence-content">
                    <div class="attendance">
                        <h2>Attendance</h2>
                    </div>
                </div>
                <div class="loader" *ngIf="!loader"></div>
                <div class="bar-chart">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="meeting-area" >
                <div class="meeting-text">
                    <h2>Meetings</h2>
                    <p (click)="openModal10()"><i class="fa-solid fa-circle-plus" (click)="openModal10()"></i> Create
                        new</p>
                </div>
                <div class="meeting-scrollbar">
                    <div class="all-meetings" *ngFor="let option of options let index = index" >
                        <div class="interview-area">
                            <div class="date">
                                <p>{{option.day}}</p>
                                <h5>{{option.Date}}</h5>
                            </div>
                            <div class="interview-timings" >
                                <div class="interview-dots" (click)="openModal11()">
                                    <h3>{{option.head}}</h3>
                                    <p>{{option.time}}</p>
                                </div>
                                <div class="dots">
                                    <i class="fa-solid fa-ellipsis-vertical" (click)="ToggleMenu(index)">
                                        <ul id={{index}} class="close">
                                            <button value={{index}} (click)="Edit(index)" class="edit-btn">Edit</button>
                                            <button value="Delete">Delete</button>
                                        </ul>
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="interview-modal-content" *ngIf="showModalContent" >
                        <div class="tag-date-notes">
                            <div class="tag-interview-cross">
                                <div class="tag-interview">
                                    <div class="tag">
                                        <img src="assets/images/tag.svg" alt="">
                                    </div>
                                    <h4>Inteview</h4>
                                </div>
                                <i class="fa-solid fa-xmark interview-cross" (click)="closeModal11()"></i>
                            </div>
                            <div class="calender-date-time">
                                <div class="calender">
                                    <img src="assets/images/calender-date.png" alt="">
                                </div>
                                <div class="date-time">
                                    <h4>22nd January 2023</h4>
                                    <p>9:00 am - 11:00 am</p>
                                </div>

                            </div>
                            <div class="notes-text">
                                <div class="notes">
                                    <img src="assets/images/Group 214.svg" alt="">
                                </div>
                                <div class="notes-para">
                                    <h4>Latest notes</h4>
                                    <p>posted on 9 january, 2023</p>
                                    <div class="notes-para-text">
                                        <p>Meeting with the manager through google meet. Regarding upcoming projects and ongoing
                                            projects </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="join-meeting-button">
                            <button class="join" (click)="closeModal11()">Join meeting</button>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <!--Leave Request Section-->
    <div class="row">
        <div class="col-8">
            <div class="leave-request-area">
                <div class="leave-request-heading">
                    <h2> Pending Leave request</h2>
                    <p><a routerLink="/leaves"> View All </a></p>
                </div>

                <div class="table_data">
                    <table class="table_text">
                        <thead>
                            <tr class="table_heading">
                                <th>Employee id</th>
                                <th>Employee name</th>
                                <th>Applied on </th>
                                <th>From</th>
                                <th>To</th>
                                <th>Duration</th>
                                <th>Category</th>
                                <th>Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let leave of leaves" routerLink="/leaves" >
                                <td>{{leave.uid}}</td>
                                <td>{{leave.name}}</td>
                                <td>{{leave.appliedOn | date:'shortDate'}}</td>
                                <td>{{leave.from | date:'shortDate'}}</td>
                                <td>{{leave.to | date:'shortDate'}}</td>
                                <td>{{leave.duration}}</td>
                                <td>{{leave.category}}</td>
                                <td>{{leave.reason}}</td>


                                <!-- <td>
                                    <div class="action_button">
                                        <div class="action_btn">
                                            <input type="radio" [checked]="leave.status=='accept'"
                                                [disabled]="leave.status=='accept' || leave.status=='reject'"
                                                (change)="updateLeaveStatus(leave._id, 'accept')" id="outline1"
                                                class="custom-radio">
                                            <label for="outline1" class="outline1">Accept</label>
                                        </div>
                                        <div class="action_btn">
                                            <input type="radio" [checked]="leave.status=='reject'"
                                                [disabled]="leave.status=='accept' || leave.status=='reject'"
                                                (change)="updateLeaveStatus(leave._id, 'reject')" id="outline"
                                                class="custom-radio">
                                            <label for="outline" class="outline">Reject</label>
                                        </div>
                                    </div>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- table end -->
            </div>
        </div>

        <!--End of Leave Request Section-->

        <!--Activity feeds Section-->
        <div class="col-4">
            <div class="activity-area">

                <div class="activity-feed-text">
                    <h2>Activity Feeds</h2>
                    <p>View All</p>
                </div>
                <div class="scrollbar-start">
                    <div class="image-text">
                        <div class="john-image">
                            <div class="john-shaw-background">
                                <img src="assets/images/Ellipse 47.png" alt="" />
                            </div>
                            <div class="john-text">
                                <p><span>John Shaw</span> applied for the job of Product manager</p>
                                <p class="min">9 min ago</p>
                            </div>
                        </div>

                        <div class="john-image">
                            <div class="john-shaw-background">
                                <img src="assets/images/Ellipse 47.png" alt="" />
                            </div>
                            <div class="john-text">
                                <p><span>John Shaw</span> applied for the job of Product manager</p>
                                <p class="min">9 min ago</p>
                            </div>
                        </div>
                        <div class="john-image">
                            <div class="john-shaw-background">
                                <img src="assets/images/Ellipse 47.png" alt="" />
                            </div>
                            <div class="john-text">
                                <p><span>John Shaw</span> applied for the job of Product manager</p>
                                <p class="min">9 min ago</p>
                            </div>
                        </div>
                        <div class="john-image">
                            <div class="john-shaw-background">
                                <img src="assets/images/Ellipse 47.png" alt="" />
                            </div>
                            <div class="john-text">
                                <p><span>John Shaw</span> applied for the job of Product manager</p>
                                <p class="min">9 min ago</p>
                            </div>
                        </div>
                        <div class="john-image">
                            <div class="john-shaw-background">
                                <img src="assets/images/Ellipse 47.png" alt="" />
                            </div>
                            <div class="john-text">
                                <p><span>John Shaw</span> applied for the job of Product manager</p>
                                <p class="min">9 min ago</p>
                            </div>
                        </div>

                        <div class="john-image">
                            <div class="john-shaw-background">
                                <img src="assets/images/Ellipse 47.png" alt="" />
                            </div>
                            <div class="john-text">
                                <p><span>John Shaw</span> applied for the job of Product manager</p>
                                <p class="min">9 min ago</p>
                            </div>
                        </div>

                        <div class="john-image">
                            <div class="john-shaw-background">
                                <img src="assets/images/Ellipse 47.png" alt="" />
                            </div>
                            <div class="john-text">
                                <p><span>John Shaw</span> applied for the job of Product manager</p>
                                <p class="min">9 min ago</p>
                            </div>
                        </div>

                        <div class="john-image">
                            <div class="john-shaw-background">
                                <img src="assets/images/Ellipse 47.png" alt="" />
                            </div>
                            <div class="john-text">
                                <p><span>John Shaw</span> applied for the job of Product manager</p>
                                <p class="min">9 min ago</p>
                            </div>
                        </div>

                        <div class="john-image">
                            <div class="john-shaw-background">
                                <img src="assets/images/Ellipse 47.png" alt="" />
                            </div>
                            <div class="john-text">
                                <p><span>John Shaw</span> applied for the job of Product manager</p>
                                <p class="min">9 min ago</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!---------------------------dashboard Modal------------------------------>

    <!-- <div *ngIf="isFromSignupPage"> -->
    <!-- <div *ngIf="!formSubmitted"  > -->
      <!-- <div *ngIf="!formSubmitted" [ngStyle]="{'opacity': (formSubmitted ? '0.0' : '1.0')}" > -->
        <!-- <div *ngIf="!formSubmitted && showForm"  [ngStyle]="{'opacity': opacityValue}" > -->

        <!-- <div *ngIf="!formSubmitted && showForm"  [ngStyle]="{'opacity': opacityValue}" > -->
     <!-- <div *ngIf="showForm" [ngStyle]="{ opacity: opacityValue }"> -->
        <!-- <div [ngClass]="{ 'hidden': !showForm, 'visible': showForm }" [style.opacity]="opacityValue"> -->
            <div [hidden]="!showForm" [style.opacity]="opacityValue">
          <div >
                <div class="Modal_form" >

                    <div class="Modal_modal"  >

                        <div class="edit-profile-heading">
                            <h3>Required Details </h3>
                        </div>

                        <form class="form" [formGroup]="personaldataForm"
                            (ngSubmit)="submitPersonalData(personaldataForm.value)">
                            <div class="name-email">
                                <div class="form__group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form_input" placeholder='Eg. Abhishek Sharma' id="name"
                                        formControlName="name" required

                                        [ngClass]="{'ng_invalid':personaldataForm.controls.name.invalid && personaldataForm.controls.name.dirty,'ng_valid':personaldataForm.controls.name.valid}"/>
                                </div>
                                <div class="form__group">
                                    <label for="noOfEmployee">Domain</label>
                                    <input type="text" class="form_input" placeholder='Specify your domain' formControlName="domain"
                                        id="name0" required
                                        [ngClass]="{'ng_invalid':personaldataForm.controls.domain.invalid && personaldataForm.controls.domain.dirty,'ng_valid':personaldataForm.controls.domain.valid}"/>

                                </div>
                            </div>
                            <div class="email-phone">
                                <div class="form__group">
                                    <label for="name">Phone no.</label>
                                    <input type="number" class="form_input" placeholder='+91 4512639870' formControlName="phone"
                                        id="name1" required [ngClass]="{'ng_invalid':personaldataForm.controls.phone.invalid && personaldataForm.controls.phone.dirty,'ng_valid':personaldataForm.controls.phone.valid}"/>
                                </div>
                                <div class="form__group">
                                    <label for="email">Head Office</label>
                                    <input type="text" class="form_input" placeholder='Eg. Leeds, America'
                                        formControlName="headOffice" id="office" required
                                        [ngClass]="{'ng_invalid':personaldataForm.controls.headOffice && personaldataForm.controls.headOffice.dirty,'ng_valid':personaldataForm.controls.headOffice.valid}"/>
                                </div>
                            </div>
                            <div class="edit-profile-footer">
                                <button class="done-btn" type="submit" [disabled]="personaldataForm.controls['headOffice'||'phone'||'domain'||'name'].invalid " (click)="submitPersonalData(personaldataForm.value)">Done</button>
                                <!-- <button type="submit" [disabled]="form01.controls['email' || 'DoB' || 'gender'].invalid" (click)="functionForm01()">Click</button> -->
                            </div>
                        </form>


                    </div>
                </div>
            </div>
    </div>


    <!-------------------------Meetings On click Modal--------------->


    <div class="modal" *ngIf="showModal10" >
        <div class="modal-content" *ngIf="showModalContent">
            <i class="fa-solid fa-xmark" (click)="closeModal10()"></i>
            <div class="modal-heading">
                <h5>Add an event or meetings</h5>
            </div>
            <form class="create-new-form" [formGroup]="meetingForm" (ngSubmit)="meetingdetail()">
                <div class="meeting-mode">
                    <div class="form-group">
                        <label>Meeting title</label> <br>
                        <input type="text" placeholder="UI/UX designer" class="meeting-input" formControlName="meetingtitle">
                    </div>
                    <div class="form-group">
                        <label>Mode</label><br>
                        <div class="dropdown_container" (mouseleave)="contentdropdown1 = false">
                            <div class="dropdwon_select" (click)="dropdownOpen1()">
                                <p>{{Selectvariable1}}</p>
                                <i class="fa-sharp fa-solid fa-caret-down"></i>
                            </div>
                            <div class="select_content" *ngIf="contentdropdown1">
                                <ul>
                                    <li *ngFor="let arr1 of array1; index as i"
                                        [class.select_active]="i === colorvariable1" (click)="Changeselect1(arr1)">
                                        {{arr1.name}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="meeting-mode">
                    <div class="form-group">
                        <label>Date</label> <br>
                        <input type="date" placeholder="23/04/2023" class="date-input" formControlName="date">
                    </div>
                    <div class="form-group">
                        <label>Start time</label><br>
                        <input type="time" placeholder="02:00 pm" class="date-input" formControlName="starttime">
                    </div>
                    <div class="form-group">
                        <label>End time</label><br>
                        <input type="time" placeholder="2 hrs" class="date-input" formControlName="endtime">
                    </div>
                </div>

                <div class="meeting-mode" *ngIf="Meetinglink">
                    <div class="form-group">
                        <label>Meeting link</label> <br>
                        <input type="text" placeholder="Paste here..." class="meeting-link" formControlName="meetinglink">
                        <div class="link-image"><img src="assets/images/meeting-link.svg" alt=""></div>
                    </div>
                </div>
                <div class="meeting-mode" *ngIf="Venuelink">
                    <div class="form-group">
                        <label>Venue</label> <br>
                        <input type="text" placeholder="Paste here..." class="meeting-link" formControlName="venue">

                    </div>
                </div>

                <div class="meeting-mode">
                    <div class="invite-add">
                        <div class="form-group">
                            <label>Invite an employees</label> <br>
                            <input type="text" placeholder="Type employee name" class="invite" formControlName="inviteanemplyee">

                        </div>
                        <div class="add-btn">
                            <button>Add</button>
                        </div>
                    </div>
                </div>
                <div class="in-this-interview-area">
                    <h5>In this interview</h5>
                    <div class="image-text-design">
                        <div class="image-text-heading">
                            <div class="image-name">
                                <img src="assets/images/olivye.png" alt="">
                            </div>
                            <div class="name-heading">
                                <h6>Olivye Wu</h6>
                                <p>Olivye@gmail.com</p>
                            </div>
                        </div>
                        <div class="designer-text">
                            <h5>UI/UX designer</h5>
                        </div>
                    </div>
                    <div class="image-text-design">
                        <div class="image-text-heading">
                            <div class="image-name">
                                <img src="assets/images/olivye.png" alt="">
                            </div>
                            <div class="name-heading">
                                <h6>Olivye Wu</h6>
                                <p>Olivye@gmail.com</p>
                            </div>
                        </div>
                        <div class="designer-text">
                            <h5>UI/UX designer</h5>
                        </div>
                    </div>
                    <div class="image-text-design">
                        <div class="image-text-heading">
                            <div class="image-name">
                                <img src="assets/images/olivye.png" alt="">
                            </div>
                            <div class="name-heading">
                                <h6>Olivye Wu</h6>
                                <p>Olivye@gmail.com</p>
                            </div>
                        </div>
                        <div class="designer-text">
                            <h5>UI/UX designer</h5>
                        </div>
                    </div>
                    <div class="image-text-design">
                        <div class="image-text-heading">
                            <div class="image-name">
                                <img src="assets/images/olivye.png" alt="">
                            </div>
                            <div class="name-heading">
                                <h6>Olivye Wu</h6>
                                <p>Olivye@gmail.com</p>
                            </div>
                        </div>
                        <div class="designer-text">
                            <h5>UI/UX designer</h5>
                        </div>
                    </div>


                </div>


                <div class="discard-save">
                    <div class="discard"><button (click)="closeModal10()">Discard</button></div>
                    <div class="save"><button type="submit"   (click)="closeModal10()" >Save</button> </div>
                </div>
            </form>

        </div>



    </div>



    <!----------------------Meetings-modal------------------>



</div>
