.main {
  width: calc(100% - 223px);
  margin-left: 223px;
  border: 1px solid #f9f9f9;
  background-color: #f9f9f9;
  padding-top: 84px;
}

.row {
  display: flex;
  column-gap: 22px;
}

.col-3 {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #FFFFFF;
  padding: 16px 30px;
  border-radius: 8px;
}

.iconCenter {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.iconCenter.file {
  color: #F8BB6F;
  background-color: rgba(251, 205, 147, 0.14);
}

.iconCenter.list {
  color: #8BAFFF;
  background-color: rgba(221, 232, 255, 0.3);
}

.iconCenter.reject {
  color: #FA9796;
  background: rgba(255, 168, 167, 0.2);
}

.iconCenter.clock {
  color: #7BD36D;
  background: rgba(141, 220, 128, 0.2);
}

.text-image p {
  font-size: 14px;
  color: #777777;

}

.text-image h1 {
  font-size: 22px;
  color: #222222;
}


.chart {
  padding: 0.5rem;
  border-radius: 1rem;
  background: #FFFFFF;
  width: 746px;
  height: 363px;
}

.chart h6 {
  font-size: 18px;
  color: #111111;
  padding-top: 26.5px;
  padding-left: 33.5px;
}

.row {
  display: flex;
  margin: 30px;
  column-gap: 22px;
}

.attendance h2 {
  font-size: 18px;
  font-weight: 500;
}

.attendence-content {
  display: flex;
  justify-content: space-between;
}

/* -------------Drop Down -------- */
.dropdwon_select {
  background-color: #F7F7FB;
  width: 172px;
  height: 40px;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.1);
  color: #444444;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  border: 1px solid transparent;
}

.dropdwon_select:hover,
.dropdwon_select:focus {
  border-radius: 8px;
}

.dropdwon_select p {
  font-size: 14px;
  font-weight: 400;
}

.dropdwon_select i {
  font-size: 14px;
  color: #444444;
  padding: 3px 7px;
}

.select_content {
  background-color: #fff;
  cursor: pointer;
  width: 172px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  color: #444444;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

.select_content ul {
  padding: 0;
  margin: 0;
}

.select_content ul li {
  list-style: none;
  padding: 10px 10px;
  margin-top: 5px;
  font-size: 14px;
}

.select_content ul li:hover {
  background-color: #F7F7FB;
  border-radius: 8px;
}

.select_active {
  border-radius: 8px;
  background-color: #f7f7f7;
}

/* ----------Drop Down END--------------- */


.attendance-area {
  background-color: #FFFFFF;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px 25px;
  position: relative;
}



.meeting-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meeting-text h2 {
  font-weight: 500;
  font-size: 18px;
}

.meeting-text p {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

a {
  color: #2F2C9F;
}

.meeting-text p {
  color: #2F2C9F;
  font-size: 14px;
  display: flex;
  gap: 7px;
}

.meeting-text i{
  margin-top: 3px;
}

.meeting-area {
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 20px;
  height: 100%;


}

.interview-area {
  display: flex;
  gap: 29px;
  margin-top: 10px;
  padding: 6px 0 6px 8px;
  cursor: pointer;
}

.dots {
  color: #999999;
  padding-right: 8px;

}

.dots ul {
  position: absolute;
  right: -50px;

  z-index: 99;
}

.dots i {
  padding: 5px;
}

.dots ul.close {
  display: none;
}

.dots ul button {
  width: 60%;
  padding: 10px 25px;
  background-color: #FFFFFF;
  color: #37474F;
  outline: none;
  border: none;
  border-radius: 4px;
  text-align: left;
  cursor: pointer;
}

.dots ul button:hover {
  background-color: #e7e5e5b4;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropbtn:hover .dropdown-content {
  display: block;
}

.dropbtn:hover .dropbtn {
  background-color: #3e8e41;
}

.interview-area:hover {
  background-color: #F7F7FB;
}

.interview-area:hover .date {
  background-color: #FFFFFF;

  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.all-meetings {
  margin-top: 18px;
  position: relative;
}

.date h5 {
  color: black;
  font-weight: 600;
  font-size: 18px;
}

.interview-timings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  word-break: break-all;
}

.date {
  background-color: #F7F7FB;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 6px;
  padding: 5.5px 14.5px;
}

.date p {
  font-size: 13px;
}

.date h3 {
  margin-top: 4px;
}

.date h2 {
  font-size: 18px;
}

.interview-dots h3 {
  font-size: 16px;
  color: #555555;
  font-weight: 500;
}

.interview-dots p {
  font-size: 14px;
  color: #999999;
}

.bar-chart {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.leave-request-area {
  background-color: #FFFFFF;
  padding: 20px;
  height: 100%;
  border-radius: 8px;
}

.leave-request-heading {
  display: flex;
  justify-content: space-between;
}

.leave-request-heading h2 {
  font-size: 18px;
  font-weight: 500;
}

.leave-request-heading p {
  color: #2F2C9F;
}

.leave-request-heading p a {
  cursor: pointer;
}

.activity-area {
  background-color: #FFFFFF;
  padding: 20px 19px 14px 20px;
  height: 100%;
}

.activity-feed-text {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.activity-feed-text h2 {
  font-size: 18px;
  font-weight: 500;
}

.activity-feed-text p {
  color: #2F2C9F;
}

.activity-feed-text:hover p {
  cursor: pointer;
}

.john-image {
  display: flex;
  /* margin-top: 10px; */
  gap: 10px;
}

.john-image:hover {
  background-color: #F7F7FB;
  border-radius: 8px;
}

.john-shaw-background {
  padding: 7px 6px 7px 5px;
}

.john-text {
  font-size: 14px;
  font-weight: 500;
  font-size: 13px;
  color: #555555;
  padding-top: 6px;
  word-break: break-word;
}

.min {
  color: #999999;
  font-weight: 400;
  font-size: 12px;
}

.john-text p {
  color: #555555;

}

table {
  border-collapse: collapse;
  width: 100%;
  /* height: calc(100% - 12px); */
}


.table_data {
  width: 100%;
  overflow-y: auto;
  height: 414px;
  overflow-x: hidden;
  margin-top: 15px;
}

.table_text {
  width: 100%;
  background-color: #f9f9f9;
  border-collapse: separate;


}

table {
  /* border-spacing: 2px 5px; */
  /* background-color: #EFEFF8; */
}

table,
th,
td {
  font-size: 12px;
}

.table_heading th {
  text-align: left;
}

.table_heading {
  position: sticky;
  top: 0;
}

tr {
  height: 20px !important;
}

tr:hover {
  background-color: #f7f7fb !important;
}

th,
td {
  padding: 15px;
  white-space: nowrap;
}

.table_data::-webkit-scrollbar {
  width: 6px;
}

.table_data::-webkit-scrollbar-track {
  background-color: #EFEFF8;
}

.table_data::-webkit-scrollbar-thumb {
  background-color: #888888de;
  border-radius: 6px;
  height: 10px;
}



.table_text tr:nth-child(even) {
  background-color: #FFFFFF;
}

.table_text tr:nth-child(odd) {
  background-color: #fff;
}

.table_text th {
  font-size: 11px;
  text-transform: uppercase;
  color: #444444;
  background-color: #EFEFF8;
  margin-top: 10px;
}





.action_button {
  display: flex;
  gap: 16px;
}

.action_btn {
  display: flex;
  align-items: center;
}

input[type="radio"] {
  height: 10px;
  width: 10px;
  margin-right: 0.5rem;
  cursor: pointer;
}


.custom-radio {
  appearance: none;
  -webkit-appearance: none;
  border: 0.2rem solid #fff;
  border-radius: 50%;
}

.custom-radio:focus-visible {
  outline-offset: 0;
}

#outline {
  outline: 2px solid #e8e8e8;
}

#outline1 {
  outline: 2px solid #e8e8e8;
}



#outline1:checked {
  outline-color: #29A74C;
  background-color: #29A74C;
  animation: outline-checked1;
  animation-duration: 0.1s;
  animation-iteration-count: 4;
  animation-direction: alternate;
  animation-timing-function: linear;
}

#outline1:checked+label {
  color: #29A74C;
}

#outline:checked+label {
  color: #FA5D5D;
}

#outline:checked {
  outline-color: #FA5D5D;
  background-color: #FA5D5D;
  animation: outline-checked;
  animation-duration: 0.1s;
  animation-iteration-count: 4;
  animation-direction: alternate;
  animation-timing-function: linear;
}


@keyframes outline-checked {
  0% {
    outline-offset: 0;
  }

  100% {
    outline-offset: -0.2rem;
  }
}

@keyframes outline-checked1 {
  0% {
    outline-offset: 0;
  }

  100% {
    outline-offset: -0.2rem;
  }
}


/* ------------------ */

.three-dots {
  position: relative;
}

.three-dots-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.three-dots-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
  padding: 0;
  margin: 0;
  list-style: none;
}

.show-three-dots-menu {
  display: block;
}

/*Activity area Scroll bar*/

.scrollbar-start::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-start::-webkit-scrollbar-track {
  background-color: #EFEFF8;
}

.scrollbar-start::-webkit-scrollbar-thumb {
  background-color: #888888de;
  border-radius: 6px;
  height: 10px;
}


.scrollbar-start {
  overflow-y: auto;
  height: 414px;
  overflow-x: hidden;
  margin-top: 27px;
  padding-right: 4px;
  display: flex;
  justify-content: center;
  align-items: start;
}

/*All meeting Scrollbar*/

.meeting-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.meeting-scrollbar::-webkit-scrollbar-track {
  background-color: #EFEFF8;
}

.meeting-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888888de;
  border-radius: 6px;
  height: 10px;
}


/*meeting Scrollbar*/
.meeting-scrollbar {
  overflow-y: auto;
  overflow-x: hidden;
  height: 400px;
  padding-right: 4px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

}

.hidden {
  visibility: hidden;
}

.loader {
  width: 50px !important;
  height: 50px !important;
  border-width: 10px;
  /* transform: translate(50%); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.doaminurl {
  font-size: 11px;
  position: absolute;
  font-weight: bold;
  margin-left: 5px;
}

/* ------------------Media Query----------------------- */
@media (max-width:1920px) {
  .meeting-scrollbar {
    height: 523px;
  }
}



/*---------------------------------------Dashboard Modal-----------------------------*/


.Modal_form {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(34, 34, 34, 0.7);
  backdrop-filter: blur(5px);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;

}

.Modal_modal {
  z-index: 1;
  background-color: rgba(250, 250, 250, 1);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 685px;
  width: 100%;


}

.Modal_modal i {
  position: absolute;
  right: 68px;
  /* top: -87px; */
  color: #ECECEC;
  cursor: pointer;
}

.edit-profile-heading {
  background-color: #F7F7FB;
  border-radius: 8px;
  max-width: 685px;
  width: 100%;
  height: 75px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.name-section>label {
  float: left;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__group .form_input {
  width: 270px;
  padding: 10px 17px;
  height: 40px;
  background-color: #FFFFFF;
  border: 1px solid #CBCBCB;
  border-radius: 8px;
  margin-top: 5px;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.name-email {
  display: flex;
  gap: 25px;
}

.email-phone {
  display: flex;
  gap: 25px;
  margin-top: 25px;
}

.edit-profile-footer {
  background-color: #F7F7FB;
  border-radius: 8px;
  max-width: 685px;
  width: 100%;
  height: 75px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.edit-profile-footer .done-btn {
  width: 89px;
  height: 37px;
  background-color: #2F2C9F;
  border-radius: 8px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}


.leave_approved_modal {
  z-index: 1;
  background-color: rgba(250, 250, 250, 1);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 430px;
  height: 357px;
  padding: 20px 20px;
}


.leave_approved_modal h4 {
  text-align: center;
  color: #444444;
  font-weight: 500;
  font-size: 18px;
  padding-top: 22px;
}

.leave_approved_modal p {
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  text-align: center;
  padding: 16px 66px;
}

.Done_form_btn {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Done_form_btn .Done_btn {
  width: 82px;
  height: 38px;
  padding: 9px 24px;
  background-color: #3D9130;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

.Done_form_btn .Done_btn:hover {
  background-color: #1fa10a;
}

.leave_form,
.leave_approved_form {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(34, 34, 34, 0.7);
  backdrop-filter: blur(5px);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.leave_modal i,
.leave_approved_modal i {
  position: absolute;
  right: -25px;
  top: -20px;
  cursor: pointer;
  color: #ECECEC;
  cursor: pointer;
}


/*Dropdown */
.dropdwon_select {
  background-color: #FFFFFF;
  width: 270px;
  height: 40px;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 10px 17px;
  border: 1px solid #CBCBCB;
  color: #666666;
}

.dropdwon_select:hover,
.dropdwon_select:focus {
  /* border: 1px solid #2F2C9F; */
  border-radius: 8px;
}

.dropdwon_select p {
  font-size: 14px;
  font-weight: 400;
}

.dropdwon_select i {
  font-size: 14px;
  color: #444444;
  padding: 3px 7px;
  display: flex;
  align-items: center;
}

.select_content {
  background-color: #fff;
  cursor: pointer;
  width: 270px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  color: #444444;
}

.select_content ul {
  padding: 0;
  margin: 0;
}

.select_content ul li {
  list-style: none;
  padding: 10px 10px;
  margin-top: 5px;
  font-size: 14px;
}

.select_content ul li:hover {
  background-color: #ECECEC;
  border-radius: 8px;
}

.select_active {
  background-color: #ECECEC;
  border-radius: 8px;

}

#name.ng_invalid {
  border: 1px solid red;
}

#name.ng_invalid:hover {
  border: 1px solid red;
}

#name.ng_valid:hover {
  border: 1px solid green;
}

#name.ng_valid {
  border: 1px solid green;
}

#name1.ng_invalid {
  border: 1px solid red;
}

#name1.ng_invalid:hover {
  border: 1px solid red;
}

#name1.ng_valid:hover {
  border: 1px solid green;
}

#name1.ng_valid {
  border: 1px solid green;
}

#office.ng_invalid {
  border: 1px solid red;
}

#office.ng_invalid:hover {
  border: 1px solid red;
}

#office.ng_valid:hover {
  border: 1px solid green;
}

#office.ng_valid {
  border: 1px solid green;

}

/* #name0.ng_valid{
  border:1px solid green;
} */
#name0.ng_invalid {
  border: 1px solid red;
}

#name0.ng_invalid:hover {
  border: 1px solid red;
}

#name0.ng_valid:hover {
  border: 1px solid green;
}

#name0.ng_valid {
  border: 1px solid green;
}

input:hover,
input:focus {
  border-color: #2F2C9F;
}




#name.ng_invalid {
  border: 1px solid red;
}

#name.ng_invalid:hover {
  border: 1px solid red;
}

#name.ng_valid:hover {
  border: 1px solid green;
}

#name.ng_valid {
  border: 1px solid green;
}

#name1.ng_invalid {
  border: 1px solid red;
}

#name1.ng_invalid:hover {
  border: 1px solid red;
}

#name1.ng_valid:hover {
  border: 1px solid green;
}

#name1.ng_valid {
  border: 1px solid green;
}

#office.ng_invalid {
  border: 1px solid red;
}

#office.ng_invalid:hover {
  border: 1px solid red;
}

#office.ng_valid:hover {
  border: 1px solid green;
}

#office.ng_valid {
  border: 1px solid green;
}

input:hover,
input:focus {
  border-color: #2F2C9F;
}




/*-------------------------------Modal-------------------------*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(5px);
}

.modal-content {
  background-color: #ffffff;
  position: absolute;
  border-radius: 8px;
  width: 640px;
  /* height: 665px; */
  padding: 20px 40px;
}

.modal-heading h5 {
  font-weight: 400;
  font-size: 18px;
  color: #222222;
}

.form-group {
  margin-top: 10px;
}

.meeting-mode {
  display: flex;
  gap: 10px;
}

.form-group label {
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.meeting-input {
  width: 275px;
  height: 40px;
  background-color: #FFFFFF;
  border: 1px solid rgba(180, 180, 180, 0.8);
  border-radius: 6px;
  padding: 10px 12px;
  outline: none;
  /* border: none; */
}

.meeting-input ::placeholder {
  opacity: 0.1;
}

.date-input {
  width: 180px;
  height: 40px;
  background-color: #FFFFFF;
  border: 1px solid rgba(180, 180, 180, 0.8);
  border-radius: 8px;
  padding: 10px 12px;
  outline: none;
}

.meeting-link {
  width: 560px;
  height: 40px;
  background-color: #FFFFFF;
  border: 1px solid rgba(180, 180, 180, 0.8);
  border-radius: 6px;
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 48px;
  padding-bottom: 10px;
  outline: none;

}

.link-image {
  position: absolute;
  right: 52px;
  display: inline-flex;
  margin-top: 11px;
}

.invite {
  background-color: #FFFFFF;
  border: 1px solid rgba(180, 180, 180, 0.8);
  border-radius: 6px;
  width: 440px;
  height: 40px;
  padding: 10px 12px;
  outline: none;
}

.add-btn button {
  width: 110px;
  height: 40px;
  background-color: #2F2C9F;
  border: 1px solid rgba(180, 180, 180, 0.8);
  border-radius: 6px;
  color: #FFFFFF;
  cursor: pointer;
}

.add-btn {
  margin-top: 33px;
  margin-left: 10px;

}

.invite-add {
  display: flex;
  flex-direction: row;
}

.in-this-interview-area {
  margin-top: 10px;
}

.in-this-interview-area h5 {
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}

.image-text-design {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px 12px;
}

.image-text-heading {
  display: flex;
  gap: 10px;
}

.name-heading {
  align-items: start;
  display: flex;
  flex-direction: column;
}

.name-heading h6 {
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}

.name-heading p {
  font-weight: 400;
  font-size: 10px;
  color: rgba(136, 136, 136, 0.7);
}

.designer-text {
  padding: 3px 10px;
  text-align: center;
  background-color: #F7F7FB;
  border-radius: 50px;
}

.designer-text h5 {
  font-weight: 500;
  font-size: 11px;
  color: #2F2C9F;
}

.discard-save {
  display: flex;
  gap: 20px;

}

.discard-save .discard button {
  color: #2F2C9F;
  background-color: #FFFFFF;
  border: 1px solid #2F2C9F;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
}

.discard-save .save button {
  color: #FFFFFF;
  background-color: #2F2C9F;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
}

.discard-save button {
  width: 270px;
  height: 40px;
  border-radius: 6px;
  outline: none;
  border: none;
}

.fa-xmark {
  position: absolute;
  top: -4%;
  right: -5%;
  cursor: pointer;
  color: #ECECEC;
  font-size: 20px;
}



/*-------------------Interview-Modal----------------*/
.interview-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(34, 34, 34, 0.7); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  /* backdrop-filter: blur(5px); */
}

.interview-modal-content {
  background-color: #ffffff;
  position: absolute;
  border-radius: 8px;
  width: 290px;
  top: 350px;
  padding: 20px 20px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  /* right: 170px;
    top: 348px; */
}

.tag-interview-cross {
  display: flex;
  justify-content: space-between;
  background-color: #F7F7FB;
  border-radius: 8px;
  width: 250px;
  height: 32px;
  text-align: center;
  align-items: center;
  padding: 6px 6px;
}

.tag-interview {
  display: flex;
  gap: 27px;
  align-items: center;
}

.tag-interview h4 {
  font-weight: 500;
  font-size: 16px;
  color: #222222;
}

.tag-interview-cross i {
  padding-top: 6px;
  padding-right: 7px;
}

.tag img {
  /* width: 20px; */
  /* height: 20px; */
  padding-top: 7px;
  padding-left: 6px;
}

.interview-cross {
  color: #000000;
  position: absolute;
  display: inline-flex;
  right: 20px;
  top: 20px;
}

.tag-date-notes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.calender-date-time {
  display: flex;
  gap: 20px;
}

.notes-text {
  display: flex;
  gap: 20px;
}

.date-time h4 {
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}

.date-time p {
  font-weight: 300;
  font-size: 14px;
  color: #666666;
}

.notes-para h4 {
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}

.notes-para p {
  font-weight: 400;
  font-size: 14px;
  color: #666666;

}

.notes-para-text {
  word-break: break-word;
  font-weight: 300;
  font-size: 12px;
  color: #666666;
}

.join-meeting-button button {
  width: 250px;
  height: 30px;
  margin-top: 10px;
  background-color: #2F2C9F;
  border-radius: 8px;
  color: #FFFFFF;
  outline: none;
  border: none;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

div.form-container {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  /* opacity: 0 !important; */
}

.no_record {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}


/*--------------------------------welcome-modal--------------------*/
.welcome-modal {
  width: 417px;
  background-color: #FFFFFF;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 50px;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.welcome-text h4 {
  font-weight: 500;
  font-size: 18px;
  color: #2F2C9F;
}

.welcome-text p {
  font-weight: 400;
  font-size: 12px;
  color: #888888;
}

.welcome-text button {
  padding: 9px 27px;
  background-color: #2F2C9F;
  border-radius: 8px;
  text-align: center;
  width: 125px;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 13px;
  color: #FFFFFF;
  cursor: pointer;
}

.welcome-text button:hover {
  background: #2f2c9f;
  opacity: 0.7;
}

.welcome_modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(34, 34, 34, 0.7);
  backdrop-filter: blur(5px);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;

}

/* --------------- Animation----------------------- */
.balloon {
  display: inline-block;
  width: 120px;
  height: 145px;
  background: red;
  border-radius: 80%;
  box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
  margin: 20px 30px;
  animation-timing-function: ease-out;
  will-change: transform, opacity;
  position: absolute;
}

.balloon1 {
  display: inline-block;
  width: 120px;
  height: 145px;
  background: #FF8D27;
  border-radius: 80%;
  box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
  margin: 20px 30px;
  animation-timing-function: ease-out;
  will-change: transform, opacity;
  position: absolute;
}

.b1 {
  left: 20%;
  /* animation-duration: 30s; */
  /* animation-delay: 0s; */
  bottom: -250px;
  /* animation-name: downTopAnimation; */
  animation: downTopAnimation 30s infinite;

}

.b2 {
  left: 70%;
  /* animation-duration: 30s; */
  /* animation-delay: 0s; */
  top: -150px;
  /* animation-name: topDownAnimation; */
  animation: topDownAnimation 30s infinite;
}

.balloon:before {
  content: "▲";
  font-size: 20px;
  color: red;
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -20px;
  z-index: -100;
  transition: opacity 1s ease-in-out;
}

.balloon1:before {
  content: "▲";
  font-size: 20px;
  color: #FF8D27;
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -20px;
  z-index: -100;
  transition: opacity 1s ease-in-out;
}

.balloon:after,
.balloon1:after {
  display: inline-block;
  top: 153px;
  position: absolute;
  height: 120px;
  width: 1px;
  right: 0;
  left: 0;
  margin: 0 auto;
  content: "";

  background: #fff;
}

@keyframes topDownAnimation {
  0% {
    top: -400px;
  }

  50% {
    top: 100vh;
  }

  100% {
    top: -300px;
  }
}

@keyframes downTopAnimation {
  0% {
    bottom: -400px;
  }

  50% {
    bottom: 115vh;
  }

  100% {
    bottom: -300px;
  }
}

.fireworks {
  position: absolute;
  width: 150px;
  height: 150px;
  background: #FFEFAD;
  -webkit-mask: url('https://imgservices-1252317822.image.myqcloud.com/image/081320210201435/e9951400.png') right top no-repeat;
  -webkit-mask-size: auto 150px;
  animation: fireworks 2s steps(24) infinite, random 8s steps(1) infinite, random_color 1s infinite;
}

@keyframes fireworks {
  0% {
    -webkit-mask-position: 0%;
  }

  50%,
  100% {
    -webkit-mask-position: 100% 100%;
  }
}

@keyframes random {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(200%, 50%) scale(0.8);
  }

  50% {
    transform: translate(80%, 80%) scale(1.2);
  }

  75% {
    transform: translate(20%, 60%) scale(0.65);
  }
}

@keyframes random_color {
  0% {
    background-color: #FFEFAD;
  }

  25% {
    background-color: #ffadad;
  }

  50% {
    background-color: #aeadff;
  }

  75% {
    background-color: #adffd9;
  }
}

@media screen and (prefers-reduced-motion) {
  .fireworks {
    animation: none;
  }
}

.dashboard-validation {
  color: #CB1E0F;
  align-items: center;
  text-align: center;
  display: flex;
  gap: 10px;
  position: absolute;
  margin-top: 4px;
  font-weight: 400;
  font-size: 12px;
}
