.account-main {
    width: calc(100% - 223px);
    margin-left: 223px;
    background-color: #f9f9f9;
    padding-top: 76px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    /* min-height: 100%; */
}

.profile-area {
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: 30px;
    padding: 21px 33px 22px 33px;
}

.profile-arrow {
    /* padding: 21px 0 20px 33px; */
    display: flex;
    gap: 12px;
    height: 44px;
    align-items: center;
    /* justify-content: center; */

}

.profile-arrow .arrow {
    cursor: pointer;
    align-items: center;
    display: flex;
}

.profile-bottom-line {
    border-bottom: 1px solid rgba(47, 44, 159, 0.15);
    width: 100%;
}

.profile-text h6 {
    font-weight: 500;
    font-size: 21px;
    color: #444444;
}

.profile-name {
    margin-top: 20px;
    padding: 20px 30px;
    border: 1px solid rgba(47, 44, 159, 0.15);
    border-radius: 8px;
    display: flex;
    gap: 22px;
    align-items: center;
}

.name-text {
    display: flex;
    flex-direction: column;
}

.name-text h5 {
    font-weight: 400;
    font-size: 20px;
    color: #444444;
}

.name-text p {
    font-weight: 400;
    font-size: 14px;
    color: #999999;

}

.location img {
    margin-top: 1.2px;
    height: 15px;
    width: 12px;
}

.location {
    display: flex;
    gap: 5px;
    align-items: center;
    text-align: center;
}

.notification-area {
    max-width: 350px;
    width: 100%;
    min-height: 463px;
    z-index: 50;
    position: fixed;
    right: 50px;
    top: 68px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 9999;
}

#all {
    border-bottom: 2px solid #2F2C9F;
}

.color:after {
    color: #2F2C9F;
    border-bottom: 1px solid #2F2C9F;
    position: absolute;
    bottom: -1px;
    content: '';
    left: 0;
    right: 0;
}

.notification-number {
    display: flex;
    gap: 6px;
    width: 138px;
    height: 28px;
    align-items: center;
    cursor: pointer;
}

.notification-mark {
    display: flex;
    justify-content: space-between;
    padding-right: 3px;
    align-items: center;
}

.Mark {
    width: 85px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #2F2C9F;
    cursor: pointer;
}

.all-read-important {
    display: flex;

    margin-top: 36px;
    padding-left: 13px;

    font-weight: 400;
    font-size: 13px;

}

.toggle {
    border-bottom: 1px solid rgba(47, 44, 159, 0.15);
    width: 100%;
}

.toggle ul {
    display: flex;


}

.toggle>ul>li {
    cursor: pointer;
    position: relative;
    padding: 12px 28px;
}

.company-name-headoffice-desc,
.company-name_hover {
    padding: 22px 33px;
    border: 1px solid rgba(47, 44, 159, 0.15);
    border-radius: 8px;
    margin-top: 20px;

}

.company-name_hover:hover .edit-password-button {
    visibility: visible;

}

.company-name-headoffice {
    display: flex;
    justify-content: space-between;
}

.company-name-headoffice .phone-number {
    margin-top: 30px;
}

.head-office-edit {
    display: flex;
    gap: 30px;
}

.edit-password-button .edit {
    width: 71px;
    min-height: 29px;
    background: #FFFFFF;
    cursor: pointer;
    border: 1px solid #E0E0E0;
    border-radius: 22px;
}

.edit-password-button {
    display: flex;
    gap: 7.87px;
    visibility: hidden;

}

.edit-password-button img {
    margin-left: 7.87px;
    width: 11.42px;
    height: 11.42px;
}

.company-name,
.employee-text,
.head-office-text {
    width: 100%;
    max-width: 240px;
}

.company-name-headoffice h6 {
    font-weight: 400;
    font-size: 13px;
    color: #444444;
}

.company-name-headoffice p {
    font-weight: 400;
    font-size: 15px;
    color: #777777;
}

.description-pen {
    display: flex;
    gap: 5.87px;
    margin-top: 30px;
}

.description-heading h6 {
    font-weight: 400;
    font-size: 13px;
    color: #444444;
}

.paragraph-text {
    /* text-align: justify;
    word-break: break-word; */
    opacity: 0;
}

.paragraph-text p {
    color: #777777;
    font-weight: 400;
    font-size: 15px;
}



.old-new-confirm-password label {
    display: inline-block;
    text-align: left;
    width: 200px;
    min-height: 20px;
}

.old-new-confirm-password input {
    width: 300px;
    min-height: 42px;
    background-color: #FFFFFF;
    border: 1px solid #B4B4B4;
    border-radius: 8px;
    padding-left: 17px;
    padding-right: 17px;
    outline: none;

}

.old-new-confirm-password {
    gap: 100px;
    display: flex;
    text-align: center;
    align-items: center;

}

.account-password,
.error-message {
    color: #CB1E0F;
    align-items: center;
    text-align: center;
    display: flex;
    gap: 10px;
    position: absolute;
    left: 620px;
    margin-top: 4px;
    font-weight: 400;
    font-size: 12px;
}

.new-reenter {
    margin-top: 31px;
}

.clear-update-button {
    display: flex;
    gap: 10px;
    justify-content: right;
    margin-top: 25px;
}

.clear-update-button .clear-btn {
    width: 90px;
    min-height: 37px;
    background-color: #FFFFFF;
    border: 1px solid #2F2C9F;
    border-radius: 8px;
    color: #2F2C9F;
    cursor: pointer;
}

.clear-update-button .update-btn {
    width: 154px;
    min-height: 37px;
    background-color: #2F2C9F;
    border-radius: 8px;
    border: 1px solid #2F2C9F;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
}

.company-name-headoffice-desc-area:hover .edit-password-button {
    visibility: visible;
}

/* Company details done button*/
.done-btn {
    max-width: 89px;
    height: 37px;
    width: 100%;
    background-color: #2F2C9F;
    border-radius: 8px;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
    border: none;
}



/*---------------------------Modal---------------------*/
.Modal_form {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(34, 34, 34, 0.7);
    backdrop-filter: blur(5px);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;

}

.Modal_modal {
    z-index: 1;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 685px;
    width: 100%;


}

.Modal_modal i {
    position: absolute;
    right: -30px;
    top: -24px;
    color: #ECECEC;
    cursor: pointer;
}

.edit-profile-heading {
    background-color: #F7F7FB;
    border-radius: 8px 8px 0px 0px;
    max-width: 685px;
    width: 100%;
    height: 75px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.name-section>label {
    float: left;
    margin-bottom: 20px;
}

.form {
    padding: 40px 60px;
}

.form__group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__group .form_input {
    width: 100%;
    padding: 10px 17px;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #CBCBCB;
    border-radius: 8px;
    margin-top: 5px;
    outline: none;
}

.name-email {
    display: flex;
    gap: 25px;
}

.email-phone {
    display: flex;
    gap: 25px;
    margin-top: 25px;
}

.edit-profile-footer {
    background-color: #F7F7FB;
    border-radius: 8px;
    max-width: 685px;
    width: 100%;
    height: 75px;
    justify-content: center;
    display: flex;
    align-items: center;

}

.edit-profile-footer .done-btn {
    width: 89px;
    height: 37px;
    background-color: #2F2C9F;
    border-radius: 8px;
    color: #FFFFFF;
}


.leave_approved_modal {
    z-index: 1;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 430px;
    height: 357px;
    padding: 20px 20px;
}

.logo_bg {
    background-color: rgba(123, 211, 109, 0.3);
    border-radius: 8px;
    width: 390px;
    height: 152px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leave_approved_modal h4 {
    text-align: center;
    color: #444444;
    font-weight: 500;
    font-size: 18px;
    padding-top: 22px;
}

.leave_approved_modal p {
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    text-align: center;
    padding: 16px 66px;
}

.Done_form_btn {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Done_form_btn .Done_btn {
    width: 82px;
    height: 38px;
    padding: 9px 24px;
    background-color: #3D9130;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
}

.Done_form_btn .Done_btn:hover {
    background-color: #1fa10a;
}

.leave_form,
.leave_approved_form {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(34, 34, 34, 0.7);
    backdrop-filter: blur(5px);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.leave_modal i,
.leave_approved_modal i {
    position: absolute;
    right: -25px;
    top: -20px;
    cursor: pointer;
    color: #ECECEC;
    cursor: pointer;
}

/*------------------Company details Modal------------------------*/



.Modal_form {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(34, 34, 34, 0.7);
    backdrop-filter: blur(5px);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}


.company_modal {
    z-index: 1;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 980px;
    width: 100%;

}

.company_modal i {
    position: absolute;
    right: -30px;
    top: -24px;
    color: #ECECEC;
    cursor: pointer;
}

.edit-company-heading {
    background-color: #F7F7FB;
    border-radius: 8px 8px 0px 0px;
    max-width: 980px;
    width: 100%;
    height: 75px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.company-descrip {
    margin-top: 25px;
}

.company-details-footer {
    background-color: #F7F7FB;
    border-radius: 8px;
    max-width: 980px;
    width: 100%;
    height: 75px;
    justify-content: center;
    display: flex;
    align-items: center;
}



/*----------------------- profile upload ------------------*/
.content-details input[type="file"]{
    cursor: pointer;
}
.pic-holder .upload-file-block {
    cursor: pointer;
}

.pic-holder:hover .upload-file-block,
.uploadProfileInput:focus~.upload-file-block {
    opacity: 1;
}

.pic-holder.uploadInProgress .upload-file-block {
    display: none;
}

.pic-holder .upload-file-block,
.pic-holder .upload-loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(90, 92, 105, 0.7);
    color: #f8f9fc;
    font-size: 12px;
    font-weight: 600;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}


.profile-pic-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pic-holder {
    text-align: center;
    position: relative;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.pic-holder .content-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.pic-holder .content-details {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.2s;
}

.pic-holder:hover .content-details,
.pic-holder .uploadProfileInput:focus~.content-details {
    opacity: 1;
}

.content-details button {
    cursor: pointer;
}

.snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 14px;
    transform: translateX(-50%);
}

.snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}


/*-------------------------Text Area-----------------------*/
.paragraph-text textarea {
    width: 100%;
    min-height: 120px;
    resize: none;
    outline: none;
    padding: 10px;
    border-radius: 8px;
    margin-top: 5px;
    border: none;
    color: black;
}

.modal-text textarea {

    min-width: 860px;
    min-height: 120px;
    resize: none;
    outline: none;
    padding: 10px;
    border: 1px solid #CBCBCB;
    border-radius: 8px;
    margin-top: 5px;
}

textarea::placeholder {
    font-weight: 400;
    font-size: 15px;
    color: #777777;
}

/* input:disabled {
    background-color: #f4f4f4;
    color: #aaa;
} */
input:hover,
input:focus {
    border: 1px solid#2F2C9F !important;
}

input:disabled {
    cursor: not-allowed;
}

#oldp.ng_invalid {
    border: 1px solid red !important;
}

#oldp.ng_invalid:hover {
    border: 1px solid red !important;
}

#oldp.ng_valid:hover {
    border: 1px solid green !important;
}

#oldp.ng_valid {
    border: 1px solid green !important;
}

#passwordp.ng_invalid {
    border: 1px solid red !important;
}

#passwordp.ng_invalid:hover {
    border: 1px solid red !important;
}

#passwordp.ng_valid:hover {
    border: 1px solid green !important;
}

#passwordp.ng_valid {
    border: 1px solid green !important;
}

#confirmp.ng_invalid {
    border: 1px solid red !important;
}

#confirmp.ng_invalid:hover {
    border: 1px solid red !important;
}

#confirmp.ng_valid:hover {
    border: 1px solid green !important;
}

#confirmp.ng_valid {
    border: 1px solid green !important;
}

#confirmp.ng_invalid.errors {
    border: 1px solid red !important;
}

.password-matches {
    border-color: green;
}

.green-border {
    border: 2px solid green;
}