<app-sidebar></app-sidebar>
<app-header></app-header>
<div class="account-main">
    <div class="profile-area">
        <div class="profile-bottom-line">
            <div class="profile-arrow">
                <div class="arrow">
                    <img src="assets/images/Group 1241.svg" routerLink="/dashboard">
                </div>
                <div class="profile-text">
                    <h6>Profile</h6>
                </div>
            </div>
        </div>
        <div class="profile-name">
            <!-- <div class="profile-image">
                <div class="upload_content">
                    <div class="content-overlay"></div>
                    <img *ngIf="!profileimage" class="content-image" src="assets/images/user 1.svg" alt="">
                    <img *ngIf="profileimage" class="content-image" src="{{profileimage}}" alt="">
                    <div class="content-details fadeIn-bottom"> -->
                        <!-- <img  src="assets/images/upload.png" alt=""> -->
                        <!-- <input type="file" id="file-input">
                        <div class="upload_title">
                            <input type="file" accept="image/*" (change)="onFileSelected($event)" id="file-input"/>
                            <span>UPLOAD </span>
                        <p class="content-text">PROFILE PICTURE</p>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="profile-image">
                <div class="upload_content">
                  <div class="content-overlay"></div>
                  <img *ngIf="!profileimage" class="content-image" src="assets/images/user 1.svg" alt="">
                  <img *ngIf="profileimage" class="content-image" src="{{profileimage}}" alt="">
                  <div class="content-details fadeIn-bottom">
                    <button (click)="fileInput.click()">UPLOAD</button> <!-- add click event to trigger file selection -->
                    <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" /> <!-- remove duplicate id attribute -->
                    <!-- <div class="upload_title">
                      <span>UPLOAD </span>
                      <p class="content-text">PROFILE PICTURE</p>
                    </div> -->
                  </div>
                </div>
              </div>
              

            <div class="name-text">
                <!-- <h5>Abhishek Sharma</h5> -->
                <h5> {{employeename}} </h5>
                <!-- <p>Human Resource Manager</p> -->
                <div class="location">
                    <img src="assets/images/Vector.png" alt="">
                    <!-- <p> Leeds, United Kingdom</p> -->
                    <p> {{headOffice}} </p>
                </div>
            </div>
        </div>

        <div class="all-read-important">
            <div class="toggle">
                <ul>
                    <li class="all" [class.color]="id ==='all'" (click)="tabChange('all')">Company Details</li>
                    <li class="unread" [class.color]="id ==='unread'" (click)="tabChange('unread')">Personal Details
                    </li>
                    <li class="all" [class.color]="id ==='important'" (click)="tabChange('important')">Password
                        Management</li>
                </ul>
            </div>
        </div>
        <div class="company-name_hover" *ngIf="id ==='all' ">
            <div class="company-name-headoffice-desc-area">
                <div class="company-name-headoffice">
                    <div class="company-name">
                        <h6>Company name</h6>
                        <p>{{organisationn}}</p>
                    </div>
                    <div class="employee-text">
                        <h6>Domain Name</h6>
                        <p> {{totalemployee}} </p>
                    </div>
                    <div class="head-office-text">
                        <h6>Head Office</h6>
                        <p>{{headOffice}}</p>
                    </div>
                    <div class="edit-password-button">
                        <div class="text">
                            <button class="edit" (click)="openModal1() ">Edit <img src="assets/images/pen.svg"
                                    alt=""></button>
                        </div>


                    </div>
                </div>

                <div class="description-pen">
                    <div class="description-heading">
                        <h6>Description</h6>
                        <p>{{description}}</p>
                    </div>

                    <!-- <div class="paragraph-text"> -->

                        <!-- <textarea placeholder="{{description}}">{{description}}</textarea> -->
                        <!-- {{description}} -->
                    <!-- </div> -->
                </div>

            </div>
        </div>

        <div class="company-name-headoffice-desc" *ngIf="id ==='unread' ">
            <div class="company-name-headoffice-desc-area">
                <div class="company-name-headoffice">
                    <div class="company-name">
                        <h6>Name</h6>
                        <!-- <p>Abhishek Sharma</p> -->
                        <p> {{employeename}} </p>
                    </div>
                    <div class="employee-text">
                        <h6>Personal Email</h6>
                        <!-- <p>abhishek1990@gmail.com</p> -->
                        <p> {{employeeemail}} </p>
                    </div>
                    <div class="head-office-edit">
                        <div class="head-office-text">
                            <h6>Professional Email</h6>
                            <!-- <p>hr@hrmaven.com</p> -->
                            <p>{{professional_email_id}}</p>
                        </div>
                    </div>
                    <div class="edit-password-button">
                        <div class="text">
                            <button class="edit" (click)="openModal2()">Edit <img src="assets/images/pen.svg"
                                    alt=""></button>
                        </div>


                    </div>

                </div>


                <div class="company-name-headoffice">
                    <div class="phone-number">
                        <h6>Phone Number</h6>
                        <!-- <p>+91 9825634510</p> -->
                        <p> {{phone}} </p>
                    </div>

                </div>


            </div>

        </div>


        <div class="company-name-headoffice-desc" *ngIf="id ==='important' ">
            <div class="company-name-headoffice-desc-area">
                <form action="submit" [formGroup]="forgetpwd" (ngSubmit)="newpassword(forgetpwd.value)">
                 
                
                      <div class="old-new-confirm-password">
                        <label for="">Old Password</label>
                        <input type="password"
                        placeholder="Type your old password"
                        class="form-control password"
                        required
                        id="oldp"
                        formControlName="oldpassword"
                        (blur)="matchpwd()"
                        (input)="isInputDirty = true">
                      
                        <p *ngIf="isPasswordMatched; else notMatched" style="color: green;">This is your old password.</p>
                        <ng-template #notMatched>
                            <p *ngIf="isInputDirty" style="color: red;">This is not your old password.</p>
                          </ng-template>
                          
                      </div>
                      
                    <div class="new-reenter">
                        <div class="old-new-confirm-password">
                            <label for="">New Password</label>
                            <input type="password" placeholder="Type a new password" formControlName="password" class="form-control password" (keyup)="onKeyUp($event)" required id="passwordp"
                        [ngClass]="{'ng_invalid':forgetpwd.controls.password.invalid && forgetpwd.controls.password.dirty,'ng_valid':forgetpwd.controls.password.valid}">



                        </div>
                    </div>
                  
                    <div class="new-reenter">
                    <div class="old-new-confirm-password">
                        <label for="">Confirm Password</label>
                        <input type="password" placeholder="Re-enter your password" formControlName="confirm" class="form-control password"
                        (keyup)="onKeyUp($event)" required id="confirmp"
                        [ngClass]="{'ng_invalid': forgetpwd.controls.confirm.invalid && forgetpwd.controls.confirm.dirty, 'ng_valid': forgetpwd.controls.confirm.valid && forgetpwd.errors?.['passwordmatcherror']}">
                        <span *ngIf="forgetpwd.errors?.['passwordmatcherror'] && (forgetpwd.controls.confirm.touched || forgetpwd.controls.confirm.dirty)" class="error-message">
                        Passwords do not match
                        </span>
                    </div>
                    </div>

                    <!-- </form> -->
                    <div class="clear-update-button">
                        <button class="clear-btn" (click)="clearForm()">Clear</button>
                        <button class="update-btn" (click)="openModal3()" type="submit" [disabled]="!isPasswordMatched || forgetpwd.invalid">Update Password</button>

                    </div>
                </form>

            </div>
        </div>
    </div>






    <!--Modal 1-->







    <!-- <form class="Modal_form" *ngIf="showModal1"> -->
    <div class="Modal_form" *ngIf="showModal1">
        <div class="company_modal">
            <i class="fa-solid fa-xmark" (click)="closeModal1()"></i>
            <div class="edit-company-heading">
                <h3>Update Company Details  </h3>
            </div>

            <form class="form" [formGroup]="companyDetailsForm" (ngSubmit)="updateData(companyDetailsForm.value)">
                <div class="name-email">
                    <div class="form__group">
                        <label for="name">Company Name</label>
                        <input type="text" class="form_input"  placeholder='{{organisationn}}' id="name" disabled />
                    </div>
                    <!-- <div class="form__group">
                        <label for="employeeno">No. of employees</label>
                        <input type="number" class="form_input" style=" background-color: #f4f4f4;
                        color: #aaa;" placeholder="{{totalemployee}}" id="employeeno" disabled />
                    </div>  -->
                    <div class="form__group">
                        <label for="email">Head Office</label>
                        <input type="text" class="form_input" placeholder='{{headOffice}}' formControlName="headOffice"
                            id="email" required />
                    </div>
                </div>


                <div class="name-email">
                    <div class="form__group">
                        <label for="name" class="company-descrip">Description</label>
                        <div class="modal-text">
                            <!-- <input type="text" [readonly]="true"
                              placeholder=""  > -->
                            <textarea class="textarea-2" formControlName="description"
                                placeholder="{{description}}">{{description}}</textarea>
                        </div>
                    </div>

                </div>



            </form>


            <div class="company-details-footer">
                <button class="done-btn" (click)="closeModal1(); updateData(companyDetailsForm.value)">Done</button>
            </div>
        </div>
        <!-- </form> -->
    </div>

    <!--Modal 2-->



    <!-- <form class="Modal_form" *ngIf="showModal2"> -->
    <div class="Modal_form" *ngIf="showModal2">
        <div class="Modal_modal">
            <i class="fa-solid fa-xmark" (click)="closeModal2()"></i>
            <div class="edit-profile-heading">
                <h3>Edit Personal Details </h3>
            </div>

            <form class="form" [formGroup]="personalDetailsForm" (ngSubmit)="updateData(personalDetailsForm.value)">
                <div class="name-email">
                    <div class="form__group">
                        <label for="empname">Name</label>
                        <input type="text" class="form_input" style=" background-color: #f4f4f4;
                        color: #aaa;"  placeholder='{{employeename}}'  id="empname" disabled />

                    </div>
                    <div class="form__group">
                        <label >Personal Email</label>
                        <input type="email" class="form_input"  placeholder='{{employeeemail}}'
                        formControlName="personalemail"
                        required />
                    </div>
                </div>



                <div class="email-phone">
                    <div class="form__group">
                        <label for="professionalemail">Professional Email</label>
                        <input type="email" class="form_input"
                        style=" background-color: #f4f4f4;
                        color: #aaa;" placeholder='{{professional_email_id}}' id="professionalemail" disabled />
                    </div>
                    <div class="form__group">
                        <label for="phone">Phone no.</label>
                        <input type="number" class="form_input" placeholder='{{phone}}' formControlName="phone" id="phone" required />
                    </div>
                </div>


            </form>


            <div class="edit-profile-footer">
                <button class="done-btn" (click)="closeModal2();updateData(personalDetailsForm.value)">Done</button>
            </div>
        </div>
        <!-- </form> -->
    </div>




    <!--Modal 3-->




    <form class="leave_approved_form" *ngIf="showModal3">
        <div class="leave_approved_modal">
            <i class="fa-solid fa-xmark" (click)="closeModal3()"></i>
            <div class="logo_bg">
                <img src="assets/images/tick.png" alt="image">
            </div>
            <h4>Password Changed Successfully!</h4>
            <p>Your password has been updated.</p>
            <div class="Done_form_btn">
                <button class="Done_btn" (click)="closeModal3()">Done</button>
            </div>
        </div>
    </form>

</div>
