<app-sidebar></app-sidebar>
<app-header></app-header>
<div class="employee_leaves">
    <div class="employee_leaves_main" *ngIf="employeemaintable">
        <div class="available-balance-area">
            <h6>Available Leave Balance (On Annual basis)</h6>

            <div class="casual-leaves">
                <div class="leaves">
                    <div class="leave-text">
                        <h6>Casual Leave</h6>
                        <h4>05</h4>
                    </div>
                    <div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--value:10">
                    </div>
                </div>
                <div class="leaves">
                    <div class="leave-text">
                        <h6>Medical Leave</h6>
                        <h4>05</h4>
                    </div>
                    <div role="progressbar1" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                        style="--value:10">
                    </div>
                </div>
                <div class="leaves">
                    <div class="leave-text">
                        <h6>Urgent Leave</h6>
                        <h4>04</h4>
                    </div>
                    <div role="progressbar2" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                        style="--value:10">
                    </div>
                </div>
                <div class="leaves">
                    <div class="leave-text">
                        <h6>Earned Leave</h6>
                        <h4>10</h4>
                    </div>
                    <div role="progressbar3" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                        style="--value:10">
                    </div>
                </div>

            </div>
        </div>
        <div class="leave-status-area">
            <div class="Leave-status">
                <h6>Leave Status (This Month)</h6>
                <a (click)="tablehistory()"><u>My Leave History</u></a>
            </div>
            <!----------------------------Table------------------------------->
            <div class="attendence_table">
                <div class="table_data">
                    <table class="table_text">
                        <thead>
                            <tr class="table_heading">
                                <th>APPLIED ON</th>
                                <th>FROM</th>
                                <th>TO</th>
                                <th>DURATION</th>
                                <th>CATEGORY</th>
                                <th>REASON</th>
                                <th>STATUS</th>
                                <th>COMMENT (BY HR)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>26/04/2023</td>
                                <td>30/04/2023</td>
                                <td>01/05/2023</td>
                                <td>2 days</td>
                                <td>Casual Leave</td>
                                <td>I have to attend some family...</td>
                                <td>Rejected</td>
                                <td>Due to staffing limitation...</td>
                            </tr>

                            <tr>
                                <td>12/04/20233</td>
                                <td>15/04/2023</td>
                                <td>15/04/2023</td>
                                <td>2 days</td>
                                <td>Medical Leave</td>
                                <td>My health is not good...</td>
                                <td>Approved</td>
                                <td>-----</td>
                            </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
        <!--------------------Apply for leaves------------------->
        <div class="apply-for-leaves">
            <h6>Apply For Leave </h6>
            <form class="form">
                <div class="col-3">
                    <div class="form-group">
                        <label for="">From</label><br>
                        <input type="date" placeholder="29/04/2023">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="">To</label><br>
                        <input type="date" placeholder="29/04/2023">
                    </div>
                </div>
                <div class="col-3">

                    <div class="form-group">
                        <label for="">Duration</label><br>
                        <input type="text" placeholder="1 day" disabled>
                    </div>
                </div>
                <div class="col-3">

                    <div class="form-group">
                        <label for="">Category</label><br>
                        <div class="dropdown_container" (mouseleave)="contentdropdown = false">
                            <div class="dropdwon_select" (click)="dropdownOpen()">
                                <p>{{Selectvariable}}</p>
                                <i class="fa-sharp fa-solid fa-caret-down"></i>
                            </div>
                            <div class="select_content" *ngIf="contentdropdown">
                                <ul>
                                    <li *ngFor="let arr of array; index as i"
                                        [class.select_active]="i === colorvariable" (click)="Changeselect(arr)">
                                        {{arr.name}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!--Apply for leaves-->
            <div class="reason-attachments">
                <div class="col-6">
                    <div class="reason">
                        <label for="">Reason</label>
                        <textarea placeholder="Type your reason here..."></textarea>
                    </div>
                </div>
                <div class="col-6">
                    <div class="reason">
                        <label for="">Attachments(Optional)</label>
                        <div class="textarea">
                            <img src="assets/images/ant-design_cloud-upload-outlined.svg" alt="">
                            <p class="first">Select a file or drag and drop here</p>
                            <p class="second">Supported formats: pdf, jpg, png</p>
                            <div class="choose-btn">
                                <button class="choose-file">Choose File</button>
                                <input type="file">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clear-apply-button">
                <button class="clear">Clear</button>
                <button class="apply" (click)="applyleaves()">Apply</button>
            </div>
        </div>

    </div>


    <!-- -------------My Leave History Table----------------- -->


    <div class="leave-History-area" *ngIf="leaveshistory">
        <div class="Leave-History">
            <div class="leaves_history_icon">
                <i class="fa-sharp fa-solid fa-angle-left" (click)="employee_leaves()"></i>
            </div>
            <h6>My Leave History</h6>
        </div>
        <div class="attendence_history_table">
            <div class="table_data">
                <table class="table_text">
                    <thead>
                        <tr class="table_heading">
                            <th>APPLIED ON</th>
                            <th>FROM</th>
                            <th>TO</th>
                            <th>DURATION</th>
                            <th>CATEGORY</th>
                            <th>REASON</th>
                            <th>STATUS</th>
                            <th>COMMENT (BY HR)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>26/04/2023</td>
                            <td>30/04/2023</td>
                            <td>01/05/2023</td>
                            <td>2 days</td>
                            <td>Casual Leave</td>
                            <td>
                                <p class="mt20">
                                    <span class="tooltip"
                                        data-tooltip="I found what I need. And it's not friends, it's things  not friends, it's things not friends, it's things not friends, it's things not friends, it's things. I found what I need. And it's not friends, it's things  "
                                        data-tooltip-pos="right" data-tooltip-length="medium">I have to attend some
                                        family
                                        f...</span>
                                </p>

                            </td>
                            <td>Rejected</td>
                            <td>
                                <p class="mt20">
                                    <span class="tooltip"
                                        data-tooltip="I found what I need. And it's not friends, it's things  not friends, it's things not friends, it's things not friends, it's things not friends, it's things. I found what I need. And it's not friends, it's things  "
                                        data-tooltip-pos="right" data-tooltip-length="medium">I have to attend some
                                        family
                                        f...</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>26/04/2023</td>
                            <td>30/04/2023</td>
                            <td>01/05/2023</td>
                            <td>2 days</td>
                            <td>Casual Leave</td>
                            <td>
                                <p class="mt20">
                                    <span class="tooltip"
                                        data-tooltip="I found what I need. And it's not friends, it's things  not friends, it's things not friends, it's things not friends, it's things not friends, it's things. I found what I need. And it's not friends, it's things  "
                                        data-tooltip-pos="right" data-tooltip-length="medium">I have to attend some
                                        family
                                        f...</span>
                                </p>

                            </td>
                            <td>Rejected</td>
                            <td>
                                <p class="mt20">
                                    <span class="tooltip"
                                        data-tooltip="I found what I need. And it's not friends, it's things  not friends, it's things not friends, it's things not friends, it's things not friends, it's things. I found what I need. And it's not friends, it's things  "
                                        data-tooltip-pos="right" data-tooltip-length="medium">I have to attend some
                                        family
                                        f...</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>26/04/2023</td>
                            <td>30/04/2023</td>
                            <td>01/05/2023</td>
                            <td>2 days</td>
                            <td>Casual Leave</td>
                            <td>
                                <p class="mt20">
                                    <span class="tooltip"
                                        data-tooltip="I found what I need. And it's not friends, it's things  not friends, it's things not friends, it's things not friends, it's things not friends, it's things. I found what I need. And it's not friends, it's things  "
                                        data-tooltip-pos="right" data-tooltip-length="medium">I have to attend some
                                        family
                                        f...</span>
                                </p>

                            </td>
                            <td>Rejected</td>
                            <td>
                                <p class="mt20">
                                    <span class="tooltip"
                                        data-tooltip="I found what I need. And it's not friends, it's things  not friends, it's things not friends, it's things not friends, it's things not friends, it's things. I found what I need. And it's not friends, it's things  "
                                        data-tooltip-pos="right" data-tooltip-length="medium">I have to attend some
                                        family
                                        f...</span>
                                </p>
                            </td>
                        </tr>

                    </tbody>

                </table>

            </div>
        </div>
    </div>


<!-- ----------------------Leave applied successfully! Modal------------------------ -->

    <form class="leave_approved_form" *ngIf="leave_approved_form">
        <div class="leave_approved_modal">
            <i class="fa-solid fa-xmark" (click)="closemodal()"></i>
            <div class="logo_bg">
                <img src="assets/images/tick.png" alt="image">
            </div>
            <h4>Leave applied successfully!</h4>
            <p>You’ll be notified about the decision of HR regarding your leave.</p>
            <div class="Done_form_btn">
                <button class="Done_btn" (click)="closemodal()">Done</button>
            </div>
        </div>
    </form>


</div>