<div class="sidebar">
  <div class="side1">
    <div class="logo">
      <a href="">
        <img src="./assets/images/hrr_3.svg" alt="img">
        HRmaven
      </a>
    </div>
    <p>Menu</p>
    <ul class="navigation">
      <li routerLink="/employee/dashboard" routerLinkActive="active"  [class.active]="activeLink === 'dashboard'"><a><img src="./assets/images/Frame-5.svg" alt="" >Dashboard</a></li>
      <!-- <li routerLink="/employee" routerLinkActive="active"  [class.active]="activeLink === 'employee'"><a><img src="./assets/images/Frame-7.svg" alt="">Employee</a></li> -->
      <li routerLink="/employee/calendar" routerLinkActive="active" [class.active]="activeLink === 'calendar'"><a><img src="./assets/images/Frame-13.svg" alt="">Calendar</a>

      <li routerLink="/employee/attendance" routerLinkActive="active" [class.active]="activeLink === 'attendance'"><a><img src="./assets/images/Frame-13.svg" alt="">Attendance</a>

      </li>
      <li routerLink="/employee/leave" routerLinkActive="active" [class.active]="activeLink === 'leave'"><a><img src="./assets/images/Frame-13.svg" alt="">Leave</a>

      <li routerLink="/employee/payroll" routerLinkActive="active" [class.active]="activeLink === 'Timesheet'"><a><img src="./assets/images/timesheet.png" alt="">Timesheet</a></li>
      <!-- <li routerLink="/leaves" routerLinkActive="active" [class.active]="activeLink === 'leaves'"><a><i class="fa-solid fa-list-check"></i>Leaves</a>
      </li> -->
      <li routerLink="/employee/recruitment" routerLinkActive="active" [class.active]="activeLink === 'recruitment'"><a><img src="./assets/images/Frame.svg" alt="">Recruitment</a>
      </li>
      <!-- <li routerLink="/employee/report" routerLinkActive="active" [class.active]="activeLink === 'report'"><a><img src="./assets/images/Frame-11.svg" alt="">Report</a>
      </li> -->
    </ul>

  </div>
  <div class="side2">
    <p>Settings</p>
    <ul class="navigation2">
      <li><a href="#"><img src="./assets/images/icon-park-outline_help.svg">Help</a></li>
      <li><a (click)="logout()"><img src="./assets/images/uil_signout.svg">Sign Out</a></li>
    </ul>
  </div>
</div>
