<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="meeting_main">
    <div class="meeting_content">
        <div class="col-6">
            <div class="card">
                <h1>Meeting Title: Regarding “HRMS” Discussion</h1>
                <p>Description: Join us for an important meeting focused on discussing the implementation of a Human
                    Resource Management System (HRMS).This meeting will bring together key stakeholders, including HR
                    professionals, IT experts, and department heads, to explore the benefits, functionalities, and potential
                    challenges associated with adopting an HRMS solution </p>
                <div class="meeting_date">
                    <p><span>Date:</span>May 29,2023</p>
                    <p><span>Duration:</span> 1 hr</p>
                </div>
                <div class="meeting_mode">
                    <p><span>Mode:</span> Online</p>
                    <p class="meeting_link"><span>Meeting link:</span> <u> https://meet.google.com/avo-zhbq-xua</u></p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <h1>Meeting Title: Regarding “HRMS” Discussion</h1>
                <p>Description: Join us for an important meeting focused on discussing the implementation of a Human
                    Resource Management System (HRMS).This meeting will bring together key stakeholders, including HR
                    professionals, IT experts, and department heads, to explore the benefits, functionalities, and potential
                    challenges associated with adopting an HRMS solution </p>
                <div class="meeting_date">
                    <p><span>Date:</span>May 29,2023</p>
                    <p><span>Duration:</span> 1 hr</p>
                </div>
                <div class="meeting_mode">
                    <p><span>Mode:</span> Online</p>
                    <p class="meeting_link"><span>Meeting link:</span> <u> https://meet.google.com/avo-zhbq-xua</u></p>
                </div>
            </div>
        </div><div class="col-6">
            <div class="card">
                <h1>Meeting Title: Regarding “HRMS” Discussion</h1>
                <p>Description: Join us for an important meeting focused on discussing the implementation of a Human Resource Management System (HRMS).  </p>
                <div class="meeting_date">
                    <p><span>Date:</span>May 29,2023</p>
                    <p><span>Duration:</span> 1 hr</p>
                </div>
                <div class="meeting_mode">
                    <p><span>Mode:</span> Online</p>
                    <p class="meeting_link"><span>Meeting link:</span> <u> https://meet.google.com/avo-zhbq-xua</u></p>
                </div>
            </div>
        </div><div class="col-6">
            <div class="card">
                <h1>Meeting Title: Regarding “HRMS” Discussion</h1>
                <p>Description: Join us for an important meeting focused on discussing the implementation of a Human Resource Management System (HRMS).  </p>
                <div class="meeting_date">
                    <p><span>Date:</span>May 29,2023</p>
                    <p><span>Duration:</span> 1 hr</p>
                </div>
                <div class="meeting_mode">
                    <p><span>Mode:</span> Online</p>
                    <p class="meeting_link"><span>Meeting link:</span> <u> https://meet.google.com/avo-zhbq-xua</u></p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <h1>Meeting Title: Regarding “HRMS” Discussion</h1>
                <p>Description: Join us for an important meeting focused on discussing the implementation of a Human
                    Resource Management System (HRMS).This meeting will bring together key stakeholders, including HR
                    professionals, IT experts, and department heads, to explore the benefits, functionalities, and potential
                    challenges associated with adopting an HRMS solution </p>
                <div class="meeting_date">
                    <p><span>Date:</span>May 29,2023</p>
                    <p><span>Duration:</span> 1 hr</p>
                </div>
                <div class="meeting_mode">
                    <p><span>Mode:</span> Online</p>
                    <p class="meeting_link"><span>Meeting link:</span> <u> https://meet.google.com/avo-zhbq-xua</u></p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <h1>Meeting Title: Regarding “HRMS” Discussion</h1>
                <p>Description: Join us for an important meeting focused on discussing the implementation of a Human
                    Resource Management System (HRMS).This meeting will bring together key stakeholders, including HR
                    professionals, IT experts, and department heads, to explore the benefits, functionalities, and potential
                    challenges associated with adopting an HRMS solution </p>
                <div class="meeting_date">
                    <p><span>Date:</span>May 29,2023</p>
                    <p><span>Duration:</span> 1 hr</p>
                </div>
                <div class="meeting_mode">
                    <p><span>Mode:</span> Online</p>
                    <p class="meeting_link"><span>Meeting link:</span> <u> https://meet.google.com/avo-zhbq-xua</u></p>
                </div>
            </div>
        </div>
    </div>
</div>