<app-header></app-header>
<app-sidebar></app-sidebar>
<section>
    <div class="file_upload">
        <button class="file" (click)="fileInput.click()">Choose File</button>
    </div>
    <div class="file_size">
        <p>Maximum Size : 5 MB</p>
    </div>
    <div class="upload_progress_bar">
        <div class="pdf_file">
            <h4>PDF</h4>
        </div>
        <div class="input_upload">
            <input type="text" [value]="fileName" readonly>
            <input type="file" #fileInput (change)="onfileselected($event)" [value]="fileName">
            <div class="progress-bar">
                <div class="progress_upload"></div>
                <div class="progress-text-input">0%</div>
            </div>
        </div>
    </div>
    

	
</section>