<app-sidebar></app-sidebar>
<app-header></app-header>
<div class="main">
  <div class="selection">
    <input type="text" placeholder="Type Employee ID...">
    <select id="select">
      <option value="option1">Designation</option>
      <option value="option2">Software Developer</option>
      <option value="option3">Frontend Developer</option>
      <option value="option4">UI/UX Designer</option>
      <option value="option5">Full Stack Developer</option>
      <option value="option6">Quality Analyst</option>
    </select>
    <!-- <i class="fa-solid fa-caret-down" (click)="toggleDropdown()"></i> -->
    <div id="dropdown-container" [ngClass]="{'show': isDropdownOpen}">
      <ul class="navigation">
        <li>Software Developer</li>
        <hr>
        <li>Frontend Developer</li>
        <hr>
        <li>UI/UX Designer</li>
        <hr>
        <li>Full Stack Developer</li>
        <hr>
        <li>Quality Analyst</li>
      </ul>
    </div>
    <button class="btn1" (click)="changeColor()" [style.background-color]="buttonbackgroundColor"
      [style.color]="buttonColor">Search</button>
    <button class="btn2" (click)="changeColor2()" [style.background-color]="buttonbackgroundColor2"
      [style.color]="buttonColor2">Clear</button>
    <button class="btn3" (click)="changeColor3()" [style.background-color]="buttonbackgroundColor3"
      [style.color]="buttonColor3" (click)="openModal()"><i class="fa-solid fa-circle-plus"></i>Add Employee</button>
  </div>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th class="employee">Employee ID</th>
          <th class="name">Name</th>
          <th class="email">Designation</th>
          <th class="designation">Email</th>
          <th class="action">Contact</th>
          <th class="contact">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of employee">
          <td class="employee1">{{user.uid}}</td>
          <td class="name1">{{user.name}}</td>
          <td class="designation1">{{user.designation}}</td>
          <td class="email1">{{user.email}}</td>
          <td class="contact1">{{user.mobile}}</td>
          <td class="action1">
            <div class="icons"><i class="fa-solid fa-pencil"></i>
              <i class="fa-solid fa-trash-can" (click)="todelete(user)"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal" *ngIf="showModal">
    <div class="modal-content" *ngIf="showModalContent">
      <div class="modal-header">
        <h4 class="modal-title">New Employee</h4>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
      </div>
      <div class="modal-body">
        <div class="numbers">
          <div class="number" [ngClass]="{'active':firstStep}"><span [ngClass]="{'active':firstStep}">1</span>
          </div>
          <div class="number"><span [ngClass]="{'active':secondStep}">2</span></div>
          <div class="number"><span [ngClass]="{'active':thirdStep}">3</span></div>
        </div>
        <div class="details">
          <p class="active1" [ngStyle]="firstStep && {'color': '#2F2C9F'}">Basic Details</p>
          <p class="notactive1" [ngStyle]="secondStep && {'color': '#2F2C9F'}">Content Details</p>
          <p class="notactive2" [ngStyle]=" thirdStep && {'color': '#2F2C9F'}">Personal Particulars</p>
        </div>




        <form class="form-container" id="form1" [formGroup]="form" *ngIf="firstStep" (ngSubmit)="submit(form.value)">
          <div class="form-row">
            <div class="input">
              <label>Name</label>
              <input type="text" id="text1" placeholder="Type here..." formControlName="name" required>
            </div>
            <div class="input">
              <label>Designation</label>
              <input type="text" id="text1" placeholder="Type here..." formControlName="designation">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>UID</label>
              <input type="text" id="text1" placeholder="Type here..." formControlName="uid">
            </div>
            <div class="input">
              <label>Date of Joining</label>
              <input type="text" id="text1" placeholder="Type here..." formControlName="dateOfJoining">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>Date of Birth</label>
              <input type="text" id="text1" placeholder="DD/MM/YYYY" formControlName="dateOfBirth">
            </div>
            <div class="input">
              <label>Gender</label>
              <select id="slt" formControlName="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="others">Others</option>
              </select>
            </div>
          </div>
        </form>






        <form class="form-container " id="form2" [formGroup]="form" *ngIf="secondStep">
          <div class="form-row">
            <div class="input">
              <label>Mobile No.</label>
              <input type="text" id="text1" placeholder="Type here..." formControlName="mobile">
            </div>
            <div class="input">
              <label>Email</label>
              <input type="text" id="text1" placeholder="Type here..." formControlName="email">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>Address</label>
              <input type="textarea" id="text2" placeholder="Type here..." formControlName="address">
            </div>
          </div>
        </form>



        <form class="form-container " id="form3" [formGroup]="form" *ngIf="thirdStep">
          <div class="form-row">
            <div class="input">
              <label>Bank Name</label>
              <input type="text" id="text1" placeholder="Type here..." formControlName="bankname">
            </div>
            <div class="input">
              <label>Account Number</label>
              <input type="text" id="text1" placeholder="Type here..." formControlName="accountno">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>IFSC Code</label>
              <input type="text" id="text1" placeholder="Type here..." formControlName="ifsc">
            </div>
            <div class="input">
              <label>Aadhar Card No.</label>
              <input type="text" id="text1" placeholder="Type here..." formControlName="adhaarno">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>PAN number</label>
              <input type="text" id="text1" placeholder="Type here..." formControlName="panno">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button *ngIf="firstStep" (click)="onNextForm()" class="next-btn">Next</button>
        <button *ngIf="secondStep" (click)="onPreviousForm()" class="back-btn">Back</button>
        <button *ngIf="secondStep" (click)="nextForm1()" class="next-btn">Next</button>
        <button *ngIf="thirdStep" (click)="previousForm1()" class="back-btn">Back</button>
        <button type="submit" *ngIf="thirdStep" [disabled]="form.invalid" class="done-btn"
          (click)="submit(form.value)">Done</button>
      </div>
    </div>
    <div class="modal-content2" *ngIf="fourthStep">
      <div class="modal-header2">
        <i class="fa-solid fa-circle-check" style="color: #3D9030; font-size: 60px;"></i>
      </div>
      <div class="modal-body2">
        <h3>New employee added successfully!</h3>
        <p>You can add more employees in a similar way
          and edit them when necessary.</p>
        <button class="done-btn2" (click)="closeModal()">Done</button>
      </div>
    </div>

    <div class="modal-content3" *ngIf="rowdelete">
      <div class="modal-body3">
        <h4>Do you really want to delete this employee?</h4>
        <div class="delete-btns">
          <button class="yes-btn" (click)="successdelete()">Yes</button>
          <button class="no-btn" (click)="closeModal2()">No</button>
        </div>
        <i class="fa-solid fa-xmark second" (click)="closeModal2()"></i>
      </div>
    </div>
    <div class="modal-content4" *ngIf="deletemessage">
      <div class="modal-header4">
        <img src="./assets/images/tick.png" alt="img">
      </div>
      <div class="modal-body4">
        <h3>Employee deleted successfully!</h3>
        <button class="done-btn2" (click)="closeModal3()">Done</button>
      </div>
    </div>

  </div>
