@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu+Condensed&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.main {
    width: calc(100% - 223px);
    margin-left: 223px;
    background: #f9f9f9;
    padding: 30px;
    min-height: 100%;
}

.selection {
    display: flex;
    gap: 10px;
    padding-top: 65px;
}

input[type='text'] {
    padding: 10px 42px 10px 17px;
    width: 192px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid transparent;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #888888;
    font-family: 'Outfit', sans-serif;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#select {
    /* position: relative; */
    padding: 10px;
    width: 172px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid transparent;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    color: #444444;
    /* opacity: 1; */
    font-family: 'Outfit', sans-serif;
}

.btn1 {
    width: 94px;
    height: 40px;
    background: #2F2C9F;
    border-radius: 8px;
    padding: 10px 25px;
    border: 1px solid #2F2C9F;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
}

.fa-caret-down {
    position: absolute;
    left: 35.63%;
    top: 14.2%;
    /* transform: translateY(-50%); */
    color: #444444;
    cursor: pointer;
}

.btn2 {
    width: 94px;
    height: 40px;
    background: #ECECEC;
    border-radius: 8px;
    padding: 10px 25px;
    border: 1px solid #ECECEC;
    outline: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #2F2C9F;
}

.btn1:hover {
    background: #2F2C9F;
    opacity: 0.7;
}

.btn2:hover {
    background-color: #cbcbcb;
    opacity: 1;
}

#dropdown-container {
    display: none;
    position: absolute;
    top: 17.8%;
    left: 26.7%;
    background-color: #FFFFFF;
    border: 1px solid transparent;
    padding: 5px;
    width: 172px;
    height: 213px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.1);
}

hr {
    width: 100%;
    color: #cbcbcb;
    opacity: 0.2;
}

#dropdown-container li {
    list-style: none;
    padding: 10px 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    color: #444444;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
}

#dropdown-container li:hover {
    background-color: #e0e0e0;
}

#dropdown-container.show {
    display: block;
}

.btn3 {
    display: flex;
    margin-left: auto;
    /* position: absolute; */
    width: 162px;
    height: 44px;
    /* padding-left: 15px; */
    gap: 10px;
    align-items: center;
    justify-content: center;
    background: #2F2C9F;
    border-radius: 8px;
    border: 1px solid #2F2C9F;
    color: #FFFFFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    outline: none;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
}

.btn3:hover {
    background: #2F2C9F;
    opacity: 0.7;
}

.fa-circle-plus {
    /* position: absolute; */
    margin-top: 3px;
    border-radius: 50%;
    width: 16.67px;
    height: 16.67px;
}

.table-wrapper {
    margin-top: 19px;
    width: 100%;
    overflow-y: auto;
    height: 600px;
}

#dropdown-container.show {
    display: block;
}

.btn3 {
    margin-left: auto;
    position: relative;
    width: 162px;
    height: 44px;
    padding-left: 15px;
    align-items: center;
    background: #2F2C9F;
    border-radius: 8px;
    border: 1px solid #2F2C9F;
    color: #FFFFFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    outline: none;
    cursor: pointer;
}

.btn3:hover {
    background: #2F2C9F;
    opacity: 0.7;
}

.fa-circle-plus {
    position: absolute;
    bottom: 27%;
    left: 9.5%;
    border-radius: 50%;
    width: 16.67px;
    height: 16.67px;
}


/* .table-wrapper table thead tr {
    position: fixed;
} */

.table-wrapper {
    margin-top: 19px;
    width: 100%;
    overflow-y: auto;
    height: 650px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.employee {
    width: 130px;
    height: 41px;
    padding: 15px 20px;
    text-align: justify;
    background: #EFEFF8;
    border-radius: 5px 0px 0px 0px;
    border: 1px solid #f9f9f9;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 100%;
    color: #444444;
    text-transform: uppercase;
}

.name {
    width: 220px;
    height: 41px;
    padding: 15px 20px;
    text-align: justify;
    background: #EFEFF8;
    border-radius: 5px 0px 0px 0px;
    border: 1px solid #f9f9f9;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 100%;
    color: #444444;
    text-transform: uppercase;
}

.designation {
    width: 220px;
    height: 41px;
    padding: 15px 20px;
    text-align: justify;
    background: #EFEFF8;
    border-radius: 5px 0px 0px 0px;
    border: 1px solid #f9f9f9;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 100%;
    color: #444444;
    text-transform: uppercase;
}

.email {
    width: 220px;
    height: 41px;
    background: #EFEFF8;
    text-align: justify;
    padding: 15px 20px;
    border-radius: 5px 0px 0px 0px;
    border: 1px solid #f9f9f9;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 100%;
    color: #444444;
    text-transform: uppercase;
}

.action {
    width: 177px;
    height: 41px;
    background: #EFEFF8;
    text-align: justify;
    border-radius: 0px 4px 0px 0px;
    padding: 15px 20px;
    border: 1px solid #f9f9f9;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 100%;
    color: #444444;
    text-transform: uppercase;
}

.contact {
    width: 180px;
    height: 41px;
    background: #EFEFF8;
    border-radius: 0px 4px 0px 0px;
    padding: 15px 20px;
    text-align: justify;
    border: 1px solid #f9f9f9;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 100%;
    color: #444444;
    text-transform: uppercase;
}

.employee1 {
    width: 130px;
    height: 44px;
    background: #FFFFFF;
    padding: 15px 20px;
    border: 1px solid #f9f9f9;
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #555555;
}

.name1 {
    width: 220px;
    height: 44px;
    padding: 15px 20px;
    border: 1px solid #f9f9f9;
    text-align: justify;
    background: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #555555;
}

.email1 {
    width: 220px;
    height: 44px;
    text-align: justify;
    padding: 15px 20px;
    border: 1px solid #f9f9f9;
    background: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #555555;
}

.designation1 {
    width: 220px;
    height: 44px;
    text-align: justify;
    padding: 15px 20px;
    border: 1px solid #f9f9f9;
    background: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #555555;
}

.action1 {
    width: 177px;
    height: 44px;
    padding: 15px 20px;
    text-align: justify;
    border: 1px solid #f9f9f9;
    background: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #555555;
}

.contact1 {
    width: 180px;
    height: 44px;
    text-align: justify;
    padding: 15px 20px;
    border: 1px solid #f9f9f9;
    background: #FFFFFF;
    font-style: normal;
    /* border-top: collapse; */
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #555555;
}

table,
th,
td {
    /* border: 1px solid white; */
    border-collapse: separate;
}

tr:hover {
    background-color: #ffb !important;
}

th,
td {
    background-color: #ffffff;
}

table {
    width: 100%;
    border-spacing: 2px 5px;
    cursor: pointer;
}

.icons {
    display: flex;
    gap: 26px;
}

.icons .fa-pencil {
    color: #999999;
    cursor: pointer;
}

.icons .fa-trash-can {
    color: #EE4032;
    cursor: pointer;
}

.icons .fa-pencil:hover {
    color: #2F2C9F;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #ffffff;
    position: absolute;
    width: 700px;
    height: 598px;
    border-radius: 8px;
}

.modal-header {
    width: 700px;
    height: 75px;
    background-color: #F7F7FB;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 8px 8px 0px 0px;
    align-items: center;
}

.modal-title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #444444;
}

.modal-body {
    width: 550px;
    height: 349px;
    margin-bottom: 95px;
}


/* .form-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.numbers {
    display: flex;
    /* justify-content: space-between; */
    gap: 106px;
    align-items: center;
    padding-top: 50px;
    padding-left: 180px;
}

.number {
    border: 1px solid #2F2C9F;
    border-radius: 50%;
    padding: 4.5px;
}


/* .active {
  border: 1px dashed #000;
} */

.numbers span.active {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #2F2C9F;
    width: 30px;
    background: #2F2C9F;
    height: 30px;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

span {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #E0E0E0;
    width: 30px;
    background: #E0E0E0;
    height: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

.details {
    display: flex;
    padding-left: 166px;
    padding-top: 10px;
    /* gap: 60px; */
}

.details p.active1 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #2F2C9F;
}

.details p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #999999;
    ;
}

.details .notactive1 {
    padding-left: 67px;
}

.details .notactive2 {
    padding-left: 46px;
}

#form1 {
    padding-top: 50px;
    padding-left: 75px;
}

.form-row {
    display: flex;
    gap: 30px;
}

label {
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #333333;
}

#text1 {
    /* display: block; */
    width: 260px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(180, 180, 180, 0.8);
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: rgba(136, 136, 136, 0.7);
}

#slt {
    width: 260px;
    padding: 12px 24px 12px 17px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(180, 180, 180, 0.8);
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: none;
    outline: none;
    color: #666666;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

.input {
    display: flex;
    flex-direction: column;
}

tr:hover {
    background-color: #cbcbcb !important;
}

.modal-footer {
    width: 700px;
    height: 75px;
    background-color: #F7F7FB;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 8px 8px;
}

.next-btn {
    width: 90px;
    height: 40px;
    padding: 10px 25px;
    background: #2F2C9F;
    font-style: normal;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    border-radius: 8px;
    border: 1px solid #2F2C9F;
    color: #ffffff;
    cursor: pointer;
}

.back-btn {
    width: 90px;
    height: 40px;
    padding: 10px 25px;
    background: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    border-radius: 8px;
    border: 1px solid #2F2C9F;
    color: #2F2C9F;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
}

.done-btn {
    width: 90px;
    height: 40px;
    padding: 10px 25px;
    background: #2F2C9F;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    border-radius: 8px;
    border: 1px solid #2F2C9F;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
}

.next-btn:hover {
    background-color: #2F2C9F;
    opacity: 0.7;
}

.done-btn:hover {
    background-color: #2F2C9F;
    opacity: 0.7;
}

#form2 {
    padding-top: 50px;
    padding-left: 75px;
}

#text2 {
    width: 550px;
    height: 124px;
    background: #FFFFFF;
    border: 1px solid #B4B4B4;
    border-radius: 8px;
    padding: 10px 17px;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: rgba(136, 136, 136, 0.7);
    font-family: 'Outfit', sans-serif;
}

#form3 {
    padding-top: 50px;
    padding-left: 75px;
}

.close-btn {
    background-color: transparent;
    border: none;
    color: #777;
    font-size: 16px;
    cursor: pointer;
}

.close-btn:hover {
    color: black;
}

.fa-xmark {
    position: absolute;
    top: -3%;
    right: -5%;
    cursor: pointer;
    color: #ECECEC;
    font-size: 20px;
}

.modal2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content2 {
    width: 470px;
    height: 349px;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 20px 10px;
}

.modal-header2 {
    width: 450px;
    height: 130px;
    background: rgba(123, 211, 109, 0.3);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.modal-body2 h3 {
    padding-top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #444444;
    font-family: 'Outfit', sans-serif;
}

.modal-body2 p {
    margin-top: 5px;
    margin-bottom: 28px;
    margin-left: 80px;
    margin-right: 80px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #777777;
    font-family: 'Outfit', sans-serif;
}

.done-btn2 {
    width: 82px;
    height: 38px;
    background: #3D9130;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    border: 1px solid #3D9130;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
}

.done-btn2:hover {
    background-color: #3D9130;
    opacity: 0.7;
}