.row {
    display: flex;
    width: 100%;
    justify-content: start;
    position:relative;
}

.left-side {
    background-color: var(--primary-color);
    margin-top: 24px;
    border-radius: 12px;
    padding-bottom: 18px;
    margin-left: 21px;
    margin-bottom: 18px;
    height: calc(100vh - 48px);
    margin-bottom: 18px;
    width: 546px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-side .logo-image {
    margin-top: 78px;
    padding-left: 83px;
}

.left-side .title {
    padding-left: 78px;
    padding-top: 29px;
    font-family: 'Outfit';
    font-size: 36px;
    font-weight: 500;
    color: #FFFFFF;
    width: 80%;
}

.left-side .title_para {
    padding-top: 12px;
    padding-left: 78px;
    font-size: 18px;
    color: #FAFAFA;
    width: 85%;
    font-family: 'Outfit';
    font-weight: 400;
}

.card {
    width: 392px;
    height: 197px;
    background-color: #1D38A6;
    margin-top: 56px;
    border-radius: 16px;
    transition: 2s;
}

.card .card-text {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: #FAFAFA;
    font-family: 'Outfit';
    font-weight: 400;
}

.profile {
    display: flex;
    gap: 12px;
    margin-left: 30px;
    margin-top: 34px;
}

.profile img {
    width: 35px;
    height: 35px;
}

.profile h5 {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Outfit';
    font-weight: 700;
}

.profile p {
    font-size: 12px;
    color: #FFFFFF;
    font-family: 'Outfit';
    font-weight: 400;
}


/* =======================================

                right-side

===========================================*/

.right-side {
    width: calc(100% - 546px);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding-right: 35px;
    margin-top: 82px;
}

form h2 {
    font-size: 30px;
    color: #333333;
    font-weight: 500;
    font-family: 'Outfit', sans-serif;
}

form p {
    padding-top: 6px;
    font-size: 14px;
    color: #999999;
    font-family: 'Outfit';
}

form p a {
    text-decoration: none;
    color: var(--primary-color);
}

form .input-field {
    position: relative;
    width: 400px;
    height: 50px;
    margin-bottom: 40px;
    margin-top: 24px;
}

.name-field {
    margin-top: 24px;
}

.input-field input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 0 15px;
    border: 1px solid #d1d1d1;
    margin-top: 6px;
}

.input-field label {
    color: #333333;
}

.check-text {
    display: flex;
    gap: 5px;
    margin-top: 45px !important;
}

.checkbox-text {
    padding-top: 1px;
    padding-left: 5px;
}

.check-text .forgot-text {
    margin-left: 133px;
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
}

.check-text .check_box {
    width: 15px;
    height: 15px;
    margin-top: 5px;
    cursor: pointer;
}

.button input {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 22px;
}

.button input:hover {
    background-color: #0d0ae4;
}

.or_bar {
    text-align: center;
}

.or_bar::before {
    content: "";
    display: block;
    width: 180px;
    height: 1px;
    background: #999999;
    left: 0;
    top: 30%;
    position: absolute
}

.or_bar::after {
    content: "";
    display: block;
    width: 180px;
    height: 1px;
    background: #999999;
    right: 0;
    top: 30%;
    position: absolute;
}

.social_btn {
    display: flex;
    gap: 10px;
    margin-top: -45px;
}

.google {
    display: flex;
    width: 100%;
    background-color: #EDEDED;
    border-radius: 8px;
    justify-content: center;
}

.google p {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    color: #3A3A3A;
    cursor: pointer;
}

.google_logo {
    width: 40px;
    height: 30px;
    margin-top: 5px;
}

.facebook_logo {
    width: 30px;
    height: 20px;
    margin-top: 10px;
}

.facebook {
    display: flex;
    width: 100%;
    background-color: #EDEDED;
    border-radius: 8px;
}

.facebook:hover,
.google:hover {
    background-color: #ededed79;
}

.facebook p {
    color: #3A3A3A;
    font-size: 14px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.logo {
    position: absolute;
    top: 0;
    right: 0;
}


/*    Slider  card*/

.slider {
    display: flex;
    width: 500%;
    gap: 150px;
    margin-left: 75px;
    padding-bottom: 80px;
}

.slider input {
    display: none;
}

.navigation_manual {
    position: absolute;
    width: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.manual_btn {
    border: 1px solid #fff;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-top: -100px;
}

.manual_btn:not(:last-child) {
    margin-right: 12px;
}

.manual_btn:hover {
    background-color: #fff;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

.navigation_auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    align-items: center;
    margin-top: 360px;
    display: none;
}

.navigation_auto div {
    border: 2px solid #ddd;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation_auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation_auto .auto-btn1 {
    background-color: #ddd;
}

#radio2:checked~.navigation_auto .auto-btn2 {
    background-color: #ddd;
}

#radio3:checked~.navigation_auto .auto-btn3 {
    background-color: #ddd;
}

#radio4:checked~.navigation_auto .auto-btn4 {
    background-color: #ddd;
}

.password-toggle i {
    position: absolute;
    margin-top: -46px;
    margin-left: 360px;
    color: #B4B4B4;
    cursor: pointer;
}


/*  <!-- Password incorrect Modal --> */

.incorrect_password {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, .8);
    transition: opacity linear .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password_form {
    margin: 150px auto;
    background-color: #FAFAFA;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 502px;
    height: 402px;
    border-radius: 17px;
    text-align: center;
}

.password_form .password_image {
    margin-top: 40px;
}

.password_text h1 {
    font-size: 18px;
    color: #222222;
    font-weight: 400;
    padding-top: 29px;
}

.password_text p {
    color: #565656;
    font-size: 16px;
    padding-top: 8px;
}

.password_text .try_again {
    margin-top: 39px;
    width: 108px;
    height: 40px;
    background: #FFFFFF;
    color: #CB1E0F;
    border: 1px solid #CB1E0F;
    border-radius: 8px;
    cursor: pointer;
}

.password_text .try_again:hover {
    background-color: #CB1E0F;
    color: #fff;
    border: none;
}


/* forgot modal */

.forget_modal.close {
    visibility: hidden;
}

.forget_modal open {
    visibility: visible;
}

.forget_modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forget_modal .modal {
    z-index: 1;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.modal .close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal .close i {
    cursor: pointer;
    font-size: 16px;
}

.modal_content {
    padding: 100px 100px 100px 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.modal_content h1 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
    color: #222222;
}

.modal_content h2 {
    margin-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.modal_content form {
    padding-top: 30px !important;
    padding-right: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;
}

.modal_content label {
    width: 100%;
    padding-bottom: 6px;
    text-align: left !important;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

.modal_content input[type="email"] {
    padding: 9px 15px;
    outline: none;
    background: #FFFFFF;
    width: 100%;
    border: 1px solid #B4B4B4;
    border-radius: 8px;
    /* color: #B4B4B4; */
}

.modal_content input[type="email"]::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #B4B4B4;
}

.modal_content button {
  padding: 9px 0px;
  background: #2F2C9F;
  border-radius: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  border: none;
  outline: none;
  margin-top: 20px;
  cursor: pointer;
}

/* -----------------------Forget Reset Send Email------------------------------------ */
.forget_email_send_content.close{
  /* visibility: hidden; */
  display:none;
}
.forget_email_send_content.open {
  visibility: visible;
  position: absolute;
  border:1px solid red;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, .8);
  transition: opacity linear .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:2;
}
.forget_content {
background-color: #FAFAFA;
width: 502px;
height: 402px;
border-radius: 17px;
text-align: center;
}
.forget_content .icon i{
  padding-left: 200px;
  position: absolute;
  padding-top: 34px;
  color: #B4B4B4;
  cursor: pointer;
}
.forget_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forget_content h1{
  font-weight: 400;
  font-size: 20px;
  padding-top: 35px;
  color: #222222;
  text-align: center;
}
.forget_content p{
  font-size: 14px;
  color: #222222;
  width: 326px;
  padding-top: 16px;
}
form.ng-invalid.ng-touched #submit1 {
  cursor: not-allowed;
}
form.ng-invalid input[type="submit"]{
  opacity:0.5;
  cursor:not-allowed;

}
