<div class="parent loaderLogo" *ngIf="loader">
  <img id=loader src="../../assets/images/logo.ico">
</div>

<div class="row" *ngIf="!loader">
    <!----------------------- Forget Modal Section------------------ -->

    <div class="forget_modal" [ngClass]="{'open': Forgotshow,'close':!Forgotshow}">
        <div class="modal">
            <div class="close"> <i class="fa-solid fa-xmark" (click)="toggleForgot()"></i></div>
            <div class="modal_content">
                <p class="forgot_illustration"><img src="assets/images/lock.png"></p>
                <h1>Forgot Password?</h1>
                <h2>We’ll send you a verification mail. Kindly check your inbox.</h2>
                <form [formGroup]="forgotPassword" (ngSubmit)="ForgetEmailSubmit(forgotPassword.value)">
                    <label for="Email">Email</label>
                    <input type="email" placeholder="Enter your email address" formControlName="email">
                    <button id="submit1" type="submit" [disabled]="forgotPassword.invalid">Send Verification
                        Email</button>
                </form>
            </div>
        </div>
    </div>

    <!--------------------incorrect Password  Modal ---------------->

    <div class="incorrect_password" [ngClass]="{'open': Invalid,'close':!Invalid}">
        <div class="password_form">
            <img src="assets/images/error.png" alt="" class="password_image">
            <div class="password_text">
                <h1>OOPS!</h1>
                <p>Incorrect email or password!</p>
                <button class="try_again" (click)="closeInvalid()">Try Again</button>
            </div>
        </div>
    </div>

    <!----------------------- Email sent Modal Section------------------ -->
    <div class="forget_email_send_content" [ngClass]="{'open': EmailSent,'close':!EmailSent}">
        <div class="forget_content">
            <div class="forget_text">
                <div class="icon">
                    <i class="fa-solid fa-xmark" (click)="toggleForgot1()"></i>
                </div>
                <img src="./assets/images/tick.png" alt="img">
            </div>
            <h1>Reset password email has been sent.</h1>
            <p>We have sent an email to reset your password.Don't forget to check.</p>
            <button class="done_btn" (click)="toggleForgot1()">Done</button>
        </div>
    </div>

    <!----------------------- Login Section------------------ -->
    <div class="left-side">
        <div class="leftContent">
            <div class="logo_part">
                <a href=""><img class="logo-image" src="assets/images/hrr 3.png" alt="logo"></a>
            </div>
            <h1 class="title">We are happy to have you back :) </h1>
            <p class="title_para">Discover the world’s best community of freelancers and business owners.</p>
        </div>
        <div class="leftSlider">
            <div class="slider">
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
                <div class="card first">
                    <p class="card-text">Simply unbelievable! I am really satisfied with my projects and business. This is absolutely wonderful!
                    </p>
                    <div class="profile">
                        <img src="assets/images/Rectangle 11.png" alt="image">
                        <div class="profile-text">
                            <h5>Mohit Sharma</h5>
                            <p>Freelancer</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <p class="card-text">Simply unbelievable! I am really satisfied with my projects and business. This is absolutely wonderful!
                    </p>
                    <div class="profile">
                        <img src="assets/images/Rectangle 11.png" alt="image">
                        <div class="profile-text">
                            <h5>Mohit Sharma</h5>
                            <p>Freelancer</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <p class="card-text">Simply unbelievable! I am really satisfied with my projects and business. This is absolutely wonderful!
                    </p>
                    <div class="profile">
                        <img src="assets/images/Rectangle 11.png" alt="image">
                        <div class="profile-text">
                            <h5>Mohit Sharma</h5>
                            <p>Freelancer</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <p class="card-text">Simply unbelievable! I am really satisfied with my projects and business. This is absolutely wonderful!
                    </p>
                    <div class="profile">
                        <img src="assets/images/Rectangle 11.png" alt="image">
                        <div class="profile-text">
                            <h5>Mohit Sharma</h5>
                            <p>Freelancer</p>
                        </div>
                    </div>
                </div>
                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                  </div>
            </div>
            <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
              </div>
        </div>
    </div>
    <div class="right-side">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
            <h2>Login to HRMaven</h2>
            <p>Don't have an account? <a routerLink="/signup" routerLinkActive="active">Signup</a> here</p>
            <div class="field email-field formgroup">
                <div class="input-field">
                    <label for="name" class="text-label">Email</label>
                    <input type="email" class="form-control email" formControlName="email" placeholder="Enter your email" />
                </div>

            </div>
            <div class="field create-password">
                <div class="input-field">
                    <label for="name" class="text-label">Password</label>
                    <input type="password" placeholder="Enter your password" class="password" #passwordInput formControlName="password" />

                </div>
                <span class="password-toggle" (click)="togglePasswordVisibility(passwordInput)">
                    <i class="fa {{ showPasswordIcon }}"></i>
                </span>
            </div>

            <div class="check-text">
                <input type="checkbox" class="check_box" id="checkbox" formControlName="Remember">
                <label for="checkbox" class="checkbox-text"><a>Remember me</a></label>
                <a class="forgot-text" (click)="toggleForgot()">Forgot password?</a>
            </div>
            <div class="input-field button">
                <input type="submit" value="Login" [disabled]="loginForm.invalid" />
            </div>
            <div class="input-field">
                <p class="or_bar">OR</p>
            </div>
            <div class="social_btn">
                <div class="google" (click)="loginwithGoogle()">
                    <img class="google_logo" src="assets/images/google-logo.png" alt="google">
                    <a > Login with Google</a>
                </div>
            </div>
        </form>
        <div class="logo">
            <img src="assets/images/hrr 2.png" alt="logo">
        </div>
    </div>

</div>
