<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="jobs">
    <div class="employe_input">
        <input type="text" placeholder="Candidate Name...">
        <button class="btn2" (click)="changeColor2()" [style.background-color]="buttonbackgroundColor2"
      [style.color]="buttonColor2">Clear</button>
    <button class="btn3" (click)="changeColor3()" [style.background-color]="buttonbackgroundColor3"
      [style.color]="buttonColor3" (click)="openModal()"><i class="fa-solid fa-circle-plus"></i>Add Candidate</button>
    </div>

    <div class="table_data">
        <table class="table_text">
            <thead>
                <tr class="table_heading">
                    <th>CANDIDATE NAME</th>
                    <th>EMAIL</th>
                    <th>CONTACT NUMBER</th>
                    <th>APPLIED DATE</th>
                    <th>STATUS</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Saurabh Rajpurohit</td>
                    <td>saruabh.rajpurohit32@gmail.com</td>
                    <td>9874655123</td>
                    <td>01/03/2023</td>
                    <td>RESUME RECEIVED</td>
                    <td>:</td>
                </tr>

                <tr>
                    <td>Saurabh Rajpurohit</td>
                    <td>saruabh.rajpurohit32@gmail.com</td>
                    <td>9874655123</td>
                    <td>01/03/2023</td>
                    <td>RESUME RECEIVED</td>
                    <td>:</td>
                </tr>

                <tr>
                    <td>Saurabh Rajpurohit</td>
                    <td>saruabh.rajpurohit32@gmail.com</td>
                    <td>9874655123</td>
                    <td>01/03/2023</td>
                    <td>RESUME RECEIVED</td>
                    <td>:</td>
                </tr>
                <tr>
                    <td>Saurabh Rajpurohit</td>
                    <td>saruabh.rajpurohit32@gmail.com</td>
                    <td>9874655123</td>
                    <td>01/03/2023</td>
                    <td>RESUME RECEIVED</td>
                    <td>:</td>
                </tr>
                <tr>
                    <td>Saurabh Rajpurohit</td>
                    <td>saruabh.rajpurohit32@gmail.com</td>
                    <td>9874655123</td>
                    <td>01/03/2023</td>
                    <td>RESUME RECEIVED</td>
                    <td>:</td>
                </tr>
                <tr>
                    <td>Saurabh Rajpurohit</td>
                    <td>saruabh.rajpurohit32@gmail.com</td>
                    <td>9874655123</td>
                    <td>01/03/2023</td>
                    <td>RESUME RECEIVED</td>
                    <td>:</td>
                </tr>
                <tr>
                    <td>Saurabh Rajpurohit</td>
                    <td>saruabh.rajpurohit32@gmail.com</td>
                    <td>9874655123</td>
                    <td>01/03/2023</td>
                    <td>RESUME RECEIVED</td>
                    <td>:</td>
                </tr>
                <tr>
                    <td>Saurabh Rajpurohit</td>
                    <td>saruabh.rajpurohit32@gmail.com</td>
                    <td>9874655123</td>
                    <td>01/03/2023</td>
                    <td>RESUME RECEIVED</td>
                    <td>:</td>
                </tr>
                <tr>
                    <td>Saurabh Rajpurohit</td>
                    <td>saruabh.rajpurohit32@gmail.com</td>
                    <td>9874655123</td>
                    <td>01/03/2023</td>
                    <td>RESUME RECEIVED</td>
                    <td>:</td>
                </tr>
                <tr>
                    <td>Saurabh Rajpurohit</td>
                    <td>saruabh.rajpurohit32@gmail.com</td>
                    <td>9874655123</td>
                    <td>01/03/2023</td>
                    <td>RESUME RECEIVED</td>
                    <td>:</td>
                </tr>
                <tr>
                    <td>Saurabh Rajpurohit</td>
                    <td>saruabh.rajpurohit32@gmail.com</td>
                    <td>9874655123</td>
                    <td>01/03/2023</td>
                    <td>RESUME RECEIVED</td>
                    <td>:</td>
                </tr>
                <tr>
                    <td>Saurabh Rajpurohit</td>
                    <td>saruabh.rajpurohit32@gmail.com</td>
                    <td>9874655123</td>
                    <td>01/03/2023</td>
                    <td>RESUME RECEIVED</td>
                    <td>:</td>
                </tr>
                <tr>
                    <td>Saurabh Rajpurohit</td>
                    <td>saruabh.rajpurohit32@gmail.com</td>
                    <td>9874655123</td>
                    <td>01/03/2023</td>
                    <td>RESUME RECEIVED</td>
                    <td>:</td>
                </tr>
                <tr>
                    <td>Saurabh Rajpurohit</td>
                    <td>saruabh.rajpurohit32@gmail.com</td>
                    <td>9874655123</td>
                    <td>01/03/2023</td>
                    <td>RESUME RECEIVED</td>
                    <td>:</td>
                </tr>
                <tr>
                    <td>Saurabh Rajpurohit</td>
                    <td>saruabh.rajpurohit32@gmail.com</td>
                    <td>9874655123</td>
                    <td>01/03/2023</td>
                    <td>RESUME RECEIVED</td>
                    <td>:</td>
                </tr>
                <tr>
                    <td>Saurabh Rajpurohit</td>
                    <td>saruabh.rajpurohit32@gmail.com</td>
                    <td>9874655123</td>
                    <td>01/03/2023</td>
                    <td>RESUME RECEIVED</td>
                    <td>:</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>