.row {
  padding: 80px 30px;
  background-color: red;
  margin-left: 223px;
}

.card_content {
  padding-top: 30px;
}

.card {
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}


.card-outer {
  height: 59px;
  width: 100%;
}

.card-logo {
  display: flex;
  gap: 10px;
}

.back_icon {
  cursor: pointer;
  width: 24px;
  background-color: #F9F9F9;
  height: 24px;
  border-radius: 50%;
  padding-left: 6px;

}

.Skills-head {
  display: flex;
  justify-content: space-between;
}

.skill_content h6 {
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.skills li {
  background-color: #EFEFF8;
  border-radius: 8px;
  padding: 4px 8px;
}

ul.skills {
  display: flex;
  gap: 10px;
  padding-top: 5px;
  font-weight: 400;
  font-size: 12px;
  color: #2F2C9F;
}

.interview_details h3 {
  font-weight: 500;
  font-size: 14px;
  color: #333333;
}

.description-heading {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.description-heading .job-interview {
  margin-top: -15px;
}

.description-heading .job-interview img {
  margin-left: -15px;
}

.Description p {
  padding-top: 6px;
  font-weight: 400;
  font-size: 14px;
  color: #777777;
  width: 746px;
}

.descript_title h6 {
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.card-head {
  display: flex;
  align-items: center;
}

.card-bottom {
  color: #555555;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-bottom .location {
  display: flex;
  font-size: 12px;
  gap: 30px;
  padding-top: 20px;
}

.card-bottom .location li {
  display: flex;
  align-items: center;
  gap: 6px;
}

.view_btn button {
  border: none;
  color: #2F2C9F;
  background-color: transparent;
  cursor: pointer;
}


.recruiters_nav {
  display: flex;
  height: 28px;
  align-items: center;
  margin-top: 20px;
  column-gap: 40px;
  border-bottom: 1px solid #E0E0E0;
}

.recruiters_nav p {
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  padding: 4px 40px;

}

.all {
  border-bottom: 2px solid transparent;
}

.all:hover {
  border-bottom: 2px solid #2F2C9F;
}

.unread:hover {
  border-bottom: 2px solid #2F2C9F;
}

.Important:hover {
  border-bottom: 2px solid #2F2C9F;
}

.color {
  color: #2F2C9F;
  border-bottom: 2px solid #2F2C9F;
}

.card-text h5 {
  font-weight: 500;
  font-size: 16px;
}

.card-text p {
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}

.progress-btn .progres {
  width: 82px;
  height: 28px;
  border: none;
  cursor: pointer;
  background: rgba(253, 167, 90, 0.2);
  border-radius: 1000px;
  margin-left: 15px;
}

.progress-btn .progres:hover {
  border: 1px solid #7BD36D;
}

.job-interview {
  display: flex;
}

/* ----------------------Table---------------------------- */

.table_data,
.table_data1 {
    width: 100%;
}

.table_text {
    width: 100%;
}

.table_heading {
    position: sticky;
    top: 0;
}

table {
    border-spacing: 2px 5px;
}

table,
th,
td {
    font-size: 14px;
}

.table_heading th {
    text-align: left;
}

tr:hover {
    background-color: #f7f7f7f9 !important;
}

th,
td {
    padding: 15px;
    white-space: nowrap;
}

.table_data::-webkit-scrollbar {
    width: 6px;
    height: 35px;
}

.table_data::-webkit-scrollbar-track{
    background-color: #ffffff;
}

.table_data::-webkit-scrollbar-thumb {
    background-color: #B4B4B4;
    border-radius: 6px;
}

.table_data::-webkit-scrollbar-thumb:hover {
    background-color: #b4b4b4;
}

.table_text tr:nth-child(even) {
    background-color: #FFFFFF;
}

.table_text tr:nth-child(odd) {
    background-color: #fff;
}

.table_text th {
    font-size: 11px;
    text-transform: uppercase;
    color: #444444;
    background-color: #EFEFF8;
    margin-top: 10px;
}
.table_heading th{
  text-transform: uppercase;
}
 .input_check{
 display: flex;
 align-items: center;
 gap: 20px;
 color: #444444;
}
.input_check input[type=checkbox]{
  cursor: pointer;
}
.table_data {
    overflow-y: auto;
    /* height: 78vh; */
}

.table_data1 {
    overflow-y: auto;
    max-height: 68vh;
    margin-top: 21px;
}


.table_text thead th {
    position: sticky;
    top: 0;
}
.table_option{
  cursor: pointer;
  
}
.pdf_logo{
  display: flex;
  justify-content: center;
}