.row {
  padding: 80px 30px;
  margin-left: 223px;
  background-color: #ffffff;
}

.card_content {
  padding-top: 30px;
}

.card {
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.card-outer {
  height: 59px;
  width: 100%;
}

.card-logo {
  display: flex;
  gap: 10px;
}

.back_icon {
  cursor: pointer;
  width: 24px;
  background-color: #f9f9f9;
  height: 24px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Skills-head {
  display: flex;
  justify-content: space-between;
}

.skill_content h6 {
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.skills li {
  background-color: #efeff8;
  border-radius: 8px;
  padding: 4px 8px;
}

ul.skills {
  display: flex;
  gap: 10px;
  padding-top: 5px;
  font-weight: 400;
  font-size: 12px;
  color: #2f2c9f;
}

.interview_details h3 {
  font-weight: 500;
  font-size: 14px;
  color: #333333;
}

.description-heading {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.description-heading .job-interview {
  margin-top: -15px;
}

.description-heading .job-interview img {
  margin-left: -15px;
}

.Description p {
  padding-top: 6px;
  font-weight: 400;
  font-size: 14px;
  color: #777777;
  width: 746px;
}

.descript_title h6 {
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.card-head {
  display: flex;
  align-items: center;
}

.card-bottom {
  color: #555555;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-bottom .location {
  display: flex;
  font-size: 12px;
  gap: 30px;
  padding-top: 20px;
}

.card-bottom .location li {
  display: flex;
  align-items: center;
  gap: 6px;
}

.view_btn button {
  border: none;
  color: #2f2c9f;
  background-color: transparent;
  cursor: pointer;
}

.recruiters_nav {
  display: flex;
  height: 28px;
  align-items: center;
  margin-top: 20px;
  column-gap: 40px;
  border-bottom: 1px solid #e0e0e0;
}

.recruiters_nav p {
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  padding: 4px 35px;
}

.all {
  border-bottom: 2px solid transparent;
}

.all:hover {
  border-bottom: 2px solid #2f2c9f;
}

.unread:hover {
  border-bottom: 2px solid #2f2c9f;
}

.Important:hover {
  border-bottom: 2px solid #2f2c9f;
}

.color {
  color: #2f2c9f;
  border-bottom: 2px solid #2f2c9f;
}

.card-text h5 {
  font-weight: 500;
  font-size: 16px;
}

.card-text p {
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}

.progress-btn .progres {
  width: 82px;
  height: 28px;
  border: none;
  cursor: pointer;
  background: rgba(253, 167, 90, 0.2);
  border-radius: 1000px;
  margin-left: 15px;
}

.progress-btn .progres:hover {
  border: 1px solid #7bd36d;
}

.job-interview {
  display: flex;
}

/* ----------------------Table---------------------------- */
.regquirement_table {
  padding-top: 25px;
}

.Candiddate {
  display: flex;
  justify-content: space-between;
}

.Candiddate_input input {
  width: 250px;
  height: 44px;
  background-color: #ffffff;
  box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid transparent;
  outline: none;
  padding-left: 40px;
  padding-right: 10px;
}

.Candiddate_input i {
  position: absolute;
  padding: 15px 10px;
  color: #888888;
}

.Candiddate_input input::placeholder {
  color: #cbcbcb;
  font-weight: 400;
  font-size: 14px;
}

.Candiddate_input input:hover,
.Candiddate_input input:focus {
  border: 1px solid #2f2c9f;
}

.Candiddate_input_btn {
  display: flex;
  gap: 10px;
}

.Export_btn button,
.Add_Candidate_btn button {
  display: flex;
  gap: 10px;
  color: #2f2c9f;
  align-items: center;
  justify-content: center;
}

.Export_btn button:hover,
.Export_btn button:focus,
.Add_Candidate_btn button:hover,
.Add_Candidate_btn button:focus {
  border: 1px solid #2f2c9f;
}

.Export_btn button {
  width: 103px;
  height: 44px;
  background-color: #ffffff;
  box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
}

.Add_Candidate_btn button {
  width: 142px;
  height: 44px;
  background-color: #2f2c9f;
  box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}

/* -----------Drop down---------- */

.select_content .Stages {
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #f0f0f0;
  text-align: left;
}

.select_content {
  background-color: #fff;
  cursor: pointer;
  width: 154px;
  cursor: pointer;
  padding: 6px 12px;
  position: absolute;
  color: #444444;
  z-index: 99;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.select_content ul {
  padding: 0;
  margin: 0;
}

.select_content ul li {
  list-style: none;
  padding: 10px 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 5px;
}

.select_content ul li p {
  font-weight: 400;
  font-size: 14px;
  margin-right: 10px;
}

.select_content ul li:hover {
  background-color: #efeff8;
  border-radius: 8px;
}

.select_active {
  background-color: #ececec;
  border-radius: 8px;
}

.attendence_table {
  margin-top: 25px;
}

.table_data {
  width: 100%;
}

.table_text {
  width: 100%;
}

.table_heading {
  position: sticky;
  top: 0;
}

table {
  border-spacing: 2px 5px;
}

table,
th,
td {
  font-size: 14px;
}

.table_heading th {
  text-align: left;
}

tr:hover {
  background-color: #f7f7f7f9 !important;
}

th,
td {
  padding: 15px;
  white-space: nowrap;
}

.table_data::-webkit-scrollbar {
  width: 6px;
  height: 35px;
}

.table_data::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.table_data::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 6px;
}

.table_data::-webkit-scrollbar-thumb:hover {
  background-color: #b4b4b4;
}

.table_text tr:nth-child(even) {
  background-color: #ffffff;
}

.table_text tr:nth-child(odd) {
  background-color: #fff;
}

.table_text th {
  font-size: 11px;
  text-transform: uppercase;
  color: #444444;
  background-color: #efeff8;
  height: 50px;
}

.table_heading th {
  text-transform: uppercase;
}

.input_check {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #444444;
}

.input_check input[type="checkbox"] {
  cursor: pointer;
}

.table_data {
  overflow-y: auto;
  /* height: 78vh; */
}

thead .Resume {
  text-align: center;
}

.table_data1 {
  overflow-y: auto;
  max-height: 68vh;
  margin-top: 21px;
}

.table_text thead th {
  position: sticky;
  top: 0;
}

/* .table_option {
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
  background: rgba(253, 167, 90, 0.1);
  border-radius: 100px;
  padding: 8px 15px;
} */
.table_option {
  width: 152px;
  height: 25px;
  border-radius: 8px;
  border: none;
  background-color: rgba(94, 221, 255, 0.25);
  font-weight: 400;
  font-size: 12px;
  outline: none;
  cursor: pointer;
}
.dropdwon_select1 {
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
  width: 152px;
  height: 34px;
  position: relative;
  background: rgba(253, 167, 90, 0.1);
  border-radius: 100px;
  padding: 8px 15px;
}

.designation-arrow {
  position: absolute;
  top: 26%;
  right: 10%;
}

select.table_option::after {
  content: "";
  padding-right: 10px;
}

.pdf_logo {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

/* ------------Job details modal----------------- */
.Job_details {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(34, 34, 34, 0.7);
  backdrop-filter: blur(5px);
  z-index: 9999;
  display: flex;
  top: 0;
  left: 0;
}

.Job_details_content {
  width: 646px;
  height: 899px;
  position: absolute;
  right: 20px;
  top: 45px;
  background: #ffffff;
  border-radius: 8px;
  padding: 20px 40px;
}

.Job_details_title {
  border-bottom: 1px solid #f0f0f0;
}

.Job_details_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.Job_details_logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.Job_details_logo h1 {
  font-weight: 600;
  font-size: 14px;
  color: #555555;
}

.cross_icon {
  width: 18px;
  height: 18px;
  background-color: #efeff8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cross_icon i {
  color: #999999;
  font-size: 12px;
}

.General_information {
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #f0f0f0;
}

.General_information h1 {
  font-weight: 400;
  font-size: 14px;
  color: #555555;
}

.General_information_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.information_content {
  padding-top: 10px;
}

.information_content h1 {
  font-weight: 400;
  font-size: 12px;
  color: #555555;
}

.information_content p {
  font-weight: 400;
  font-size: 10px;
  color: #999999;
}

.gmail_icom {
  width: 24px;
  height: 24px;
  background-color: #efeff8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job_card_content {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job_card_content1 {
  padding-top: 20px;
  display: flex;
  /* gap: 150px; */
  justify-content: space-between;
  align-items: center;
}

.job_card_content_title p {
  font-weight: 400;
  font-size: 10px;
  color: #999999;
}

.job_card_content_title h3 {
  font-weight: 400;
  font-size: 12px;
  color: #555555;
}

.job_card_content_title_p {
  text-align: center;
}

.job_card_content_title_para {
  width: 115px;
  text-align: center;
}

.Recruiters_List {
  padding-top: 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid #f0f0f0;
}

.Recruiters_List h1 {
  font-weight: 500;
  font-size: 14px;
  color: #555555;
}

.Recruiters_List_para {
  padding-top: 14px;
  display: flex;
  gap: 30px;
}

.Recruiters_List_para p {
  font-weight: 400;
  font-size: 12px;
  color: #555555;
  background: #efeff8;
  border-radius: 20px;
  padding: 4px 8px;
}

.Job_Description {
  padding-top: 20px;
}

.Job_Description h1 {
  font-weight: 500;
  font-size: 14px;
  color: #555555;
}

.Job_Description_para p {
  font-weight: 400;
  font-size: 12px;
  color: #555555;
  padding-top: 10px;
}

.Job_Description_para {
  /* height: 78vh; */
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}

.Job_Description_para::-webkit-scrollbar {
  height: 4px;
}

.Job_Description_para::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.Job_Description_para::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 6px;
}

.Job_Description_para::-webkit-scrollbar-thumb:hover {
  background-color: #b4b4b4;
}

.Share_job_btn {
  width: 566px;
  height: 32px;
  background: #2f2c9f;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  margin-top: 25px;
}

.Share_job_btn button {
  font-weight: 400;
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  padding-top: 6px;
}

/* ------------------------Add a  new candidate modal------------------------------- */
.Add_candidate {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: opacity linear 0.2s;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  padding: 0 30px;
}

.form_title {
  width: 700px;
  height: 75px;
  background-color: #f7f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
}

.form_title h1 {
  font-weight: 500;
  font-size: 18px;
  color: #444444;
}

.Add_candidate form {
  width: 700px;
  height: 463px;
  background-color: #ffffff;
  border-radius: 8px;
}

.Add_candidate form i {
  padding-left: 720px;
  position: absolute;
  color: #fff;
  font-size: 22px;
  margin-top: -30px;
  cursor: pointer;
}

form .user__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  padding: 0 63px;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

form .user__details .input__box {
  width: calc(100% / 2 - 20px);
  margin-bottom: 15px;
}

.user__details .input__box .details {
  margin-bottom: 5px;
  display: block;
}

.user__details .input__box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #cbcbcb;
  padding-left: 15px;
  font-size: 16px;
  outline: none;
  width: 277px;
  height: 40px;
}

.user__details .input__box input::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: rgba(136, 136, 136, 0.6);
}

.user__details .input__box input:focus,
.user__details .input__box input:hover {
  border: 1px solid #2f2c9f;
}

.user__details .input__box input::-webkit-inner-spin-button,
.user__details .input__box input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.user__details .input__box input:disabled {
  background-color: #f1f1f1;
  cursor: not-allowed;
}

.user__details .input__box input[type="file"] {
  cursor: pointer;
  padding-left: 8px;
  padding-top: 8px;
  font-weight: 400;
  font-size: 14px;
  color: rgba(136, 136, 136, 0.6);
}

.user__details .input__box input[type="file"]::-webkit-file-upload-button {
  position: absolute;
  margin-left: 170px;
  cursor: pointer;
  height: 25px;
  background-color: #efeff8;
  border-radius: 6px;
  color: #2f2c9f;
  border: none;
}

.form_button {
  height: 76px;
  background: #f7f7fb;
  border-radius: 0px 0px 8px 8px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_button button {
  border: none;
  font-weight: 400;
  font-size: 14px;
  background: #2f2c9f;
  border-radius: 8px;
  padding: 10px 30px;
  color: #ffffff;
  cursor: pointer;
}

/* --------------------------------New candidate added successfully!------------------------------------------- */
.New_candidate_main {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: opacity linear 0.2s;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  padding: 0 30px;
}

.New_candidate {
  width: 430px;
  height: 349px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.New_candidate_logo {
  width: 390px;
  height: 130px;
  background: rgba(123, 211, 109, 0.3);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.New_candidate h1 {
  font-weight: 500;
  font-size: 20px;
  color: #444444;
  text-align: center;
  padding-top: 31px;
}

.New_candidate p {
  font-weight: 400;
  font-size: 14px;
  color: #777777;
  padding-top: 19px;
  text-align: center;
}

.New_candidate .done_btn {
  padding: 9px 24px;
  width: 82px;
  height: 38px;
  background-color: #3d9130;
  border-radius: 8px;
  color: #fff;
  margin-top: 38px;
  border: none;
  cursor: pointer;
}

.New_candidate .done_btn:hover {
  background-color: #308723ab;
}

/*------------------------Dropdown-Css--------------------*/
.dropdwon_select {
  background-color: #fff;
  width: 172px;
  height: 40px;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.1);
  color: #444444;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.dropdwon_select:hover,
.dropdwon_select:focus {
  border: 1px solid #2f2c9f;
  border-radius: 8px;
}

.dropdwon_select p {
  font-size: 14px;
  font-weight: 400;
}

.dropdwon_select i {
  font-size: 14px;
  color: #444444;
  padding: 3px 7px;
}
.dropdwon_select input {
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
}
.select_content {
  background-color: #fff;
  cursor: pointer;
  width: 154px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  color: #444444;
}

.select_content ul {
  padding: 0;
  margin: 0;
}

.select_content ul li {
  list-style: none;
  padding: 10px 10px;
  margin-top: 5px;
  font-size: 14px;
}

.select_content ul li:hover {
  background-color: #ececec;
  border-radius: 8px;
}

.select_active {
  background-color: #ececec;
  border-radius: 8px;
}

.loader {
  border: 8px solid #f3f3f3;
  /* Light grey */
  border-top: 8px solid #2f2c9f;
  /* Blue */
  border-radius: 50%;
  position: absolute;
  margin-top: 34px;
  margin-left: 34px;
  width: 35px;
  height: 35px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.text.ng_invalid {
  border: 1px solid red !important;
}

.text.ng_invalid:hover {
  border: 1px solid red !important;
}

.text.ng_valid {
  border: 1px solid green !important;
}

/* -------------------Import Modal---------------------------- */
.import_modal_main,
.Successful_import {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: opacity linear 0.2s;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  padding: 0 30px;
}

.import_modal {
  z-index: 1;
  background-color: rgba(250, 250, 250, 1);
  border-radius: 16px;
  position: relative;
  width: 553px;
  height: 414px;
}

.import_title {
  display: flex;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
}

.import_title h4 {
  font-weight: 500;
  font-size: 16px;
  color: #666666;
  padding: 12px 30px;
}

.import_title i {
  position: absolute;
  right: -30px;
  color: #ececec;
  top: -20px;
  font-size: 25px;
  cursor: pointer;
}

.import_csv {
  width: 493px;
  height: 177px;
  border: 1px dashed #cbcbcb;
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.import_csv h2 {
  padding-top: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #666666;
}

.import_csv input {
  padding-top: 10px;
}

.import_csv input[type="file"]::-webkit-file-upload-button {
  color: #2f2c9f;
  font-size: 12px;
  border-radius: 6px;
  cursor: pointer;
  padding: 5px 10px;
  outline: none;
  border: 1px solid transparent;
  margin-left: 70px;
}

.import_csv input[type="file"]::-webkit-file-upload-button:hover {
  background: #fff;
  border: 1px solid #2f2c9f;
  color: #000;
}

.sample_download {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.sample_download p {
  font-weight: 400;
  font-size: 12px;
  color: #666666;
}

.sample_download p a {
  color: #2f2c9f;
  cursor: pointer;
}

.input_loader {
  height: 50px;
  border: 1px solid #cbcbcb;
  margin: 10px 30px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.input_loader img {
  padding-left: 20px;
}

/* -----------------Loader Progress bar --------------------- */
.progress_bar_loader {
  margin-left: 15px;
  width: 410px;
  max-width: 90%;
  height: 4px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.progress_bar_loader:before {
  content: "";
  width: 200%;
  height: 100%;
  position: absolute;
  animation: progress-anime 10s ease-out infinite;
  background: linear-gradient(
    to right,
    #2f2c9f 0%,
    #2f2c9f 50%,
    #d2d2d2 50%,
    #d2d2d2 100%
  );
}

@keyframes progress-anime {
  0% {
    left: -100%;
  }

  75% {
    left: -5%;
  }

  85% {
    left: -5%;
  }

  100% {
    left: 0;
  }
}

.input_btn {
  gap: 20px;
  position: absolute;
  left: 25%;
  bottom: 15px;
  display: flex;
}

.input_btn button {
  width: 111px;
  height: 38px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.input_btn .cancel_btn {
  border: 1px solid #2f2c9f;
  color: #2f2c9f;
}

.input_btn .cancel_btn:hover {
  background-color: #eae5e5;
}

.input_btn .Import_btn {
  background-color: #2f2c9f;
  color: #fff;
}

.input_btn .Import_btn:hover {
  background-color: #1510a8;
}

/* --------------------Import Modal Successfu------------------------ */
.Successful_input_file {
  width: 429px;
  height: 336px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.Successful_input_file i {
  position: absolute;
  margin-left: 500px;
  margin-top: -30px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

.Successful_box {
  width: 390px;
  height: 152px;
  background: rgba(123, 211, 109, 0.3);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.Successful_input_file h1 {
  font-weight: 500;
  font-size: 18px;
  color: #444444;
  padding-top: 30px;
}

.Successful_input_file p {
  font-weight: 400;
  font-size: 14px;
  color: #666666;
  padding-top: 16px;
}

.Successful_input_file button {
  margin-top: 20px;
  cursor: pointer;
}

.done_btn_input {
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  padding: 9px 24px;
  background: #3d9130;
  border-radius: 8px;
  border: none;
}

.disabledBtn {
  cursor: not-allowed;
  opacity: 0.7;
}

/*-------------------Interview-Modal----------------*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(5px);
}

.modal-content {
  background-color: #ffffff;
  position: absolute;
  border-radius: 8px;
  width: 640px;
  /* height: 665px; */
  padding: 20px 40px;
}

.modal-heading h5 {
  font-weight: 400;
  font-size: 18px;
  color: #222222;
}

.form-group {
  margin-top: 10px;
}

.meeting-mode {
  display: flex;
  gap: 10px;
}

.form-group label {
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.meeting-input {
  width: 275px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid rgba(180, 180, 180, 0.8);
  border-radius: 6px;
  padding: 10px 12px;
  outline: none;
  /* border: none; */
}

.meeting-input ::placeholder {
  opacity: 0.1;
}

.date-input {
  width: 180px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid rgba(180, 180, 180, 0.8);
  border-radius: 8px;
  padding: 10px 12px;
  outline: none;
}

.meeting-link {
  width: 560px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid rgba(180, 180, 180, 0.8);
  border-radius: 6px;
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 48px;
  padding-bottom: 10px;
  outline: none;
}

.link-image {
  position: absolute;
  right: 52px;
  display: inline-flex;
  margin-top: 11px;
}

.invite {
  background-color: #ffffff;
  border: 1px solid rgba(180, 180, 180, 0.8);
  border-radius: 6px;
  width: 440px;
  height: 40px;
  padding: 10px 12px;
  outline: none;
}

.add-btn button {
  width: 110px;
  height: 40px;
  background-color: #2f2c9f;
  border: 1px solid rgba(180, 180, 180, 0.8);
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
}

.add-btn {
  margin-top: 33px;
  margin-left: 10px;
}

.invite-add {
  display: flex;
  flex-direction: row;
}

.in-this-interview-area {
  margin-top: 10px;
}

.in-this-interview-area h5 {
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}

.image-text-design {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px 12px;
}

.image-text-heading {
  display: flex;
  gap: 10px;
}

.name-heading {
  align-items: start;
  display: flex;
  flex-direction: column;
}

.name-heading h6 {
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}

.name-heading p {
  font-weight: 400;
  font-size: 10px;
  color: rgba(136, 136, 136, 0.7);
}

.designer-text {
  padding: 3px 10px;
  text-align: center;
  background-color: #f7f7fb;
  border-radius: 50px;
}

.designer-text h5 {
  font-weight: 500;
  font-size: 11px;
  color: #2f2c9f;
}

.discard-save {
  display: flex;
  gap: 20px;
}

.discard-save .discard button {
  color: #2f2c9f;
  background-color: #ffffff;
  border: 1px solid #2f2c9f;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
}

.discard-save .save button {
  color: #ffffff;
  background-color: #2f2c9f;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
}

.discard-save button {
  width: 270px;
  height: 40px;
  border-radius: 6px;
  outline: none;
  border: none;
}

.fa-xmark {
  position: absolute;
  top: -4%;
  right: -5%;
  cursor: pointer;
  color: #ececec;
  font-size: 20px;
}

.dropdwon_select {
  background-color: #fff;
  width: 275px;
  height: 40px;
  cursor: pointer;
  padding: 8px;
  border: 1px solid rgba(180, 180, 180, 0.8);
  border-radius: 8px;
  box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.1);
  color: #444444;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.dropdwon_select:hover,
.dropdwon_select:focus {
  border: 1px solid #2f2c9f;
  border-radius: 8px;
}

.dropdwon_select p {
  font-size: 14px;
  font-weight: 400;
}

.dropdwon_select i {
  font-size: 14px;
  color: #444444;
  padding: 3px 7px;
}

.select_content {
  background-color: #fff;
  cursor: pointer;
  width: 275px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  color: #444444;
}

.select_content ul {
  padding: 0;
  margin: 0;
}

.select_content ul li {
  list-style: none;
  padding: 10px 10px;
  margin-top: 5px;
  font-size: 14px;
}

.select_content ul li:hover {
  background-color: #ececec;
  border-radius: 8px;
}

.select_active {
  background-color: #ececec;
  border-radius: 8px;
}
