<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="row">
  <div class="card_content">
    <div class="card" routerLink="/job-details">
      <div class="card-outer">
        <div class="card-head">
          <div class="card-logo">
            <div class="back_icon" routerLink="/recruitment">
              <img src="assets/images/material-symbols_arrow-back-ios-new-rounded.png" alt="">
            </div>
            <div class="card-text">
              <h5>{{item.job_title}}</h5>
            </div>
          </div>
          <div class="progress-btn">
            <button class="progres">Inprogress</button>
          </div>
        </div>

      </div>
      <span class="line"></span>
      <div class="Skills-required">
        <div class="skill_content">
          <h6>Skills Required:</h6>
          <div class="Skills-head">
            <ul class="skills">
              <li>{{item.list[0]?.name}}</li>
              <li>{{item.list[1]?.name}}</li>
              <li>{{item.list[2]?.name}}</li>
              <li>{{item.list[3]?.name}}</li>
            </ul>
            <div class="interview_details">
              <h3>Interview Details</h3>
            </div>
          </div>
        </div>
        <div class="Description">
          <div class="description-heading">
            <div class="descript_title">
              <h6>Description:</h6>
            </div>
            <div class="job-interview">
              <img src="assets/images/Ellipse 133.svg" alt="">
              <img src="assets/images/Ellipse.png" alt="">
              <img src="assets/images/Ellipse 135.svg" alt="">
              <img src="assets/images/Group 1229.png" alt="">
            </div>
          </div>
          <p>{{item.job_description}}</p>
        </div>
      </div>

      <div class="card-bottom">
        <div class="location">
          <li>
            <img src="assets/images/material-symbols_location-on-outline.png" alt="">
            <p>{{item.location}}</p>
          </li>
          <li>
            <img src="assets/images/lpa_logo.png" alt="">
            <p>Rs. {{item.ctc}}L</p>
          </li>
          <li>
            <img src="assets/images/material-symbols_partly-cloudy-day-outline.png" alt="">
            <p>Day Shift</p>
          </li>
          <li>
            <img src="assets/images/solar_case-round-outline.png" alt="">
            <p>{{item.experience}}</p>
          </li>
          <li>
            <img src="assets/images/ic_outline-person-add-alt.png" alt="">
            <p> 24 more applied</p>
          </li>
        </div>
        <div class="view_btn" (click)="viewbtn()">
          <button><u>View more </u></button>
        </div>


      </div>


      <div class="recruiters_nav">
        <div class="all" [class.color]="id ==='all'" (click)="tabChange('all')">
          <p>All</p>
        </div>
        <div class="all" [class.color]="id ==='Resume_received'" (click)="tabChange('Resume_received')">
          <p>Resume received</p>
        </div>
        <div class="all" [class.color]="id ==='Shortlisted'" (click)="tabChange('Shortlisted')">
          <p>Shortlisted</p>
        </div>
        <div class="all" [class.color]="id ==='Interview'" (click)="tabChange('Interview')">
          <p>Interview</p>
        </div>
        <div class="all" [class.color]="id ==='Hired'" (click)="tabChange('Hired')">
          <p>Hired</p>
        </div>
        <div class="all" [class.color]="id ==='Rejected'" (click)="tabChange('Rejected')">
          <p>Rejected</p>
        </div>
        <div class="all" [class.color]="id ==='Archive'" (click)="tabChange('Archive')">
          <p>Archive</p>
        </div>
      </div>


    </div>
  </div>

  <div class="regquirement_table">
    <div class="Candiddate">
      <div class="Candiddate_input">
        <i class="fa fa-search" aria-hidden="true" id="ico"></i>
        <input type="text" placeholder="Enter Candiddate Id" />
      </div>
      <div class="Candiddate_input_btn">
        <div class="Export_btn">
          <button class="export"><img src="assets/images/prime_file-export.png" alt="">
            <p>Export</p>
          </button>
        </div>
        <div class="Export_btn">
          <button class="Import"><img src="assets/images/prime_file-import.png" alt="">
            <p>Import</p>
          </button>
        </div>
        <div class="Export_btn">
          <button class="Filters" (click)="dropdownOpen()">
            <img src="assets/images/Group (1).png" alt="">
            <p>Filters</p>
          </button>
          <div class="dropdown_container">
            <div class="select_content" *ngIf="contentdropdown" (mouseleave)="contentdropdown = false">
                <p class="Stages">Stages</p>
                <ul>
                    <li *ngFor="let arr of array; index as i" [class.select_active]="i === colorvariable"
                        (click)="Changeselect(arr)"> <input type="checkbox">
                        <p>{{arr.name}}</p>
                    </li>
                </ul>
            </div>
        </div>
        </div>
        <div class="Add_Candidate_btn" (click)="openmodal()">
          <button class="Add_Candidate">
            <img src="assets/images/material-symbols_add-circle-rounded.png" alt="">
            <p>Add Candidate</p>
          </button>
        </div>
      </div>
    </div>
   
    <div class="attendence_table">
      <div class="table_data">
        <table class="table_text">
          <thead>
            <tr class="table_heading">
              <th class="input_check">
                <input type="checkbox" >
                <p>Candidate ID</p>
              </th>
              <th>Candidate Name</th>
              <th>Email</th>
              <th>Contact number</th>
              <th>Applied Date</th>
              <th>Status</th>
              <th class="Resume">Resume</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- <td colspan="7" class="nodata" class="no_data">
                      <p>
                        <img src="assets/images/no_record.png" alt="" class="center" />
                      </p>
                      <h2>No Record Found!</h2>
                    </td> -->
              <td class="input_check">
                <input type="checkbox">
                <p>29591</p>
              </td>
              <td>Cameron Williamson</td>
              <td>Cameron@gmail.com</td>
              <td>987654321</td>
              <td>01 Mar, 2023</td>
              <td>
                <select class="table_option">
                  <option value="">Resume Received</option>
                  <option value="">Shortlisted</option>
                  <option value="">Interview</option>
                  <option value="">Hired</option>
                  <option value="">Rejected</option>
                  <option value="">Archive</option>
                </select>
              </td>
              <td class="pdf_logo">
                <img src="assets/images/vscode-icons_file-type-pdf2.png" alt="">
              </td>

            </tr>
            <tr>
              <td class="input_check">
                <input type="checkbox">
                <p>29591</p>
              </td>
              <td>Cameron Williamson</td>
              <td>Cameron@gmail.com</td>
              <td>987654321</td>
              <td>01 Mar, 2023</td>
              <td>
                <select class="table_option">
                  <option value="">Resume Received</option>
                  <option value="">Shortlisted</option>
                  <option value="">Interview</option>
                  <option value="">Hired</option>
                  <option value="">Rejected</option>
                  <option value="">Archive</option>
                </select>
              </td>
              <td class="pdf_logo">
                <img src="assets/images/vscode-icons_file-type-pdf2.png" alt="">
              </td>
            </tr>
            <tr>
              <td class="input_check">
                <input type="checkbox">
                <p>29591</p>
              </td>
              <td>Cameron Williamson</td>
              <td>Cameron@gmail.com</td>
              <td>987654321</td>
              <td>01 Mar, 2023</td>
              <td>
                <select class="table_option">
                  <option value="">Resume Received</option>
                  <option value="">Shortlisted</option>
                  <option value="">Interview</option>
                  <option value="">Hired</option>
                  <option value="">Rejected</option>
                  <option value="">Archive</option>
                </select>
              </td>
              <td class="pdf_logo">
                <img src="assets/images/vscode-icons_file-type-pdf2.png" alt="">
              </td>
            </tr>
            <tr>
              <td class="input_check">
                <input type="checkbox">
                <p>29591</p>
              </td>
              <td>Cameron Williamson</td>
              <td>Cameron@gmail.com</td>
              <td>987654321</td>
              <td>01 Mar, 2023</td>
              <td>
                <select class="table_option">
                  <option value="">Resume Received</option>
                  <option value="">Shortlisted</option>
                  <option value="">Interview</option>
                  <option value="">Hired</option>
                  <option value="">Rejected</option>
                  <option value="">Archive</option>
                </select>
              </td>
              <td class="pdf_logo">
                <img src="assets/images/vscode-icons_file-type-pdf2.png" alt="">
              </td>
            </tr>
            <tr>
              <td class="input_check">
                <input type="checkbox">
                <p>29591</p>
              </td>
              <td>Cameron Williamson</td>
              <td>Cameron@gmail.com</td>
              <td>987654321</td>
              <td>01 Mar, 2023</td>
              <td>
                <select class="table_option">
                  <option value="">Resume Received</option>
                  <option value="">Shortlisted</option>
                  <option value="">Interview</option>
                  <option value="">Hired</option>
                  <option value="">Rejected</option>
                  <option value="">Archive</option>
                </select>
              </td>
              <td class="pdf_logo">
                <img src="assets/images/vscode-icons_file-type-pdf2.png" alt="">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>




  </div>


  <!-- ---------------Job details modal--------------------------- -->
  <div class="Job_details" *ngIf="Jobdetails">
    <div class="Job_details_content">
      <div class="Job_details_title">
        <div class="Job_details_heading">
          <div class="Job_details_logo">
            <div class="job_icon">
              <img src="assets/images/solar_case-round-outline (1).png" alt="">
            </div>
            <h1>Job details</h1>
          </div>
          <div class="cross_icon" (click)="close_modal()">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
      </div>
      <div class="General_information">
        <h1>General information</h1>
        <div class="General_information_content">
          <div class="information_content">
            <h1>Spotify</h1>
            <p>hr@spotify.com</p>
          </div>
          <div class="gmail_icom">
            <img src="assets/images/mail.png" alt="">
          </div>
        </div>
        <div class="job_card_content_main">
          <div class="job_card_content">
            <div class="job_card_content_title">
              <p>Job Title</p>
              <h3>{{item.job_title}}</h3>
            </div>
            <div class="job_card_content_title">
              <p>Dated</p>
              <h3>{{item.date | date:"shortDate"}}</h3>
            </div>
            <div class="job_card_content_title">
              <p>CTC</p>
              <h3>Rs. {{item.ctc}}</h3>
            </div>
          </div>
          <div class="job_card_content">
            <div class="job_card_content_title">
              <p>Location</p>
              <h3>{{item.location}}</h3>
            </div>
            <div class="job_card_content_title">
              <p>Experience required</p>
              <h3>{{item.experience}}</h3>
            </div>
            <div class="job_card_content_title">
              <p>Skills required</p>
              <h3 class="job_card_content_title_para">{{item.list[0]?.name}},
                {{item.list[1]?.name}},{{item.list[2]?.name}},{{item.list[3]?.name}}</h3>
            </div>
          </div>
        </div>


      </div>
      <div class="Recruiters_List">
        <h1>Recruiters List</h1>
        <div class="Recruiters_List_para">
          <p>{{item.recruiter[0]?.name}}</p>
          <p>{{item.recruiter[1]?.name}}</p>
          <p>{{item.recruiter[2]?.name}}</p>
        </div>
      </div>

      <div class="Job_Description">
        <h1>Job Description</h1>
        <div class="Job_Description_para">
          <p>{{item.job_description}}
          </p>
        </div>
      </div>
      <div class="Share_job_btn">
        <button>Share a job vacancy</button>
      </div>

    </div>
  </div>






</div>

<!-- ------------------Add a  new candidate modal--------------- -->

<div class="Add_candidate" *ngIf="addcandidate">
  <form [formGroup]="newcandidateform" (ngSubmit)="newcandidatedetail()">
    <i class="fa-sharp fa-solid fa-xmark" (click)="closemodal()"></i>
    <div class="form_title">
      <h1>Add a new candidate</h1>
    </div>

        <div class="user__details">
            <div class="input__box">
                <span class="details">Candidate name</span>
                <input type="text" placeholder="Sahil Verma" required formControlName="candidateName">
            </div>
            <div class="input__box">
                <span class="details">Candidate id</span>
                <input type="text" placeholder="29591" disabled>
            </div>
            <div class="input__box">
                <span class="details">Contact number</span>
                <input type="text" placeholder="XXXXXX0652" required formControlName="contactnumber" >
                <div class="validation-message" *ngIf="mobileExists"><i class="fa-solid fa-circle-exclamation"></i>Mobile
                    No.
                    already exists</div>
            </div>
            <div class="input__box">
                <span class="details">Email</span>
                <input type="email" placeholder="sahilverma@gmail.com" required formControlName="email">
                <div class="validation-message" *ngIf="emailExists"><i class="fa-solid fa-circle-exclamation"></i>Email
                    already
                    exists</div>
            </div>
            <div class="input__box">
                <span class="details">Applied date</span>
                <input type="date" placeholder="23/04/2023"  class="meeting-input"  required  formControlName="applieddate">
            </div>
        <div class="loader" *ngIf="progress"></div>
            <div class="input__box">
                <span class="details">Resume</span>
                <input type="file" placeholder="No file choosen" (change)="onFileSelected($event)" [value]="fileName" required formControlName="url"  accept=".pdf">
            </div>
        </div>
        <div class="form_button" (click)="openaddmodal()">
            <button type="submit" (click)="tabChange1(newcandidateform.value)">Add a candidate</button>
        </div>
    </form>
s</div>


<!-- ------------------------New candidate added successfully!------------------------------------- -->
<div class="New_candidate_main" *ngIf="Newcandidate">
  <div class="New_candidate">
    <div class="New_candidate_logo">
      <img src="assets/images/tick.png" alt="">
    </div>
    <h1>New candidate added successfully!</h1>
    <p>You can add more candidates in a similar way.</p>
    <button class="done_btn" (click)="closedone()">Done</button>
  </div>
</div>