.jobs {
    width: (100%-223px);
    margin-left: 223px;
    background-color: #f9f9f9;
    padding-top: 70px;
}
.row {
    display: flex;
    padding: 0 30px;
    gap: 32px;
    padding-top: 30px;
}

.col-3 {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
   height: 80px;
}

.progress-text h3 {
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    padding-top: 16px;
    padding-left: 37px;
}

.progress-text h1 {
    padding-left: 37px;
    font-size: 22px;
    color:#444444;
    padding-bottom: 16px;
}
.circle-graph{
    padding-right: 37px;
}

.employe_input {
    display: flex;
    gap: 10px;
    margin-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.employe_input input {
    width: 161px;
    height: 44px;
    box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 8px;
    color: black;
    outline: none;
    font-size: 14px;
    font-family: 'Outfit';
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.search_btn {
    width: 92px;
    height: 40px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Outfit';
}

.search_btn:hover {
    background-color: #0e06f4;
}

.employe_input input::placeholder {
    color: #555555;
    font-size: 14px;
}

/* ----------------DropDown Menu----------------------------- */
.select-menu {
    width: 190px;
    height: 44px;
    position: absolute;
    right: 30px;
    z-index: 10;
    padding-bottom: 10px;
}

.select-menu .select-btn {
    display: flex;
    background: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #444444;
}

.select-btn i {
    font-size: 25px;
    transition: 0.3s;
    color: #444444;
    font-size: 20px;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options {
    position: relative;
    background: #fff;
    box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.1);
    display: none;

}

.select-menu.active .options {
    display: block;
}

.options .option {
    display: flex;
    height: 45px;
    cursor: pointer;
    align-items: center;
    background: #fff;
    font-size: 14px;
    padding-left: 10px;
}

.options .option:hover {
    background: #F2F2F2;
}

.option i {
    font-size: 25px;
    margin-right: 12px;
}

.option .option-text {
    font-size: 14px;
    color: #333;
    padding-left: 10px;
}

/*------------------ table----------------------- */

.table_data {
    width: 100%;
    padding-top: 10px;
}

.table_text {
    width: 100%;
    padding: 0 30px;

}

table {
    border-spacing: 2px 5px;
    background-color: #EFEFF8;
}

table,
th,
td {
    font-size: 14px;
}

.table_heading th {
    text-align: left;
}
tr:hover{
    background-color: #f7f7fb !important;
}
th,
td {
    padding: 15px;
    white-space: nowrap;
}

.table_data::-webkit-scrollbar {
    width: 6px;
    height: 35px;
}

.table_data::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

.table_data::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.table_data::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.table_text tr:nth-child(even) {
    background-color: #FFFFFF;
}

.table_text tr:nth-child(odd) {
    background-color: #fff;
}

.table_text th {
    font-size: 11px;
    text-transform: uppercase;
    color: #444444;
    background-color: #EFEFF8;
    margin-top: 10px;
}

.table_data {
    overflow-y: auto;
    height: 78vh;
}

.table_text thead th {
    position: sticky;
    top: -20px;
}

.action_button {
    display: flex;
    gap: 16px;
}

.action_btn {
    display: flex;
    align-items: center;
}

input[type="radio"] {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.5rem;
    cursor: pointer;
}


.custom-radio {
    appearance: none;
    -webkit-appearance: none;
    border: 0.2rem solid #fff;
    background-color: #e8e8e8;
    border-radius: 50%;
}

.custom-radio:focus-visible {
    outline-offset: 0;
}

#outline {
    outline: 2px solid #e8e8e8;
}

#outline1 {
    outline: 2px solid #e8e8e8;
}

#outline1:hover {
    outline-color: #29A74C;
}

#outline:hover {
    outline-color: #FA5D5D;
}

#outline1:checked {
    outline-color: #29A74C;
    background-color: #29A74C;
    animation: outline-checked1;
    animation-duration: 0.1s;
    animation-iteration-count: 4;
    animation-direction: alternate;
    animation-timing-function: linear;
}

#outline1:checked+label {
    color: #29A74C;
}

#outline:checked+label {
    color: #FA5D5D;
}

#outline:checked {
    outline-color: #FA5D5D;
    background-color: #FA5D5D;
    animation: outline-checked;
    animation-duration: 0.1s;
    animation-iteration-count: 4;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.btn3{
    display: flex;
    margin-left: auto;
    /* position: absolute; */
    width: 162px;
    height: 44px;
    /* padding-left: 15px; */
    gap: 10px;
    align-items: center;
    justify-content: center;
    background: #2F2C9F;
    border-radius: 8px;
    border: 1px solid #2F2C9F;
    color: #FFFFFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    outline: none;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
  }
  .btn3:hover{
    background: #2F2C9F;
    opacity: 0.7;
  }

  .btn2{
    width: 94px;
    height: 40px;
    background: #ECECEC;
    border-radius: 8px;
    padding: 10px 25px;
    border: 1px solid #ECECEC;
    outline: none;
    cursor: pointer;
    font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #2F2C9F;
  }

  .btn2:hover{
    background-color: #cbcbcb;
    opacity: 1;
  }

@keyframes outline-checked {
    0% {
        outline-offset: 0;
    }

    100% {
        outline-offset: -0.2rem;
    }
}

@keyframes outline-checked1 {
    0% {
        outline-offset: 0;
    }

    100% {
        outline-offset: -0.2rem;
    }
}












/*Pop-up for job details*/




.job-popup{
    width: (100%-223px);
    margin-left: 223px;
    background-color: #f9f9f9;
    padding-top: 70px;
}






.wrapper{
    max-width: 426px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    font-family: 'Outfit';
    font-style: normal;
    
  }
  .job-popup{
    position: absolute;
    z-index: 10;
    max-width: 466px;
    width: 100%;
    background-color: #FFFFFF;
    border: 2px solid red;
  }

  .job_details{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .info_parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .info_heading h6{
    font-size: 14px;
    font-weight: 400;
    color:#555555;
    padding: 10px;

  }
  .info_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px
  }
  .left{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;

  }
  .left h2{
    color:#555555;
    font-size: 14px;
    font-weight: 600; 
  }
  .info_text{
     display: flex;
    /* justify-content: space-between;
    align-items: center;  */
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* justify-content: start; */
    /* gap:5px; */
  }
  .info_text h2{
     font-size: 12px;
     font-weight: 400;
     padding-top: 10px;
  }
  .info_text p{
    font-size: 10px;
    font-weight: 400;
    padding-top: 2px;
  }

  .job_text{
      /* font-weight: 600;
      
      font-size: 14px;
      line-height: 19.6px;
      color:#555555; */
  }

  .job{
    display: flex;
    justify-content: space-between;
  }
  .job h6{
    color:#999999;
    font-weight: 400;
    font-size: 10px;
  }
  .job p{
    font-weight: 400;
    font-size: 12px;
    color: #555555;
  }

  .location_a{
    display: flex;
    justify-content: space-between;
  }
  .location_a h6{
    color:#999999;
    font-weight: 400;
    font-size: 10px;
  }
  .location_a p{
    font-weight: 400;
    font-size: 12px;
    color: #555555;
  }

  .experience{
    display: flex;
    justify-content: space-between;
    /* width: 190px; */
  }
  .experience h6{
    color:#999999;
    font-weight: 400;
    font-size: 10px;
  }
  .experience p{
    font-weight: 400;
    font-size: 12px;
    color: #555555;
    /* max-width:190px;
    width: 100%; */

  }


  .recruiter_content h2{
    /* width:100%;
    max-width: 89px; */
     font-size: 14px;
     color: #555555;
     font-weight: 500;


  }

  .recruiters_list{
    display: flex;
    gap:15px;
  }
 

  .recruiters_list li{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    /* width:100%;
    max-width: 77px; */
    background-color: #EFEFF8;
    border-radius: 20px;
    padding: 4px 8px;
  
  }
  .job_description_heading h2{
   
    height: 20px;
    font-weight: 500;
    font-size: 14px;
    color: #555555;
  }

  .job_description_content{
  display: flex;
  flex-direction: column;
  gap:10px;
  font-weight: 400;
font-size: 12px;
color: #555555;
  }

  .apply{
    border-radius: 8px;
    background: #2F2C9F;
    padding: 6px 137px;
    color:#FFFFFF;
    /* outline: none; */
    border: none;

  }