<app-sidebar></app-sidebar>
<app-header></app-header>
<div class="section">
    <div class="profile-container">

        <div class="recruitment-area">
            <div class="jobprofile-filter-add">
                <div class="jobprofile">
                    <h3>Job Vacancies</h3>
                    <p>Lorem Ipsum is simply dummy text </p>
                </div>
                <div class="job-btn">
                    <div class="filter">
                        <div class="filter-menu">
                            <div class="select-btn">
                                <span class="sBtn-text">Select</span>
                                <i class="bx bx-chevron-down"></i>
                            </div>
                            <ul class="options">
                                <li class="option">
                                    <span class="option-text">All</span>
                                </li>
                                <li class="option">
                                    <span class="option-text">Approved</span>
                                </li>
                                <li class="option">
                                    <span class="option-text">Rejected</span>
                                </li>
                                <li class="option">
                                    <span class="option-text">Pending</span>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <div class="add-job" (click)="openModal()">
                        <div class="plus-icon">
                            <i class="fa-solid fa-circle-plus"></i>
                            <span>Add a job Vacancy</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="jobs-completed">
                <ul class="all-completed">
                    <li class="active">All Jobs</li>
                    <li>Completed</li>
                </ul>
                <span class="line"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="card" routerLink="/job-details">
                    <div class="card-outer">
                        <div class="card-head">
                            <div class="card-logo">
                                <img src="assets/images/Ellipse 70.png" alt="">
                                <img src="assets/images/logos_spotify-icon.png" alt="" class="spotify">
                                <div class="card-text">
                                    <h5>UI/UX Designer</h5>
                                    <p>Date: 05 Jul 2023</p>
                                </div>
                            </div>
                            <div class="progress-btn">
                                <button class="progres">Inprogress</button>
                            </div>
                        </div>
                    </div>
                    <span class="line"></span>
                    <div class="Skills-required">
                        <div class="Skills-head">
                            <h6>Skills Required:</h6>
                            <ul class="skills">
                                <li>Figma</li>
                                <li>3D Design</li>
                                <li>After Effects</li>
                                <li>Illustrations</li>
                            </ul>
                        </div>
                        <div class="Description">
                            <div class="description-heading">
                                <h6>Description:</h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since....</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-bottom">

                        <div class="location">
                            <li><i class="fa-solid fa-location-dot"></i><a href=""></a> Mohali, Punjab</li>
                            <li><i class="fa-solid fa-coins"></i><a href=""></a>Rs. 4.5 - 5.4L</li>
                            <li><i class="fa-solid fa-cloud-sun"></i><a href=""></a>Day Shift</li>
                        </div>
                        <div class="year">
                            <li><i class="fa-solid fa-briefcase"></i><a href=""></a> 1-2 year</li>
                            <li><i class="fa-solid fa-location-dot"></i><a href=""></a> 24 more applied</li>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" routerLink="/job-details">
                    <div class="card-outer">
                        <div class="card-head">
                            <div class="card-logo">
                                <img src="assets/images/Ellipse 70.png" alt="">
                                <img src="assets/images/logos_spotify-icon.png" alt="" class="spotify">
                                <div class="card-text">
                                    <h5>UI/UX Designer</h5>
                                    <p>Date: 05 Jul 2023</p>
                                </div>
                            </div>
                            <div class="progress-btn">
                                <button class="progres">Inprogress</button>
                            </div>
                        </div>
                    </div>
                    <span class="line"></span>
                    <div class="Skills-required">
                        <div class="Skills-head">
                            <h6>Skills Required:</h6>
                            <ul class="skills">
                                <li>Figma</li>
                                <li>3D Design</li>
                                <li>After Effects</li>
                                <li>Illustrations</li>
                            </ul>
                        </div>
                        <div class="Description">
                            <div class="description-heading">
                                <h6>Description:</h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since....</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-bottom">

                        <div class="location">
                            <li><i class="fa-solid fa-location-dot"></i><a href=""></a> Mohali, Punjab</li>
                            <li><i class="fa-solid fa-coins"></i><a href=""></a>Rs. 4.5 - 5.4L</li>
                            <li><i class="fa-solid fa-cloud-sun"></i><a href=""></a>Day Shift</li>
                        </div>
                        <div class="year">
                            <li><i class="fa-solid fa-briefcase"></i><a href=""></a> 1-2 year</li>
                            <li><i class="fa-solid fa-location-dot"></i><a href=""></a> 24 more applied</li>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" routerLink="/job-details">
                    <div class="card-outer">
                        <div class="card-head">
                            <div class="card-logo">
                                <img src="assets/images/Ellipse 70.png" alt="">
                                <img src="assets/images/logos_spotify-icon.png" alt="" class="spotify">
                                <div class="card-text">
                                    <h5>UI/UX Designer</h5>
                                    <p>Date: 05 Jul 2023</p>
                                </div>
                            </div>
                            <div class="progress-btn">
                                <button class="progres">Inprogress</button>
                            </div>
                        </div>
                    </div>
                    <span class="line"></span>
                    <div class="Skills-required">
                        <div class="Skills-head">
                            <h6>Skills Required:</h6>
                            <ul class="skills">
                                <li>Figma</li>
                                <li>3D Design</li>
                                <li>After Effects</li>
                                <li>Illustrations</li>
                            </ul>
                        </div>
                        <div class="Description">
                            <div class="description-heading">
                                <h6>Description:</h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since....</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-bottom">

                        <div class="location">
                            <li><i class="fa-solid fa-location-dot"></i><a href=""></a> Mohali, Punjab</li>
                            <li><i class="fa-solid fa-coins"></i><a href=""></a>Rs. 4.5 - 5.4L</li>
                            <li><i class="fa-solid fa-cloud-sun"></i><a href=""></a>Day Shift</li>
                        </div>
                        <div class="year">
                            <li><i class="fa-solid fa-briefcase"></i><a href=""></a> 1-2 year</li>
                            <li><i class="fa-solid fa-location-dot"></i><a href=""></a> 24 more applied</li>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" routerLink="/job-details">
                    <div class="card-outer">
                        <div class="card-head">
                            <div class="card-logo">
                                <img src="assets/images/Ellipse 70.png" alt="">
                                <img src="assets/images/logos_spotify-icon.png" alt="" class="spotify">
                                <div class="card-text">
                                    <h5>UI/UX Designer</h5>
                                    <p>Date: 05 Jul 2023</p>
                                </div>
                            </div>
                            <div class="progress-btn">
                                <button class="progres">Inprogress</button>
                            </div>
                        </div>
                    </div>
                    <span class="line"></span>
                    <div class="Skills-required">
                        <div class="Skills-head">
                            <h6>Skills Required:</h6>
                            <ul class="skills">
                                <li>Figma</li>
                                <li>3D Design</li>
                                <li>After Effects</li>
                                <li>Illustrations</li>
                            </ul>
                        </div>
                        <div class="Description">
                            <div class="description-heading">
                                <h6>Description:</h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since....</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-bottom">

                        <div class="location">
                            <li><i class="fa-solid fa-location-dot"></i><a href=""></a> Mohali, Punjab</li>
                            <li><i class="fa-solid fa-coins"></i><a href=""></a>Rs. 4.5 - 5.4L</li>
                            <li><i class="fa-solid fa-cloud-sun"></i><a href=""></a>Day Shift</li>
                        </div>
                        <div class="year">
                            <li><i class="fa-solid fa-briefcase"></i><a href=""></a> 1-2 year</li>
                            <li><i class="fa-solid fa-location-dot"></i><a href=""></a> 24 more applied</li>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" routerLink="/job-details">
                    <div class="card-outer">
                        <div class="card-head">
                            <div class="card-logo">
                                <img src="assets/images/Ellipse 70.png" alt="">
                                <img src="assets/images/logos_spotify-icon.png" alt="" class="spotify">
                                <div class="card-text">
                                    <h5>UI/UX Designer</h5>
                                    <p>Date: 05 Jul 2023</p>
                                </div>
                            </div>
                            <div class="progress-btn">
                                <button class="progres">Inprogress</button>
                            </div>
                        </div>
                    </div>
                    <span class="line"></span>
                    <div class="Skills-required">
                        <div class="Skills-head">
                            <h6>Skills Required:</h6>
                            <ul class="skills">
                                <li>Figma</li>
                                <li>3D Design</li>
                                <li>After Effects</li>
                                <li>Illustrations</li>
                            </ul>
                        </div>
                        <div class="Description">
                            <div class="description-heading">
                                <h6>Description:</h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since....</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-bottom">

                        <div class="location">
                            <li><i class="fa-solid fa-location-dot"></i><a href=""></a> Mohali, Punjab</li>
                            <li><i class="fa-solid fa-coins"></i><a href=""></a>Rs. 4.5 - 5.4L</li>
                            <li><i class="fa-solid fa-cloud-sun"></i><a href=""></a>Day Shift</li>
                        </div>
                        <div class="year">
                            <li><i class="fa-solid fa-briefcase"></i><a href=""></a> 1-2 year</li>
                            <li><i class="fa-solid fa-location-dot"></i><a href=""></a> 24 more applied</li>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" routerLink="/job-details">
                    <div class="card-outer">
                        <div class="card-head">
                            <div class="card-logo">
                                <img src="assets/images/Ellipse 70.png" alt="">
                                <img src="assets/images/logos_spotify-icon.png" alt="" class="spotify">
                                <div class="card-text">
                                    <h5>UI/UX Designer</h5>
                                    <p>Date: 05 Jul 2023</p>
                                </div>
                            </div>
                            <div class="progress-btn">
                                <button class="progres">Inprogress</button>
                            </div>
                        </div>
                    </div>
                    <span class="line"></span>
                    <div class="Skills-required">
                        <div class="Skills-head">
                            <h6>Skills Required:</h6>
                            <ul class="skills">
                                <li>Figma</li>
                                <li>3D Design</li>
                                <li>After Effects</li>
                                <li>Illustrations</li>
                            </ul>
                        </div>
                        <div class="Description">
                            <div class="description-heading">
                                <h6>Description:</h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since....</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-bottom">

                        <div class="location">
                            <li><i class="fa-solid fa-location-dot"></i><a href=""></a> Mohali, Punjab</li>
                            <li><i class="fa-solid fa-coins"></i><a href=""></a>Rs. 4.5 - 5.4L</li>
                            <li><i class="fa-solid fa-cloud-sun"></i><a href=""></a>Day Shift</li>
                        </div>
                        <div class="year">
                            <li><i class="fa-solid fa-briefcase"></i><a href=""></a> 1-2 year</li>
                            <li><i class="fa-solid fa-location-dot"></i><a href=""></a> 24 more applied</li>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" routerLink="/job-details">
                    <div class="card-outer">
                        <div class="card-head">
                            <div class="card-logo">
                                <img src="assets/images/Ellipse 70.png" alt="">
                                <img src="assets/images/logos_spotify-icon.png" alt="" class="spotify">
                                <div class="card-text">
                                    <h5>UI/UX Designer</h5>
                                    <p>Date: 05 Jul 2023</p>
                                </div>
                            </div>
                            <div class="progress-btn">
                                <button class="progres">Inprogress</button>
                            </div>
                        </div>
                    </div>
                    <span class="line"></span>
                    <div class="Skills-required">
                        <div class="Skills-head">
                            <h6>Skills Required:</h6>
                            <ul class="skills">
                                <li>Figma</li>
                                <li>3D Design</li>
                                <li>After Effects</li>
                                <li>Illustrations</li>
                            </ul>
                        </div>
                        <div class="Description">
                            <div class="description-heading">
                                <h6>Description:</h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since....</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-bottom">

                        <div class="location">
                            <li><i class="fa-solid fa-location-dot"></i><a href=""></a> Mohali, Punjab</li>
                            <li><i class="fa-solid fa-coins"></i><a href=""></a>Rs. 4.5 - 5.4L</li>
                            <li><i class="fa-solid fa-cloud-sun"></i><a href=""></a>Day Shift</li>
                        </div>
                        <div class="year">
                            <li><i class="fa-solid fa-briefcase"></i><a href=""></a> 1-2 year</li>
                            <li><i class="fa-solid fa-location-dot"></i><a href=""></a> 24 more applied</li>
                        </div>


                    </div>
                </div>
            </div>


            <!--Modal Starts-->

            <div class="modal" *ngIf="showModal">
                <div class="modal-content" *ngIf="showModalContent">
                    <div class="modal-header">
                        <h6>Add Job Vacancies</h6>
                        <div class="all-read-important">
                            <div class="all" [class.color]="id ==='all'" (click)="tabChange('all')">
                              <p>All</p>
                            </div>
                            <div class="unread" [class.color]="id ==='unread'" (click)="tabChange('unread')">
                              <p>Unread</p>
                            </div>
                            <div class="all" [class.color]="id ==='important'" (click)="tabChange('important')">
                              <p>Important</p>
                            </div>
                          </div>
                        </div>
                    </div>
                    
                    

                </div>
              </div>
        </div>
    </div>
