<app-sidebar>
</app-sidebar>
<app-header></app-header>
<div class="main">
    <div class="bar-chart">
        <canvas id="lineChart"></canvas>
    </div>
    <div class="employe_input">
        <input type="text" [(ngModel)]="employeename" placeholder="Enter Employee Name or ID" id="work">
        <div class="calender">
            <div class="grid-icon">
                <i class="fa-sharp fa-solid fa-list-ul" (click)="toggleTable1()"></i>
                <i class="fa-solid fa-table-cells-large" (click)="toggleTable2()"></i>
            </div>
            <input type="date">
        </div>
        <div class="no_data">
            <img src="assets\images\nodata.png" alt="">
            <h2>No Record Found!</h2>
        </div>
    </div>

    <div class="table_data" *ngIf="showTable">
        <table class="table_text">
            <thead>
                <tr class="table_heading">
                    <th>Employee ID</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>PUNCH IN</th>
                    <th>PUNCH OUT</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of employee | attendanceFilter:employeename">
                    <td>{{user.empId}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.date | date:'shortDate'}}</td>
                    <td>{{user.status}}</td>
                    <td>{{user.punch_in}}</td>
                    <td>{{user.punch_out}}</td>
                    <td class="action1">
                        <div class="icons">
                            <i class="fa-solid fa-pencil" (click)="openModal(user)"></i>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>


    <div class="attendence-card " *ngIf="showCard">
        <div class="row ">
            <div class="col-3 " *ngFor="let user of employee">
                <div class="card ">
                    <img src="assets\images\attendec-logo.png " alt="logo ">
                    <h2>{{user.name}}</h2>
                    <p>UI/UX Designer</p>
                    <div class="attendence-percent ">
                        <div class="percent-text ">
                            <p>25/30</p>
                            <h4>Monthly</h4>
                        </div>
                        <div class="circle-graph ">
                            <circle-progress [percent]="95 " [showTitle]='true' [showSubtitle]='false' [titleFontSize]=" '15' " [unitsFontSize]=" '15' " [showUnits]='true' [space]="-10 " [radius]="19 " [outerStrokeWidth]="8 " [innerStrokeWidth]="4
                                " [outerStrokeColor]=" '#3D9030' " [innerStrokeColor]=" '#e7e8ea' " [animation]='true' [animateTitle]='true' [animationDuration]="1000 "></circle-progress>
                        </div>
                    </div>
                    <button class="view-btn ">View details</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ------------------Input  Modal form---------------  -->
    <div class="employee-modal" *ngIf="showModal">
        <form class="input-form " [formGroup]="form" (ngSubmit)="OnUpdate()">
            <div class="cross-icon ">
                <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
            </div>
            <div class="modal-input-text">
                <h1>Attendance Rectification</h1>
            </div>

            <div class="input_form2 ">
                <div class="form__group ">
                    <label for="name ">Name</label>
                    <input type="text " id="name" formControlName="name" [disabled]="true" />
                </div>
                <div class="form__group">
                    <label for="number">Employee ID</label>
                    <input type="text " id="number" formControlName="empId" [disabled]="true" />
                </div>
                <div class="form__group ">
                    <label for="date">Date</label>
                    <input type="date" formControlName="date" />
                </div>
            </div>
            <div class="input_form2 ">
                <div class="form__group ">
                    <label for="name ">Status</label>
                    <div class="dropdown_container">
                        <div class="dropdwon_select" (click)="dropdownOpen()">
                            <p>{{Selectvariable}}</p>
                            <input style="display:none;" type="text" [(ngModel)]="Selectvariable" formControlName="status">
                            <i class="fa-sharp fa-solid fa-caret-down"></i>
                        </div>
                        <div class="select_content" *ngIf="contentdropdown">
                            <ul>
                                <li *ngFor="let arr of array; index as i" [class.select_active]="i === colorvariable" (click)="Changeselect(arr)">
                                    {{arr.name}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form__group ">
                    <label for="name ">Punch In</label>
                    <input type="time" formControlName="punch_in" />
                </div>
                <div class="form__group ">
                    <label for="name ">Punch out</label>
                    <input type="time" formControlName="punch_out" />
                </div>
            </div>
            <div class="form__group form-btn ">
                <button type="submit" class="done-btn">Done</button>
            </div>
        </form>
    </div>

    <!-- ----------------------------Edit popup Modal --------------- -->
    <div class="edit-modal" *ngIf="editmodal">
        <div class="edit-modal-text">
            <div class="modal-text">
                <img src="./assets/images/tick.png" alt="img">
            </div>
            <div class="modal-content">
                <h3>Successful</h3>
                <p>Attendance has been edited successfully!</p>
                <button class="Done_btn" (click)="done()">Done</button>
            </div>
        </div>
    </div>
</div>
