<app-sidebar> </app-sidebar>
<app-header></app-header>
<div class="main">
  <div class="attendence_main" *ngIf="attendence_main">
    <div class="loader_parent bar_graph" [ngClass]="{ attclose: !loader }">
      <!-- *ngIf="loader" -->
      <div class="loader"></div>
    </div>
    <div class="bar_graph" [ngClass]="{ attclose: loader }">
      <!-- *ngIf="!loader" -->
      <div class="graph_text">
        <div class="graph_heading">
          <h1>Attendance Status</h1>
        </div>
        <div class="year">
          <h2>2023</h2>
        </div>
      </div>

      <div class="bar-chart" [ngClass]="{ attclose: loader }">
        <canvas id="barChart"></canvas>
      </div>
    </div>

    <div class="employe_input">
      <i class="fa fa-search" aria-hidden="true" id="ico"></i>
      <input type="text" [(ngModel)]="employeename" placeholder="Enter Employee Name or ID" id="work" />
      <div class="calender">
        <div class="grid-icon">
          <button class="history_btn" (click)="toggleTable1()" [ngClass]="{ active: table1Visible }">
            Employee History
          </button>
          <button class="Day-wise_btn" (click)="toggleTable2()" [ngClass]="{ active: table2Visible }">
            Day-wise Attendance
          </button>
        </div>
        <label for="date">
          <input type="date" id="date" *ngIf="showTable" (change)="changefunction()" [(ngModel)]="datez"
            [ngModelOptions]="{ standalone: true }" />
        </label>

        <div class="dropdown_container" *ngIf="dropdown" (mouseleave)="contentdropdown = false">
          <div class="dropdwon_select" (click)="dropdownOpen()">
            <p>{{ Selectvariable }}</p>
            <i class="fa-sharp fa-solid fa-caret-down"></i>
          </div>
          <div class="select_content" *ngIf="contentdropdown">
            <ul>
              <li *ngFor="let arr of array; index as i" [class.select_active]="i === colorvariable"
                (click)="Changeselect(arr)">
                {{ arr.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="attendence_table">
      <div class="table_data" *ngIf="showTable">
        <table class="table_text">
          <thead>
            <tr class="table_heading">
              <th>Employee ID</th>
              <th>Name</th>
              <th>Designation</th>
              <th>Status</th>
              <th>PUNCH IN</th>
              <th>PUNCH OUT</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="
                let user of DayAttendance | attendanceFilter : employeename
              ">
              <!-- | attendanceFilter:employeename:datez -->
              <td colspan="7" class="nodata" class="no_data" *ngIf="user.found == 'true'">
                <p>
                  <img src="assets/images/no_record.png" alt="" class="center" />
                </p>
                <h2>No Record Found!</h2>
              </td>
              <td *ngIf="user.found != 'true'">{{ user.uid }}</td>
              <td *ngIf="user.found != 'true'">{{ user.name }}</td>
              <td *ngIf="user.found != 'true'">{{ user.designation }}</td>
              <td *ngIf="user.found != 'true'">{{ user.status }}</td>
              <td *ngIf="user.found != 'true'">
                {{
                user.status != "present"
                ? "------"
                : (user.in | date : "shortTime")
                }}
              </td>
              <td *ngIf="user.found != 'true'">
                {{
                user.status != "present"
                ? "------"
                : (user.out | date : "shortTime")
                }}
              </td>
              <!-- <td *ngIf="user.found!='true'" class="action1">
                            <div class="icons">
                                <i class="fa-solid fa-pencil" (click)="openModal(user)"></i>
                            </div>
                        </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="attendence-card" *ngIf="showCard">
      <div class="row">
        <div class="col-3" *ngFor="let user of card | attendanceFilter : employeename">
          <div class="card" (click)="profileview(user)" *ngIf="!user.found">
            <img src="{{ user._id.url }}" alt="logo" onError="this.src='./assets/images/Ellipse 98.svg'" />

            <h2>{{ user._id.name }}</h2>

            <p>{{ user._id.designation }} | {{ user._id.uid }}</p>
            <div class="attendence-percent">
              <div class="percent-text">
                <p>{{ user.presentcount }}/{{ user.totalcount }}</p>
              </div>
              <div class="progress-circle-container">
                <div class="progress-circle progress-{{ user.percent }}">
                  <span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="empty-card" *ngIf="user.found">
            <p>
              <img src="assets/images/no_record.png" alt="" class="center" />
            </p>
            <p>No Record Found!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ----------------------card Profile View---------------------------------------- -->
  <div class="card_profile" *ngIf="profilecard">
    <div class="card_profile_main">
      <div class="card_profile_heading">
        <div class="back_icon" (click)="back_profile()">
          <i class="fa-sharp fa-solid fa-less-than"></i>
        </div>
        <div class="profile_logo">
          <img src="{{ profile._id.url }}" alt="" onError="this.src='./assets/images/Ellipse 98.svg'" />
        </div>
        <div class="bar">
          <img src="assets/images/Rectangle 580.png" alt="" />
        </div>
        <div class="profile_modal_title">
          <h2>{{ profile._id.name }}</h2>
          <p>{{ profile._id.uid }}</p>
        </div>
        <div class="profile_card_btn">
          <button class="profile_logo_btn">
            {{ profile._id.designation }}
          </button>
        </div>
      </div>
      <div class="car_profile_right">
        <div class="export_btn">
          <img src="assets/images/export.png" alt="export.logo" />
          <button class="export_card_btn" (click)="exportData()">Export</button>
        </div>

        <div class="dropdown_container" (mouseleave)="contentdropdown = false">
          <div class="dropdwon_select1" (click)="dropdownOpen()">
            <p>{{ Selectvariable }}</p>
            <i class="fa-sharp fa-solid fa-caret-down"></i>
          </div>
          <div class="select_content1" *ngIf="contentdropdown">
            <ul>
              <li *ngFor="let arr of array; index as i" [class.select_active]="i === colorvariable"
                (click)="Changeselect(arr)">
                {{ arr.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="attendence_table">
      <div class="table_data1">
        <table class="table_text" id="excel-table">
          <thead>
            <tr class="table_heading">
              <th>Date</th>
              <th>Status</th>
              <th>PUNCH IN</th>
              <th>PUNCH OUT</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of profile.attendance">
              <td>{{ i.date | date : "shortDate" }}</td>
              <td>{{ i.status }}</td>
              <td>{{ i.in == null ? "----" : i.in }}</td>
              <td>{{ i.out == null ? "----" : i.out }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>