.main {
    width: calc(100% - 223px);
    margin-left: 223px;
    background: #f9f9f9;
    padding: 30px;
    min-height: 100%;
}

#ico {
    position: relative;
    left: 1%;
    color: gray;
    margin-top: 15px;
}
.table_data {
    width: 100%;
    padding-top: 10px;
}

.table_text {
    width: 100%;
}

table {
    border-spacing: 2px 5px;
}

table,
th,
td {
    font-size: 14px;
}

.table_heading th {
    text-align: left;
}

tr:hover {
    background-color: #f7f7f7f9 !important;
}

th,
td {
    padding: 15px;
    white-space: nowrap;
}

.table_data::-webkit-scrollbar {
    width: 6px;
    height: 35px;
}

.table_data::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

.table_data::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.table_data::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.table_text tr:nth-child(even) {
    background-color: #FFFFFF;
}

.table_text tr:nth-child(odd) {
    background-color: #fff;
}

.table_text th {
    font-size: 11px;
    text-transform: uppercase;
    color: #444444;
    background-color: #EFEFF8;
    margin-top: 10px;
}

.table_data {
    overflow-y: auto;
    height: 78vh;
}

.table_text thead th {
    position: sticky;
    top: -20px;
}

.bar_graph {
    background-color: #ffff;
    width: 100%;
    height: 416px;
    margin-top: 76px;
    padding: 0 30px;
    border-radius: 20px;
}
.graph_text{
    display: flex;
    justify-content: space-between;
}
.graph_heading h1{
 color: #444444;
 font-size: 14px;
 font-weight: 400;
 padding: 20px 20px;
}

.bar-chart {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 350px;
    width: 100% ;
    padding-bottom: 10px;

}

.calender {
    position: absolute;
    right: 30px;
    cursor: pointer;
    display: flex;
    gap: 20px;
}

.calender input {
    cursor: pointer;
}

.grid-icon {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.grid-icon i {
    font-size: 15px;
    padding: 4px;
    border-radius: 4px;
}

.grid-icon img {
    width: 13px;
    height: 13px;
}

.grid-icon i:hover {
    background-color: #999;
    color: #fff;
}

.grid-icon img:hover {
    background-color: #999;
    color: #fff;
}

.employe_input {
    display: flex;
    gap: 10px;
    margin-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.employe_input input {
    width: 161px;
    height: 44px;
    box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 8px;
    color: black;
    outline: none;
    font-size: 14px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.employe_input input::placeholder {
    color: #555555;
    font-size: 14px;
}

.employe_input input:hover,
.employe_input input:focus {
    border: 1px solid #2F2C9F;
    border-radius: 8px;
}

#work {
    width: 250px;
    margin-left: -25px;
    padding-left: 40px;
}

.icons {
    display: flex;
    gap: 26px;
}

.icons .fa-pencil {
    color: #999999;
    cursor: pointer;
}

.icons .fa-trash-can {
    color: #EE4032;
    cursor: pointer;
}

.icons .fa-pencil:hover {
    color: #2F2C9F;
}


/*---------------------------- Card section------------------ */

.row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}

.col-3 {
    display: inline-block;
    padding: 20px 25px;
}

.card {
    background-color: #ffff;
    border-radius: 8px;
    text-align: center;
}

.card img {
    height: 66px;
    width: 66px;
    margin-top: 20px;
}

.col-3 h2 {
    padding-top: 8px;
    color: #222222;
    font-size: 14px;
    text-align: center;
}

.col-3 p {
    padding-top: 4px;
    font-size: 12px;
    color: #444444;
    text-align: center;
}

.attendence-percent {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.percent-text p {
    color: #444444;
    font-size: 10px;
    font-weight: 400;
}

.percent-text h4 {
    font-size: 12px;
    color: #444444;
}

.view-btn {
    margin-top: 25px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    height: 24px;
    border: none;
    padding: 6px 8px;
    margin-bottom: 27px;
    cursor: pointer;
}

.view-btn:hover {
    color: #444444;
    background-color: #dddd
}


/* ------------------Input  Modal form------------------------ */

.employee-modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
    overflow: hidden;
    transition: opacity linear .2s;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    padding: 0 30px;
}

.cross-icon i {
    position: absolute;
    right: -40px;
    top: -25px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.modal-input-text {
    background-color: #F7F7F8;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.modal-input-text h1 {
    color: #444444;
    font-size: 18px;
    font-weight: 400;
}

.input-form {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    position: absolute;
    justify-content: center;
    width: 740px;
    height: 388px;
    border-radius: 8px;
}

.input_form2 {
    padding: 0 50px;
}

.input_form1,
.input_form2 {
    display: flex;
    gap: 20px;
}

.form__group>label {
    margin-bottom: 10px;
    float: left;
    width: 100%;
    color: #444444;
    font-size: 14px;
    font-weight: 400;
}

.form__group>input {
    width: 200px;
    height: 44px;
    background-color: #FFFFFF;
    border: 1px solid #B4B4B4;
    border-radius: 8px;
    padding: 10px;
}

.input_form1 {
    padding-top: 50px;
}

.form-btn {
    bottom: 50px;
    width: 90px;
    height: 40px;
    background-color: var(--primary-color);
    border-radius: 8px;
}

.input_date {
    width: 200px !important;
    height: 44px !important;
}

.done-btn {
    background: none;
    outline: none;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 28px;
    cursor: pointer;
}

#name::placeholder {
    color: #AAAAAA;
}

#number::placeholder {
    color: #AAAAAA;
}

.form-btn:hover {
    background-color: #150de6;
}

.form__group input[type="text"]:disabled {
    cursor: not-allowed;
}

.form__group input[type="number"]:disabled {
    cursor: not-allowed;
}

.input_date {
    padding: 10px;
}

input:hover,
input:focus {
    border-color: #2F2C9F !important;
    outline: none;
}

.input_text {
    padding-left: 10px;
}


/* -------------------Edit popup Modal------------------ */

.edit-modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, .8);
    transition: opacity linear .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.edit-modal-text {
    width: 430px;
    height: 336px;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 20px 10px;
}

.modal-text {
    width: 390px;
    height: 152px;
    background: rgba(123, 211, 109, 0.3);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.modal-content h3 {
    font-weight: 500;
    font-size: 18px;
    margin-top: 30px;
    color: #444444;
}

.modal-content p {
    color: #666666;
    padding-top: 16px;
    font-size: 14px;
    font-weight: 400;
}

.Done_btn {
    width: 82px;
    height: 38px;
    background: #3D9130;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    border: 1px solid #3D9130;
    cursor: pointer;
    margin-top: 20px;
    padding: 0 9px;
}

.Done_btn:hover {
    background-color: #3D9130;
    opacity: 0.7;
}

#name::placeholder {
    color: #AAAAAA;
}

#number::placeholder {
    color: #AAAAAA;
}


/*--------------------------- No Data Found---------------- */

.no_data {
    margin-top: 100px;
    display: none;
}

.no_data img {
    width: 184.65px;
    height: 132.3px;
}

.no_data h2 {
    color: #444444;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding-top: 21px;
}

.form__group input[type="text"]:disabled {
    cursor: not-allowed;
}

.form__group input[type="number"]:disabled {
    cursor: not-allowed;
}

.disable>input:hover,
input:focus {
    border-color: #B4B4B4 !important;
}


/* ------------Drop Down---------------- */

/* .dropdwon_select1 {
    background-color: #fff;
    width: 150px;
    height: 44px;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.1);
    color: #444444;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    margin-top: 20px;
} */
.dropdwon_select {
    background-color: #fff;
    width: 200px;
    height: 44px;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.1);
    color: #444444;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    border: 1px solid #B4B4B4;
}
.dropdwon_select:hover,
.dropdwon_select:focus {
    border: 1px solid #2F2C9F;
    border-radius: 8px;
}

.dropdwon_select p {
    font-size: 14px;
    font-weight: 400;
}

.dropdwon_select i {
    font-size: 14px;
    color: #444444;
    padding: 3px 7px;
}

.select_content {
    background-color: #fff;
    cursor: pointer;
    width: 172px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    color: #444444;
}

.select_content ul {
    padding: 0;
    margin: 0;
}

.select_content ul li {
    list-style: none;
    padding: 10px 10px;
    margin-top: 5px;
    font-size: 14px;
}

.select_content ul li:hover {
    background-color: #ECECEC;
    border-radius: 8px;
}

.select_active {
    background-color: #ECECEC;
    border-radius: 8px;
}