<app-sidebar>
</app-sidebar>
<app-header></app-header>

<!----------------------------Emplyee Attendance Area--------------------------->

<div class="employee-attendance">

    <div class="row">
        <!-----------------------------------Col-left---------------------------->
        <div class="col-6">
            <div class="card">
                <div class="today-heading">
                    <h5>Today’s attendance</h5>
                </div>
                <div class="punch-in-punch-out">
                    <div class="punch-in">
                        <div class="punch-in-text">
                            <p>Punch in timing</p>
                            <h4>08:46 am</h4>
                        </div>
                        <div class="punch-in-img">
                            <img src="assets/images/Group 1248.svg" alt="">
                        </div>
                    </div>
                    <div class="punch-in">
                        <div class="punch-in-text">
                            <p>Punch out timing</p>
                            <h4>--:-- pm</h4>
                        </div>
                        <div class="punch-in-img">
                            <img src="assets/images/Group 1248-1.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-------------------------------------Col-right------------------------------->
        <div class="col-6">
            <div class="card">
                <div class="today-heading">
                    <h5>Today’s attendance</h5>
                </div>
                <div class="punch-in-punch-out">
                    <div class="punch-in">
                        <div class="punch-in-text">
                            <p>Punch in timing</p>
                            <h4>08:46 am</h4>
                        </div>
                        <div class="punch-in-img">
                            <img src="assets/images/Group 1248.svg" alt="">
                        </div>
                    </div>
                    <div class="punch-in">
                        <div class="punch-in-text">
                            <p>Punch out timing</p>
                            <h4>--:-- pm</h4>
                        </div>
                        <div class="punch-in-img">
                            <img src="assets/images/Group 1248-1.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>