<app-sidebar>
</app-sidebar>
<app-header></app-header>

<div class="employee-attendance">
    <div class="row">
        <div class="col-5">
            <div class="attendence_card">
                <h3>Today’s attendance</h3>
                <div class="card">
                    <div class="card_content">
                        <div class="card_text">
                            <p>Punch in timing</p>
                            <h1>08:46 am</h1>
                        </div>
                        <div class="card_logo">
                            <img src="assets/images/Group 1248.svg" alt="">
                        </div>
                    </div>
                    <div class="card_content">
                        <div class="card_text">
                            <p>Punch in timing</p>
                            <h1>08:46 am</h1>
                        </div>
                        <div class="card_logo">
                            <img src="assets/images/Group 1248.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="attendence_card">
                <h3>Today’s attendance</h3>
                <div class="card">
                    <div class="card_content">
                        <div class="card_text">
                            <p>Punch in timing</p>
                            <h1>08:46 am</h1>
                        </div>
                        <div class="card_logo">
                            <img src="assets/images/Group 1248.svg" alt="">
                        </div>
                    </div>
                    <div class="card_content">
                        <div class="card_text">
                            <p>Punch in timing</p>
                            <h1>08:46 am</h1>
                        </div>
                        <div class="card_logo">
                            <img src="assets/images/Group 1248.svg" alt="">
                        </div>
                    </div>
                    <div class="card_content">
                        <div class="card_text">
                            <p>Punch in timing</p>
                            <h1>08:46 am</h1>
                        </div>
                        <div class="card_logo">
                            <img src="assets/images/Group 1248.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>