<app-sidebar></app-sidebar>
<app-header></app-header>
<div class="employee_leaves">
    <div class="employee_leaves_main" *ngIf="employeemaintable">
        <div class="available-balance-area">
            <h6>Available Leave Balance (On Annual basis)</h6>
            <div class="casual-leaves">
                <div class="leaves">
                    <div class="leave-text">
                        <h6>Casual Leave</h6>
                        <h4>{{obj.casual + obj.urgent}}</h4>
                    </div>
                    <div class="progress_circle">
                        <circle-progress [percent]="70" [space]="-11" [radius]="30" [outerStrokeWidth]="10"
                            [innerStrokeWidth]="10" [outerStrokeColor]="'
                            #8BAFFF'" [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="1000"
                            [backgroundStrokeWidth]="4"></circle-progress>
                    </div>
                </div>
                <div class="leaves">
                    <div class="leave-text">
                        <h6>Medical Leave</h6>
                        <h4>{{obj.medical}}</h4>
                    </div>
                    <div class="progress_circle">
                        <circle-progress [percent]="70" [space]="-11" [radius]="30" [outerStrokeWidth]="10"
                            [innerStrokeWidth]="10" [outerStrokeColor]="'
                            #7BD36D'" [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="1000"
                            [backgroundStrokeWidth]="4"></circle-progress>
                    </div>
                </div>
                <div class="leaves">
                    <div class="leave-text">
                        <h6>Compensatory Leave</h6>
                        <h4>{{obj.earned}}</h4>
                    </div>

                    <div class="progress-circle-container CompensatoryProgress">
                        <div class="progress-circle progress-{{(obj.earned)/(obj.casual+obj.earned+obj.medical+obj.urgent)}}">
                            <span></span>
                        </div>
                    <div class="progress_circle">
                </div>
            </div>
        </div>
        <div class="leave-status-area">
            <div class="Leave-status">
                <a (click)="tablehistory()"><u>My Leave History</u></a>
            </div>
            <div class="attendence_table">
                <div class="table_data">
                    <table class="table_text">
                        <thead>
                            <tr class="table_heading">
                                <th>APPLIED ON</th>
                                <th>FROM</th>
                                <th>TO</th>
                                <th>DURATION</th>
                                <th>CATEGORY</th>
                                <th>REASON</th>
                                <th>STATUS</th>
                                <th>COMMENT (BY HR)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor=" let item of leaves | todayattendance ">
                                <!-- <td>{{n}}</td> -->
                                <td>{{item.appliedOn | date:"shortDate"}}</td>
                                <td>{{item.from | date:"shortDate"}}</td>
                                <td>{{item.to | date:"shortDate"}}</td>
                                <td>{{item.duration}}</td>
                                <td>{{item.category}}</td>
                                <td>{{item.reason}}</td>
                                <td>{{item.status}}</td>
                                <td>{{item.message}}</td>
                            </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
        <!--------------------Apply for leaves------------------->
        <div class="apply-for-leaves">
            <h6>Apply For Leave </h6>
            <form [formGroup]="empleaveForm">
                <div class="form">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="">From</label><br>
                            <input type="date" placeholder="29/04/2023" formControlName="from">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="">To</label><br>
                            <input type="date" placeholder="29/04/2023" formControlName="to" (change)="getDates()">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="">Duration</label><br>
                            <input type="text" placeholder="1 day" [value]="str" formControlName="duration" readonly>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="">Category</label><br>
                            <div class="dropdown_container" (mouseleave)="contentdropdown = false">
                                <div class="dropdwon_select" (click)="dropdownOpen()">
                                    <input type="text" formControlName="category" style="display:none"
                                        [value]="Selectvariable">
                                    <p>{{Selectvariable}}</p>
                                    <i class="fa-sharp fa-solid fa-caret-down"></i>
                                </div>
                                <div class="select_content" *ngIf="contentdropdown">
                                    <ul>
                                        <li *ngFor="let arr of array; index as i"
                                            [class.select_active]="i === colorvariable" (click)="Changeselect(arr)">
                                            {{arr.name}}</li>
                                    </ul>
                                    <!-------- Side dropdown--------------- -->
                                    <div class="half_day_leave" *ngIf="halfdayleave"
                                        (mouseleave)="halfdayleave = false">
                                        <p class="First_Half">First Half</p>
                                        <p class="Second_Half">Second Half</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group short_leave" *ngIf="shortleave">
                    <label for="">Time Duration</label><br>
                    <div class="dropdown_container drop_down_input" (mouseleave)="contentdropdown1 = false">
                        <div class="dropdwon_select" (click)="dropdownOpen1()">
                            <input type="text" formControlName="category" style="display:none"
                                [value]="Selectvariable1">
                            <p>{{Selectvariable1}}</p>
                            <i class="fa-sharp fa-solid fa-caret-down"></i>
                        </div>
                        <div class="select_content" *ngIf="contentdropdown1">
                            <ul>
                                <li *ngFor="let arr1 of array1; index as i" [class.select_active]="i === colorvariable1"
                                    (click)="Changeselect1(arr1)">
                                    {{arr1.name}}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="reason-attachments">
                    <div class="col-6">
                        <div class="reason">
                            <label for="">Reason</label>
                            <textarea placeholder="Type your reason here..." formControlName="reason"></textarea>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="reason">
                            <label for="">Attachments(Optional)</label>
                            <div class="textarea">
                                <img src="assets/images/ant-design_cloud-upload-outlined.svg" alt="">
                                <!-- <p class="first">Select a file or drag and drop here</p> -->
                                <p class="second">Supported formats: pdf, jpg, png</p>
                                <div class="choose-btn">

                                    <!-- <input type="file" (change)="onFileSelected($event)"> -->
                                    <div class="file_upload">
                                        <input type="file" (change)="onFileSelected($event)">
                                    </div>
                                    <div class="file_size">
                                        <p>Maximum Size : 5 MB</p>
                                    </div>
                                    <div class="progress_bar_loader" *ngIf="loader"></div>
                                    <!-- <div class="upload_progress_bar" *ngIf="loader">
                                        <div class="pdf_file">
                                            <h4>PDF</h4>
                                        </div>
                                        <div class="input_upload">
                                            <input type="text" [value]="fileName" readonly>
                                            <div class="progress-bar">
                                                <div class="progress_upload"></div>
                                                <div class="progress-text-input">0%</div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear-apply-button">
                    <button class="clear" (click)="cancel()">Clear</button>
                    <button class="apply" (click)="applyleaves()">Apply </button>
                    <!-- <div class="loader" *ngIf="loader"></div> -->
                </div>
            </form>
        </div>

    </div>


    <!-- -------------My Leave History Table----------------- -->


    <div class="leave-History-area" *ngIf="leaveshistory">
        <div class="Leave-History">
            <div class="leaves_history_icon">
                <i class="fa-sharp fa-solid fa-angle-left" (click)="employee_leaves()"></i>
            </div>
            <h6>My Leave History</h6>
        </div>
        <div class="attendence_history_table">
            <div class="table_data">
                <table class="table_text">
                    <thead>
                        <tr class="table_heading">
                            <th>APPLIED ON</th>
                            <th>FROM</th>
                            <th>TO</th>
                            <th>DURATION</th>
                            <th>CATEGORY</th>
                            <th>REASON</th>
                            <th>STATUS</th>
                            <th>COMMENT (BY HR)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor=" let n of leaves;">
                            <td>{{n.appliedOn | date:'shortDate'}}</td>
                            <td>{{n.from | date:'shortDate'}}</td>
                            <td>{{n.to | date:'shortDate'}}</td>
                            <td>{{n.duration}}</td>
                            <td>{{n.category}}</td>
                            <td>
                                <p class="mt20">
                                    <span class="tooltip"
                                        data-tooltip="I found what I need. And it's not friends, it's things  not friends, it's things not friends, it's things not friends, it's things not friends, it's things. I found what I need. And it's not friends, it's things  "
                                        data-tooltip-pos="right" data-tooltip-length="medium">{{n.reason}}
                                    </span>
                                </p>

                            </td>
                            <td>{{n.status}}</td>
                            <td>
                                <p class="mt20">
                                    <span class="tooltip"
                                        data-tooltip="I found what I need. And it's not friends, it's things  not friends, it's things not friends, it's things not friends, it's things not friends, it's things. I found what I need. And it's not friends, it's things  "
                                        data-tooltip-pos="right" data-tooltip-length="medium">{{n.message}}</span>
                                </p>
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </div>


    <!-- ----------------------Leave applied successfully! Modal------------------------ -->

    <form class="leave_approved_form" *ngIf="leave_approved_form">
        <div class="leave_approved_modal">
            <i class="fa-solid fa-xmark" (click)="closemodal()"></i>
            <div class="logo_bg">
                <img src="assets/images/tick.png" alt="image">
            </div>
            <h4>Leave applied successfully!</h4>
            <p>You’ll be notified about the decision of HR regarding your leave.</p>
            <div class="Done_form_btn">
                <button class="Done_btn" (click)="closemodal()">Done</button>
            </div>
        </div>
    </form>
</div>
