.employee_leaves {
    width: (100%-223px);
    margin-left: 223px;
    background-color: #f9f9f9;
    padding: 78px 30px;
}

.available-balance-area {
    background-color: #FFFFFF;
    width: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.available-balance-area h6 {
    font-weight: 500;
    font-size: 18px;
    color: #444444;
}

.leaves {
    border-radius: 10px;
    height: 100px;
    background-color: #FAFAFA;
    padding: 27px 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.casual-leaves {
    display: flex;
    gap: 25px;
    width: 100%;
}

/* -------------------Progress Bar------------------------- */
/* 
@keyframes growProgressBar {

    0%,
    33% {
        --pgPercentage: 0;
    }

    100% {
        --pgPercentage: var(--value);
    }
}

@property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}

div[role="progressbar"],
div[role="progressbar1"],
div[role="progressbar2"],
div[role="progressbar3"] {
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 12px;
}

div[role="progressbar"] {
    color: #8BAFFF;
    background:
        radial-gradient(closest-side, white 70%, transparent 0 99.9%, white 0),
        conic-gradient(#8BAFFF calc(var(--pgPercentage) * 1%), #def 0);
}

div[role="progressbar1"] {
    color: #7BD36D;
    background:
        radial-gradient(closest-side, white 70%, transparent 0 99.9%, white 0),
        conic-gradient(#7BD36D calc(var(--pgPercentage) * 1%), #def 0);
}

div[role="progressbar2"] {
    color: #369;
    background:
        radial-gradient(closest-side, white 70%, transparent 0 99.9%, white 0),
        conic-gradient(#FA9796 calc(var(--pgPercentage) * 1%), #def 0);
}


div[role="progressbar"]::before,
div[role="progressbar1"]::before,
div[role="progressbar2"]::before,
div[role="progressbar3"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
} */

/* -------------------circular Progress Bar Girija------------------------- */
.progress-circle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ebebeb;
}

.progress-circle:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-animation: colorload 2s;
    animation: colorload 2s;
}

.progress-circle span {
    font-size: 1rem;
    color: #8b8b8b;
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 60px;
    margin-left: -20px;
    margin-top: -20px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    z-index: 1;
}

.progress-circle span:after {
    content: "";
    font-weight: 600;
    color: #8b8b8b;
}

.leaves .progress-circle-container.CasualProgress .progress-circle:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(140.4deg, #8BAFFF 50%, #ebebeb 50%, #ebebeb) !important;
}

.leaves .progress-circle-container.MedicalProgress .progress-circle:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(140.4deg, #7BD36D 50%, #ebebeb 50%, #ebebeb) !important;
}

.leaves .progress-circle-container.CompensatoryProgress .progress-circle:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(140.4deg, #FA9796 50%, #ebebeb 50%, #ebebeb) !important;
}

/*-----------------------Leave-status--------------------*/
.leave-status-area {
    background-color: #FFFFFF;
    width: 100%;
    padding: 20px 20px;
    margin-top: 25px;
    border-radius: 20px;

}

.Leave-status {
    display: flex;
    justify-content: space-between;
}

.Leave-status h6 {
    font-weight: 500;
    font-size: 18px;
    color: #444444;
}

.Leave-status a {
    font-weight: 400;
    font-size: 14px;
    color: #2F2C9F;
    cursor: pointer;
}

/*--------------------------------------------Table---------------------------------------*/
.table_data {
    width: 100%;
}

.table_text {
    width: 100%;
}

.table_heading {
    position: sticky;
    top: 0;
}

table {
    border-spacing: 2px 5px;
}

table,
th,
td {
    font-size: 12px;
}

.table_heading th {
    text-align: left;
}

tr:hover {
    background-color: #f7f7f7f9 !important;
}

th,
td {
    padding: 15px;
    white-space: nowrap;
}

/* .table_data::-webkit-scrollbar {
    width: 6px;
    height: 3px;
}

.table_data::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.table_data::-webkit-scrollbar-thumb {
    background-color: #B4B4B4;
    border-radius: 2px;
}

.table_data::-webkit-scrollbar-thumb:hover {
    background-color: #b4b4b4;
} */

.table_text tr:nth-child(even) {
    background-color: #FFFFFF;
}

.table_text tr:nth-child(odd) {
    background-color: #fff;
}

.table_text th {
    font-size: 11px;
    text-transform: uppercase;
    color: #444444;
    background-color: #EFEFF8;
    margin-top: 10px;
}

/*
.table_data {
    overflow-y: auto;
    height: 78vh;
} */

.table_text thead th {
    position: sticky;
    top: -20px;
}

.attendence_table {
    margin-top: 20px;

}

/*--------------Apply for leaves----------------------*/
.apply-for-leaves {
    padding: 20px;
    width: 100%;
    background-color: #FFFFFF;
    margin-top: 25px;
    border-radius: 20px;
}

.apply-for-leaves h6 {
    font-weight: 500;
    font-size: 18px;
    color: #444444;
}

.form {
    margin-top: 25px;
    gap: 22px;
    display: flex;
}

.form-group input {
    padding: 10px 17px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(180, 180, 180, 0.8);
    border-radius: 6px;
    outline: none;
}

.form-group label {
    font-weight: 400;
    font-size: 13px;
    color: #333333;
}

.form-group input:read-only {
    cursor: not-allowed;
    background-color: #F1F1F1;
}

.form-group.short_leave {
    padding-top: 20px;
}

.drop_down_input {
    width: 280px;
    height: 40px;
}

/*------------------------drpdown css----------------------*/
.dropdwon_select {
    background-color: #fff;
    width: 100%;
    height: 40px;
    cursor: pointer;
    padding: 8px;
    border: 1px solid rgba(180, 180, 180, 0.8);
    border-radius: 6px;
    color: #444444;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

.dropdwon_select:hover,
.dropdwon_select:focus {
    border: 1px solid #2F2C9F;
    border-radius: 8px;
}

.dropdwon_select p {
    font-size: 14px;
    font-weight: 400;
}

.dropdwon_select i {
    font-size: 14px;
    color: #444444;
    padding: 3px 7px;
}

.select_content {
    background-color: #fff;
    cursor: pointer;
    width: 260px;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px 17px;
    position: absolute;
    color: #444444;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    z-index: 99;
}

.select_content ul {
    padding: 0;
    margin: 0;
}

.select_content ul li {
    list-style: none;
    padding: 10px 10px;
    margin-top: 5px;
    font-size: 14px;
}

.select_content ul li:hover {
    background-color: #ECECEC;
    border-radius: 8px;
}

.half_day_leave {
    position: absolute;
    width: 170px;
    background-color: #fff;
    right: 260px;
    margin-top: -180px;
    z-index: 99;

}

.half_day_leave p {
    height: 40px;
    padding: 10px 16px 10px 17px;
    border: 1px solid #B4B4B4;
    color: #B4B4B4;
    border-radius: 8px;
    cursor: pointer;
}

.select_active {
    background-color: #ECECEC;
    border-radius: 8px;

}

/*------------------------------------reason Attachments-------------------------------------*/
.reason-attachments {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 25px;
    justify-content: space-between;
}

.reason textarea {
    /* min-width: 500px; */
    height: 167px;
    width: 100%;
    resize: none;
    border: 1px solid #CBCBCB;
    border-radius: 8px;
    padding: 10px 17px;
    outline: none;
}

.reason label {
    font-weight: 400;
    font-size: 14px;
    color: #333333;

}

.inside-attachment {
    padding: 19px;
}

.textarea {
    /* min-width: 500px; */
    height: 167px;
    width: 100%;
    resize: none;
    border: 1px solid #CBCBCB;
    border-radius: 8px;
    text-align: center;
    padding: 10px 17px;
    outline: none;
}

.textarea .first {
    font-weight: 400;
    font-size: 14px;
    color: #777777;
}

.textarea .second {
    font-weight: 400;
    font-size: 12px;
    color: #777777;
}

.textarea input {
    /* position: relative; */
    opacity: 0;
}

.choose-file {
    width: 82px;
    height: 22px;
    background-color: #EFEFF8;
    border-radius: 4px;
    position: absolute;
    color: #2F2C9F;
    font-weight: 400;
    font-size: 12px;
    outline: none;
    border: none;
    cursor: pointer;

    /* position: absolute; */
}

.choose-btn {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 16px;
}

.choose-btn input {
    cursor: pointer;
}



/* -------------------My Leave History Table---------------------- */
.attendence_history_table {
    margin-top: 20px;
}

.leave-History-area {
    background-color: #f9f9f9;
}

.Leave-History {
    display: flex;
    gap: 11px;
    align-items: center;
}


.Leave-History .leaves_history_icon {
    background-color: #FFFFFF;
    border-radius: 360px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444444;
}

.Leave-History .leaves_history_icon i {
    cursor: pointer;
}

.Leave-History h6 {
    font-size: 15px;
    font-weight: 400;
}

/*----------------------clear-apply-button-----------------------------*/


.clear-apply-button {
    display: flex;
    gap: 10px;
    margin-top: 25px;
}

.clear-apply-button button {
    width: 80px;
    height: 38px;
    border: 1px solid #2F2C9F;
    border-radius: 8px;
    cursor: pointer;
}

.clear {
    color: #2F2C9F;
    background-color: #FFFFFF;
}

.apply {
    color: #FFFFFF;
    background-color: #2F2C9F;
}

/* -------------------ToolTips Custom--------------------------- */

.mt20 {
    cursor: pointer;
}

.tooltip {
    position: relative;
}

.tooltip:after,
.tooltip:before {
    opacity: 0;
    pointer-events: none;
    bottom: 100%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 10px);
    transform-origin: top;
    transition: all 0.18s ease-out 0.18s;
}

.tooltip:after {
    background-color: #000;
    box-shadow: 0 0 3px #000;
    content: attr(data-tooltip);
    padding: 10px;
    white-space: nowrap;
    border-radius: 8px;
    color: #fff;
}

.tooltip:before {
    width: 0;
    height: 0;
    content: "";
    margin-bottom: 6px;
}

.tooltip:hover:before,
.tooltip:hover:after {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, 0);
}

[data-tooltip-pos="right"]:before {
    transform: none;
    left: 0 !important;
    margin-left: 0 !important;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #000;
    border-right: 10px solid transparent;
    margin-top: 0px !important;
}

[data-tooltip-pos="right"]:before,
[data-tooltip-pos="right"]:after {
    bottom: auto;
    top: 100%;
    transform: translate(-10px, -50%);
    margin-top: 60px;
}

[data-tooltip-pos="right"]:after {
    margin-left: 11px;
}

[data-tooltip-pos="right"]:hover:before,
[data-tooltip-pos="right"]:hover:after {
    transform: translate(0, -50%);
    z-index: 99;
}

[data-tooltip-length]:after {
    white-space: normal;
}

[data-tooltip-length="medium"]:after {
    width: 250px;
    margin-left: -100px;
}


/* --------------------Leave applied successfully! Modal---------------------- */
.leave_approved_form {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(34, 34, 34, 0.7);
    backdrop-filter: blur(5px);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.leave_approved_modal {
    z-index: 1;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 430px;
    height: 357px;
    padding: 20px 20px;
}

.leave_approved_modal i {
    position: absolute;
    right: -25px;
    top: -20px;
    cursor: pointer;
    color: #ECECEC;
    cursor: pointer;
}

.logo_bg {
    background-color: rgba(123, 211, 109, 0.3);
    border-radius: 8px;
    width: 390px;
    height: 152px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leave_approved_modal h4 {
    text-align: center;
    color: #444444;
    font-weight: 500;
    font-size: 18px;
    padding-top: 22px;
}

.leave_approved_modal p {
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    text-align: center;
    padding: 16px 30px;
}

.Done_form_btn {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Done_form_btn .Done_btn {
    width: 82px;
    height: 38px;
    padding: 9px 24px;
    background-color: #3D9130;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
}

.Done_form_btn .Done_btn:hover {
    background-color: #1fa10a;
}

.loader {
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5px solid #2F2C9F;
    /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 6px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}