<app-header></app-header>
<app-sidebar></app-sidebar>
<!-- <div class="loader-parent">
  <div class="loader"></div>
</div> -->


<div class="main">

  <div class="row">
    <div class="left_side">
      <div class=>
        <div class="left-side-content">
          <div class="card">
            <div class="text-image">
              <p>Punch in timing</p>
              <h1>{{in | date:'shortTime'}}</h1>
            </div>
            <div class="text-image-icon" *ngIf="in=='' || in==null">
              <img src="assets/images/punch_inpng.png" alt="" (click)="punchin()" *ngIf="!done_punch_in">
              <img src="assets/images/punch_inpng.png" alt="" class="already_punch" *ngIf="done_punch_in">
            </div>
          </div>


          <div class="card">
            <div class="text-image">
              <p>Punch out timing</p>
              <h1>{{out | date:'shortTime'}}</h1>
            </div>
            <div class="text-image-icon" *ngIf="out=='' || out==null">
              <img src="assets/images/punch_out.svg" alt="" (click)="punchout()" *ngIf="!done_punch_out">
              <img src="assets/images/punch_out.svg" alt="" class="already_punch" *ngIf="done_punch_out">
            </div>
          </div>

          <!-- <div class="card">
                        <div class="text-image">
                            <p>Punch out timing</p>
                            <h1>--:-- pm</h1>
                        </div>
                        <div class="text-image-icon">
                            <img src="assets/images/punch_out.svg" alt="">
                        </div>
                    </div> -->


          <div class="quick-action">
            <p>Quick actions</p>
            <div class="leave-profile">
              <div class="leave" routerLink="/emp-leave">
                <img src="assets/images/Group 1248-leave.png" alt="">
                <p>Leave</p>
              </div>
              <div class="profile" routerLink="/emp-profile">
                <img src="assets/images/Group 1248-profile.png" alt="">
                <p>Profile</p>
              </div>
            </div>
          </div>
        </div>
        <div class="chart-balance">
          <div class="attendance">
            <div class="attendance-chart">
              <div class="attendance-heading">
                <h5>Attendance</h5>
                <div class="dropdown_container" (mouseleave)="contentdropdown = false">
                  <div class="dropdwon_select" (click)="dropdownOpen()">
                    <p>{{Selectvariable}}</p>
                    <i class="fa-sharp fa-solid fa-caret-down"></i>
                  </div>
                  <div class="select_content" *ngIf="contentdropdown">
                    <ul>
                      <li *ngFor="let arr of array; index as i" [class.select_active]="i === colorvariable"
                        (click)="Changeselect(arr)">
                        {{arr.name}}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="chart_leaves">
                <div class="pie">
                  <div class="grey-doughnut" *ngIf="blank"></div>
                  <canvas id="oilChart"></canvas>
                </div>
                <div class="present_leave_absent">
                  <div class="present">
                    <img src="assets/images/fluent_person-available-24-regular.png" alt="">
                    <div class="present_percentage">
                      <h5>Present</h5>
                      <h6>{{(total==0?0:(present/total)*100 | number:'1.0-0')}}%</h6>
                    </div>
                  </div>

                  <div class="present">
                    <img src="assets/images/fluent_person-clock-24-regular.svg" alt="">
                    <div class="present_percentage">
                      <h5>Leave</h5>
                      <h6>{{(total==0?0:(leave/total)*100) | number:'1.0-0'}}%</h6>
                    </div>
                  </div>
                  <div class="present">
                    <img src="assets/images/fluent-person-cross.svg" alt="">
                    <div class="present_percentage">
                      <h5>Absent</h5>
                      <h6>{{(total==0?0:(absent/total)*100 | number:'1.0-0')}}%</h6>
                    </div>
                  </div>
                  <!-- <div class="leave"></div> -->
                </div>


              </div>
            </div>
          </div>
          <div class="balance">
            <div class="leave_balance">
              <h1>Leave balance</h1>
              <div class="casual_medical_compensatory">
                <div class="casual-leave">
                  <div class="casual-heading">
                    <h3>Casual Leave</h3>
                    <h4>{{obj.casual}}</h4>
                  </div>
                  <div class="progress_circle">
                    <circle-progress [percent]='((obj.casual)/(10))*100' [space]="-11" [radius]="25"
                      [outerStrokeWidth]="10" [innerStrokeWidth]="10" [outerStrokeColor]="'
                                            #8BAFFF'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                      [animationDuration]="1000" [backgroundStrokeWidth]="3"></circle-progress>
                  </div>
                </div>
                <div class="casual-leave">
                  <div class="casual-heading">
                    <h3>Medical Leave</h3>
                    <h4>{{obj.medical}}</h4>
                  </div>
                  <div class="progress_circle">
                    <circle-progress [percent]='((obj.medical)/(10))*100' [space]="-10" [radius]="25"
                      [outerStrokeWidth]="10" [innerStrokeWidth]="10" [outerStrokeColor]="'
                                            #7BD36D'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                      [animationDuration]="1000" [backgroundStrokeWidth]="3"></circle-progress>
                  </div>
                </div>
                <div class="casual-leave">
                  <div class="casual-heading">
                    <h3>Compensatory Leave</h3>
                    <h4>{{obj.compensatory}}</h4>
                  </div>
                  <div class="progress_circle">
                    <circle-progress [percent]='((obj.compensatory)/(5))*100' [space]="-11" [radius]="25"
                      [outerStrokeWidth]="10" [innerStrokeWidth]="10" [outerStrokeColor]="'
                                            #FA9796'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                      [animationDuration]="1000" [backgroundStrokeWidth]="3"></circle-progress>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="right_side">
      <div class="">
        <div class="meeting-area">
          <div class="meeting-text">
            <h2>Meetings</h2>
          </div>
          <!-- <div class="no-jobs-to-display">
              <img src="assets/images/Frame 2076.svg" alt="">
            </div> -->
          <div class="meeting-scrollbar">
            <ng-container *ngIf="this.meeting.length>0">
              <div class="all-meetings" *ngFor="let item of meeting">
                <div class="interview-area">
                  <div class="date">
                    <p>{{item.day}}</p>
                    <h5>{{ item.date.split('-')[2] }}</h5>
                  </div>
                  <div class="interview-timings">
                    <div class="interview-dots">
                      <h3>{{item.meeting_title}}</h3>
                      <p>{{item.start_time | date:'shortTime'}} - {{item.end_time | date:'shortTime'}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="parentno" *ngIf="this.meeting.length==0">
              <div class="nofound">
                <img src="assets/images/Frame 2076.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-------------------------------Job-Post-Summary-------------------->
  <div class="job-post-summary-area">
    <div class="job-post-heading">
      <h6>Job post summary</h6>
      <a href="">View All</a>
    </div>
    <ng-container *ngIf="jobs.length>0">
      <div class="job-summary-list" *ngFor="let i of jobs | slice:0:3 ">
        <div class="UI-UX-area">
          <div class="ui-heading">
            <h5>{{i.job_title}}</h5>
            <p>{{i.status==''?'In Progress':"complete"}}</p>
          </div>
          <div class="bookmark">
            <img src="assets/images/Group 1307.png" alt="">
          </div>
        </div>
        <div class="skills-required">
          <div class="ul-li">
            <h4>Skill Required:</h4>
            <ul class="skill-require-ul">
              <li *ngFor="let j of i.list">{{j.name}}</li>
            </ul>
          </div>
          <div class="job-posted">
            <p>{{i.date | date:'dd/MM/YYYY': 'UTC'}}</p>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="no-jobs-to-display" *ngIf="jobs.length==0">
      <img src="assets/images/Frame 2075.svg" alt="">
    </div>




  </div>

  <!------------------Location-Modal------------->

  <div class="modal-content" *ngIf="showModalContent">

    <div class="access-location">
      <div class="access-location-text">
        <h3>Allow “HRMaven” to access your location?</h3>
        <p>You’ll only be able to mark your attendance after the access has been allowed.</p>
        <button (click)="closeModal()">OK</button>
      </div>
    </div>
  </div>

  <div class="welcome" *ngIf="this.login.welcome">
    <div class="welcome_modal">
      <img src="../../../../assets/images/welcome.png.png">
      <h1>Welcome to HRMaven!</h1>
      <p>With HRMaven, it’s easier to access your most important
        stuff.</p>
      <button (click)="this.login.welcome=false;">Get Started</button>

    </div>
  </div>

</div>