<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="leaves">
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="progress-text">
          <h3>Total Leaves</h3>
          <h1>{{total}}</h1>
        </div>
        <div class="progress-circle-container">
          <div class="progress-circle progress-18">
            <span></span>
          </div>
        </div>

      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="progress-text">
          <h3>Accepted Leaves</h3>
          <h1>{{acceptcount}}</h1>
        </div>
        <!-- <svg class="progress circular1" data-progress="50" x="0px" y="0px" viewBox="0 0 80 80">
          <path class="track" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
          <path class="fill" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
        </svg> -->
        <div class="progress-circle-container">
          <div class="progress-circle progress-18">
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="progress-text">
          <h3>Rejected Leaves</h3>
          <h1>{{rejectcount}}</h1>
        </div>
        <div class="progress-circle-container">
          <div class="progress-circle progress-58">
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="progress-text">
          <h3>Pending Leaves</h3>
          <h1>{{pendingcount}}</h1>
        </div>
        <div class="progress-circle-container">
          <div class="progress-circle progress-88">
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="search_form">
    <div class="search_heading">
      <div class="search_title">
        <h3>Search <span>(Please specify your search)</span></h3>
      </div>
      <div class="select-btn">
        <i class="bx bx-chevron-down"></i>
      </div>
    </div>
    <form action="" class="employe_form" [formGroup]="filter">
      <div class="employe_form_input">
        <div class="col-3">
          <div class="form__group">
            <label for="date">From</label>
            <input type="date" formControlName='from' />
          </div>
        </div>
        <div class="col-3">
          <div class="form__group">
            <label for="date">To</label>
            <input type="date" formControlName='to' />
          </div>
        </div>
        <div class="col-3">

          <div class="form__group">
            <label for="dropdown_container">Category</label>
            <div class="dropdown_container" (mouseleave)="contentdropdown = false">
              <input type="text" formControlName="category" style="display:none;">
              <div class="dropdwon_select" (click)="dropdownOpen()">
                <p>{{Selectvariable}}</p>
                <i class="fa-sharp fa-solid fa-caret-down"></i>
              </div>
              <div class="select_content" *ngIf="contentdropdown">
                <ul>
                  <li *ngFor="let arr of array; index as i" [class.select_active]="i === colorvariable"
                    (click)="Changeselect(arr)">
                    {{arr.name}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form_btn">
        <button class="cancel_btn" (click)="cancel()">Cancel</button>
        <button type="submit" class="search_btn" (click)="search()">Search</button>
      </div>
    </form>
  </div>
  <!--------------------- List Item----------------- -->
  <div class="list_nav">
    <div class="Pending" [class.color]="id ==='Pending'" (click)="tabChange('Pending')">
      <p>Pending</p>
    </div>
    <div class="Approved" [class.color]="id ==='Approved'" (click)="tabChange('Approved')">
      <p>Approved</p>
    </div>
    <div class="Rejected" [class.color]="id ==='Rejected'" (click)="tabChange('Rejected')">
      <p>Rejected</p>
    </div>
  </div>
  <!-- -----------------------Table--------------------- -->
  <div class="leaves_table" *ngIf="pendingshow">
    <table class="table_text">
      <thead>
        <tr class="table_heading">
          <th>
            <div class="check_box">
              <input type="checkbox" [(ngModel)]="parentSelector" [value]="-1" (change)="onChange($event)">
              <span>EMPLOYEE ID</span>
            </div>
          </th>
          <th>EMPLOYEE NAME</th>
          <th>Applied On</th>
          <th>FROM</th>
          <th>TO</th>
          <th>Duration</th>
          <th>Category</th>
          <th>REASON</th>
          <th>Balance</th>
          <th>Attachment</th>
          <th class="table_slide">Action</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let n of pendingleave let index=index">


          <td scope="row">
            <input class="form-check-input" type="checkbox" [value]="n._id" [checked]='n.select'
              (change)="onChange($event)" /><span> {{n.uid}}</span>
          </td>
          <td>{{n.name}}</td>
          <td>{{n.appliedOn | date:'shortDate'}}</td>
          <td>{{n.from | date:'shortDate'}}</td>
          <td>{{n.to | date:'shortDate'}}</td>
          <td>{{n.duration}}</td>
          <td>{{n.category}}</td>
          <td>
            <p class="mt20">
              <span class="tooltip"
                data-tooltip="I found what I need. And it's not friends, it's things  not friends, it's things not friends, it's things not friends, it's things not friends, it's things. I found what I need. And it's not friends, it's things  "
                data-tooltip-pos="right" data-tooltip-length="medium">I have to attend some family
                f...</span>
            </p>
          </td>
          <td>4/6</td>
          <td><a href="https://google.com" target="_blank">Document</a></td>
          <td class="table_slide">
            <div class="check_box_icon">
              <div class="thick_round">
                <label for="checkbox" (click)="openModal(n,index)"></label>
              </div>
              <div class="cross_round">
                <label for="checkbox" (click)="openModal1(n,index)"></label>
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf='!pendingleave'>
          <td colspan="11" style="background:#F9F9F9;" class="nodata no_data">
            <p> <img src="assets/images/no_record.png" alt="" class="center">
            </p>
            <h2>No Record Found!</h2>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- rejected table -->

  <div class="leaves_table" *ngIf="rejectshow">
    <table class="table_text">
      <thead>
        <tr class="table_heading">
          <th>
            <div class="check_box">
              <span>EMPLOYEE ID</span>
            </div>
          </th>
          <th>EMPLOYEE NAME</th>
          <th>Applied On</th>
          <th>FROM</th>
          <th>TO</th>
          <th>Duration</th>
          <th>Category</th>
          <th>REASON</th>
          <th>Balance</th>
          <th>Attachment</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let n of rejectleave">
          <td scope="row">
            {{n.uid}}
          </td>
          <td>{{n.name}}</td>
          <td>{{n.appliedOn | date:'shortDate'}}</td>
          <td>{{n.from | date:'shortDate'}}</td>
          <td>{{n.to | date:'shortDate'}}</td>
          <td>{{n.duration}}</td>
          <td>{{n.category}}</td>
          <td>
            <p class="mt20">
              <span class="tooltip"
                data-tooltip="I found what I need. And it's not friends, it's things  not friends, it's things not friends, it's things not friends, it's things not friends, it's things. I found what I need. And it's not friends, it's things  "
                data-tooltip-pos="right" data-tooltip-length="medium">I have to attend some family
                f...</span>
            </p>
          </td>
          <td>4/6</td>
          <td><a href="https://google.com" target="_blank">Document</a></td>
        </tr>
        <tr *ngIf='!rejectleave'>
          <td colspan="11" style="background:#F9F9F9;" class="nodata no_data">
            <p> <img src="assets/images/no_record.png" alt="" class="center">
            </p>
            <h2>No Record Found!</h2>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- accept leave -->
  <div class="leaves_table" *ngIf="acceptshow">
    <table class="table_text">
      <thead>
        <tr class="table_heading">
          <th>
            <div class="check_box">
              <span>EMPLOYEE ID</span>
            </div>
          </th>
          <th>EMPLOYEE NAME</th>
          <th>Applied On</th>
          <th>FROM</th>
          <th>TO</th>
          <th>Duration</th>
          <th>Category</th>
          <th>REASON</th>
          <th>Balance</th>
          <th>Attachment</th>


        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let n of acceptleave">
          <td scope="row">
            {{n.uid}}
          </td>
          <td>{{n.name}}</td>
          <td>{{n.appliedOn | date:'shortDate'}}</td>
          <td>{{n.from | date:'shortDate'}}</td>
          <td>{{n.to | date:'shortDate'}}</td>
          <td>{{n.duration}}</td>
          <td>{{n.category}}</td>
          <td>
            <p class="mt20">
              <span class="tooltip"
                data-tooltip="I found what I need. And it's not friends, it's things  not friends, it's things not friends, it's things not friends, it's things not friends, it's things. I found what I need. And it's not friends, it's things  "
                data-tooltip-pos="right" data-tooltip-length="medium">I have to attend some family
                f...</span>
            </p>
          </td>
          <td>4/6</td>
          <td><a href="https://google.com" target="_blank">Document</a></td>
        </tr>
        <tr *ngIf='!acceptleave'>
          <td colspan="11" style="background:#F9F9F9;" class="nodata no_data">
            <p> <img src="assets/images/no_record.png" alt="" class="center">
            </p>
            <h2>No Record Found!</h2>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="table_btn" *ngIf="showSearchBox">
    <button class="accept_btn" (click)="acceptfunction()">Accept All</button>
    <button class="reject_btn" (click)="rejectfunction()">Reject All</button>
  </div>


  <!--------------------- Leave a comment Modal Accepet--------------- -->
  <form class="leave_form" *ngIf="showModal">
    <div class="leave_modal">
      <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
      <h3>Leave a comment</h3>
      <textarea placeholder="Type your reason here..." [(ngModel)]="acceptmessage"
        [ngModelOptions]="{standalone: true}"></textarea>
      <div class="leave_form_btn">
        <button class="cancel_btn" (click)="closeModal()">Cancel</button>
        <button class="Done_btn" (click)="openModal2()">Done</button>
      </div>
    </div>
  </form>
  <!--------------------- Leave a comment Modal Reject--------------- -->
  <form class="leave_form" *ngIf="showModal1">
    <div class="leave_modal">
      <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
      <h3>Leave a comment</h3>
      <textarea placeholder="Type your reason here..." [(ngModel)]="acceptmessage"
        [ngModelOptions]="{standalone: true}"></textarea>
      <div class="leave_form_btn">
        <button class="cancel_btn" (click)="closeModal()">Cancel</button>
        <button class="Done_btn" (click)="openModal3()">Done</button>
      </div>
    </div>
  </form>

  <!-- -------------------------Leaves approved successfully! Modal---------------------- -->


  <form class="leave_approved_form" *ngIf="showModal2">
    <div class="leave_approved_modal">
      <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
      <div class="logo_bg">
        <img src="assets/images/tick.png" alt="image">
      </div>
      <h4>Leaves approved successfully!</h4>
      <p>Click on the close button to go back to leave section.</p>
      <div class="Done_form_btn">
        <button class="Done_btn" (click)="closeModal()">Done</button>
      </div>
    </div>
  </form>
  <!-- -------------------------Leaves rejected Modal---------------------- -->


  <form class="leave_approved_form" *ngIf="showModal3">
    <div class="leave_approved_modal">
      <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
      <div class="logo_bg">
        <img src="assets/images/tick.png" alt="image">
      </div>
      <h4>Leaves rejected successfully!</h4>
      <p>Click on the close button to go back to leave section.</p>
      <div class="Done_form_btn">
        <button class="Done_btn" (click)="closeModal()">Done</button>
      </div>
    </div>
  </form>

</div>