.leaves {
  width: (100%-223px);
  margin-left: 223px;
  background-color: #f9f9f9;
  padding: 70px 30px;
  height: 100Vh;

}

#ico {
  position: relative;
  left: 1%;
  color: gray;
  margin-top: 15px;
}

.row {
  display: flex;
  gap: 32px;
  padding-top: 30px;
}



.card {
  background-color: #FFFFFF;
  border-radius: 10px;
  align-items: center;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding-right: 40px;

}

.progress-text h3 {
  font-weight: 400;
  font-size: 14px;
  color: #666666;
  padding-top: 16px;
  padding-left: 37px;
}

.progress-text h1 {
  padding-left: 37px;
  font-size: 22px;
  color: #444444;
  padding-bottom: 16px;
}

.circle-graph {
  padding-right: 37px;
}

#work {
  width: 250px;
  margin-left: -25px;
  padding-left: 40px;
}


/* --------------Employee Form----- */

.search_form {
  background-color: #FFFFFF;
  border-radius: 8px;
  margin-top: 25px;
  display: inline-block;
  width: 100%;
}

.search_heading {
  display: flex;
  justify-content: space-between;
}

.search_form h3 {
  padding: 21px 25px;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}

.search_form h3 span {
  font-size: 14px;
  color: #555555;
  font-weight: 400;
}

.select-btn i {
  font-size: 25px !important;
  transition: 0.3s;
  color: #444444;
  font-size: 20px;
  padding: 21px 35px;
  cursor: pointer;
}

.search_form.active .select-btn i {
  transform: rotate(-180deg);
}

.form__group {
  padding-left: 25px;
  margin-bottom: 20px;
}

.form__group>label {
  margin-bottom: 5px;
  float: left;
  width: 100%;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
}

.search_form .employe_form {
  display: none;

}

.search_form.active .employe_form {
  display: block;
}

.employe_form input {
  width: 260px;
  height: 40px;
  border: none;
  padding: 10px;
  border-radius: 8px;
  color: black;
  outline: none;
  font-size: 14px;
  background-color: #FFFFFF;
  border: 1px solid rgba(180, 180, 180, 0.8);
  border-radius: 6px;
}

.employe_form input:hover,
.employe_form input:focus {
  border: 1px solid #2F2C9F;
  border-radius: 8px;
}

.form_btn {
  padding: 20px 0px 20px 25px;
}

.employe_form_input {
  display: flex;
  flex-wrap: wrap;
}

.form_btn button {
  width: 110px;
  height: 36px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;

}

.form_btn .cancel_btn {
  border: 1px solid #2F2C9F;
  color: #2F2C9F;
  background-color: #FFFFFF;

}

.form_btn .cancel_btn:hover {
  background-color: #e6dcdca4;
}

.form_btn .search_btn {
  margin-left: 10px;
  color: #fff;
  background-color: #2F2C9F;
  border-radius: 8px;
  border: none;
  outline: none;
}

/* ----------------DropDown Menu----------------------------- */
.dropdwon_select {
  background-color: #fff;
  width: 260px;
  height: 40px;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.1);
  color: #444444;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  border: 1px solid rgba(180, 180, 180, 0.8);

}

.dropdwon_select:hover,
.dropdwon_select:focus {
  border: 1px solid #2F2C9F;
  border-radius: 8px;
}

.dropdwon_select p {
  font-size: 14px;
  font-weight: 400;
}

.dropdwon_select i {
  font-size: 14px;
  color: #444444;
  padding: 3px 7px;
}

.select_content {
  background-color: #fff;
  cursor: pointer;
  width: 250px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  color: #444444;
  z-index: 99;
  margin-left: 5px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.select_content ul {
  padding: 0;
  margin: 0;
}

.select_content ul li {
  list-style: none;
  padding: 10px 10px;
  margin-top: 5px;
  font-size: 14px;
}

.select_content ul li:hover {
  background-color: #ECECEC;
  border-radius: 8px;
}

.select_active {
  background-color: #ECECEC;
  border-radius: 8px;

}

/* --------------List Items---------------------- */

.list_nav {
  display: flex;
  width: 232px;
  height: 28px;
  align-items: center;
  margin-top: 20px;
  padding-left: 13px;
  column-gap: 40px;
}

.list_nav p {
  cursor: pointer
}

.Pending,
.Approved,
.Rejected {
  padding: 2px 50px;
}

.Pending:hover,
.Approved:hover,
.Rejected:hover {
  border-bottom: 3px solid #2F2C9F;
}

.color {
  color: #2F2C9F;
  border-bottom: 3px solid #2F2C9F;

}

/*------------------ table----------------------- */
.leaves_table {
  margin-top: 25px;
}

.table_heading {
  position: sticky;
  top: 0;
}

.check_box {
  display: flex;
  gap: 5px;
}

.check_box input[type="checkbox"] {
  cursor: pointer;
}

.check_box span {
  padding-top: 2px;
}

.check_box p {
  font-size: 12px;
}

.check_box_icon {
  display: flex;
  gap: 8px;

}

.check_box_icon .fa-circle-check {
  color: #4BAE4F;
  font-size: 16px;
  cursor: pointer;
}

.check_box_icon .fa-circle-check:hover {
  color: #15e01c;
}

.check_box_icon .fa-circle-xmark {
  color: #F44336;
  font-size: 16px;
  cursor: pointer;
}

.check_box_icon .fa-circle-xmark:hover {
  color: rgb(216, 54, 54);
}

.table_text_side {
  width: 50px;
  position: absolute;
  top: 12px;
  right: -1px;
}

.table_text_side td {
  height: 38px;
}

.table_text {
  width: 110%;
}

table {
  border-spacing: 2px 5px;
}

table,
th,
td {
  font-size: 14px;
}

.table_heading th {
  text-align: left;
}

.table_slide {
  position: sticky;
  right: 1px;
  width: 100px;
  z-index: 999;
  padding: 0 10px 20px 20px;
}

td {
  background-color: #FFFFFF;
}

tr:hover {
  background-color: #f7f7fb !important;
}

th,
td {
  padding: 10px;
  white-space: nowrap;
}

.leaves_table::-webkit-scrollbar {
  height: 4px;
}

.leaves_table::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}

.leaves_table::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 6px;
}

.leaves_table::-webkit-scrollbar-thumb:hover {
  background-color: #b4b4b4;
}

.table_text tr:nth-child(even),
.table_text_side tr:nth-child(even) {
  background-color: #FFFFFF;
}

.table_text tr:nth-child(odd),
.table_text_side tr:nth-child(odd) {
  background-color: #fff;
}

.table_text th,
.table_text_side th {
  font-size: 12px;
  text-transform: uppercase;
  color: #444444;
  background-color: #EFEFF8;
  margin-top: 10px;
  height: 35px;
}

.leaves_table {
  /* height: 78vh; */
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  /* padding-bottom:10px; */
  position: relative;
}

.table_text thead th {
  padding: 12px 10px;
}

.table_text thead th,
.table_text_side thead th {
  position: sticky;
  top: -20px;
}

.action_button {
  display: flex;
  gap: 16px;
}

.action_btn {
  display: flex;
  align-items: center;
}

input[type="radio"] {
  height: 12px;
  width: 12px;
  margin-right: 0.5rem;
  cursor: pointer;
}

.custom-radio {
  appearance: none;
  -webkit-appearance: none;
  border: 0.2rem solid #fff;
  border-radius: 50%;
}

.custom-radio:focus-visible {
  outline-offset: 0;
}

#outline {
  outline: 2px solid #e8e8e8;
}

#outline1 {
  outline: 2px solid #e8e8e8;
}

#outline1:checked {
  outline-color: #29A74C;
  background-color: #29A74C;
  animation: outline-checked1;
  animation-duration: 0.1s;
  animation-iteration-count: 4;
  animation-direction: alternate;
  animation-timing-function: linear;
}

#outline1:checked+label {
  color: #29A74C;
}

#outline:checked+label {
  color: #FA5D5D;
}

#outline:checked {
  outline-color: #FA5D5D;
  background-color: #FA5D5D;
  animation: outline-checked;
  animation-duration: 0.1s;
  animation-iteration-count: 4;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes outline-checked {
  0% {
    outline-offset: 0;
  }

  100% {
    outline-offset: -0.2rem;
  }
}

@keyframes outline-checked1 {
  0% {
    outline-offset: 0;
  }

  100% {
    outline-offset: -0.2rem;
  }
}

/* -----------------Tool Tips------------------ */
.mt20 {
  cursor: pointer;
}

.tooltip {
  position: relative;
  z-index: 999;
}

.tooltip:after,
.tooltip:before {
  opacity: 0;
  pointer-events: none;
  bottom: 100%;
  left: 50%;
  position: absolute;
  z-index: 10;
  transform: translate(-50%, 10px);
  transform-origin: top;
  transition: all 0.18s ease-out 0.18s;
}

.tooltip:after {
  background-color: #f5f5f5;
  box-shadow: 0 0 3px #2F2C9F;
  content: attr(data-tooltip);
  padding: 10px;
  white-space: nowrap;
  border-radius: 8px;
  margin: 10px 0 11px 0;
}

.tooltip:before {
  width: 0;
  height: 0;
  content: "";
  margin-bottom: 6px;
}

.tooltip:hover:before,
.tooltip:hover:after {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, 0);
}

[data-tooltip-pos="right"]:before {
  transform: none;
  left: -4px !important;
  margin-left: 0 !important;
  border-top: 6px solid transparent;
  border-left: 6px solid #2F2C9F;
  border-bottom: 6px solid transparent;
  border-right: none;

}

[data-tooltip-pos="right"]:before,
[data-tooltip-pos="right"]:after {
  bottom: auto;
  left: -80%;
  top: 50%;
  transform: translate(-10px, -50%);
}

[data-tooltip-pos="right"]:after {
  margin-left: 11px;
}

[data-tooltip-pos="right"]:hover:before,
[data-tooltip-pos="right"]:hover:after {
  transform: translate(0, -50%);
  z-index: 1111;
}

[data-tooltip-length]:after {
  white-space: normal;
}

[data-tooltip-length="medium"]:after {
  width: 250px;
  margin-left: -100px;
}

/* -------------table_btn------------------ */
.table_btn {
  padding-top: 25px;
  display: flex;
  gap: 10px;
}

.table_btn button {
  width: 98px;
  height: 36px;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
}

.table_btn .accept_btn {
  background-color: #3D8037;
  color: #FFFFFF;
}

.table_btn .accept_btn:hover {
  background-color: #1fd70f;

}

.table_btn .reject_btn {
  background-color: #CF3434;
  color: #FFFFFF;
}

.table_btn .reject_btn:hover {
  background-color: #ec0a0a;
}


/*--------------------- Leave a comment Modal--------------------------- */
.leave_form,
.leave_approved_form {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: rgba(34, 34, 34, 0.7);
  backdrop-filter: blur(5px);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.leave_modal {
  z-index: 1;
  background-color: rgba(250, 250, 250, 1);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 555px;
  height: 171px;
  padding: 20px 20px;
}

.leave_modal i,
.leave_approved_modal i {
  position: absolute;
  right: -25px;
  top: -20px;
  cursor: pointer;
  color: #ECECEC;
  cursor: pointer;
}

.leave_modal h3 {
  font-size: 13px;
  color: #333333;
  font-weight: 400;
}

.leave_modal textarea {
  margin-top: 5px;
  padding: 10px 10px;
  border: 1px solid #CBCBCB;
  border-radius: 8px;
  background-color: #fff;
  outline: none;
  resize: none;
}

.leave_modal textarea:focus,
.leave_modal textarea:hover {
  border: 1px solid #2F2C9F;
}

.leave_modal textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #666666;
}

.leave_form_btn {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.leave_form_btn button {
  width: 80px;
  height: 38px;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}

.leave_form_btn .cancel_btn {
  border: 1px solid #2F2C9F;
  background-color: #FFFFFF;
  color: #2F2C9F;
  outline: none;
}

.leave_form_btn .cancel_btn:hover {
  background-color: #c4c0c08c;
}

.leave_form_btn .Done_btn {
  background-color: #2F2C9F;
  color: #fff;
  border: none;
  outline: none;
}

.leave_form_btn .Done_btn:hover {
  background-color: #1c16d6;
}


/* ------------Leaves approved successfully! Modal--------- */
.leave_approved_modal {
  z-index: 1;
  background-color: rgba(250, 250, 250, 1);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 430px;
  height: 357px;
  padding: 20px 20px;
}

.logo_bg {
  background-color: rgba(123, 211, 109, 0.3);
  border-radius: 8px;
  width: 390px;
  height: 152px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leave_approved_modal h4 {
  text-align: center;
  color: #444444;
  font-weight: 500;
  font-size: 18px;
  padding-top: 22px;
}

.leave_approved_modal p {
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  text-align: center;
  padding: 16px 66px;
}

.Done_form_btn {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Done_form_btn .Done_btn {
  width: 82px;
  height: 38px;
  padding: 9px 24px;
  background-color: #3D9130;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

.Done_form_btn .Done_btn:hover {
  background-color: #1fa10a;
}

/* -------------------Progress Bar------------------------- */
/* .progress {
  width: 50px;
  height: 50px;
  z-index: 1;
}

.progress .track,
.progress .fill {
  fill: rgba(0, 0, 0, 0);
  stroke-width: 10;
  transform: rotate(90deg)translate(0px, -80px);
}

.progress .track {
  stroke: #c8cacb;
  stroke-width: 6;
}

.progress .fill {
  stroke: #8BAFFF;
  stroke-dasharray: 219.99078369140625;
  stroke-dashoffset: -219.99078369140625;
  transition: stroke-dashoffset 1s;
}
.progress.circular1 .fill {
  stroke: #7BD36D !important;
}

.progress.circular2 .fill {
  stroke: #F8BB6F !important;
}

.progress.circular3 .fill {
  stroke: #FA9796 !important;
} */
/* -------------------------Progress bar girija------------------------------- */
.progress-circle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ebebeb;
}

.progress-circle:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: colorload 2s;
  animation: colorload 2s; }

.progress-circle span {
  font-size: 1rem;
  color: #8b8b8b;
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 60px;
  margin-left: -20px;
  margin-top: -20px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  z-index: 1;
}

.progress-circle span:after {
  content: "";
  font-weight: 600;
  color: #8b8b8b; 
}

/* -----------------------Custom Check Box ---------------------------- */

.thick_round {
  position: relative;
}

.thick_round label {
  background-color: #fff;
  border: 1px solid green;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.thick_round label:before {
  border: 2px solid green;
  border-top: none;
  border-right: none;
  content: "";
  height: 5px;
  left: 4px;
  opacity: 1;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  width: 10px;
}

.thick_round label:hover:before {
  border-color: #fff
}

.thick_round label:hover {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.thick_round label:hover:after {
  border-color: #fff
}

.cross_round {
  position: relative;
  margin-left: 25px;
}

.cross_round label {

  background-color: #fff;
  border: 1px solid red;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.cross_round label:before {
  content: '\2716';
  opacity: 1;
  position: absolute;
  left: 3px;
  color: red;
}

.cross_round label:hover:before {
  border-color: #fff;
  color: #fff;
}

.cross_round label:hover {
  background-color: red;
  border-color: red;
}

.cross_round label:hover:after {
  border-color: #fff;
  color: #fff;
}

.cross_round label:hover:after {
  border-color: #fff;
  color: #fff;
}

