<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="leaves">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="progress-text">
                    <h3>Total Leaves</h3>
                    <h1>{{totalCount}}</h1>
                </div>
                <div class="progress_container">
                    <div class="circular-progress">
                        <div class="value-container">0%</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="progress-text">
                    <h3>Accepted Leaves</h3>
                    <h1>{{acceptCount}}</h1>
                </div>
                <div class="progress_container">
                    <div class="circular-progress1">
                        <div class="value-container1">0%</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="progress-text">
                    <h3>Rejected Leaves</h3>
                    <h1>{{rejectCount}}</h1>
                </div>
                <div class="progress_container">
                    <div class="circular-progress2">
                        <div class="value-container2">0%</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="progress-text">
                    <h3>Pending Leaves</h3>
                    <h1>{{pendingCount}}</h1>
                </div>
                <div class="progress_container">
                    <div class="circular-progress3">
                        <div class="value-container3">0%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search_form">
        <!-- <div class="employe_input">
            <i class="fa fa-search" aria-hidden="true" id="ico"></i>
            <input type="text" [(ngModel)]="employeename" placeholder="Enter Employee Name or ID" id="work">
            <div class="dropdown_container" (mouseleave)="contentdropdown = false">
                <div class="dropdwon_select" (click)="dropdownOpen()">
                    <p>{{Selectvariable}}</p>
                    <i class="fa-sharp fa-solid fa-caret-down"></i>
                </div>
                <div class="select_content" *ngIf="contentdropdown">
                    <ul>
                        <li *ngFor="let arr of array; index as i" [class.select_active]="i === colorvariable"
                            (click)="Changeselect(arr)">
                            {{arr.name}}</li>
                    </ul>
                </div>
            </div>
        </div> -->
        <h3>Search <span>(Please specify your search)</span></h3>
        <form action="" class="employe_form">
            <div class="employe_form_input">
                <div class="col-3">
                    <div class="form__group">
                        <label for="date">Form</label>
                        <input type="date" />
                    </div>
                </div>
                <div class="col-3">

                    <div class="form__group">
                        <label for="date">To</label>
                        <input type="date" />
                    </div>
                </div>
                <div class="col-3">

                    <div class="form__group">
                        <label for="dropdown_container">Category</label>
                        <div class="dropdown_container">
                            <div class="dropdwon_select" (click)="dropdownOpen()">
                                <p>{{Selectvariable}}</p>
                                <i class="fa-sharp fa-solid fa-caret-down"></i>
                            </div>
                            <div class="select_content" *ngIf="contentdropdown">
                                <ul>
                                    <li *ngFor="let arr of array; index as i"
                                        [class.select_active]="i === colorvariable" (click)="Changeselect(arr)">
                                        {{arr.name}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form__group">
                        <label for="">Type</label>
                        <div class="dropdown_container">
                            <div class="dropdwon_select" (click)="dropdownOpen1()">
                                <p>{{Selectvariable1}}</p>
                                <i class="fa-sharp fa-solid fa-caret-down"></i>
                            </div>
                            <div class="select_content" *ngIf="contentdropdown1">
                                <ul>
                                    <li *ngFor="let arr1 of array1; index as i"
                                        [class.select_active]="i === colorvariable" (click)="Changeselect1(arr1)">
                                        {{arr1.name}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </form>
    </div>

    <div class="leaves_table">
        <div class="table_data">
            <table class="table_text">
                <thead>
                    <tr class="table_heading">
                        <th>EMPLOYEE ID</th>
                        <th>EMPLOYEE NAME</th>
                        <th>FROM</th>
                        <th>TO</th>
                        <th>REASON</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <!-- <tbody>
                    <tr *ngFor="let leave of leaves | leavefilter:employeename:Selectvariable">
                        <td>{{leave.employeeId}}</td>
                        <td>{{leave.employeeName}}</td>
                        <td>{{leave.from | date:'shortDate'}}</td>
                        <td>{{leave.to | date:'shortDate'}}</td>
                        <td>{{leave.reason}}</td>
                        <td>
                            <div class="action_button">
                                <div class="action_btn">
                                    <input type="radio" [checked]="leave.status=='accept'" [name]="leave._id"
                                        (change)="updateLeaveStatus(leave, 'accept')" id="outline1"
                                        class="custom-radio">
                                    <label for="outline1" class="outline1">Accept</label>
                                </div>
                                <div class="action_btn">
                                    <input type="radio" [checked]="leave.status=='reject'" [name]="leave._id"
                                        (change)="updateLeaveStatus(leave, 'reject')" id="outline" class="custom-radio">
                                    <label for="outline" class="outline">Reject</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody> -->
            </table>
        </div>
    </div>
</div>