<header>
    <div class="row">
        <div class="left-side">
            <div class="leftContent">
                <div class="logo_part">
                    <a href=""><img class="logo-image" src="assets/images/hrr 3.png" alt="logo"></a>
                </div>
                <h1 class="title">Start your journey with us.</h1>
                <p class="title_para">Discover the world’s best community of freelancers and business owners.</p>
            </div>
            <div class="leftSlider">
                <div class="slider">
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">
                    <div class="card first">
                        <p class="card-text">Simply unbelievable! I am really satisfied with my projects and business. This is absolutely wonderful!
                        </p>
                        <div class="profile">
                            <img src="assets/images/Rectangle 11.png" alt="image">
                            <div class="profile-text">
                                <h5>Mohit Sharma</h5>
                                <p>Freelancer</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <p class="card-text">Simply unbelievable! I am really satisfied with my projects and business. This is absolutely wonderful!
                        </p>
                        <div class="profile">
                            <img src="assets/images/Rectangle 11.png" alt="image">
                            <div class="profile-text">
                                <h5>Mohit Sharma</h5>
                                <p>Freelancer</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <p class="card-text">Simply unbelievable! I am really satisfied with my projects and business. This is absolutely wonderful!
                        </p>
                        <div class="profile">
                            <img src="assets/images/Rectangle 11.png" alt="image">
                            <div class="profile-text">
                                <h5>Mohit Sharma</h5>
                                <p>Freelancer</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <p class="card-text">Simply unbelievable! I am really satisfied with my projects and business. This is absolutely wonderful!
                        </p>
                        <div class="profile">
                            <img src="assets/images/Rectangle 11.png" alt="image">
                            <div class="profile-text">
                                <h5>Mohit Sharma</h5>
                                <p>Freelancer</p>
                            </div>
                        </div>
                    </div>
                    <div class="navigation_auto">
                        <div class="auto_btn1"></div>
                        <div class="auto_btn2"></div>
                        <div class="auto_btn3"></div>
                        <div class="auto_btn4"></div>
                    </div>
                </div>
                <div class="navigation_manual">
                    <label for="radio1" class="manual_btn"></label>
                    <label for="radio2" class="manual_btn"></label>
                    <label for="radio3" class="manual_btn"></label>
                    <label for="radio4" class="manual_btn"></label>
                </div>
            </div>
        </div>

        <div class="right-side">
            <form [formGroup]="sigupform" (ngSubmit)="onSubmit(sigupform.value)">
                <h2>Sign up to HRMaven</h2>
                <p>Already have an account? <a routerLink="/login" routerLinkActive="active">Login</a> here</p>
                <div class="field name-field">
                    <div class="input-field">
                        <label for="name">Organization Name</label>
                        <input type="text" placeholder="Enter your Organization Name" class="name" formControlName="username" />
                    </div>
                </div>
                <div class="field email-field">
                    <div class="input-field">
                        <label for="name" class="text-label">Email</label>
                        <input type="email" placeholder="Enter your email" class="email" formControlName="email" />
                        <span *ngIf="email && email.invalid && email.touched "><i
                                class="fa-sharp fa-solid fa-triangle-exclamation"></i>Invalid Email</span>
                    </div>

                </div>
                <div class="field create-password">
                    <div class="input-field">
                        <label for="name" class="text-label">Password</label>
                        <input type="password" placeholder="Enter your password" class="password" formControlName="password" #passwordInput />
                        <span *ngIf="password && password.invalid && password.touched "><i
                                class="fa-sharp fa-solid fa-triangle-exclamation"></i>Password must be atleast 8
                            characters</span>
                    </div>

                </div>
                <span class="password-toggle" (click)="togglePasswordVisibility(passwordInput)">
                    <i class="fa {{ showPasswordIcon }}"></i>
                </span>
                <div class="field confirm-password">
                    <div class="input-field">
                        <label for="name" class="text-label">Confirm your Password</label>
                        <input type="password" placeholder="Confirm your password" class="cPassword" formControlName="confirm" #passwordInpu />
                        <span *ngIf="sigupform.errors?.['passwordmatcherror']"><i
                                class="fa-sharp fa-solid fa-triangle-exclamation"></i>Password didn’t match</span>
                    </div>
                    <span class="password-toggle" (click)="togglePassword(passwordInpu)">
                        <i class="fa {{ showPasswordIcon1 }}"></i>
                    </span>
                </div>
                <div class="check-text">
                    <input type="checkbox" class="check_box" formControlName="check" required />
                    <label for="checkbox" class="checkbox-text">I agree to terms & conditions</label>
                </div>
                <div class="input-field button">
                    <input id="submit" type="submit" [disabled]="sigupform.invalid" value="Sign Up" />
                </div>
                <div class="input-field">
                    <p class="or_bar">OR</p>
                </div>
                <div class="social_btn">
                    <div class="google">
                        <img class="google_logo" src="assets/images/google-logo.png" alt="google">
                        <p> Sign Up with Google</p>
                    </div>

                </div>
            </form>
            <div class="logo">
                <img src="assets/images/hrr 2.png" alt="logo">
            </div>
        </div>
    </div>
</header>