<header id="header">
  <div class="content">
    <div class="content-left">
    <h2  *ngIf="dashService.activeComponent === 'dashboard'">{{this.greeting}}<p>{{this.date}}</p></h2>
    <h2  *ngIf="dashService.activeComponent === 'employees'">Employee Management</h2>
    <h2  *ngIf="dashService.activeComponent === 'leaves'">Leaves Management</h2>
    <h2  *ngIf="dashService.activeComponent === 'attendance'">Attendance Management</h2>
    <h2  *ngIf="dashService.activeComponent === 'payroll'">Payroll</h2>
    <h2  *ngIf="dashService.activeComponent === 'recruitment'">Recruitment</h2>
    <h2  *ngIf="dashService.activeComponent === 'job-details'">Recruitment</h2>
    <h2  *ngIf="dashService.activeComponent === 'report'">Report</h2>




    </div>
    <div class="content-right">
      <input type="search" placeholder="Search.." class="searchbox" *ngIf="showSearchBox">
      <i class="fa-solid fa-magnifying-glass" (click)="toggleSearchBox()"></i>
      <button type="button" class="icon-button" (click)="onclick()">
        <span class="material-icons">notifications</span>
        <span class="icon-button__badge"></span>
      </button>
      <img src="./assets/images/user (1).svg" alt="" class="header-icon"
        (click)="getProfileData();profileToggle()"><br>
    </div>
  </div>

</header>
<ng-container *ngIf="visible" >
  <div class="notification-area">
    <div class="notification-upper">
      <div class="notification-mark">
        <div class="notification-number">
          <div class="Notification-text">
            <p>Notification</p>
          </div>
          <div class="number">
            <p>2</p>
          </div>
        </div>
        <div class="Mark">
          <p>Mark all as read</p>
        </div>
      </div>
      <div class="all-read-important">
        <div class="all" [class.color]="id ==='all'" (click)="tabChange('all')">
          <p>All</p>
        </div>
        <div class="unread" [class.color]="id ==='unread'" (click)="tabChange('unread')">
          <p>Unread</p>
        </div>
        <div class="all" [class.color]="id ==='important'" (click)="tabChange('important')">
          <p>Important</p>
        </div>
      </div>
    </div>
    <div class="notification-lower">
      <div class="all-messages" *ngIf="id ==='all' ">
        <div class="all-area">
          <div class="image-and-text">
            <div class="robert-image">
              <img src="assets/images/Rectangle.png" alt="hlo" />
            </div>

            <div class="robert-text">
              <p>Robert Fox created an urgent meeting.</p>
              <div class="days-text">
                <span>1 day ago </span>
                <div class="text-star">
                  <i class="fa-solid fa-star"></i>
                </div>
              </div>

              <div class="google-meet-area">
                <div class="google-meet-logo">
                  <img src="assets/images/logos_google-meet.svg" class="google" />
                </div>
                <div class="google-text">
                  <h4>New Interns induction Pro...</h4>
                  <span>join using a given link:</span>
                </div>
                <div class="meeting-link">
                  <i class="fa-solid fa-link"></i>
                </div>
              </div></div>
          </div>
        </div>

        <div class="all-area">
          <div class="image-and-text">
            <div class="robert-image">
              <img src="assets/images/Rectangle-1.png" alt="hlo" />
            </div>

            <div class="robert-text">
              <p>Robert Fox created an urgent meeting.</p>
              <div class="days-text">
                <span>1 day ago </span>
                <div class="text-star">
                  <i class="fa-solid fa-star"></i>
                </div>
              </div>

              <div class="google-meet-area">
                <div class="google-meet-logo">
                  <img src="assets/images/vscode-icons_file-type-pdf2.svg" class="google" />
                </div>
                <div class="google-text">
                  <h4>New Interns induction Pro...</h4>
                  <span>join using a given link:</span>
                </div>
                <div class="meeting-link">
                  <i class="fa-solid fa-download"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="all-area">
          <div class="image-and-text">
            <div class="robert-image">
              <img src="assets/images/Rectangle-2.png" alt="hlo" />
            </div>

            <div class="robert-text">
              <p>Robert Fox created an urgent meeting.</p>
              <div class="days-text">
                <span>1 day ago </span>
                <div class="text-star">
                  <i class="fa-solid fa-star"></i>
                </div>
              </div>

              <div class="google-meet-area">
                <div class="google-meet-logo">
                  <img src="assets/images/vscode-icons_file-type-pdf2.svg" class="google" />
                </div>
                <div class="google-text">
                  <h4>New Interns induction Pro...</h4>
                  <span>join using a given link:</span>
                </div>
                <div class="meeting-link">
                  <i class="fa-solid fa-download"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="all-messages" *ngIf="id ==='unread' ">
        <div class="all-area">
          <div class="image-and-text">
            <div class="robert-image">
              <img src="assets/images/Rectangle-2.png" alt="hlo" />
            </div>
            <div class="robert-text">
              <p>Robert Fox created an urgent meeting.</p>
              <div class="days-text">
                <span>1 day ago </span>
                <div class="text-star">
                  <i class="fa-solid fa-star"></i>
                </div>
              </div>

              <div class="google-meet-area">
                <div class="google-meet-logo">
                  <img src="assets/images/vscode-icons_file-type-pdf2.svg" class="google" />
                </div>
                <div class="google-text">
                  <h4>New Interns induction Pro...</h4>
                  <span>join using a given link:</span>
                </div>
                <div class="meeting-link">
                  <i class="fa-solid fa-download"></i>
                </div>
              </div>
            </div>
          </div>
        </div>




        <div class="all-area">
          <div class="image-and-text">
            <div class="robert-image">
              <img src="assets/images/Rectangle-2.png" alt="hlo" />
            </div>

            <div class="robert-text">
              <p>Robert Fox created an urgent meeting.</p>
              <div class="days-text">
                <span>1 day ago </span>
                <div class="text-star">
                  <i class="fa-solid fa-star"></i>
                </div>
              </div>

              <div class="google-meet-area">
                <div class="google-meet-logo">
                  <img src="assets/images/vscode-icons_file-type-pdf2.svg" class="google" />
                </div>
                <div class="google-text">
                  <h4>New Interns induction Pro...</h4>
                  <span>join using a given link:</span>
                </div>
                <div class="meeting-link">
                  <i class="fa-solid fa-download"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>

 <div class="all-messages" *ngIf="id ==='important' ">
        <div class="all-area">
          <div class="image-and-text">
            <div class="robert-image">
              <img src="assets/images/Rectangle-2.png" alt="hlo" />
            </div>

            <div class="robert-text">
              <p>Robert Fox created an urgent meeting.</p>
              <div class="days-text">
                <span>1 day ago </span>
                <div class="text-star">
                  <i class="fa-solid fa-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="all-area">
          <div class="image-and-text">
            <div class="robert-image">
              <img src="assets/images/Rectangle-2.png" alt="hlo" />
            </div>

            <div class="robert-text">
              <p>Robert Fox created an urgent meeting.</p>
              <div class="days-text">
                <span>1 day ago </span>
                <div class="text-star">
                  <i class="fa-solid fa-star"></i>
                </div>
              </div>

              <div class="google-meet-area">
                <div class="google-meet-logo">
                  <img src="assets/images/vscode-icons_file-type-pdf2.svg" class="google" />
                </div>
                <div class="google-text">
                  <h4>New Interns induction Pro...</h4>
                  <span>join using a given link:</span>
                </div>
                <div class="meeting-link">
                  <i class="fa-solid fa-download"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
 <div  class="profile_div"*ngIf="profileDisplay" >
    <div class="profile-content">
      <div class="profile-title">
          <div class="profile-logo">
              <img src="./assets/images/user (1).svg" alt="" class="header-icon">
          </div>
          <div class="profile-text">
            <h2> {{name}} </h2>
              <p >{{userEmail}}</p>
          </div>
          <div class="head-btn">
              <button class="btn-head">HEAD</button>
          </div>
      </div>
      <div class="profile-account">
          <div class="account">
              <button class="account-btn"><i class="fa-solid fa-user-gear"></i> <span>Account Settings</span></button>
          </div>
      </div>
    <div class="profile-account disable-btn">
      <div class="account1" (click)="logout()">
        <button class="account-btn" disabled><img src="./assets/images/subs.svg" alt="">
            <a>Subsciption</a></button>
      </div>
    </div>
    </div>

</div>
