<!-- --------------------Responsive------------------------- -->

<nav class="navbar">
    <div class="navbar-container container">
        <input type="checkbox" name="" id="">
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <ul class="menu-items">
            <li><a routerLink="/signup">Signup</a></li>
            <li><a routerLink="/login">Login</a></li>
        </ul>
        <div class="logo">
            <div class="landing_logo1">
                <img src="assets/images/hrr 3 (1).png" alt="">
                <p>HRmaven</p>
            </div>
        </div>
    </div>
</nav>
<div class="landing_page_img">
    <div class="landing_main">
        <div class="landing_content">
            <div class="landing_navbar">
                <div class="landing_logo" data-aos="fade-right" data-aos-anchor="#example-anchor" data-aos-offset="500"
                    data-aos-duration="1500" routerLink="/login">
                    <img src="assets/images/hrr 3 (1).png" alt="">
                    <p>HRmaven</p>
                </div>
                <div class="landing_btn" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500"
                    data-aos-duration="1500">
                    <!-- <div class="login">
                        <span>Login</span>
                        <div class="dropdown-content">
                            <button routerLink="/login"><a>Admin</a></button>
                            <button routerLink="/login-emp"><a>Employee</a></button>

                        </div>
                    </div> -->
                    <!-- <div class="dropdown_container" (mouseleave)="contentdropdown = false">
                        <input type="text" formControlName="category" style="display: none" />
                        <div class="dropdwon_select" (click)="dropdownOpen()">
                            <p>Login</p>
                        </div>
                        <div class="select_content" *ngIf="contentdropdown">
                            <ul>
                                <li routerLink="/login"><a>Admin</a></li>
                                <li routerLink="/login-emp"><a>Employee</a></li>
                            </ul>
                        </div>
                    </div> -->

                    <button class="login" routerLink="/landing-login">Login</button>
                    <button class="Signup" routerLink="/signup">Sign up</button>
                </div>
            </div>
            <!-- ------------------------car animation--------------------------------------- -->
            <div class="country-wrap">
                <div class="street">
                    <div class="car">
                        <div class="car-body">
                            <div class="car-top-back">
                                <div class="back-curve"></div>
                            </div>
                            <div class="car-gate"></div>
                            <div class="car-top-front">
                                <div class="wind-sheild"></div>
                            </div>
                            <div class="bonet-front"></div>
                            <div class="stepney"></div>
                        </div>
                        <div class="boundary-tyre-cover">
                            <div class="boundary-tyre-cover-back-bottom"></div>
                            <div class="boundary-tyre-cover-inner"></div>
                        </div>
                        <div class="tyre-cover-front">
                            <div class="boundary-tyre-cover-inner-front"></div>
                        </div>
                        <div class="base-axcel">

                        </div>
                        <div class="front-bumper"></div>
                        <div class="tyre">
                            <div class="gap"></div>
                        </div>
                        <div class="tyre front">
                            <div class="gap"></div>
                        </div>
                        <div class="car-shadow"></div>
                    </div>
                </div>

            </div>
            <div class="landing_text" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2500">
                <h1>Employees, Timesheet and Hiring all manage at one place</h1>
                <p>HRmaven helps you save time and effort so you can concentrate on <br> developing your workforce.</p>
            </div>
            <!-- 
            <div class="input_search">
                <input type="email" placeholder="Enter your email id">
                <button class="input_Signup">Sign up</button>
            </div> -->

            <button class="Get_Started" routerLink="/signup" data-aos="fade-up" data-aos-easing="linear"
                data-aos-duration="2000"><a><span> Get Started</span></a></button>


            <div class="dashboard_img" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="2000">
                <img src="assets/images/dashboard 4.png" alt="">
            </div>
            <!-- <div class="thumb" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="2000">
                <a><span>HR Maven </span></a>
            </div> -->
        </div>

        <div class="Features_product">
            <h1 data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">Features of our product</h1>
        </div>
        <div class="Features_product_content">
            <img data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine"
                src="assets/images/employee table 1.png" alt="">
            <div class="Features_product_content_text" data-aos="fade-right" data-aos-offset="200"
                data-aos-easing="ease-in-sine">
                <h1>Employee Experience and Management </h1>
                <p>Employee development is essential to a positive workplace culture. HRmaven provides solutions to make
                    it
                    easier for you to boost happiness, and develop your workforce.</p>
            </div>
        </div>


        <div class="Attendance_marking">
            <div class="Attendance_marking_text">
                <h1 data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">Attendance marking <br> and
                    applying leave</h1>
                <h2 data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">Attendance marking and
                    applying leave</h2>
                <p data-aos="fade-up">Smooth operations and increased productivity are made possible by <br>
                    real-time automation of attendance.</p>
            </div>
            <div class="Attendance_marking_graph" data-aos="fade-right" data-aos-offset="500"
                data-aos-easing="ease-in-sine">
                <img src="assets/images/Group 1351.png" alt="">
            </div>
        </div>

        <div class="Candidate_recruitment">
            <img data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine"
                src="assets/images/Group 1352.png" alt="">
            <div class="Candidate_recruitment_text" data-aos="fade-right" data-aos-offset="200"
                data-aos-easing="ease-in-sine">
                <h1>Candidate recruitment</h1>
                <p>You can swiftly identify, hire the best personnel with the aid of HRmaven. You
                    can improve new
                    employees'
                    first days on the job and create a compelling candidate experience.</p>
            </div>
        </div>


        <div class="Subscription">
            <h1 data-aos="zoom-in-down">Subscription</h1>
            <p data-aos="zoom-out">Choose plan for your company</p>
        </div>

        <div class="Subscription_plan">
            <div class="EMPLOYEE_MANAGEMENt" data-aos="fade-right" data-aos-offset="500" data-aos-easing="ease-in-sine">
                <img class="plan_images" src="assets/images/landing_plan.png" alt="">
                <div class="EMPLOYEE_MANAGEMENt_text">
                    <div class="Hiring_Portals">
                        <h1>EMPLOYEE MANAGEMENT</h1>
                        <h4>₹ 6999 / month</h4>
                        <p>Discover the new experince of employee management with employee management portals</p>
                        <button class="get_plan_btn">Get a plan</button>
                    </div>
                    <div class="Features_included">
                        <h6>Features included:</h6>
                        <div class="Features_included_list">
                            <div class="Features_included_list_left">
                                <li> <img src="assets/images/teenyicons_tick-circle-outline.png" alt=""> <span>Login
                                        with
                                        credentials</span></li>
                                <li><img src="assets/images/teenyicons_tick-circle-outline.png" alt="">
                                    <span>Notification
                                        feature</span>
                                </li>
                                <li><img src="assets/images/teenyicons_tick-circle-outline.png" alt="">
                                    <span>Interactive
                                        Employee Profile</span>
                                </li>
                                <li><img src="assets/images/teenyicons_tick-circle-outline.png" alt=""> <span>Attendance
                                        management</span></li>
                            </div>
                            <div class="Features_included_list_right">
                                <li><img src="assets/images/teenyicons_tick-circle-outline.png" alt=""> <span>Leave
                                        management</span></li>
                                <li><img src="assets/images/teenyicons_tick-circle-outline.png" alt=""> <span>Document
                                        storage</span></li>
                                <li><img src="assets/images/teenyicons_tick-circle-outline.png" alt=""> <span>Dashboards
                                        and
                                        time analysis</span></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="EMPLOYEE_MANAGEMENt" data-aos="fade-left" data-aos-offset="500" data-aos-easing="ease-in-sine">
                <img class="plan_images" src="assets/images/Frame 1363.png" alt="">
                <div class="EMPLOYEE_MANAGEMENt_text">
                    <div class="Hiring_Portals">
                        <h1>Hiring Portals</h1>
                        <h4>₹ 1600 / month <span>per recruiter</span></h4>
                        <p>Discover the new experince of employee management with employee management portals</p>
                        <button class="get_plan_hr_btn">Get a plan</button>
                    </div>


                    <div class="Features_included">
                        <h6>Features included:</h6>
                        <div class="Features_included_list">
                            <div class="Features_included_list_left">
                                <li> <img src="assets/images/teenyicons_tick-circle-outline.png" alt="">
                                    <span>Referrals</span>
                                </li>
                                <li><img src="assets/images/teenyicons_tick-circle-outline.png" alt=""> <span>Interview
                                        Scheduling</span></li>
                                <li><img src="assets/images/teenyicons_tick-circle-outline.png" alt="">
                                    <span>Interactive
                                        Employee Profile</span>
                                </li>
                                <li><img src="assets/images/teenyicons_tick-circle-outline.png" alt=""> <span>Upto 5
                                        active job vacancies</span></li>
                            </div>
                            <div class="Features_included_list_right">
                                <li><img src="assets/images/teenyicons_tick-circle-outline.png" alt=""> <span>Document
                                        collections</span></li>
                                <li><img src="assets/images/teenyicons_tick-circle-outline.png" alt=""> <span>Document
                                        storage</span></li>
                                <li><img src="assets/images/teenyicons_tick-circle-outline.png" alt=""> <span>Share
                                        externally on all platform</span></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="Testimonials">
            <h1 data-aos="fade-up" data-aos-anchor-placement="center-bottom">Testimonials</h1>
            <div class="slider">
                <div class="slides">
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">
                    <div class="slide first">
                        <div class="card1">
                            <p class="card_para">Simply unbelievable! I am really satisfied with
                                my projects and business. This is absolutely
                                wonderful!</p>
                            <div class="slide_content">
                                <img src="assets/images/Rectangle 11.png" alt="">
                                <div class="slide_content_text">
                                    <h2>Mohit Sharma</h2>
                                    <p>Mohit Sharma</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="card2">
                            <p class="card_para">Simply unbelievable! I am really satisfied with
                                my projects and business. This is absolutely
                                wonderful!</p>
                            <div class="slide_content">
                                <img src="assets/images/Rectangle 11.png" alt="">
                                <div class="slide_content_text">
                                    <h2>Mohit Sharma</h2>
                                    <p>Mohit Sharma</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="card3">
                            <p class="card_para">Simply unbelievable! I am really satisfied with
                                my projects and business. This is absolutely
                                wonderful!</p>
                            <div class="slide_content">
                                <img src="assets/images/Rectangle 11.png" alt="">
                                <div class="slide_content_text">
                                    <h2>Mohit Sharma</h2>
                                    <p>Mohit Sharma</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="card4">
                            <p class="card_para">Simply unbelievable! I am really satisfied with
                                my projects and business. This is absolutely
                                wonderful!</p>
                            <div class="slide_content">
                                <img src="assets/images/Rectangle 11.png" alt="">
                                <div class="slide_content_text">
                                    <h2>Mohit Sharma</h2>
                                    <p>Mohit Sharma</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navigation-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                        <div class="auto-btn4"></div>
                    </div>
                </div>
                <div class="navigation-manual">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="footer">

            <div class="social_media_content">
                <div class="social_media">
                    <div class="social_icon_text">
                        <div class="social_logo" data-aos="zoom-in">
                            <img src="assets/images/hrr 3 (1).png" alt="">
                        </div>
                        <h3 data-aos="zoom-in-up">HRmaven</h3>
                    </div>
                    <p data-aos="fade-left" data-aos-duration="2000">Hrmaven is the solution for hardworking <br>
                        employees of your management or <br> company.</p>
                    <div class="social_icon" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="800">
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-square-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </div>
            </div>
            <div class="footer_right" data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine">
                <h3>Drop your email we will
                    contact you</h3>
                <div class="footer_right_input">
                    <input type="email" placeholder="Enter your email id">
                    <button>Subscribe</button>
                </div>    
            </div>
        </div>
        <p class="copyright">2023
            copyright: hrmaven.com</p>
    </footer>

    <!-- --------------------Scroll To Top--------(click)="scrolltop()"---------- -->
    <div class="Scroll">
        <a id="rocketmeluncur" class="showrocket"><i></i></a>
    </div>


</div>