@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@600&display=swap');

.landing_page_img {
    background-image: url(../../assets/images/image_2.png);
    background-repeat: no-repeat;
    min-width: 100%;
    height: 728px;
    background-size: cover;

}

.landing_main {
    padding: 10px 134px;
}

.landing_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing_logo {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.landing_logo img {
    width: 36px;
    height: 36px;
}

.landing_logo p {
    margin-top: 18px;
}

.landing_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.landing_btn .login,
.landing_btn .Signup {
    padding: 10px 30px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
}

.landing_btn .login {
    background-color: #FFFFFF;
    color: #2F2C9F;
}

.landing_btn .login:hover {
    background-color: #2F2C9F;
    color: #fff;
}

.landing_btn .Signup {
    background-color: #2F2C9F;
    color: #fff;
}

.landing_btn .Signup:hover {
    background-color: #1912d5;
    color: #fff;
}

.landing_text {
    padding-top: 68px;
    text-align: center;
}

.landing_text h1 {
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 40px;
    color: #333333;
}

.landing_text p {
    padding-top: 20px;
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 18px;
    color: #666666;
}

.input_search {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input_search input {
    width: 514px;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 0 100px 0 20px;
    outline: none;
    border: 1px solid transparent;
}

.input_search input::placeholder {
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 14px;
    color: #999999;
}

.input_search input:hover,
.input_search input:focus {
    border: 1px solid #2F2C9F;
}

.input_search button {
    margin-left: -90px;
}

.input_search .input_Signup {
    width: 85px;
    height: 40px;
    background-color: #2F2C9F;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    border: none;
    outline: none;
}

.input_search .input_Signup:hover {
    background-color: #1a13d8;
}

.dashboard_img {
    padding-top: 60px;

}

.dashboard_img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 773px;
    height: 432px;
}

.Features_product {
    padding-top: 168px;

}

.Features_product h1 {
    text-align: center;
    font-family: 'Urbanist';
    font-weight: 600;
    font-size: 32px;
    color: #000000;
}

.Features_product_content {
    padding-top: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.Features_product_content .Features_product_content_text h1 {
    font-family: 'Urbanist';

    font-weight: 600;
    font-size: 32px;
    color: #333333;
}

.Features_product_content .Features_product_content_text p {
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 18px;
    color: #666666;
    padding-top: 20px;
}

.Attendance_marking {
    padding-top: 138px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
}

.Attendance_marking .Attendance_marking_text h1 {
    font-family: 'Urbanist';
    font-weight: 600;
    font-size: 32px;
    color: #333333;
}

.Attendance_marking .Attendance_marking_text p {
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 18px;
    color: #666666;
    padding-top: 20px;
}

.Candidate_recruitment {
    padding-top: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Candidate_recruitment .Candidate_recruitment_text h1 {
    font-family: 'Urbanist';
    font-weight: 600;
    font-size: 32px;
    color: #333333;
}

.Candidate_recruitment .Candidate_recruitment_text p {
    padding-top: 20px;
    font-family: 'Outfit';
    color: #666666;
    font-weight: 400;
    font-size: 18px;
}

.Subscription {
    padding-top: 110px;
}

.Subscription h1 {
    font-family: 'Urbanist';
    color: #333333;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
}

.Subscription p {
    font-family: 'Outfit';
    color: #666666;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
}

.Subscription_plan {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.EMPLOYEE_MANAGEMENt {
    background-color: #fff;
    width: 448px;
    border-radius: 8px;
}

.EMPLOYEE_MANAGEMENt .plan_images {
    width: 100%;
    height: 280px;
    background-color: #EFEFF8;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

.EMPLOYEE_MANAGEMENt_text {

    height: 414px;

}

.Hiring_Portals h1 {
    padding-top: 30px;
    font-family: 'Outfit';
    color: #2F2C9F;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

.Hiring_Portals {
    padding: 0 30px;
}

.Hiring_Portals h4 {
    font-family: 'Outfit';
    color: #222222;
    font-weight: 500;
    font-size: 20px;
    padding-top: 10px;
}

.Hiring_Portals h4 span {
    font-size: 14px;
}

.Hiring_Portals p {
    font-family: 'Outfit';
    padding-top: 10px;
    color: #777777;
    font-weight: 300;
    font-size: 14px;
}

.get_plan_btn,
.get_plan_hr_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 44px;
    padding: 12px 20px;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Outfit';
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}

.get_plan_btn {
    background-color: #2F2C9F;
    color: #fff;
}

.get_plan_hr_btn {
    background-color: #fff;
    border: 1px solid #2F2C9F;
    color: #2F2C9F;
}

.get_plan_hr_btn:hover {
    background-color: #2F2C9F;
    color: #fff;
}

.get_plan_btn:hover {
    background-color: #150edf;
}

.Features_included {
    padding: 20px 30px 0 30px;
}

.Features_included h1 {
    font-family: 'Outfit';
    color: #111111;
    font-weight: 400;
    font-size: 14px;
}

.Features_included_list {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.Features_included_list_left,
.Features_included_list_right {
    width: 100%;
}

.Features_included_list_left li,
.Features_included_list_right li {
    display: flex;
    gap: 5px;
    padding-top: 10px;

}

.Features_included_list_left li img,
.Features_included_list_right li img {
    width: 12px;
    height: 12px;
    margin-top: 4px;
}

.Features_included_list_left li span,
.Features_included_list_right li span {
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 14px;
    color: #444444;
}

.Testimonials {
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Testimonials h1 {
    font-family: 'Urbanist';
    color: #333333;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
}

/* ---------------------------------------- */


.slider {
    height: 500px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 20px;

}

.slides {
    width: 100%;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin-left: 190px;

}

.slides input {
    display: none;
}

.slide {

    transition: 2s;
}

.card1,
.card2,
.card3,
.card4 {
    width: 380px;
    height: 197px;
    border-radius: 8px;
    background-color: #FFFFFF;
}

.card_para {
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 16px;
    padding: 30px 30px;
    color: #4441A9;
}

.slide_content {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 0 30px;
}

.slide_content img {
    width: 35px;
    height: 35px;
}

.slide_content .slide_content_text h2 {
    font-weight: 700;
    font-size: 14px;
    color: #4441A9;
}

.slide_content .slide_content_text p {
    font-weight: 400;
    font-size: 12px;
    color: #4441A9;
}

.navigation-manual {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    left: 50%;
}

.manual-btn {
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    background: rgba(217, 217, 217, 0.4);


}

.manual-btn:not(:last-child) {
    margin-right: 10px;
}

.manual-btn:hover {
    background: #4441A9;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}


.navigation-auto {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 235px;
    margin-right: 113px;
    left: 50%;

}

.navigation-auto div {
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 10px;
}

#radio1:checked~.navigation-auto .auto-btn1,
#radio1:checked~.slide .card1 {
    background-color: #2F2C9F;


}

#radio2:checked~.navigation-auto .auto-btn2,
#radio2:checked~.slide .card2 {
    background: #2F2C9F;

}

#radio3:checked~.navigation-auto .auto-btn3,
#radio3:checked~.slide .card3 {
    background: #2F2C9F;

}

#radio4:checked~.navigation-auto .auto-btn4,
#radio4:checked~.slide .card4 {
    background: #2F2C9F;

}

#radio1:checked~.slide .card1 .card_para,
#radio1:checked~.slide .card1 .slide_content_text h2,
#radio1:checked~.slide .card1 .slide_content_text p {
    color: #fff;
}

#radio2:checked~.slide .card2 .card_para,
#radio2:checked~.slide .card2 .slide_content_text h2,
#radio2:checked~.slide .card2 .slide_content_text p {
    color: #fff;
}

#radio3:checked~.slide .card3 .card_para,
#radio3:checked~.slide .card3 .slide_content_text h2,
#radio3:checked~.slide .card3 .slide_content_text p {
    color: #fff;
}

#radio4:checked~.slide .card4 .card_para,
#radio4:checked~.slide .card4 .slide_content_text h2,
#radio4:checked~.slide .card4 .slide_content_text p {
    color: #fff;
}

footer {
    background-image: url(../../assets/images/image3.png);
    background-repeat: no-repeat;

}

.footer {
    display: flex;
    padding: 54px 165px;
    justify-content: space-between;
}

.social_icon_text {
    display: flex;
    align-items: center;
    gap: 5px;
}

.social_icon_text h3 {
    padding-top: 15px;
    font-family: 'Urbanist';
    color: #2F2C9F;
    font-weight: 700;
    font-size: 18px;
}

.social_media p {
    padding-top: 20px;
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 18px;
    color: #2F2C9F;
}

.social_icon {
    padding-top: 28px;
    display: flex;
    gap: 28px;
}

.social_icon i {
    color: #2F2C9F;
    cursor: pointer;
}


.footer_right h3 {
    font-family: 'Urbanist';
    color: #2F2C9F;
    font-weight: 500;
    font-size: 20px;
}

.footer_right_input {
    padding-top: 20px;
}

.footer_right_input input {
    padding: 4px 6px 4px 12px;
    width: 335px;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 8px;
    outline: none;
    border: 1px solid transparent;
    padding: 0 100px 0 10px;
}

.footer_right_input input::placeholder {
    color: #999999;
    font-weight: 400;
    font-size: 14px;
}

.footer_right_input button {
    padding: 10px 20px;
    width: 101px;
    height: 40px;
    background-color: #2F2C9F;
    border-radius: 8px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: -105px;
}

.footer_right_input button:hover {
    background-color: #110aeb;
}

footer .copyright {
    padding-left: 158px;
    color: #2F2C9F;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 20px;
}

/* -----------RGB Button---------------- */
.Get_Started {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    cursor: pointer;

}

.Get_Started a {
    position: relative;
    width: 250px;
    height: 50px;
    line-height: 48px;
    background: #000;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 4px;
    text-decoration: none;

}

.Get_Started a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #fb0094, #00f, #0f0,
            #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
    background-size: 400%;
    opacity: 0;
    filter: blur(20px);
    transition: 0.5s;
}

.Get_Started a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #fb0094, #00f, #0f0,
            #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
    background-size: 400%;
    opacity: 0;
    transition: 0.5s;
}

.Get_Started a:hover::before,
.Get_Started a:hover::after {
    opacity: 1;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 300% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.Get_Started a span {
    position: absolute;
    display: block;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    text-align: center;
    background: #0c0c0c;
    color: #fff;
    transition: 0.5s;
    z-index: 1;

}

.Get_Started a:hover span {
    color: rgba(255, 255, 255, 1);
}

.Get_Started a span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.1);
}








/* --------------------------Responsive------------------------------------- */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.navbar {
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background-color: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items {
    order: 2;
    display: flex;
}

.logo {
    order: 1;
    font-size: 2.3rem;
}

.logo .landing_logo1 {
    display: flex;
}

.logo .landing_logo1 p {
    font-size: 20px;
    padding-top: 15px;
    color: #2F2C9F;
}

.menu-items li {
    list-style: none;
    margin-left: 50px;

}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    transition: color 0.3s ease-in-out;
}



@media (min-width: 769px) {
    .navbar {
        display: none;
    }

    .Attendance_marking_text h2 {
        visibility: hidden;
    }
}

@media (max-width: 768px) {

    .navbar {
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background-color: #2F2C9F;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background-color: #2F2C9F;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li {
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        background-color: #fff;
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
        background-color: #fff;
    }

    /* ----------------------Content------------------------------ */
    .landing_main {
        padding: 10px 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .landing_navbar {
        display: none;
    }

    .landing_text h1 {
        font-size: 30px;
        padding-top: 30px;
    }

    .landing_text p {
        font-size: 14px;
    }

    .dashboard_img img,
    .Features_product_content img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .Features_product {
        margin-top: -120px;
    }

    .Features_product_content {
        margin-top: -150px;
        display: inline-block;
    }

    .Attendance_marking_text h1 {
        display: none;
    }

    .Attendance_marking_text h2 {
        font-family: 'Urbanist';
        color: #333333;
        font-weight: 600;
        font-size: 30px !important;
    }

    .Attendance_marking {
        display: inline-block;
    }

    .Candidate_recruitment {
        display: inline-block;
        margin-top: -100px;
    }

    .Candidate_recruitment_text {
        padding: 10px 50px;
    }

    .Subscription_plan {
        display: inline-block;
    }

    .EMPLOYEE_MANAGEMENt {
        margin-top: 80px;
    }

    .card1,
    .card2,
    .card3,
    .card4 {
        width: 340px;
        height: 197px;
        border-radius: 8px;
        background-color: #FFFFFF;
    }

    .slides {
        margin-top: 50px;
        width: 10px;
        margin-left: 710px;
    }

    footer {
        margin-top: -100px;

    }

    .footer {
        width: 100%;
        display: inline-block;
    }

    .footer_right {
        margin-top: 50px;
    }
}

@media (max-width: 500px) {
    .navbar-container input[type="checkbox"]:checked~.logo {
        display: none;
    }

    .landing_navbar {
        display: none;
    }

    .landing_main {
        padding: 10px 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .landing_navbar {
        display: none;
    }

    .landing_text h1 {
        font-size: 20px;
        padding-top: 30px;
    }

    .landing_text p {
        font-size: 10px;
    }

    .dashboard_img img,
    .Features_product_content img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 50%;
    }

    .Features_product {
        margin-top: -150px;
    }

    .Features_product h1 {
        font-size: 20px;
    }

    .Features_product_content {
        margin-top: -100px;
        display: inline-block;
    }

    .Features_product_content_text {
        width: 100%;
    }

    .Features_product_content_text h1 {
        font-size: 20px !important;
    }

    .Features_product_content_text p {
        font-size: 10px !important;
    }

    .Attendance_marking_text {
        padding: 0 85px !important;
    }

    .Attendance_marking_text h1 {
        display: none;
    }

    .Attendance_marking_text h2 {
        font-family: 'Urbanist';
        color: #333333;
        font-weight: 600;
        font-size: 20px !important;
    }

    .Attendance_marking_text p {
        font-size: 12px !important;
    }

    .Attendance_marking {
        display: inline-block;
    }

    .Attendance_marking_graph img,
    .Candidate_recruitment img {
        width: 450px !important;
        padding-left: 50px;
        padding-right: 50px;

    }

    .Candidate_recruitment {
        display: inline-block;
        margin-top: -100px;
    }


    .Candidate_recruitment_text {
        padding: 10px 50px;
    }

    .Candidate_recruitment_text h1,
    .Candidate_recruitment_text p {
        text-align: center;
    }

    .Subscription_plan {
        display: inline-block;
    }

    .EMPLOYEE_MANAGEMENt {
        margin-top: 80px;
        padding: 0 70px !important;
    }

    .Testimonials {
        display: none;
    }

    .footer {
        display: none;
    }

    .copyright {
        margin-top: 220px;

    }

    .copyright p {
        margin-left: -20px !important;
    }
}

/* -----------------------------Car Animation---------------------------------------------- */
.country-wrap {
    width: 85%;
    height: 100%;
    overflow: hidden;
    position: absolute;

}

.push-bottom {
    position: absolute;
    bottom: 0;
    height: 100%;
}

.bottom-ground {
    background: #8d773e;
    width: 100%;
    left: -1%;
    height: 60px;
    bottom: 0;
    position: absolute;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
}

.street {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 4%;
}


.car {
    position: absolute;
    z-index: 10;
    animation: myfirst 10s linear infinite;
}

@keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

.tyre {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #3f3f40;
    position: absolute;
    z-index: 2;
    left: 9px;
    top: 20px;
    animation: tyre-rotate 1s infinite linear;
}

@keyframes tyre-rotate {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(0deg);
    }

}

@keyframes tyre-rotate {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(0deg);
    }

}

.tyre:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #bdc2bd;
    position: absolute;
    top: 5px;
    left: 5px;
}

.gap {
    background: #3f3f40;
    width: 2px;
    height: 4px;
    position: absolute;
    left: 14px;
    top: 8px;
    box-shadow: 0 9px 0 #3f3f40;
}

.gap:before {
    content: '';
    display: block;
    width: 2px;
    height: 4px;
    position: absolute;
    background: #3f3f40;
    box-shadow: 0 12px 0 #3f3f40;
    transform: rotate(-90deg);
    z-index: 3;
}

.car-base {
    position: absolute;
    display: block;
    width: 125px;
    height: 30px;
    background: #000000;
    border-radius: 10% 10% 50% 50% / 60% 100% 20% 10%;
    transform: rotate(-2deg);
    border: solid;
    border-color: #000000;
}

.back-bonet {
    background: #4c4b4b;
    border-radius: 54% 25% 0 0;
    height: 22px;
    left: 11px;
    position: absolute;
    top: 8px;
    width: 40px;
}

.tyre.front {
    left: 94px;
}

.car-body {
    border-bottom: 24px solid #d1352b;
    height: 0;
    top: 10px;
    width: 120px;
    position: relative;
}

.car-body:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 24px;
    position: absolute;
    right: -5px;
    background: #d1352b;
    border-top-right-radius: 4px;
    z-index: 1;
}

.car-body:after {
    content: '';
    display: inline-block;
    width: 121px;
    border-bottom: 1px solid #942b25;
    border-right: 2px solid transparent;
    height: 0;
    z-index: 2;
    position: absolute;
}

.car-gate {
    width: 32px;
    height: 20px;
    background: #d1352b;
    border-radius: 0 0 2px 8px / 0 0 2px 8px;
    box-shadow: 0 0 0 1px #892924;
    position: absolute;
    left: 48px;

}

.car-gate:before {
    content: '';
    width: 8px;
    height: 2px;
    background: #4c4b4b;
    position: absolute;
    top: 2px;
    left: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.car-top-back {
    background: none repeat scroll 0 0 #4C4B4B;
    border-radius: 5px 0 0 0;
    height: 20px;
    left: 4px;
    position: absolute;
    top: -20px;
    width: 58px;
}

.car-top-back:before {
    width: 30px;
    height: 15px;
    background: #736f6f;
    content: '';
    position: absolute;
    top: 3px;
    left: 8px;
    border-radius: 2px;
}

.car-top-back:after {
    content: '';
    background: #4c4b4b;
    border-radius: 30%;
    height: 5px;
    left: 3px;
    position: absolute;
    top: -1px;
    width: 62px;
}

.car-top-front {
    top: -19px;
    position: absolute;
    left: 47px;
    width: 20px;
    height: 20px;
    background: #dc4630;
    border-left: 1px solid #892924;
    border-radius: 2px 0 0 0;

}

.car-top-front:after {
    width: 26px;
    height: 20px;
    transform: skew(37deg);
    background: #dc4630;
    content: '';
    position: absolute;
    top: 0;
    left: 6px;
    border-radius: 4px 0 4px 4px;
}

.car-top-front:before {
    width: 12px;
    height: 5px;
    background: #dc4630;
    content: '';
    position: absolute;
    top: 14px;
    left: 28px;
    z-index: 1;
    border: solid #a82e27;
    border-width: 0 1px 1px 0;
}

.wind-sheild {
    top: 3px;
    left: 3px;
    position: absolute;
    z-index: 3;
    width: 18px;
    height: 12px;
    background: #f5e7e7;
    border-radius: 0 3px 0 0;
}

.wind-sheild:after {
    width: 12px;
    height: 12px;
    transform: skew(25deg);
    background: #f5e7e7;
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    border-radius: 3px;
}

.boundary-tyre-cover {
    position: absolute;
    top: 14px;
    left: 10px;
    border-bottom: 20px solid #4c4b4b;
    border-right: 10px solid transparent;
    height: 0;
    width: 20px;
}

.boundary-tyre-cover:before {
    content: '';
    position: absolute;
    display: inline-block;
    background: #4c4b4b;
    height: 20px;
    width: 15px;
    transform: skewX(-20deg);
    border-radius: 3px;
    left: -6px;
    top: 0;
}

.boundary-tyre-cover:after {
    content: '';
    position: absolute;
    display: inline-block;
    background: #4c4b4b;
    height: 20px;
    width: 20px;
    transform: skewx(40deg);
    border-radius: 3px;
    right: -14px;
    top: 0;
}

.boundary-tyre-cover-inner {
    position: absolute;
    top: 4px;
    left: 4px;
    border-bottom: 16px solid black;
    border-right: 10px solid transparent;
    height: 0;
    width: 15px;
    z-index: 2;
}

.boundary-tyre-cover-inner:before {
    content: '';
    position: absolute;
    display: inline-block;
    background: black;
    height: 16px;
    width: 15px;
    transform: skewX(-20deg);
    border-radius: 3px 3px 0 0;
    left: -6px;
    top: 0;
}

.boundary-tyre-cover-inner:after {
    content: '';
    position: absolute;
    display: inline-block;
    background: black;
    height: 16px;
    width: 20px;
    transform: skewx(40deg);
    border-radius: 3px 3px 0 0;
    right: -11px;
    top: 0;
}

.boundary-tyre-cover-back-bottom {
    position: absolute;
    width: 14px;
    height: 8px;
    background: #4c4b4b;
    top: 12px;
    left: -19px;
}

.bonet-front {
    background: #d1352b;
    border-radius: 5px 258px 0 38px / 36px 50px 0 0;
    height: 4px;
    position: absolute;
    right: 0;
    top: -4px;
    width: 40px;
    z-index: 0;
}

.back-curve {
    background: none repeat scroll 0 0 #4C4B4B;
    border-radius: 960% 100% 0 0;
    height: 20px;
    left: -3px;
    position: absolute;
    top: 1px;
    transform: rotate(6deg);
    width: 5px;
}

.stepney {
    height: 6px;
    left: -4px;
    position: absolute;
    top: 6px;
    width: 8px;
    z-index: -1;
    background: #3f3f40;
}

.stepney:before {
    width: 8px;
    height: 12px;
    background: #3f3f40;
    content: '';
    position: absolute;
    top: -10px;
    left: -7px;
    border-radius: 3px 3px 0 0;
}

.stepney:after {
    width: 8px;
    height: 12px;
    background: #0d0c0d;
    content: '';
    position: absolute;
    top: 0px;
    left: -7px;
    border-radius: 0 0 3px 3px;
}

.tyre-cover-front {
    background: #4c4b4b;
    height: 4px;
    left: 97px;
    position: absolute;
    top: 13px;
    width: 22px;
    z-index: 1;
}

.tyre-cover-front:before {
    background: none repeat scroll 0 0 #4c4b4b;
    content: "";
    display: inline-block;
    height: 21px;
    left: -10px;
    position: absolute;
    top: 0;
    transform: skewX(-30deg);
    width: 10px;
    z-index: 6;
    border-radius: 4px 0 0 0;
}

.tyre-cover-front:after {
    background: none repeat scroll 0 0 #4c4b4b;
    content: "";
    display: inline-block;
    height: 6px;
    left: 14px;
    position: absolute;
    top: 0;
    transform: skewX(30deg);
    width: 17px;
    z-index: 6;
    border-radius: 0 4px 2px 0;
}

.boundary-tyre-cover-inner-front {
    position: absolute;
    top: 4px;
    left: 4px;
    border-bottom: 16px solid black;
    border-right: 10px solid transparent;
    height: 0;
    width: 15px;
    z-index: 7;
}

.boundary-tyre-cover-inner-front:before {
    background: none repeat scroll 0 0 #000000;
    border-radius: 3px 3px 0 0;
    content: "";
    display: inline-block;
    height: 17px;
    left: -10px;
    position: absolute;
    top: 0;
    transform: skewX(-30deg);
    width: 15px;
}

.boundary-tyre-cover-inner-front:after {
    content: '';
    position: absolute;
    display: inline-block;
    background: black;
    height: 16px;
    width: 20px;
    transform: skewx(25deg);
    border-radius: 3px 3px 0 0;
    right: -12px;
    top: 0;
}

.base-axcel {
    background: none repeat scroll 0 0 black;
    bottom: -15px;
    height: 10px;
    left: 30px;
    position: absolute;
    transform: rotate(-2deg);
    width: 70px;
    z-index: -1;
}

.base-axcel:before {
    background: none repeat scroll 0 0 black;
    border-radius: 0 0 0 10px / 0 0 0 5px;
    content: "";
    height: 10px;
    left: -35px;
    position: absolute;
    top: -2px;
    transform: rotate(6deg);
    width: 30px;
}

.base-axcel:after {
    background: none repeat scroll 0 0 black;
    border-radius: 0 0 0 10px / 0 0 0 5px;
    content: "";
    height: 10px;
    right: -33px;
    position: absolute;
    top: -1px;
    transform: rotate(-4deg);
    width: 40px;
    border-radius: 0 10px 5px 0;
}

.front-bumper {
    background: none repeat scroll 0 0 #4c4b4b;
    border-radius: 0 2px 2px 0;
    height: 8px;
    position: absolute;
    right: -15px;
    width: 11px;
    z-index: 1;
    transform: rotate(-5deg);
}

.front-bumper:before {
    background: none repeat scroll 0 0 #000000;
    content: "";
    height: 10px;
    left: -7px;
    position: absolute;
    transform: rotate(-22deg);
    width: 9px;
    z-index: 1;
}

.car-shadow {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: -15px;
    box-shadow: -5px 10px 15px 3px #000000;
    left: -7px;
    position: absolute;
    width: 136px;
}

/* ---------------------Image Animation-------------------------------- */

.thumb {
    width: 773px;
    height: 432px;
    margin: 70px auto;
    perspective: 1000px;
}

.thumb a {
    display: block;
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../../assets/images/dashboard 4.png');
    background-size: 0, cover;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.thumb:hover a {
    transform: rotateX(80deg);
    transform-origin: bottom;
}

.thumb a:after {
    content: '';
    position: absolute;
    left: 50px;
    bottom: 0;
    width: 88%;
    height: 36px;
    background-color: #7774c6;
    background-size: cover, cover;
    background-position: bottom;
    transform: rotateX(90deg);
    transform-origin: bottom;
    border-radius: 8px;
}

.thumb a span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px Montserrat;
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
}

.thumb a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2F2C9F;
    box-shadow: 0 0 100px 50px 2F2C9F;
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
}

.thumb:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px #2F2C9F;
    transform: rotateX(0) translateZ(-60px) scale(0.85);
}