

.forget-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    width: 100%;
    height: 100vh;
}
.forget-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.forget-text h1{
    font-size: 24px;
    color: #222222;
    font-weight: 400;
}
.forget-text p{
    color: #666666;
    font-size: 16px;
    padding-top: 10px;
}
.input-field {
    position: relative;
    width: 400px;
    /* height: 50px;
    margin-bottom: 45px; */
    margin-top: 30px;
}

.name-field {
    margin-top: 24px;
}

.input-field input {
    width: 400px;
    min-height: 42px;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 0 15px;
    border: 1px solid #d1d1d1;
    margin-top: 6px;
    margin-bottom: 6px;
}

.input-field label {
    color: #333333;
}


.error-text {
    padding-top: 10px;
}


.button input {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 22px;
}

.button input:hover {
    background-color: #0d0ae4;
}
form.ng-invalid.ng-touched #submit {
    cursor: not-allowed;
}

.password-toggle i {
    position: absolute;
    margin-top: 18px;
    color: #ddd;
    font-size: 14px;
    cursor: pointer;
}
.field span.password-toggle i {
    margin-top: 0;
}
.field span.password-toggle {
    margin-top: 0px;
    top: 18px;
    right: 30px;
}

.input-field label {
    color:
        #333333 !important;
    font-size: 14px;
}

.input-field ::placeholder {
    color:
        #B4B4B4;
}

.field span {
    color: red;
    font-size: 14px;
    position: absolute;
}



/*Tooltip*/
.iconWrap {
    position: relative;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

.iconWrap i {
    color: #2F2C9F;
}

.iconWrap .tooltip {
    position: absolute;
    left: 17px;
    top: -10px;
    line-height: 22px;
    font-size: 13px;
    font-weight: 400;
    color: #888888;
    background-color: #F7F7FB;
    padding: 8px 14px;
    width: 296px;
    /* height: 126px; */
    border-radius: 4px;
    transform: translateX(-5px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease-in-out 0s, transform 300ms ease-in-out 0s;
}

.iconWrap .tooltip::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #F7F7FB;
    left: 0px;
    top: 20px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 1px;
}

.password-i {
    display: flex;
    justify-content: space-between;
}

/* .label i:hover .tooltip {
    transform: translateX(5px);
    opacity: 1;
} */
 .iconWrap:hover .tooltip {
    transform: translateX(5px);
    opacity: 1;
}
.input-field:hover .tooltip{
    transform: translateX(5px);
    opacity: 1;  
}

.tooltip span {
    margin-top: 0;
}

.create-password label.text-label {
    display: flex;
    justify-content: space-between;
}