<app-sidebar></app-sidebar>
<app-header></app-header>
<div class="loader-parent" *ngIf="loaderz">
  <div class="loader"></div>
</div>
<div class="main" *ngIf="!loaderz">
  <div class="card">
    <div class="card1">
      <img src="./assets/images/left_arrow.svg" routerLink="/employee/dashboard" alt="">
      <h2>My Profile</h2>
    </div>
    <div class="card2">
      <span class="profile_pic">
        <div class="loader" *ngIf="progress"></div>
        <img *ngIf="!obj.url && !upload" src="./assets/images/Ellipse 98.svg">
        <img *ngIf="obj.url  && !upload" src="{{obj.url}}" alt="">
        <img *ngIf="upload" src="{{imageurl}}" alt="">
        <!-- <img  alt=""> -->
        <div class="profile-content">
          <input type="file" accept="image/*" id="file-input">
          <i class="fa-solid fa-arrow-up"></i>
          <h2>Upload</h2>
          <p>Profile Picture</p>
        </div>
        <div class="profile-content1" *ngIf="obj.url">
          <input type="file" (change)="onFileSelected($event)" accept="image/*" id="file-input">
          <i class="fa-solid fa-camera"></i>

          <h2>Change</h2>
          <p>Profile Picture</p>
        </div>
      </span>
      <div class="content">

        <h3>{{obj.name}}</h3>
        <p>{{obj.designation}}</p>
        <span><i class="fa-solid fa-location-dot"></i>{{obj.location}}</span>
      </div>
    </div>
    <ul class="content1">
      <li [ngClass]="{'active': isPersonalDetailsActive}"><a (click)="personaldetails()">Personal Details</a></li>
      <li id="job" [ngClass]="{'active': isJobDetailsActive}"><a (click)="jobdetails()">Job Details</a></li>
      <li id="Password" [ngClass]="{'active': isPasswordManagement}"><a (click)="managePassword()">Password
          Management</a></li>
      <span></span>
    </ul>
    <div class="card3" *ngIf="personaldetail">
      <div class="details">
        <h3>Basic Details</h3>
        <button class="edit1" (click)="openModal(obj)">Edit <i class="fa-solid fa-pencil"></i></button>
      </div>
      <div class="row1">
        <div class="column1">
          <span class="name">Name</span>
          <p class="name">{{obj.name}}</p>
          <span class="fname">Father's Name</span>
          <p *ngIf="!obj.fatherName">----------</p>
          <p class="fname" *ngIf="obj.fatherName">{{obj.fatherName}}</p>
          <span class="bgroup">Blood Group</span>
          <p *ngIf="!obj.bloodGroup">----------</p>
          <p class="bgroup">{{obj.bloodGroup}}</p>
        </div>
        <div class="column2">
          <span class="uid">Employee ID</span>
          <p class="name">{{obj.uid}}</p>

          <span class="mname">Mother's Name</span>
          <p *ngIf="!obj.motherName">----------</p>
          <p class="mname" *ngIf="obj.motherName">{{obj.motherName}}</p>
          <span class="gender">Gender</span>
          <p class="gender">{{obj.gender}}</p>
        </div>
        <div class="column3">
          <span class="dob">Date of birth</span>
          <p class="dob">{{obj.dateOfBirth | date:"shortDate"}}</p>
          <span class="marstatus">Marital Status</span>
          <p *ngIf="!obj.maritalStatus">----------</p>
          <p class="marstatus" *ngIf="obj.maritalStatus">{{obj.maritalStatus}}</p>
          <span class="nation">Nationality</span>
          <p *ngIf="!obj.nationality">----------</p>
          <p class="nation" *ngIf="obj.nationality">{{obj.nationality}}</p>
        </div>
      </div>
    </div>
    <div class="card4" *ngIf="personaldetail">
      <div class="details">
        <h3>Contact Details</h3>
        <button class="edit1" (click)="openModal2(obj)">Edit <i class="fa-solid fa-pencil"></i></button>
      </div>
      <div class="row1">
        <div class="column1">
          <span class="cno">Contact No.</span>
          <p *ngIf="!obj.mobile">----------</p>
          <p class="cno" *ngIf="obj.mobile">{{obj.mobile}}</p>
          <span class="city">City</span>
          <p *ngIf="!obj.city">----------</p>
          <p class="city" *ngIf="obj.city">{{obj.city}}</p>
        </div>
        <div class="column2">
          <span class="address">Address</span>
          <p *ngIf="!obj.address">----------</p>
          <p class="address" *ngIf="obj.address">{{obj.address}}</p>
          <span class="pcode">Postal Code</span>
          <p *ngIf="!obj.postalCode">----------</p>
          <p class="pcode" *ngIf="obj.postalCode">{{obj.postalCode}}</p>
        </div>
        <div class="column3">
          <span class="email">Email</span>
          <p class="email">{{obj.email}}</p>
          <span class="state">State</span>
          <p *ngIf="!obj.state">----------</p>
          <p class="state" *ngIf="obj.state">{{obj.state}}</p>
        </div>
      </div>
    </div>
    <div class="card5" *ngIf="personaldetail">
      <div class="details">
        <h3>Personal Particulars</h3>
        <button class="edit1" (click)="openModal4(obj)">Edit <i class="fa-solid fa-pencil"></i></button>
      </div>
      <div class="row1">
        <div class="column1">
          <span class="bname">Bank Name</span>
          <p *ngIf="!obj.bankname" class="bname">-------</p>
          <p *ngIf="obj.bankname" class="bname">{{obj.bankname}}</p>
          <span class="adhaarno">Aadhaar Card Number</span>
          <p *ngIf="!obj.adhaarno" class="adhaarno">-------</p>
          <p *ngIf="obj.adhaarno" class="adhaarno">{{obj.adhaarno}}</p>
        </div>
        <div class="column2">
          <span class="bno">Bank Account No.</span>
          <p *ngIf="!obj.accountno" class="bno">-------</p>
          <p class="bno" *ngIf="obj.accountno">{{obj.accountno}}</p>
          <span class="panno">Pan Number</span>
          <p *ngIf="!obj.panno" class="panno">-------</p>
          <p *ngIf="obj.panno" class="panno">{{obj.panno}}</p>

        </div>
        <div class="column3">
          <span class="ifsc">IFSC Code</span>
          <p *ngIf="!obj.ifsc" class="ifsc">-------</p>
          <p *ngIf="obj.ifsc" class="ifsc">{{obj.ifsc}}</p>
          <span class="pno">Passport Number</span>
          <p *ngIf="!obj.passport">----------</p>
          <p class="pno" *ngIf="obj.passport">{{obj.passport}}</p>
        </div>
      </div>
    </div>
    <!-- ---------------------------------------EDUCATION----------------------------------------------->

    <!-- <div class="card6" *ngIf="personaldetail">
      <div class="details">
        <h3>Education</h3>
      </div>
      <div class="row1">
        <div class="column1">
          <span class="inst1">School/College</span>
          <p *ngIf="!obj.matric">----------</p>
          <p class="inst1" *ngIf="obj.matric">{{obj.matric}}</p>
          <span class="inst2">Passing Year</span>
          <p *ngIf="!obj.inter">----------</p>
          <p class="inst2" *ngIf="obj.inter">{{obj.inter}}</p>
        </div>
        <div class="column2">
          <span class="mper">Percentage/Cgpa</span>
          <p *ngIf="!obj.matricPercent">----------</p>
          <p class="mper" *ngIf="obj.matricPercent">{{obj.matricPercent}}</p>
        </div>
        <div class="column3">
          <span class="yop">Stream</span>
          <p *ngIf="!obj.matricpassing">----------</p>
          <p class="yop" *ngIf="obj.matricpassing">{{obj.matricpassing}}</p>
        </div>
      </div>
      <hr>
      <div class="cnt-btn">
        <button class="view" (click)="showMoredata()" *ngIf="showbutton">View More<i
            class="fa-solid fa-angle-down"></i></button>
      </div>
      <div class="cnt-btn">
        <button class="hide" (click)="hidedata()" *ngIf="viewless">View less<i
            class="fa-solid fa-angle-up"></i></button>
      </div>
    </div> -->


    <div class="card6" *ngIf="personaldetail">
      <div class="details">
        <h3>Education</h3>
      </div>
      <!-- <div class="row1" *ngIf="!showAllData1">
        <div class="column1">
          <span class="orgname">School/College</span>
          <p class="orgname">{{obj.educationItems[0]?.college || '--------'}}</p>
          <span class="designation">Passing Year</span>
          <p class="designation">{{obj.educationItems[0]?.passing || '--------'}}</p>
        </div>
        <div class="column2">
          <span class="location2">Percentage/Cgpa</span>
          <p class="location2">{{obj.educationItems[0]?.cgpa || '--------'}}</p>
        </div>
        <div class="column3">
          <span class="duration2">Stream</span>
          <p class="duration2">{{obj.educationItems[0]?.stream || '--------'}}</p>
        </div>
      </div> -->
      <div class="row1" *ngIf="!showAllData1 ">
        <div class="column1">
          <span class="orgname">School/College</span>
          <p class="orgname">{{obj?.educationItems?.length>0 ? obj?.educationItems[0]?.college :'--------' }}</p>
          <span class="designation">Passing Year</span>
          <p class="designation">{{obj?.educationItems?.length>0 ? obj?.educationItems[0]?.passing : '--------'}}</p>
        </div>
        <div class="column2">
          <span class="location2">Percentage/Cgpa</span>
          <p class="location2">{{obj?.educationItems?.length>0 ? obj?.educationItems[0]?.cgpa : '--------'}}</p>
        </div>
        <div class="column3">
          <span class="duration2">Stream</span>
          <p class="duration2">{{obj?.educationItems?.length>0 ? obj?.educationItems[0]?.stream : '--------'}}</p>
        </div>
      </div>
      <div *ngFor="let item of obj.educationItems; let i=index">
        <div class="row1" *ngIf="showAllData1">
          <div class="column1">
            <span class="orgname">School/College</span>
            <p class="orgname">{{item.college || '--------'}}</p>
            <span class="designation">Passing Year</span>
            <p class="designation">{{item.passing || '--------'}}</p>
          </div>
          <div class="column2">
            <span class="location2">Percentage/Cgpa</span>
            <p class="location2">{{item.cgpa || '--------'}}</p>
          </div>
          <div class="column3">
            <span class="duration2">Stream</span>
            <p class="duration2">{{item.stream || '--------'}}</p>
          </div>
        </div>
      </div>
      <div class="cnt-btn">
        <button class="view" (click)="showMoredata1()" *ngIf="showbutton1">View More<i
            class="fa-solid fa-angle-down"></i></button>
        <button class="hide" (click)="hidedata1()" *ngIf="!showbutton1 && showAllData1">View less<i
            class="fa-solid fa-angle-up"></i></button>
      </div>
    </div>
    <!-- ---------------------------------------EXPERIENCE ----------------------------------------------->
    <div class="card7" *ngIf="personaldetail">
      <div class="details">
        <h3>Experience</h3>
      </div>
      <div class="row1" *ngIf="!showAllData">
        <div class="column1">
          <span class="orgname">Company/Organisation Name</span>
          <p class="orgname">{{obj.experienceItems[0]?.expcompany || '--------'}}</p>
          <span class="location2">Location</span>
          <p class="orgname">{{obj.experienceItems[0]?.explocation || '--------'}}</p>
        </div>
        <div class="column2">
          <span class="duration2">Duration</span>
          <p class="orgname">{{obj.experienceItems[0]?.expduration || '--------'}}</p>
        </div>
        <div class="column3">
          <span class="designation">Designation</span>
          <p class="orgname">{{obj.experienceItems[0]?.expdesignation || '--------'}}</p>
        </div>
      </div>

      <div *ngFor="let item of obj.experienceItems; let i=index">
        <div class="row1" *ngIf="showAllData">
          <div class="column1">
            <span class="orgname">Company/Organisation Name</span>
            <p class="orgname">{{item.expcompany || '--------'}}</p>
            <span class="location2">Location</span>
            <p class="location2">{{item.explocation || '--------'}}</p>
          </div>
          <div class="column2">
            <span class="duration2">Duration</span>
            <p class="duration2">{{item.expduration || '--------'}}</p>
          </div>
          <div class="column3">
            <span class="designation">Designation</span>
            <p class="designation">{{item.expdesignation || '--------'}}</p>
          </div>
        </div>
      </div>
      <div class="cnt-btn">
        <button class="view" (click)="showMoredata()" *ngIf="showbutton">View More<i
            class="fa-solid fa-angle-down"></i></button>
        <button class="hide" (click)="hidedata()" *ngIf="!showbutton && showAllData">View less<i
            class="fa-solid fa-angle-up"></i></button>
      </div>

    </div>
    <!-- ---------------------------------------******************** ----------------------------------------------->

    <div class="card8" *ngIf="jobdetail">
      <div class="details">
        <h3>Work Details</h3>
        <!-- <button class="edit1" (click)="openModal5()">Edit <i class="fa-solid fa-pencil"></i></button> -->
      </div>
      <div class="row1">
        <div class="column1">
          <span class="designation2">Designation</span>
          <p *ngIf="!obj.designation">----------</p>
          <p class="designation2" *ngIf="obj.designation">{{obj.designation}}</p>
          <span class="location3">Location</span>
          <p *ngIf="!obj.location">----------</p>
          <p class="location3" *ngIf="obj.location">{{obj.location}}</p>
          <span class="pemail">Professional Email</span>
          <p *ngIf="!obj.professionalemail">----------</p>
          <p class="pemail" *ngIf="obj.professionalemail">{{obj.professionalemail}}</p>
        </div>
        <div class="column2">
          <span class="estatus">Job Type</span>
          <p *ngIf="!obj.job_type">----------</p>
          <p class="estatus" *ngIf="obj.job_type">{{obj.job_type}}</p>
          <span class="timings">Timings</span>
          <p *ngIf="!obj.timing">----------</p>
          <p class="timings" *ngIf="obj.timing">{{obj.timing}}</p>
        </div>
        <div class="column3">
          <span class="jdate">Joining Date</span>
          <p *ngIf="!obj.dateOfJoining">----------</p>
          <p class="jdate" *ngIf="obj.dateOfJoining">{{obj.dateOfJoining | date:"shortDate"}}</p>
          <span class="ctc">CTC</span>
          <p *ngIf="!obj.ctc">----------</p>
          <p class="ctc" *ngIf="obj.ctc">{{obj.ctc}}</p>
        </div>
      </div>
    </div>
    <div class="company-name-headoffice-desc" *ngIf="isPasswordManagement">
      <div class="company-name-headoffice-desc-area">
        <form [formGroup]="passwordform" (ngSubmit)="newpassword(passwordform.value)" action="submit">
          <div class="old-new-confirm-password">
            <label for="">Old Password</label>
            <input type="password" placeholder="Type your old password" class="form-control password" required
              (blur)="matchpwdEmployee()" formControlName="oldpassword"
              [ngClass]="{'ng_invalid':isPasswordmatched || (passwordform.controls.oldpassword.invalid && passwordform.controls.oldpassword.dirty),'ng_valid': !isPasswordmatched && passwordform.controls.oldpassword.valid}">
              <span class="password-toggle" (click)="togglePasswordVisibility(passwordInput)">
                <i class="fa {{ showPasswordIcon }}"></i>
              </span>
          </div>


          <span class="validation-message" *ngIf="isPasswordmatched"><i class="fa-solid fa-circle-exclamation"></i>
            Your old password was entered incorrectly
          </span>



          <div class="new-reenter">
            <div class="old-new-confirm-password">
              <label for="">New Password</label>
              <input type="{{ is_visible ? 'text' : 'password' }}" [(ngModel)]="password" (input)="checkPassword()"
                placeholder="Type a new password" formControlName="password" class="password" id="form-control" required
                (keyup)="checkConfirmPassword()"
                [ngClass]="{'ng_invalid':passwordform.controls.password.invalid && passwordform.controls.password.dirty,'ng_valid':passwordform.controls.password.valid}">

              <div class="tooltip">
                <img src="assets/images/valid_error.png" alt="">
                <span class="on-hover">
                  <ul>
                    <li class="list" [ngClass]="{'ng_valid':password.valid,'ng_invalid':password.invalid}"
                      [style.color]="capitalCheck ? 'green' : 'red'" [style.color]="capitalCheck ? 'green' : 'red'">
                      Uppercase Character
                    </li>
                    <li class="list" [ngClass]="{'ng_valid':password.valid,'ng_invalid':password.invalid}"
                      [style.color]="specialCharCheck ? 'green' : 'red'"
                      [style.color]="specialCharCheck ? 'green' : 'red'">Special
                      Character</li>
                    <li class="list" [ngClass]="{'ng_valid':password.valid,'ng_invalid':password.invalid}"
                      [style.color]="smallCheck ? 'green' : 'red'" [style.color]="smallCheck ? 'green' : 'red'">
                      Lowercase
                      Character</li>
                    <li class="list" [ngClass]="{'ng_valid':password.valid,'ng_invalid':password.invalid}"
                      [style.color]="numericalCheck ? 'green' : 'red'" [style.color]="numericalCheck ? 'green' : 'red'">
                      Numerical character.</li>
                    <!-- <li class="list" [ngClass]="{'ng_valid':password.valid,'ng_invalid':password.invalid}" [style.color]="lengthCheck ? 'green' : 'red'"
                    [style.color]="lengthCheck ? 'green' : 'red'">Minimum 8
                      Character</li> -->
                  </ul>
                </span>

              </div>
            </div>
            <span class="validation-message" *ngIf=""><i class="fa-solid fa-circle-exclamation"></i>
              New Password cannot be same as old password
            </span>
          </div>
          <div class="new-reenter">
            <div class="old-new-confirm-password">
              <label for="">Confirm Password</label>
              <input type="password" placeholder="Re-enter your password" formControlName="confirm"
                class="form-control password" (keyup)="checkConfirmPassword()" required
                [ngClass]="{'ng_invalid':passwordform.controls.confirm.invalid && passwordform.controls.confirm.dirty,'ng_valid':passwordform.controls.confirm.valid}">
            <span class="password-toggle" (click)="togglePasswordVisibility(passwordInput)">
              <i class="fa {{ showPasswordIcon }}"></i>
            </span>
            </div>
            <span class="validation-message" *ngIf="isConfirmPasswordInvalid"><i
                class="fa-solid fa-circle-exclamation"></i>Password
              doesn't match</span>
          </div>

          <div class="clear-update-button">
            <button class="clear-btn" (click)="clearSearch()">Clear</button>
            <button class="update-btn" type="submit" (click)="openModal3()"
              [disabled]="passwordform.controls['oldpassword' || 'password' || 'confirm'].invalid">{{loader?'Updating...':'Update
              Password'}}</button>

          </div>
        </form>

      </div>
    </div>

  </div>
  <div class="modal" *ngIf="showModal">
    <div class="modal-content" *ngIf="modalContent1">
      <div class="modal-header">
        <h4 class="modal-title">Update Personal Details</h4>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
      </div>
      <div class="modal-body">
        <form class="form-container" id="form1" [formGroup]="empform1">
          <div class="form-row">
            <div class="input">
              <label>Name</label>
              <input type="text" id="name" placeholder="Ashish" formControlName="name" [disabled]="true" readonly>
            </div>
            <div class="input">
              <label>Employee ID</label>
              <input type="number" placeholder="28563" class="employe-id no-spin" formControlName="uid"
                [disabled]="true" readonly>
            </div>
            <div class="input">
              <label>Date of birth</label>
              <input type="date" placeholder="06/04/1997" formControlName="dateOfBirth">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>Father's Name</label>
              <input type="text" placeholder="Rahul Sharma" formControlName="fatherName" class="text"
                [ngClass]="{'ng_invalid': empform1.controls.fatherName.invalid && empform1.controls.fatherName.dirty,'ng_valid': empform1.controls.fatherName.valid}">
            </div>
            <div class="input">
              <label>Mother's Name</label>
              <input type="text" placeholder="Vinita Sharma" formControlName="motherName" class="text"
                [ngClass]="{'ng_invalid': empform1.controls.motherName.invalid && empform1.controls.motherName.dirty,'ng_valid': empform1.controls.motherName.valid}">
            </div>
            <div class="input">
              <label>Marital Status</label>
              <div class="dropdown_container" (mouseleave)="contentdropdown3 = false">
                <div class="dropdwon_select" (click)="dropdownOpen3()" id="slt2">
                  <!-- <p>{{Selectvariable3}}</p> -->
                  <input type="text" [(ngModel)]="Selectvariable3" placeholder="Select" formControlName="maritalStatus"
                    id="text8" readonly>

                  <span><i class="fa-sharp fa-solid fa-caret-down"></i></span>
                </div>
                <div class="select_content1 content3" *ngIf="contentdropdown3" (mouseleave)="dropdownClose3()">
                  <ul>
                    <li *ngFor="let arr3 of array3; index as i" [class.select_active]="i === colorvariable3"
                      (click)="Changeselect3(arr3)">
                      {{arr3.name}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>Blood Group</label>
              <div class="dropdown_container">
                <div class="dropdwon_select" (click)="dropdownOpen4()" id="slt1">
                  <!-- <p>{{Selectvariable4}}</p> -->
                  <input type="text" [(ngModel)]="Selectvariable4" placeholder="Select" formControlName="bloodGroup"
                    id="text9" readonly>
                  <span><i class="fa-sharp fa-solid fa-caret-down"></i></span>
                </div>
                <div class="select_content1" *ngIf="contentdropdown4" (mouseleave)="dropdownClose4()">
                  <ul>
                    <li *ngFor="let arr4 of array4; index as i" [class.select_active]="i === colorvariable4"
                      (click)="Changeselect4(arr4)">
                      {{arr4.name}}</li>
                  </ul>ss
                </div>
              </div>
            </div>
            <div class="input">
              <label>Gender</label>
              <div class="dropdown_container" (mouseleave)="contentdropdown1 = false">
                <div class="dropdwon_select" (click)="dropdownOpen1()" id="slt1">
                  <!-- <p>{{Selectvariable1}}</p> -->
                  <input type="text" [(ngModel)]="Selectvariable1" placeholder="Select" formControlName="gender"
                    id="text10" readonly>
                  <span><i class="fa-sharp fa-solid fa-caret-down"></i></span>
                </div>
                <div class="select_content1" *ngIf="contentdropdown1" (mouseleave)="dropdownClose1()">
                  <ul>
                    <li *ngFor="let arr1 of array1; index as i" [class.select_active]="i === colorvariable1"
                      (click)="Changeselect1(arr1)">
                      {{arr1.name}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="input">
              <label>Nationality</label>
              <input type="text" placeholder="Indian" formControlName="nationality"
              class="text"
                [ngClass]="{'ng_invalid': empform1.controls.nationality.invalid && empform1.controls.nationality.dirty,'ng_valid': empform1.controls.nationality.valid}">
            </div>
          </div>
          <!-- <div class="modal-footer">
                <button class="save">Update</button>basicUpdate(empform1.value)
              </div> -->
        </form>
      </div>
      <div class="modal-footer">
        <button class="save" (click)="basicUpdate(empform1.value)"
          [disabled]="empform1.controls.fatherName.invalid || empform1.controls.motherName.invalid || empform1.controls.nationality.invalid || empform1.controls.name.invalid">{{loader?'Updating...':'Update'}}</button>
      </div>
    </div>
    <div class="modal-content" *ngIf="modalContent4">
      <div class="modal-header">
        <h4 class="modal-title">Update Contact Details</h4>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
      </div>
      <div class="modal-body">
        <form class="form-container" id="form2" [formGroup]="empform2">
          <div class="form-row">
            <div class="input">
              <label>Contact No.</label>
              <input type="number" placeholder="9836327872" formControlName="mobile" class="text no-spin"
                [ngClass]="{'ng_invalid': empform2.controls.mobile.invalid && empform2.controls.mobile.dirty,'ng_valid': empform2.controls.mobile.valid}">
            </div>
            <div class="input">
              <label>Address</label>
              <input type="text" placeholder="129-B, Model Town" formControlName="address">
            </div>
            <div class="input">
              <label>Email</label>
              <input type="text" placeholder="harshit123@gmail.com" formControlName="email" id="email" [disabled]="true"
                readonly>
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>City</label>
              <input type="text" placeholder="Ludhiana" formControlName="city" class="text"
                [ngClass]="{'ng_invalid': empform2.controls.city.invalid && empform2.controls.city.dirty,'ng_valid': empform2.controls.city.valid}">
            </div>
            <div class="input">
              <label>Postal Code</label>
              <input type="number" placeholder="141002" formControlName="postalCode" class="text no-spin"
                [ngClass]="{'ng_invalid': empform2.controls.postalCode.invalid && empform2.controls.postalCode.dirty,'ng_valid': empform2.controls.postalCode.valid}">
            </div>
            <div class="input">
              <label>State</label>
              <input type="text" placeholder="Punjab" formControlName="state" class="text"
                [ngClass]="{'ng_invalid': empform2.controls.state.invalid && empform2.controls.state.dirty,'ng_valid': empform2.controls.state.valid}">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="save" (click)="closeModal3(empform2.value)"
          [disabled]="empform2.controls.state.invalid || empform2.controls.city.invalid || empform2.controls.postalCode.invalid || empform2.controls.mobile.invalid || empform2.controls.email.invalid">{{loader?'Updating...':'Update'}}</button>
      </div>
    </div>
    <div class="modal-content" *ngIf="modalContent5">
      <div class="modal-header">
        <h4 class="modal-title">Edit Personal Particulars</h4>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
      </div>
      <div class="modal-body">
        <form class="form-container" id="form3" [formGroup]="empform3">
          <div class="form-row">
            <div class="input">
              <label>Bank Name</label>
              <div class="dropdown_container" (mouseleave)="contentdropdown2 = false">
                <div class="dropdwon_select" (click)="dropdownOpen2()" id="slt2">
                  <!-- <p>{{Selectvariable2}}</p> -->
                  <input type="text" [(ngModel)]="Selectvariable2" placeholder="Select" formControlName="bankname"
                    id="text11" readonly>

                  <span><i class="fa-sharp fa-solid fa-caret-down"></i></span>
                </div>
                <div class="select_content1 content3" *ngIf="contentdropdown2" (mouseleave)="dropdownClose2()">
                  <ul>
                    <li *ngFor="let arr2 of array2; index as i" [class.select_active]="i === colorvariable2"
                      (click)="Changeselect2(arr2)">
                      {{arr2.name}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="input bank" *ngIf="Selectvariable2=== 'Others'">
              <label>Other Bank Name</label>
              <input type="text" placeholder="Specify Bank Name" formControlName="bankname">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>Bank Account No.</label>
              <input type="number" placeholder="6412365874125425" class="no-spin text" formControlName="accountno"
              [ngClass]="{'ng_invalid': empform3.controls.accountno.invalid && empform3.controls.accountno.dirty,'ng_valid': empform3.controls.accountno.valid}">
            </div>
            <div class="input">
              <label>IFSC Code</label>
              <input type="text" placeholder="PUNB0125412" formControlName="ifsc" class="text"
                [ngClass]="{'ng_invalid': empform3.controls.ifsc.invalid && empform3.controls.ifsc.dirty,'ng_valid': empform3.controls.ifsc.valid}">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>Adhaar Card Number</label>
              <input type="text" placeholder="4512 3200 7456" formControlName="adhaarno" class="text"
                [ngClass]="{'ng_invalid': empform3.controls.adhaarno.invalid && empform3.controls.adhaarno.dirty,'ng_valid': empform3.controls.adhaarno.valid}">
            </div>
            <div class="input">
              <label>PAN Number</label>
              <input type="text" placeholder="ABCTY1234D" formControlName="panno" class="text"
                [ngClass]="{'ng_invalid': empform3.controls.panno.invalid && empform3.controls.panno.dirty,'ng_valid': empform3.controls.panno.valid}">
            </div>
            <div class="input">
              <label>Passport Number</label>
              <input type="text" placeholder="M5425189" formControlName="passport" class="text"
                [ngClass]="{'ng_invalid': empform3.controls.passport.invalid && empform3.controls.passport.dirty,'ng_valid': empform3.controls.passport.valid}">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="save" (click)="closeModal4(empform3.value)"
          [disabled]="empform3.controls.passport.invalid || empform3.controls.ifsc.invalid || empform3.controls.panno.invalid || empform3.controls.accountno.invalid || empform3.controls.adhaarno.invalid">{{loader?'Updating...':'Update'}}</button>
      </div>
    </div>
    <div class="modal-content2" *ngIf="modalContent2">
      <div class="modal-header">
        <h4 class="modal-title">Update Job Details</h4>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
      </div>
      <div class="modal-body2">
        <form class="form-container" id="form6" [formGroup]="empform6">

          <div class="form-row">
            <div class="input">
              <label>Designation</label>
              <div class="dropdown_container" (mouseleave)="contentdropdown = false">
                <div class="dropdwon_select" (click)="dropdownOpen()">
                  <p>{{Selectvariable}}</p>
                  <i class="fa-sharp fa-solid fa-caret-down"></i>
                </div>
                <div class="select_content" *ngIf="contentdropdown" (mouseleave)="dropdownClose()">
                  <ul>
                    <li *ngFor="let arr of array; index as i" [class.select_active]="i === colorvariable"
                      (click)="Changeselect(arr)">
                      {{arr.name}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="input">
              <label>Job Type</label>
              <!-- <input type="text" placeholder="Full- Time Permanent" formControlName="jobempstatus"> -->
              <!-- <input type="text" placeholder="Full- Time Permanent" formControlName="estatus"> -->
              <div class="dropdown_container" (mouseleave)="contentdropdown8 = false">
                <div class="dropdwon_select" (click)="dropdownOpen8()">
                  <p>{{Selectvariable8}}</p>
                  <i class="fa-sharp fa-solid fa-caret-down"></i>
                </div>
                <div class="select_content" *ngIf="contentdropdown8" (mouseleave)="dropdownClose8()">
                  <ul>
                    <li *ngFor="let arr8 of array8; index as i" [class.select_active]="i === colorvariable8"
                      (click)="Changeselect8(arr8)">
                      {{arr8.name}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="input">
              <label>Joining Date</label>
              <input type="date" placeholder="1 April,2023" formControlName="joiningdate">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>Location</label>
              <input type="text" placeholder="Pune, India" formControlName="joblocation1">
            </div>
            <div class="input">
              <label>Timings</label>
              <div class="dropdown_container" (mouseleave)="contentdropdown5 = false">
                <div class="dropdwon_select" (click)="dropdownOpen5()">
                  <p>{{Selectvariable5}}</p>
                  <i class="fa-sharp fa-solid fa-caret-down"></i>
                </div>
                <div class="select_content" *ngIf="contentdropdown5" (mouseleave)="dropdownClose5()">
                  <ul>
                    <li *ngFor="let arr5 of array5; index as i" [class.select_active]="i === colorvariable5"
                      (click)="Changeselect5(arr5)">
                      {{arr5.name}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="input">
              <label>CTC</label>
              <input type="text" placeholder="8LPA" formControlName="jobctc">
            </div>
          </div>
          <div class="form-row">
            <div class="input">
              <label>Professional Email</label>
              <input type="email" placeholder="zonah123@gmail.com" formControlName="profemail">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="save" (click)="closeModal2()">Update</button>
      </div>
    </div>
    <div class="modal-content3" *ngIf="success">
      <div class="modal-header2">
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
        <img src="assets/images/tick.png" alt="image">
      </div>
      <div class="modal-body3">
        <h3>Successful</h3>
        <p>Employee details updated successfully</p>
        <button class="done-btn2" (click)="closeModal()">Done</button>
      </div>
    </div>
    <form class="leave_approved_form" *ngIf="showModal3">
      <div class="leave_approved_modal">
        <i class="fa-solid fa-xmark" (click)="closeModal8()"></i>
        <div class="logo_bg">
          <img src="assets/images/tick.png" alt="image">
        </div>
        <h4>Password Changed Successfully!</h4>
        <p>Your password has been updated.</p>
        <div class="Done_form_btn">
          <button class="Done_btn" (click)="closeModal8()">Done</button>
        </div>
      </div>
    </form>

  </div>
</div>
