.main {
  width: calc(100% - 223px);
  background: #f9f9f9;
  margin-left: 223px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  min-height: 100%;

}

.card {
  margin-top: 70px;
  padding-top: 20px;
  padding-left: 33px;
  border: 1px solid transparent;
  background-color: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.1);
  padding-right: 33px;
}

.card1 {
  display: flex;
  gap: 12px;
  border-bottom: 1px solid #F0F0F0;
}

.card1 img {
  border-radius: 50%;
  background-color: #F7F7FB;
  width: 24px;
  height: 24px;
  padding: 5px;
  cursor: pointer;
}

.card1 h2 {
  font-weight: 500;
  font-size: 21px;
  line-height: 100%;
  color: #000000;
  margin-bottom: 15px;
}

.fa-pencil {
  color: #b4b4b4;
  font-size: 11px;
}

.card2 {
  display: flex;
  gap: 20px;
  flex-direction: row;
  margin-top: 20px;
  border: 1px solid #F0F0F0;
  padding: 20px 30px;
  border-radius: 8px;
  margin-bottom: 30px;
  align-items: center;
}

.card2 .profile_pic {
  position: relative;
  cursor: pointer;
  width: 105px;
  height: 105px;
  border-radius: 50%;
}

.card2 .profile_pic img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.profile-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10px;
  color: #666666;
  font-weight: 600;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* .profile-content img{
  color: #666666;
  height: 10px;
  width: 10px;
} */
.profile-content1 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10px;
  color: #ffffff;
  font-weight: 600;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
}


.profile-content input[type='file'] {
  opacity: 0;
  /* z-index: -1; */
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.profile-content1 input[type='file'] {
  opacity: 0;
  /* z-index: -1; */
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1
}

.fa-camera {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-content h2 {
  padding-left: 5px;
}

.card2 .profile_pic:hover {
  opacity: 0.4;
  cursor: pointer;
}

.card2 .profile_pic:hover .profile-content {
  display: flex;
}

.profile-content1 h2 {
  padding-left: 5px;
}

.fa-arrow-up {
  font-size: 12px;
  font-weight: bold;
}

.card2 .profile_pic:hover .profile-content1 {
  display: flex;
}

.card2 .content {
  display: flex;
  flex-direction: column;
}

.card2 .content h3 {
  font-weight: 400;
  font-size: 20px;
  color: #444444;
}

.card2 .content p {
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}

.card2 .content span {
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}

.fa-location-dot {
  color: #b4b4b4;
  cursor: pointer;
  padding-right: 3px;
}
.cnt-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.view {
  padding: 5px;
  background-color: transparent;
  border: 1px solid transparent;
  color: #2F2C9F;
  cursor: pointer;
  outline: none;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.hide {
  padding: 5px;
  background-color: transparent;
  border: 1px solid transparent;
  color: #2F2C9F;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}


.fa-angle-down {
  color: #2F2C9F;
  padding-left: 3px;
  padding-top: 25px;
  font-size: 12px;
}

.fa-angle-up {
  color: #2F2C9F;
  padding-left: 3px;
  padding-top: 25px;
  font-size: 12px;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.edit1 {
  position: absolute;
  right: 8%;
  display: none;
  padding: 6px 14px;
  font-weight: 400;
  font-size: 12px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  gap: 10px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 22px;
  cursor: pointer;
  color: #333333;
  margin-bottom: 15px;
  margin-right: -20px;
}

.fa-pencil {
  padding-left: 6px;
}

.card3:hover .edit1 {
  display: block;
}

.card4:hover .edit1 {
  display: block;
}

.card5:hover .edit1 {
  display: block;
}

.card6:hover .edit1 {
  display: block;
}

.card7:hover .edit1 {
  display: block;
}

.card8:hover .edit1 {
  display: block;
}

.edit1:hover {
  background: #F7F7FB;
  border: 1px solid #E0E0E0;
}
.content1 {
  display: flex;
  gap: 75px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 20px;
  cursor: pointer;
}

.content1 li a {
  font-weight: 400;
  font-size: 14px;
  color: #222222;
  cursor: pointer;
}

.content1 li {
  cursor: pointer;
  padding-bottom: 10px;
  padding-left: 20px;

}

.content1 li.active {
  border-bottom: 2px solid #2F2C9F;
  width: 12%;
}

.content1 #job.active {
  width: 10%;
  padding-left: 25px;
}
.content1 #Password.active {
  width: 16%;
  padding-left: 25px;
}

.content1 li.active a {
  font-weight: 500;
  color: #2F2C9F;
}

.card3 {
  padding: 25px 50px;
  border: 1px solid rgba(47, 44, 159, 0.15);
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card3 h3 {
  font-weight: 500;
  font-size: 16px;
  color: #444444;
  margin-bottom: 17px;
}

.row1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.column1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 33.3%;
  max-width: 362px;
}

.column2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 33.3%;
  max-width: 362px;

}

.column3 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 33.3%;
  max-width: 362px;
}

.row1 span {
  font-weight: 400;
  font-size: 13px;
  color: #444444;
  margin-bottom: 5px;
}

.row1 .column1 p {
  font-weight: 400;
  font-size: 15px;
  color: #777777;
  margin-bottom: 20px;
}

.row1 .column2 p {
  font-weight: 400;
  font-size: 15px;
  color: #777777;
  margin-bottom: 20px;
}

.row1 .column3 p {
  font-weight: 400;
  font-size: 15px;
  color: #777777;
  margin-bottom: 20px;
}

.card4 {
  padding: 23px 50px;
  border: 1px solid rgba(47, 44, 159, 0.15);
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 20px;

}

.card4 h3 {
  font-weight: 500;
  font-size: 16px;
  color: #444444;
  margin-bottom: 17px;
}

.card5 {
  padding: 23px 50px;
  border: 1px solid rgba(47, 44, 159, 0.15);
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card5 h3 {
  font-weight: 500;
  font-size: 16px;
  color: #444444;
  margin-bottom: 17px;
}

.card6 {
  padding: 23px 50px;
  border: 1px solid rgba(47, 44, 159, 0.15);
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card6 h3 {
  font-weight: 500;
  font-size: 16px;
  color: #444444;
  margin-bottom: 17px;
}
.card6 hr {
  margin-bottom: 10px;
  opacity: 0.4;
}
.card7 {
  padding: 23px 50px;
  border: 1px solid rgba(47, 44, 159, 0.15);
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card7 h3 {
  font-weight: 500;
  font-size: 16px;
  color: #444444;
  margin-bottom: 17px;
}

.card7 hr {
  margin-bottom: 25px;
}

.card8 {
  padding: 23px 50px;
  border: 1px solid rgba(47, 44, 159, 0.15);
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card8 h3 {
  font-weight: 500;
  font-size: 16px;
  color: #444444;
  margin-bottom: 17px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  z-index: 9999;
  align-items: center;
}

.modal-content input:hover,
.modal-content input:focus {
  border: 1px solid #2F2C9F;
  border-radius: 8px;
  border-color: #2F2C9F;
}

.modal-content {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  max-width: 986px;
  border-radius: 8px;
  /* margin-top: 30px; */

  /* margin-bottom: 40px; */
}

.modal-header {
  background-color: #F7F7FB;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px 8px 0px 0px;
  align-items: center;
  padding: 22px 0;
  width: 100%;
  max-width: 986px;
  height: 69px;
}

.modal-title {
  font-weight: 400;
  font-size: 18px;
  color: #444444;
}

.fa-xmark {
  position: absolute;
  top: -3%;
  right: -3%;
  cursor: pointer;
  color: #ECECEC;
  font-size: 20px;
}

.modal-body {
  /* padding: 30px; */
  padding: 15px 30px;
}

#form1 {
  margin-top: 30px;
  margin-bottom: 25px;
  padding-left: 8px;
}

#form2 {
  margin-top: 30px;
  margin-bottom: 25px;
  padding-left: 8px;
}

#form3 {
  margin-top: 30px;
  margin-bottom: 25px;
  padding-left: 8px;
}

#form4 {
  margin-top: 30px;
  margin-bottom: 25px;
  padding-left: 8px;
}

#form5 {
  margin-top: 30px;
  margin-bottom: 25px;
  padding-left: 8px;
}

#form6 {
  margin-top: 30px;
  margin-bottom: 25px;
  padding-left: 8px;
}

hr {
  margin-bottom: 15px;
  color: #E0E0E0;
  opacity: 0.2;
}

.form-row {
  display: flex;
  gap: 50px;
}

.input {
  display: flex;
  flex-direction: column;
}

.form-row .input input:hover,
.form-row .input input:focus {
  border: 1px solid #2F2C9F;
  border-radius: 8px;

}

label {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333333;
}

input[type='text'] {
  width: 270px;
  font-family: 'Outfit', sans-serif;
  height: 40px;
  padding-left: 17px;
  background-color: #FFFFFF;
  border: 1px solid #CBCBCB;
  border-radius: 8px;
  outline: none;
  margin-bottom: 40px;
}

input[type='email'] {
  width: 270px;
  font-family: 'Outfit', sans-serif;
  height: 40px;
  padding-left: 17px;
  background-color: #FFFFFF;
  border: 1px solid #CBCBCB;
  border-radius: 8px;
  outline: none;
  /* margin-bottom: 20px; */
}

input[type='number'] {
  width: 270px;
  font-family: 'Outfit', sans-serif;
  height: 40px;
  padding-left: 17px;
  background-color: #FFFFFF;
  border: 1px solid #CBCBCB;
  border-radius: 8px;
  outline: none;
  margin-bottom: 40px;
}

input[type='date'] {
  width: 270px;
  font-family: 'Outfit', sans-serif;
  height: 40px;
  padding-left: 17px;
  padding-right: 15px;
  background-color: #FFFFFF;
  border: 1px solid #CBCBCB;
  border-radius: 8px;
  outline: none;
  margin-bottom: 40px;
  cursor: pointer;
}

.employe-id {
  cursor: not-allowed;
  background-color: #f1f1f1 !important;
  border: 1px solid #F1f1f1;
}

#select {
  width: 270px;
  font-family: 'Outfit', sans-serif;
  height: 40px;
  padding-left: 17px;
  background-color: #FFFFFF;
  border: 1px solid #CBCBCB;
  border-radius: 8px;
  outline: none;
  margin-bottom: 40px;
}

.select {
  width: 270px;
  height: 40px;
  padding: 10px 42px 10px 17px;
  background-color: #FFFFFF;
  border: 1px solid #CBCBCB;
  border-radius: 8px;
  outline: none;
  margin-bottom: 30px;
}

/* #form5{
  padding-bottom: 30px;
} */
.modal-footer {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F7F7FB;
  border-radius: 0px 0px 8px 8px;
  gap: 10px;
  /* position: fixed; */
}

/* .cancel{
  padding: 13px 26px;
  width: 140px;
  background-color: #F7F7FB;
  border: 1px solid #2F2C9F;
  border-radius: 8px;
  color: #2F2C9F;
  font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
} */
.save {
  padding: 10px 25px;
  background-color: #2F2C9F;
  border: 1px solid #2F2C9F;
  background: #2F2C9F;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}

.save:hover {
  background-color: #2F2C9F;
  opacity: 0.7;
}

.cancel:hover {
  background: #efeff8;
}

.modal-content2 {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  height: 433px;
  margin-top: 30px;
  max-width: 986px;
  border-radius: 8px;
}

.modal-body2 {
  padding: 15px 30px;
}

.modal-content3 {
  margin-top: 150px;
  width: 430px;
  height: 336px;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 20px 20px;
}

.modal-header2 {
  width: 390px;
  height: 150px;
  background: rgba(123, 211, 109, 0.3);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.modal-body3 h3 {
  padding-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #444444;
  font-family: 'Outfit', sans-serif;
}

.modal-body3 p {
  margin-top: 16px;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-right: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: #666666;
  font-family: 'Outfit', sans-serif;
}

.done-btn2 {
  width: 82px;
  height: 38px;
  background: #3D9130;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  border: 1px solid #3D9130;
  cursor: pointer;
  font-family: 'Outfit', sans-serif;
}

.done-btn2:hover {
  background-color: #3D9130;
  opacity: 0.7;
}

.btn3 {
  display: flex;
  width: 162px;
  height: 44px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 8px;
  border: 1px solid transparent;
  color: #2F2C9F;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  outline: none;
  cursor: pointer;
  font-family: 'Outfit', sans-serif;
  margin-left: -20px;
}

#slt1 {
  width: 270px;
  height: 40px;
  box-shadow: none;
  background: #FFFFFF;
  border: 1px solid rgba(180, 180, 180, 0.8);
  border-radius: 8px;
  color: black;
  padding-left: 15px;
}

#slt2 {
  width: 270px;
  height: 40px;
  box-shadow: none;
  background: #FFFFFF;
  border: 1px solid rgba(180, 180, 180, 0.8);
  border-radius: 8px;
  color: black;
  padding-left: 15px;
  margin-bottom: 40px;
}

input[type='number']:hover {
  border: 1px solid #2F2C9F !important;
}

.name1 img {
  border-radius: 50%;
}

.select_content1::-webkit-scrollbar {
  width: 10px;
  height: 2px;
}

.select_content1::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Handle */
.select_content1::-webkit-scrollbar-thumb {
  background: #888;
}

.select_content1 {
  background-color: #fff;
  cursor: pointer;
  width: 260px;
  max-height: 250px;
  overflow-y: auto;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  color: #444444;
  box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.4);
}

.select_content1 ul {
  padding: 0;
  margin: 0;
}

.select_content1 ul li {
  list-style: none;
  padding: 10px 10px;
  margin-top: 5px;
  font-size: 14px;
}

.select_content1 ul li:hover {
  background-color: #ECECEC;
  border-radius: 8px;
}

.select_active {
  background-color: #ECECEC;
  border-radius: 8px;

}

.option .option-text {
  font-size: 14px;
  color: #333;
  padding-left: 10px;
}

.dropdwon_select {
  background-color: #fff;
  width: 270px;
  height: 40px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid rgba(180, 180, 180, 0.8);
  color: #444444;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.dropdwon_select:hover,
.dropdwon_select:focus {
  border: 1px solid #2F2C9F;
  border-radius: 8px;
}

.input .dropdwon_select:hover,
.input .dropdwon_select:focus {
  border: 1px solid #2F2C9F !important;
  border-radius: 8px !important;
}

.dropdwon_select p {
  font-size: 14px;
  font-weight: 400;
}

.dropdwon_select i {
  font-size: 14px;
  color: #444444;
  padding: 3px 7px;
}

.select_content {
  background-color: #fff;
  cursor: pointer;
  width: 260px;
  box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  padding: 10px;
  position: absolute;
  color: #444444;
}

.select_content ul {
  padding: 0;
  margin: 0;
}

.select_content ul li {
  list-style: none;
  padding: 10px 10px;
  margin-top: 5px;
  font-size: 14px;
}

.select_content ul li:hover {
  background-color: #ECECEC;
  border-radius: 8px;
}

.select_active {
  background-color: #ECECEC;
  border-radius: 8px;
}

.old-new-confirm-password label {
  display: inline-block;
  text-align: left;
  width: 200px;
  min-height: 20px;
}

.old-new-confirm-password input {
  width: 300px;
  min-height: 42px;
  background-color: #FFFFFF;
  border: 1px solid #B4B4B4;
  border-radius: 8px;
  padding-left: 17px;
  padding-right: 17px;
  outline: none;

}

.old-new-confirm-password {
  gap: 100px;
  display: flex;
  text-align: center;
  align-items: center;

}

.new-reenter {
  margin-top: 25px;
}

.clear-update-button {
  display: flex;
  gap: 10px;
  justify-content: right;
  margin-top: 25px;
}

.clear-update-button .clear-btn {
  width: 90px;
  min-height: 37px;
  background-color: #FFFFFF;
  border: 1px solid #2F2C9F;
  border-radius: 8px;
  color: #2F2C9F;
  cursor: pointer;
}

.clear-update-button .update-btn {
  width: 154px;
  min-height: 37px;
  background-color: #2F2C9F;
  border-radius: 8px;
  border: 1px solid #2F2C9F;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
}

.company-name-headoffice-desc-area:hover .edit-password-button {
  visibility: visible;
}

/* Company details done button*/
.done-btn {
  max-width: 89px;
  height: 37px;
  width: 100%;
  background-color: #2F2C9F;
  border-radius: 8px;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
  border: none;
}

.company-name,
.employee-text,
.head-office-text {
  width: 100%;
  max-width: 240px;
}

.company-name-headoffice h6 {
  font-weight: 400;
  font-size: 13px;
  color: #444444;
}

.company-name-headoffice p {
  font-weight: 400;
  font-size: 15px;
  color: #777777;
}

.description-pen {
  display: flex;
  gap: 5.87px;
  margin-top: 30px;
}

.description-heading h6 {
  font-weight: 400;
  font-size: 13px;
  color: #444444;
}

.paragraph-text {
  text-align: justify;
  word-break: break-word;
}

.paragraph-text p {
  color: #777777;
  font-weight: 400;
  font-size: 15px;
}
.company-name-headoffice-desc-area {
  padding: 22px 33px;
  border: 1px solid rgba(47, 44, 159, 0.15);
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#name{
  background-color: #f1f1f1;
  cursor: not-allowed;
}
#email{
  background-color: #f1f1f1;
  cursor: not-allowed;
}
