<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="image_record">
  <img src="../../../../assets/images/Norecord.svg" alt="">
  <!-- <div class="filter-menu">
    <div class="select-btn">
        <span class="sBtn-text">Analytics</span>
        <i class="bx bx-chevron-down"></i>
    </div>
    <ul class="options">
        <li class="option">
            <span class="option-text">Overview</span>
        </li>
        <li class="option">
            <span class="option-text">Transactions</span>
        </li>
        <li class="option">
            <span class="option-text">Visitors</span>
        </li>
    </ul>
</div> -->
  <!-- <h3>No record Found!</h3> -->
</div>

