<div class="term_container">
    <h1>Terms of Services</h1>
    <h3> Welcome to HR Maven! These terms and conditions outline the rules and regulations for the use of our website. By
        accessing our website, you accept these terms and conditions in full. If you disagree with these terms and
        conditions or any part of these terms and conditions, you must not use our website.</h3>

    <h2>Introduction</h2>
    <p><span>1.1</span> These terms and conditions govern your use of our website; by using our website, you accept
        these terms and conditions in full. If you disagree with these terms and conditions or any part of these terms
        and conditions, you must not use our website.</p>

    <p><span>1.2</span> Our website uses cookies; by using our website or agreeing to these terms and conditions, you
        consent to our use of cookies in accordance with the terms of our privacy and cookies policy.</p>

    <h4><u>License to use website</u></h4>
    <p><span>2.1</span> Unless otherwise stated, we or our licensors own the intellectual property rights in the website
        and material on the website. Subject to the license below, all these intellectual property rights are reserved.
    </p>

    <p><span>2.2</span> You may view, download for caching purposes only, and print pages from the website for your own
        personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.</p>

    <p><span>2.3</span> You must not republish material from this website (including republication on another website),
        sell, rent or otherwise sub-license material from the website, show any material from the website in public,
        reproduce, duplicate, copy or otherwise exploit material on our website for a commercial purpose.</p>

    <h4><u>Acceptable use</u></h4>
    <p><span>3.1</span> You must not use our website in any way that causes, or may cause, damage to the website or
        impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal,
        fraudulent or harmful.</p>

    <p><span>3.2</span> You must not use our website to copy, store, host, transmit, send, use, publish or distribute
        any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke
        logger, rootkit or other malicious computer software.</p>

    <p><span>3.3</span> You must not use our website for any purpose related to marketing without our express written
        consent.</p>

    <h4><u>Limitations of liability</u></h4>
    <p><span>4.1</span> Nothing in these terms and conditions will limit or exclude our liability for fraud, fraudulent
        misrepresentation, personal injury or death caused by our negligence or breach of any other applicable law.</p>

    <p><span>4.2</span> We will not be liable to you in respect of any loss or damage of any nature arising out of or in
        connection with your use of our website.</p>

    <h4><u>Indemnification</u></h4>
    <p><span>5.1</span> You agree to indemnify and hold us harmless from any claim or demand, including reasonable
        attorneys’ fees, made by any third-party due to or arising out of your breach of these terms and conditions or
        your violation of any law or the rights of a third-party.
    </p>
    <h4><u>Variations</u></h4>
    <p><span>6.1</span> We may revise these terms and conditions from time-to-time. The revised terms and conditions
        shall apply to the use of our website from the date of publication of the revised terms and conditions on our
        website.</p>

    <h4><u>Entire agreement</u></h4>
    <p><span>7.1</span> These terms and conditions, together with our privacy and cookies policy, constitute the entire
        agreement between you and us in relation to your use of our website and supersede all previous agreements in
        respect of your use of our website.</p>

    <h4><u>Governing law and jurisdiction</u></h4>
    <p><span>8.1</span> These terms and conditions shall be governed by and construed in accordance with the laws of
        [insert jurisdiction] and any disputes relating to these terms and conditions shall be subject to the exclusive
        jurisdiction of the courts of [insert jurisdiction].</p>
</div>