<div class="term_container">
    <div class="term_title">
        <h2>Terms & Conditions</h2>
        <i class="fa-solid fa-xmark"></i>
    </div>

    <div class="term_date">
        <p>Last Updated: July 23, 2022</p>
    </div>
    <div class="term_content">
        <div class="term_text">
            <div class="intro_text">
                <h4><u>Introduction</u></h4>
            </div>
            <div class="intro_text">
                <h4 class="account"><u>Account Registration</u></h4>
            </div>
            <div class="intro_text">
                <h4 class="User"><u>User Content</u></h4>
            </div>
            <div class="intro_text">
                <h4 class="Prohibited"><u>Prohibited Conduct</u></h4>
            </div>
            <div class="intro_text">
                <h4><u>Intellectual Property</u></h4>
            </div>
            <div class="intro_text">
                <h4><u>Disclaimer of Warranties</u></h4>
            </div>
            <div class="intro_text">
                <h4 class="Limitation"><u>Limitation of Liability</u></h4>
            </div>
            <div class="intro_text">
                <h4><u>Termination</u></h4>
            </div>
            <div class="intro_text">
                <h4><u>Governing Law</u></h4>
            </div>
            <div class="intro_text">
                <h4><u>Modification of Terms</u></h4>
            </div>


        </div>

        <div class="intro_para">
            <p><span>1.</span>Introduction: Welcome to HRMaven! These Terms of Service (“Terms”) are a contract
                between you and HRMaven (“we” or “us”) and govern your use of our HRMaven software, services and
                websites (collectively, “Services”). By using our Services, you agree to these Terms. If you do not
                agree to these Terms, please do not use our Services.</p>
            <p><span>2.</span>Account Registration: To use our Services, you must create an account and provide accurate
                and complete information. You are responsible for keeping your account information up-to-date and
                confidential. You must be authorized to use our Services on behalf of a company or organization. By
                creating an account, you agree to receive communications from us.</p>
            <p><span>3.</span>User Content: Our Services allow you to upload, store, share, and manage content. You
                retain ownership of all content you upload, store, or share. By using our Services, you grant us a
                non-exclusive, royalty-free, worldwide license to use, store, display, reproduce, modify, and distribute
                your content as necessary to provide our Services.</p>
            <p><span>4.</span>Prohibited Conduct: You may not use our Services to engage in any illegal, harmful, or
                inappropriate conduct. This includes, but is not limited to, uploading or sharing content that is
                defamatory, infringing, or obscene.</p>
            <p><span>5.</span>Intellectual Property: Our Services and all content, trademarks, logos, and other
                intellectual property related to our Services are owned by HRMaven. You may not use or reproduce our
                intellectual property without our prior written consent.</p>

            <p><span>6.</span>
                Disclaimer of Warranties: Our Services are provided “as is” without warranty of any kind, express or
                implied, including but not limited to, warranties of merchantability, fitness for a particular purpose,
                or non-infringement. We make no warranty that our Services will be error-free, uninterrupted, or secure.
            </p>
            <p><span>7.</span>Limitation of Liability: To the maximum extent permitted by law, HRMaven will not be
                liable for any indirect, special, incidental, consequential, or punitive damages arising out of or
                relating to these Terms or your use of our Services.</p>
            <p><span>8.</span>Termination: We may terminate or suspend your account and access to our Services at any
                time and for any reason, without notice or liability. Upon termination, your right to use our Services
                will immediately cease.</p>
            <p><span>9.</span>

                Governing Law: These Terms are governed by and construed in accordance with the laws of the state of
                California, USA, without giving effect to any principles of conflicts of law.</p>
            <p><span>10.</span>Modification of Terms: We reserve the right to modify these Terms at any time. If we make
                material changes to these Terms, we will notify you by email or by posting a notice on our website. Your
                continued use of our Services after the changes have been made constitutes acceptance of the modified
                Terms.</p>
        </div>

    </div>

</div>