.term_container{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding: 0 100px;
}
h1{
    padding-top: 50px;
    text-align: center;
    color: var(--primary-color);
    font-weight: 700;
   
}
h3{
    font-size: 20px;
    color: #fb5f66;
   font-weight: 400;
   padding-top: 20px;
}
h2{
    padding-top: 50px;
    color: var(--primary-color);
    font-weight: 700; 
    width: 140px;
    border-bottom: 2px solid var(--primary-color); 
}
p span{
    color: #fb5f66;
    font-size: 24px;
    font-weight: bold;
    padding-right: 10px;
}
p{
    padding-top: 20px;
     font-size: 22px;
     text-align: left;
}
h4{
    padding-top: 50px;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 24px; 
}