.term_container {
    width: 100%;

}

.term_title {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.term_title h2 {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}

.term_title i {
    position: absolute;
    right: 30px;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.term_date {
    padding-top: 30px;
    padding-left: 403px;
    font-weight: 400;
    font-size: 18px;
    color: #222222;
}

.term_content {
    display: flex;
}

.term_text {
    padding-left: 155px;
}

.term_text h4 {
    font-size: 18px;
    color: #2F2C9F;
    font-weight: 300;
}

.intro_text {
    padding-top: 50px;
}

.intro_para {
    padding-left: 50px;
    width: 881px;
    padding-top: 30px;
}

.intro_para p {
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    padding-top: 20px;
}

.intro_para p span {
    padding-right: 5px;
}
.account,.Prohibited,.Limitation{
    padding-top: 10px;
}
.User{
    padding-top: 35px;
}